.page-title {
    // Wrapper including the logo
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    padding-bottom: 1.5rem;
    .page-title__wrapper {
        // Wrapper including the Covid flag
        @include align-items(flex-start);
        h2.page-title__name {
            margin: 0;
            font-size: 2rem;
            font-weight: $font-semibold;
            letter-spacing: 0;
            line-height: 2.5rem;
            padding-bottom: 0.3rem;
        }
    }
    .page-title__image {
        max-width: rem(90);
        max-height: rem(90);
        height: 100%;
        object-fit: contain;
    }
    @include media($medium-screen) {
        // switch the position of the logo and title in desktop
        @include flex-direction(row-reverse);
        @include justify-content(flex-end);
        .page-title__wrapper {
            @include display(flex);
            @include align-items(flex-start);
            h2.page-title__name {
                font-size: 3.6rem;
                line-height: 4.5rem;
                padding-bottom: 0.3rem;
                padding-right: 1.5rem;
            }
        }
        .page-title__image {
            padding-right: 1rem;
        }
    }
}
