.award-spending__notes-wrapper {
    @include span-columns(16);
    text-align: left;
    margin: auto;
    padding: 4rem 0;
    @media (min-width: $medium-screen) {
        padding-left: 4.8rem;
    }
}

.award-spending__notes-text {
    font-size: $small-font-size;
    font-weight: $font-normal;
    line-height: $base-line-height;
    margin-bottom: 2rem;
}
