.generate-datepicker-wrap {
    flex: 1 1 auto;
    position: relative;
    @include span-columns(7);

    .generate-datepicker {
        margin-left: auto;
        margin-right: auto;

        input {
            @import "../../elements/_inputs";
            @include usa-input;
            font-size:$smallest-font-size;
            width: 100%;
        }
    }

    a.picker-icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 8px;
        height: 21px;
        max-width: 21px;

        & svg {
            z-index: 9;
            fill: #ccc;
            height: 21px;
            width: 21px;
        }
        &.error {
            & svg {
                fill: $color-secondary;
            }
        }
        &.date svg {
            position: relative;
            top: 12px;
        }

    }

    .floating-datepicker {
        position: absolute;
        top: 65px;
        z-index: 9999;

        background-color: $color-gray-lightest;
        border: 1px solid $color-gray-light;

        // import day picker library styling
        @import "../../lib/react-day-picker/_daypicker.scss";
    }
}