.date-range-wrapper {
    position: relative;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(flex-start);

    @media(min-width: 1356) {
        @include flex-direction(row);
    }
}

.generate-datepicker-wrap {
    @include flex(1 1 auto);
    width: pxToRem(250);
    position: relative;
    @include media($large-screen) {
        width: auto;
        &:last-child{
            margin-right: 0;
        }
    }
    @media(min-width: $medium-screen) and (max-width: 1355) {
        width: 100%;
    }

    @media(min-width: 1355) {
        margin-right: pxToRem(5);
    }
    .generate-datepicker {
        input {
            @import "../../elements/_inputs";
            @include usa-input;
            width: 100%;
            font-size: 1.2rem;
            text-indent: 0.5rem;
            color: $color-base;
            @include media($medium-screen) {
                padding-left: .25rem;
            }

            @include placeholder {
                color: $color-gray-light;
            }

            &:focus-visible {
                outline: 1px solid $color-focus;
            }
        }
    }
}

.set-date-submit {
    @include flex(0 0 auto);
    height: pxToRem(42);
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
        @include flex(0 0 auto);
        margin: 0;
        margin-bottom: pxToRem(3);
        width: pxToRem(15);
    }
}
