.usa-da-top-banner {
    @include align-self(stretch);
    background: as-alpha($color-gold-lightest, 0.95);
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid $color-gold-lighter;
    & p {
        max-width: 100%;
        margin: 5px 0;
        font-size: 1.4rem;
        text-align: left;
    }
    & .usa-da-icon {
        height: 30px;
        width: 30px;
        float: right;
        & svg {
            fill: $color-gray-dark;
            height: 30px;
            width: 30px;
        }
    }

    & .top-alert-icon {
      @include span-columns(1);
    }

    & .top-alert-text {
      @include span-columns(11);
    }
}

.usa-da-page-title {
  @include span-columns(12);

  & h1 {
    padding: 15px;
  }

}
