.search-page {

	@include span-columns(16);

	.search-sidebar{
		@include span-columns(4);
		padding-left:1rem;
	}

	.search-results{
		@include span-columns(11);
	}

	.search-option {
		margin-bottom:1rem;
	}

	.search-option label::after {
		content: ' \02193';
	}

}