.search-page {

	@include span-columns(16);

	.search-sidebar{
		@include span-columns(4);
		padding-left:1rem;
	}

	.search-results{
		@include span-columns(11);
	}

	.search-option {
		margin-bottom:1rem;
	}

	.search-option b::after {
		content: ' \02193';
	}

    .awardTypeOption .subList {
        margin-left: 2rem;
    }

    label {
        font-size: $small-font-size;
        line-height: $small-font-size;
        margin:1rem 0 0 0;
    }

}