.archive-info-box {
    display: none;
    background-color: $color-primary-alt-lightest;
    border: solid 1px $color-primary-alt-light;
    margin: rem(30) rem(20) rem(30) rem(30);
    padding: rem(20);
    .icon {
        margin-right: rem(10);
        width: rem(20);
        height: rem(20);

        svg {
            width: rem(20);
            height: rem(20);
            fill: $color-primary-alt-dark;
        }
    }
    .archive-info-heading {
        font-weight: 600;
        margin-bottom: rem(15);
    }
    a {
        color: $color-primary;
        text-decoration: underline;
    }
}