.archive-info {
    @include display(flex);
    background-color: $color-primary-alt-lightest;
    border: solid 1px $color-primary-alt-light;
    padding: rem(20);
    .archive-info__icon {
        margin-right: rem(10);
        width: rem(20);
        height: rem(20);

        svg {
            width: rem(20);
            height: rem(20);
            fill: $color-primary-alt-dark;
        }
    }
    .archive-info__content {
        .archive-info__heading {
            font-weight: 600;
            margin-bottom: rem(15);
        }
        a {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}