@import 'elements/filters/_errorMessage';
@import 'components/datePicker/_datePicker';
.date-pickers {
    margin-top: pxToRem(25);
    display: initial;
    .generate-datepicker-wrap {
        display: inline-flex;
    }
}