@import 'elements/filters/_errorMessage';
@import 'components/datePicker/_datePicker';
.date-pickers {
    margin-top: rem(25);
    //width: rem(240);
    display: initial;
    .generate-datepicker-wrap {
        display: inline-flex;
    }
}