.usa-da-archive-download-page {
    @import "all";
    @import "layouts/search/search";
    @import "./header/header";

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 4), ($global-mrg * 4));
        padding:  0;
        .download-sidebar {
            @import "./sidebar/sidebar";
            @include span-columns(16);
            @include media($medium-screen) {
                @include span-columns(4);
            }
            .api-info {
                padding: rem(30);
                h5 {
                    margin: 0;
                }
            }
        }

        .download-data-wrapper {
            @include span-columns(16);
            @include media($medium-screen) {
                @include span-columns(12);
            }
            background-color: $color-white;
            box-shadow: $container-shadow;
            border-top: 1px solid $color-gray-border;
            border-right: 1px solid $color-gray-border;
            border-bottom: 1px solid $color-gray-border;
            padding: rem(30) rem(60);


            .archive-content {
                margin: 0;
                h2 {
                    margin: 0;
                }

                h3 {
                    font-size: rem(19);
                    font-weight: $font-semibold;
                    margin-bottom: rem(15);
                }

                .archive-table-wrapper {
                    table.archive-table {
                        margin-top: rem(50);

                        th {
                            background-color: $color-gray;
                            color: $color-white;
                            text-align: center;
                            font-size: $small-font-size;
                            font-weight: $font-semibold;
                            border: 1px solid $color-gray;
                            border-right: 1px solid $color-gray-light;

                            &:last-child {
                                border-right: 1px solid $color-gray;
                            }

                            &.year {
                                text-align: left;
                            }
                        }

                        tr {
                            &.even {
                                td {
                                    background-color: $color-gray-lightest;
                                }
                            }

                            td {
                                border: 1px solid $color-gray-lighter;
                                text-align: center;
                                font-size: $small-font-size;
                                padding: rem(15);

                                &.year {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }

                button.archive-download {
                    font-size: $small-font-size;
                    font-weight: $font-normal;
                    color: $color-base;
                    background-color: $color-gray-lighter;
                    margin: 0;
                    padding: rem(2) rem(20);

                    &:active, &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
}