.usa-da-bulk-download-page {
    @import "all";
    @import "layouts/default/stickyHeader/header";
    @import "./form/downloadForm";

    .bulk-download {
        padding: 0;
        margin-left: rem(16);
        margin-right: rem(16);

        @media(min-width: $tablet-screen) {
            margin-left: rem(32);
            margin-right: rem(32);
            max-width: rem(600);
        }
        @include media($tablet-screen) {
            &.award-data-archive-special-width {
                max-width: rem(1400);
            }
        }

        .bulk-download__data {
            @import "downloadData";
            @import "archive/archive";
            @import "defCheckbox";
            @import "metadataPage";
            background-color: $color-white;
            padding: rem(30) 0;
        }
    }
}
