.usa-da-bulk-download-page {
  @import "all";
  @import "layouts/default/stickyHeader/header";
  @import "layouts/default/default";
  @import "./form/downloadForm";

  .usda-page-header__title h1 {
    color: $gray-5;
  }

  .bulk-download__row {
    max-width: rem(1400);
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;

    @import "./form/userSelections";
  }

  .bulk-download {
    padding-left: rem(16);
    padding-right: rem(16);
    padding-bottom: rem(60);

    @media (min-width: $medium-screen) {
      padding-left: rem(32);
      padding-right: rem(32);
    }

    @media (min-width: $x-large-screen) {
      margin: 0 auto;
    }

    .bulk-download__data {
      @import "downloadData";
      @import "archive/archive";
      @import "../../components/checkbox/filterCheckbox";
      @import "../../components/checkboxTree/defCodeBulkDownload.scss";
      @import "metadataPage";
      background-color: $color-white;
      padding: rem(40) 0 0 0;

      .filter-item-wrap {
        padding: 0;
      }
    }
  }

  .download-info-wrapper {
    justify-content: flex-start;
    max-width: rem(1400);
    margin: 0 auto rem(100);
    flex-wrap: wrap;
    padding-left: rem(16);
    padding-right: rem(16);

    @media (min-width: $medium-screen) {
      padding-left: rem(32);
      padding-right: rem(32);
    }

    hr {
      height: rem(1);
      background-color: $gray-20;
      border: none;
      width: 100%;
      margin: 0;
    }

    .download-info {
      margin-top: rem(24);

      h4.download-info__title {
        @include h4;
        font-weight: $font-semibold;
        margin: 0 0 rem(12) 0;
      }
      .download-info__section {
        font-size: $base-font-size;
        margin-bottom: rem(12);
        .download-info__section-heading {
          margin: 0;
          padding-bottom: rem(5);
          font-weight: $font-bold;
        }
        p {
          margin: 0;
        }

        .usa-da-icon-guide {
          height: rem(16);
          width: rem(16);
        }
      }
    }
  }
}
