.usa-da-bulk-download-page {
  @import "all";
  @import "layouts/default/stickyHeader/header";
  @import "./form/downloadForm";

  .usa-dt-flex-grid__row {
    max-width: rem(1400);
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;

    @import "./form/userSelections";
  }

  .bulk-download {
    padding: 0;
    margin-left: rem(16);
    margin-right: rem(16);

    @media (min-width: $tablet-screen) {
      margin-left: rem(32);
      margin-right: rem(32);
    }

    .bulk-download {
      padding: 0;
      margin-left: rem(16);
      margin-right: rem(16);

      @media(min-width: $tablet-screen) {
        margin-left: rem(32);
        margin-right: rem(32);
      }

      .bulk-download__data {
        @import "downloadData";
        @import "archive/archive";
        @import "../../components/checkbox/filterCheckbox";
        @import "../../components/checkboxTree/defCodeBulkDownload.scss";
        @import "metadataPage";
        background-color: $color-white;
        padding: rem(30) 0;
      }
    }
  }
}
