.download-center {
    @import "./archiveInfoBox";
    .archive-info {
        margin: rem(30) rem(20) rem(30) rem(30);
    }
    .download-center__filters {
        @include span-columns(16);
        @include media($medium-screen) {
            @include span-columns(9);
        }
        margin-bottom: rem(30);
        .download-center__title {
            margin: 0 rem(30);
            font-weight: 400;
        }
        @import "./form/downloadForm";
        .download-center__reset {
            @include button-unstyled;
            display: block;
            margin: auto;
            color: $color-primary;
            text-decoration: underline;
        }
    }

    .download-info {
        @include span-columns(16);
        @include media($medium-screen) {
            @include span-columns(7);
        }
        padding: rem(15) rem(30) 0 rem(30);
        border-left: solid 1px $color-gray-light;

        .download-info__title {
            @include h6;
            margin-top: 0;
            margin-bottom: rem(30);
        }
        .download-info__section {
            margin-bottom: rem(30);
            .download-info__section-title {
                font-weight: 600;
            }
        }
    }
}