.download-center {
    @import "./archiveInfoBox";
    .archive-info {
        margin: pxToRem(30) 0;
        @include media($medium-screen) {
            margin: pxToRem(30) pxToRem(20) pxToRem(30) pxToRem(30);
        }
    }
    .download-center__filters {
        @include media($medium-screen) {
            width: 100%;
        }
        margin-bottom: pxToRem(30);
        .download-center__title {
            @include display(flex);
            @include flex(1 1 auto);
            margin: 0;
            font-weight: 400;
            @include media($medium-screen) {
                padding-left: pxToRem(30);
            }
        }
        @import "./form/downloadForm";
        .download-center__reset-container {
            .download-center__reset {
                @include button-unstyled;
                display: block;
                margin: auto;
                color: $theme-color-1;
                text-decoration: underline;
            }
        }
    }

    .download-info {
        @include media($medium-screen) {
            padding: pxToRem(15) 0 0 0;
        }

        h3.download-info__title {
            @include h6;
            margin: 0;
            padding-bottom: pxToRem(15);
        }
        .download-info__section {
            font-size: $small-font-size;
            padding-bottom: pxToRem(15);
            h4.download-info__section-heading {
                margin: 0;
                padding-bottom: pxToRem(5);
                font-size: $small-font-size;
                font-weight: $font-bold;
            }
            p {
                margin: 0;
                padding-bottom: pxToRem(8);
            }
            .usa-da-icon-guide {
                height: pxToRem(16);
                width: pxToRem(16);
            }
        }
    }
}
