.download-center {
  .download-center__filters {
    @include media($medium-screen) {
      width: 100%;
    }

    .download-center-title-wrapper {
      font-size: $base-font-size;
      line-height: $base-line-height;
      color: $gray-90;
      font-weight: $font-normal;
      margin-bottom: rem(40);

      .download-center__title {
        @include display(flex);
        margin: 0;
        font-weight: $font-semibold;
        font-size: $lead-font-size;
      }

      p {
        margin: 0;
      }
    }

    @import "./form/downloadForm";
    .download-center__reset-container {
      .download-center__reset {
        @include button-unstyled;
        display: block;
        margin: auto;
        color: $theme-color-1;
        text-decoration: underline;
      }
    }
  }
}
