.function-desc {
    padding-left: 10%;
    padding-right: 10%;

    h1, h6, p {
        text-align: center;
        text-color: $color-base;
    }

    h1 {
        font-size: rem(47);
        line-height: rem(59);
        margin-top: rem(18);
        margin-bottom: 0;
    }
    h6 {
        border-top: #D6D7D9 1px solid;
        border-bottom: #D6D7D9 1px solid;
        font-size: rem(19);
        line-height: rem(24);
        margin-top: 0;
        padding: rem(11);
    }
    p {
        font-size: rem(14);
        line-height: rem(26);
        margin-bottom: rem(27);
    }
}