.right, .left, .back {
    @include button-unstyled;
    margin: 0;
    width: rem(22);
    height: auto;
    fill: #5B616B;
    position: relative;
    top: rem(2);
}

.left {
    float: left;
}

.right {
    float: right;
}

.back {
    margin: 0 auto rem(15);
    display: block;
}