.treemap-svg {
    &.overlay {
        background: repeating-linear-gradient(
            45deg,
            rgba($color-gray-lightest, .2),
            rgba($color-gray-lightest, .2) rem(2px),
            rgba($color-gray-lighter, .3) rem(2px),
            rgba($color-gray-lighter, .3) rem(4px)
        );
    }

    &.minimized {
        display: inline-block;

        @include media($medium-screen) {
            width: 100%;
        }
    }

    text {
        cursor: default;
    }

    .category,
    .value {
        fill: $color-white;
        text-shadow: rem(1) rem(0) rem(1) rgba( $color-black, .3);
    }

    .category {
        font-size: $base-font-size;
    }

    .value {
        font-size: $base-font-size + rem(4);
        font-weight: $font-semibold;
    }

    .chosen {
        fill: #212121;
        text-shadow: none;
    }
}