.usa-share-icon-508 {
  position: relative;
  padding: rem(4) !important;
  margin: 0 !important;

  .share-icon-link {
    position: absolute;
    right: 9999px;
    opacity: 0;
  }

  span {
    color: $theme-color-accent-vivid;
    line-height: rem(18);
    font-size: $smallest-font-size;
    font-weight: $font-semibold;
  }

  .usa-dt-picker {
    .usa-dt-picker__dropdown-container {
      .usa-dt-picker__button {
        color: $theme-color-accent-vivid !important;

        svg {
          width: rem(16) !important;
          height: rem(16) !important;
          margin-bottom: rem(4) !important;
        }
        span,
        svg {
          &:hover,
          &:active {
            &:not(:disabled) {
              color: $yellow-10v !important;
            }
          }
        }
      }
    }
  }
}
