    .share-dl-group {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: $small-font-size;
      font-weight: $font-normal;
      
      .share-dl-group__download-wrapper {
        color: $color-primary;
        background-color: white;
        margin-right: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(1);
        
        &:hover {
          color: $color-primary-darker;
        }
        
        .share-dl-group__download-button {
          @include button-link;
          padding: 0 rem(20) rem(7) rem(20);

          &:hover {
            color: $color-primary-darker;
          }
          
          .share-dl-group__download-icon {
            width: 25px;
            height: 25px;
            color: $color-primary;
            &:hover {
              color: $color-primary-darker;
              text-decoration: underline;
            }
          }
        }

        @media (max-width: $medium-screen) {
          display: none;
        }
      }
      
      .share-dl-group__share-wrapper {
        display: flex;
        width: rem(34);
        flex-direction: column;
        gap: rem(1);

        .usda-share-icon {
          margin-left: 0;
        }
        
        &:hover {
          color: $color-primary-darker;
        }
        color: $color-primary;
      }
    }