.homepage-download__icon {
    $icon-width: 292 / 2;
    $icon-height: 148 / 2;
    $mobile-scale: 0.3;

    background-image: url(#{$image-path}/homepage-download-icons-mobile.png);
    background-size: rem(584 * $mobile-scale) rem(222 * $mobile-scale);
    background-repeat: no-repeat;
    width: rem($icon-width * $mobile-scale);
    height: rem($icon-height * $mobile-scale);
    margin: 0 auto;

    @include hidpi {
        background-image: url(#{$image-path}/homepage-download-icons-mobile@2x.png);
    }

    @include media($medium-screen) {
        background-image: url(#{$image-path}/homepage-download-icons.png);
        background-size: rem(584) rem(222);
        width: rem($icon-width);
        height: rem($icon-height);
        @include hidpi {
            background-image: url(#{$image-path}/homepage-download-icons@2x.png);
        }
    }

    $icon-class: 'homepage-download__icon_type';
    @mixin downloadSpritePos($x-index, $y-index) {
        background-position: rem(-1 * $x-index * $icon-width * $mobile-scale) rem(-1 * $y-index * $icon-height * $mobile-scale);
        @include media($medium-screen) {
            background-position: rem(-1 * $x-index * $icon-width) rem(-1 * $y-index * $icon-height);
        }
    }

    &.#{$icon-class}_api {
        @include downloadSpritePos(0, 0);
    }
    &.#{$icon-class}_api-active {
        @include downloadSpritePos(1, 0);
    }

    &.#{$icon-class}_submission {
        @include downloadSpritePos(2, 0);
    }
    &.#{$icon-class}_submission-active {
        @include downloadSpritePos(3, 0);
    }

    &.#{$icon-class}_archive {
        @include downloadSpritePos(0, 1);
    }
    &.#{$icon-class}_archive-active {
        @include downloadSpritePos(1, 1);
    }

    &.#{$icon-class}_account {
        @include downloadSpritePos(2, 1);
    }
    &.#{$icon-class}_account-active {
        @include downloadSpritePos(3, 1);
    }

    &.#{$icon-class}_award {
        @include downloadSpritePos(0, 2);
    }
    &.#{$icon-class}_award-active {
        @include downloadSpritePos(1, 2);
    }

    &.#{$icon-class}_database {
        @include downloadSpritePos(2, 2);
    }
    &.#{$icon-class}_database-active {
        @include downloadSpritePos(3, 2);
    }


}