.homepage-download {
    @import "./_desktopButton";
    @import "./_downloadIcons";

    display: none;
    @include media($tablet-screen) {
        display: block;
    }

    .homepage-download__wrapper {
        @import "mixins/fullSectionWrap";
        @include fullSectionWrap(0, 0);

        display: block;
        @include media($medium-screen) {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);

            padding: 0 rem(40);
        }
    }

    .homepage-download__list {
        @include unstyled-list;
        @include flex(0 0 auto);
        @include align-self(stretch);

        width: rem(200);
        @include media($large-screen) {
            width: rem(250);
        }
        @include media($x-large-screen) {
            width: rem(330);
        }

        display: none;
        @include media($medium-screen) {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(stretch);
        }
    }

    .homepage-download__list-item {
        @include flex(1 1 auto);
        background-color: $color-gray-lightest;
    }

    .homepage-download__button {
        width: 100%;
        max-height: rem(200);
    }

    .homepage-download__button-label {
        margin-top: rem(15);
    }

    .homepage-download__coming-soon {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);

        font-size: rem(18);
        line-height: rem(16);
        margin-top: rem(8);
        font-weight: $font-semibold;
        color: $color-base;

        svg {
            height: rem(16);
            width: rem(16);
            fill: $color-base;
        }
    }

    .homepage-download__detail {
        @include flex(1 0 auto);
        @include align-self(stretch);

        position: relative;

        @import "./_placeholder";
        @import "./_detail";
    }
}