@use "sass:math";

.featured-content__header-wrapper {
    position: relative;
    display:flex;
    align-items: center;
    height: 250px;
    min-height: 250px;


    @media(min-width: $tablet-screen) {
        height: 325px;
        min-height: 325px;
    }

    @media(min-width: $large-screen) {
        height: inherit;
    }

    // @media(min-width: $x-large-screen) {
    //     max-height: max-content;
    // }

    
    #featured-content-hero {
        width: 100%;
        height: 100%;
    }

    .featured-content__header-block {
        position:absolute;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: rem(16);
        max-width: $article-max-width;
        
        @media (min-width: $tablet-screen) {
            margin-left: rem(32);
        }
        @media (min-width: 1400px) {
            margin-left: $grid-column;
        }

        @media (min-width: 1700px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.1);
        }
        @media (min-width: 1750px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.2);
        }
        @media (min-width: 1850px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.27);
        }
        @media (min-width: 1900px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.3);
        }
        @media (min-width: 2050px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.33);
        }
        @media (min-width: 2150px) {
            margin-left: calc($grid-column + (100vw - $site-max-width) * 0.37);
        }
            
        &.black-text span {
            color: #000;
        }

        .featured-content__label {
            padding: rem(6) rem(8);
            border-radius: rem(6);
            font-size: $font-size-12;
            font-style: normal;
            font-weight: $font-semibold;
            line-height: 12.434px;
            color: #000;
            text-transform: uppercase;
            gap: 10px;
            width: max-content;

            @media(min-width: $tablet-screen) {
                padding: rem(8);
                border-radius: rem(8);
                line-height: 15px;
                font-size: $font-size-17;
            }
        }
        .featured-content__title {
            display: block;
            margin-top: rem(12.5);
            font-size: rem(28);

            @media(min-width: $tablet-screen) {
                margin-top: rem(16);
                font-size: $font-size-48;
                line-height: 56px;
            }

            @media(min-width: $medium-screen) {
                font-size: $font-size-48;
            }
            
        }
        .featured-content__subtitle {
            display: block;
            margin-top: rem(8);
            font-size: $font-size-14;

            @media(min-width: $tablet-screen) {
                font-size: $font-size-20;
                margin-top: rem(8);
                line-height: normal;
            }
            @media(min-width: $medium-screen) {
                font-size: $font-size-20;
            }
            
        }   
    }
}