.featured-content__citation-heading {
    display: block;
    color: $gray-80;
    font-size: $font-size-20;
    font-weight: $font-semibold;
    line-height: rem(25); /* 125% */
}

.featured-content__citation-wrapper {
    display: block;

    .featured-content__citation {
        &:first-of-type {
            margin-top: rem(20);
        }
        &:last-of-type {
            margin-bottom: rem(36);
        }
        display: block;
        margin-top: rem(16);
    }
}


