.featured-content__citation-heading {
    display: block;
    color: $gray-80;
    font-size: $font-size-20;
    font-weight: $font-semibold;
    line-height: rem(25); /* 125% */
}

.featured-content__citation-wrapper {
    .featured-content__citation {
        div {
            display: flex;
        }
        svg {
            margin-right: rem(12);
            height: 16px;
        }

        // the external link icon is very small if you don't do this bc it has to be 
        // flexed with the ellipsis text
        .fa-external-link-alt {
            width: rem(19);
            @media(min-width: $tablet-screen) {
                width: rem(32);
            }
        }
        
        &:first-of-type {
            margin-top: rem(12);
            @media(min-width: $tablet-screen) {
                margin-top: rem(20);
            }
        }
        &:last-of-type {
            margin-bottom: rem(28);
            @media(min-width: $tablet-screen) {
                margin-bottom: rem(36);
            }
        }
        display: block;

        @media(min-width: $tablet-screen) {
            margin-top: rem(20);
        }

        @media(min-width: $medium-screen) {
            margin-top: rem(16);
        }

        margin-top: rem(16);
    }
 }


