.featured-content__share-wrapper {
    margin-left: pxToRem(5);
    @media (min-width: $tablet-screen) and (max-width: ($medium-screen - 1)) {
        margin-top: pxToRem(20);
        margin-bottom: pxToRem(36);
    }

    .featured-content__share-option {
        &:hover {
            cursor: pointer;
        }
        span {
            margin-left: pxToRem(8);
            font-size: pxToRem(14);
            font-style: normal;
            line-height: pxToRem(21);
            color: $gray-80;
        }
        svg {
            font-size: pxToRem(16);
        }

        @media (min-width: $tablet-screen) and (max-width: ($medium-screen - 1)) {
            margin-top: 0;
        }
        margin-top: pxToRem(16);

        &:first-of-type {
            margin-top: pxToRem(12);
            @media(min-width: $tablet-screen) {
                margin-top: 0;
            }
            @media(min-width: $medium-screen) {
                margin-top: pxToRem(20);
            }
        }
        &:last-of-type {
            margin-bottom: pxToRem(28);
            @media(min-width: $tablet-screen) {
                margin-bottom: 0;
            }
            @media(min-width: $medium-screen) {
                margin-bottom: pxToRem(36);
            }
        }

        .featured-content__share-button {
            display: flex;
            align-items: center;
        }
    }
}