.award-breakdown__treemap {
    @import "pages/agency/treemaps/treemapSection";
    .usa-da-treemap-section {
        background: white;
        padding-top: rem(15);
        padding-bottom: rem(0);

        .treemap-inner-wrap {
            margin: 0;
            width: 100%;

            .tree-wrapper {
                width: 100%;
            }

            .visualization-tooltip .tooltip .tooltip-body .tooltip-full {
                @include display(flex);
                .tooltip-left, .tooltip-right {
                    @include flex(1 1 auto);
                    .tooltip-value {
                        border-bottom: solid rem(1) $color-gray-lighter;
                    }
                }
            }
        }
    }
}
