// slide in animation
@import "../../lib/bourbon/css3/animation";
@import "../../lib/bourbon/settings/prefixer";
@import "../../lib/bourbon/addons/prefixer";

@keyframes atd-slidein {
    0% {
        transform: translate(300px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes atd-slideout {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(300px, 0);
    }
}

.atd-slide-enter, .atd-slide-enter-active {
    @include animation(atd-slidein 0.5s ease-in forwards);
}

.atd-slide-exit, .atd-slide-exit-active {
    @include animation(atd-slideout 0.5s ease-in forwards);
}
