.usa-atd-header {
    width: 100%;
    padding: 24px;
    background-color: $cyan-vivid-80;
    color: $theme-color-headline-inverse;

    @include clearfix();

    .close-button {
        @include button-unstyled;
        width: 16px;
        height: 16px;
        float: right;

        svg {
            width: 16px;
            height: 16px;
            fill: $color-white;
        }

        &:hover, &:active {
            svg {
                fill: $color-gold;
            }
        }
    }

    h1.usa-atd-header__title {
        font-weight: $font-semibold;
        font-size: rem(32);
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;

        margin: 0;
        padding: 0;
    }

    .usa-atd-example {
        font-size: 14px;
        line-height: 1.5;
        color: $theme-color-body-inverse;
        font-style: italic;
    }

    @import "./_searchBar";
}
