.atd-search-bar {
    position: relative;
    width: 262px;
    height: 32px;
    margin: 16px 0;

    input.search-field {
        position: absolute;
        left: 0;
        font-size: 14px;
        line-height: 1.5;
        color: $color-gray-medium;
        padding: 8px;
        width: 262px;
        height: 32px;
    }

    .search-button {
        position: absolute;
        right: 8px;
        top: 8px;
        bottom: 8px;

        @include button-unstyled;
        width: 16px;
        height: 16px;

        svg {
            width: 16px;
            height: 16px;
            fill: $gray-cool-60;
        }
    }
}
