.usa-da-account-landing {
    @import "all";
    @import "layouts/landingPage/landingPage";
    @import "components/pagination";
    @import "layouts/default/stickyHeader/header";
    @import './searchSection';
    @import './table/resultsSection';

    .usa-da-account-landing__tagline {
        text-align: center;
        font-size: rem(18);
        margin-top: rem(30);
    }

    .usa-da-account-landing__tagline_light {
        font-weight: 100;
    }

}