.equity-spotlight {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;

  .grid-content {
    padding-top: $global-padding * 7;

    .equity-spotlight__column-one {
      padding-bottom: $global-padding * 4;
      border-bottom: solid 1px $color-gray-lighter;
    }
    .equity-spotlight__column-two {
      margin-top: $global-margin * 4;
      margin-bottom: $global-margin * 8;
    }
  }
  @import "../../components/spotlightCard";
}
