.equity-spotlight {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;

  .grid-content {
    padding-top: $global-padding * 7;

    .equity-spotlight__column-one {

    }
    .equity-spotlight__column-two {

    }
  }
  @import "../../components/spotlightCard";
}
