.equity-covid-spending-page {
  @import 'all';
  @import "layouts/default/default";
  @import "layouts/default/header/_warning";
  @import "layouts/default/stickyHeader/header";

  .equity-content {
    background-color: white;

    .usa-dt-flex-grid__row.grid-content {
      margin: 0 $grid-column;
      height: 100%;
    }

    @media screen and (max-width: $medium-screen) {
      .homepage-hero-content, .usa-dt-flex-grid__row.grid-content {
        margin: 0 rem(16);
      }
    }
  }
}
