.equity-covid-spending-page {
  @import 'all';
  @import "layouts/default/default";
  @import "layouts/default/header/_warning";
  @import "layouts/default/stickyHeader/header";

  .equity-content {
    background-color: white;

    .usa-dt-flex-grid__row.grid-content {
      margin: 0 $global-margin * 2;
      height: 100%;
    }

    @media screen and (min-width: $tablet-screen) {
      .usa-dt-flex-grid__row.grid-content {
        margin: 0 $global-margin * 4;
      }

    }
    @media screen and (min-width: $large-screen) {
      .usa-dt-flex-grid__row.grid-content {
        margin: 0 $grid-column;
      }
    }
    .main-cards__wrapper {
      margin: 0;
      @media (min-width: $tablet-screen) {
        margin: 0 $global-margin * 8 80px;
      }
      h2 {
        font-size: rem(20);
        font-weight: $font-semibold;
        color: $color-grayblack;
        line-height: 1.25;
        margin: 0;
      }

      p {
        font-size: rem(16);
        line-height: 1.5;
        color: $color-base;
      }

      img {
        height: 240px;
      }
    }
  }
  @import "../../components/equityMainCard";
  @import 'equityHeading';
  @import 'equitySpotlightCards';
}
