.recipient-overview {
	h2.recipient-overview__title {
		@include h3;
		margin: rem(5) 0;
	}
	.recipient-overview__content {
		h3.recipient-overview__heading {
			@include h4;
			font-size: rem(19);
			font-weight: 600;
			margin: 0;
		}

		@import "pages/state/overview/totals";
		@import "pages/state/overview/details";
	}
}
