.usa-da-recipient-page {
	@import "all";
	@import "layouts/default/default";
  	@import "layouts/default/stickyHeader/header";
	@import "pages/state/topFive/topFive";
	$color-gray-border: #D8D8D8;
	$color-blue-background: #F5FBFC;

	.info-banner-container {
		@import "./_recipientInfoBanner";
	}

	.usda-page-header .usda-page-header__container .usda-page-header__toolbar {
		@media(max-width: $medium-screen) {
			border-bottom: rem(1) solid $color-gray-lighter;
		}
	}

	.main-content {
		@import "../../mixins/fullSectionWrap";
		@include fullSectionWrap(($global-mrg * 2), ($global-mrg * 2));
		padding:  0;
		@import "./_positioning";
		@import "../../components/pageLoading";
		@import "./_contentWrap";
		@import "elements/_divider";
		@import "./_overview";

        @import "./_sidebar";
	}
}
