/* Section Headings */
$dictionary-green: #D8E4BC;
$dictionary-gray: rgb(213, 214, 216);
$dictionary-teal: #B7DEE8;
$dictionary-orange: #FDE9D9;

/* Column Headings */
$dictionary-green-light: #E4ECD0;
$dictionary-gray-light: rgba(213, 214, 216, 0.6);
$dictionary-teal-light: #DBEEF3;
$dictionary-orange-light: #FEF0E5;

/* Table Cells */
$dictionary-green-lighter: #F8FAF2;
$dictionary-gray-lighter: rgba(213, 214, 216, 0.3);
$dictionary-teal-lighter: #F1F9FB;
$dictionary-orange-lighter: #FFFBF8;

.dictionary-table {
    .section-0 {
        background-color: $dictionary-green;
    }
    .section-1 {
        background-color: $dictionary-gray;
    }
    .section-2 {
        background-color: $dictionary-teal;
    }
    .section-3 {
        background-color: $dictionary-orange;
    }

    .section-0-col {
        background-color: $dictionary-green-light;
    }
    .section-1-col {
        background-color: $dictionary-gray-light;
    }
    .section-2-col {
        background-color: $dictionary-teal-light;
    }
    .section-3-col {
        background-color: $dictionary-orange-light;
    }

    .section-0-cell {
        background-color: $dictionary-green-lighter;
    }
    .section-1-cell {
        background-color: $dictionary-gray-lighter;
    }
    .section-2-cell {
        background-color: $dictionary-teal-lighter;
    }
    .section-3-cell {
        background-color: $dictionary-orange-lighter;
    }
}