.mobile-filter-header {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    width: 100%;

    background-color: $color-primary-alt-lightest;
    padding: 0 rem(15);


    @include media($medium-screen) {
        display: none;
    }

    .filter-header-count {
        @include flex(1 1 auto);
        font-size: $small-font-size;
    }

    .filter-header-collapse {
        @include flex(0 0 auto);
        width: rem(100);
        button.filter-collapse {
            @include button-unstyled;
            padding: rem(15);

            .filter-collapse-content {
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                position: relative;

                .icon {
                    @include flex(0 0 auto);
                    margin-right: rem(5);

                    svg {
                        fill: $color-primary;
                        height: rem(10);
                    }
                }

                .label {
                    @include flex(1 1 auto);
                    color: $color-primary;
                    font-size: $smallest-font-size;
                    line-height: rem(15);
                    font-weight: $font-semibold;
                }
            }
        }
    }
}