// slide in animation
@keyframes mobile-filter-slidein {
    0% {
        transform: translate(0, -500px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes mobile-filter-slideout {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, -500px);
        opacity: 1;
    }
}  

.mobile-filter-enter, .mobile-filter-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include animation(mobile-filter-slidein 0.5s ease-in forwards);
}

.mobile-filter-leave, .mobile-filter-leave-active {
    @include animation(mobile-filter-slideout 0.5s ease-in forwards);
}