.mobile-filter-button-wrapper {
    // this is specifically to overlap the footer
    z-index: 1;

    &.hidden {
        display: none;
    }

    @include media($medium-screen) {
        // hide in non-mobile view
        display: none;
    }

    button.mobile-filter-button {
        @include button-unstyled;
        width: pxToRem(175);

        color: $color-white;
        background-color: $color-primary;
        &:hover, &:active {
            background-color: $color-primary-alt;

            .mobile-filter-button-count {
                color: $color-primary-alt;
            }
        }

        .mobile-filter-button-content {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;
            padding: pxToRem(10) pxToRem(20);

            .mobile-filter-button-count {
                @include flex(0 0 auto);

                color: $color-primary;
                font-size: pxToRem(14);
                line-height: pxToRem(24);
                margin-right: pxToRem(15);

                width: pxToRem(24);
                height: pxToRem(24);
                border-radius: pxToRem(12);

                text-align: center;

                background-color: $color-white;
            }

            .mobile-filter-button-icon {
                @include flex(0 0 auto);
                margin-right: pxToRem(5);
                height: pxToRem(18);
                svg {
                    fill: $color-white;
                    width: 18px;
                }
            }

            .mobile-filter-button-label {
                @include flex(1 1 auto);
                color: $color-white;
                line-height: pxToRem(18);
                font-size: $small-font-size;
                font-weight: $font-semibold;
                text-transform: uppercase;
            }
        }
    }

    button.mobile-filter-button-v2 {
        @include button-unstyled;
        height: pxToRem(40);
        border-radius: 4px;
        color: $color-white;
        background-color: $theme-color-1;
        left: pxToRem(16);
        bottom: pxToRem(16);
        position: fixed;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        &:hover, &:active {
            background-color: $color-primary-alt;

            .mobile-filter-button-count {
                color: $color-primary-alt;
            }
        }

        .mobile-filter-button-content {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;
            padding: pxToRem(8) pxToRem(16);

            .mobile-filter-button-count {
                @include flex(0 0 auto);

                color: $color-primary;
                font-size: pxToRem(14);
                line-height: pxToRem(24);
                margin-right: pxToRem(15);

                width: pxToRem(24);
                height: pxToRem(24);
                border-radius: pxToRem(12);

                text-align: center;

                background-color: $color-white;
            }

            .mobile-filter-button-icon {
                @include flex(0 0 auto);
                margin-right: pxToRem(8);
                height: pxToRem(20);
                svg {
                    fill: $color-white;
                    width: pxToRem(20);
                }
            }

            .mobile-filter-button-label {
                @include flex(1 1 auto);
                color: $color-white;
                line-height: 1.5;
                font-size: $font-size-16;
                font-weight: $font-semibold;
            }
        }
    }

    button.mobile-clear-all {
        @include button-unstyled;
        margin-left: pxToRem(20);

        .mobile-clear-all-content {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;

            padding: pxToRem(10);

            .icon {
                @include flex(0 0 auto);
                margin-right: pxToRem(5);
                svg {
                    fill: $color-base;
                    height: 18px;
                }
            }

            .label {
                @include flex(1 1 auto);
                color: $color-base;
                font-size: pxToRem(14);
                line-height: pxToRem(18);

                text-transform: lowercase;
            }
        }
    }
}
