.mobile-search-sidebar {
    @import "./_sidebarTransitions";

    z-index: $z-mobile-filter;
    @include media($medium-screen) {
        display: none;
    }

    @import "./_filterHeader";

    .mobile-filter-content {

        .search-sidebar {
            margin-top: 0;
            margin-bottom: 0;

            background-color: $color-white;
        }
    }
}