.mobile-filter-button-wrapper {
    @include media($medium-screen) {
        // hide in non-mobile view
        display: none;
    }

    button.mobile-filter-button {
        @include button-unstyled;
        width: rem(175);
        margin-top: rem(20);

        color: $color-white;
        background-color: $color-primary;
        &:hover, &:active {
            background-color: $color-primary-alt;

            .mobile-filter-button-count {
                color: $color-primary-alt;
            }
        }

        .mobile-filter-button-content {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;
            padding: rem(10) rem(20);

            .mobile-filter-button-count {
                @include flex(0 0 auto);

                color: $color-primary;
                font-size: rem(14);
                line-height: rem(24);
                margin-right: rem(15);

                width: rem(24);
                height: rem(24);
                border-radius: rem(12);

                text-align: center;

                background-color: $color-white;
            }

            .mobile-filter-button-icon {
                @include flex(0 0 auto);
                margin-right: rem(5);
                height: rem(18);
                svg {
                    fill: $color-white;
                    width: 18px;
                }
            }

            .mobile-filter-button-label {
                @include flex(1 1 auto);
                color: $color-white;
                line-height: rem(18);
                font-size: $small-font-size;
                font-weight: $font-semibold;
                text-transform: uppercase;
            }
        }
    }

    button.mobile-clear-all {
        @include button-unstyled;
        margin-left: rem(20);

        .mobile-clear-all-content {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;

            padding: rem(10);

            .icon {
                @include flex(0 0 auto);
                margin-right: rem(5);
                svg {
                    fill: $color-base;
                    height: 18px;
                }
            }

            .label {
                @include flex(1 1 auto);
                color: $color-base;
                font-size: rem(14);
                line-height: rem(18);

                text-transform: lowercase;
            }
        }
    }
}