.homepage-features__content {
  .feature-covid {
    margin-top: 8rem;
    margin-right: 24rem;
    margin-left: 24rem;
    padding: 7.5rem;
    border: 1px solid #00BDE3;
    background-color: #E7F6F8;
    .covid-title {
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 4rem;
      margin-top: 0;
    }
    .covid-paragraph {

    }
    .covid-list {
      .covid-list__item {
      }
    }
  }
}
