.homepage-features__content {
  .feature-emergency-response-container {
    padding-top: 3rem;
    .feature-emergency-response__underline {
      text-decoration: underline;
    }
    .feature-emergency-response__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: rem(16);
      margin: 0;
      padding: 0 0 1.25rem 0;
      color: $color-gray-medium;
      text-transform: uppercase;

      &::before, &::after {
          background-color: rgba(214,215,217,0.4);
          content: '\a0';
          @include flex(1 0 0);
          height: 2px;
          position: relative;
          top: rem(26);
      }

      &::before {
          margin-right: 15px;
      }

      &::after {
          margin-left: 15px;
      }
    }
    .feature-emergency-response {
      display: flex;
      @media(min-width: $medium-screen) {
        padding: 0 20rem;
      }
      .feature-emergency-response__body {
        width: 100%;
        padding-top: 4.15rem;
        border: 3px solid $color-primary-alt-dark;
        background-color: $color-primary-alt-lightest;
        display: flex;
        flex-wrap: wrap;
        @media(min-width: $medium-screen) {
          flex-wrap: nowrap;
        }
        .feature-emergency-response__body-icon {
          flex-direction: column;
          font-size: 5.8rem;
          padding: 0 3rem;
          svg {
            path {
              fill: #00BDE3;
              opacity: 0.5;
            }
          }
        }
        .feature-emergency-response__link-button {
          @include button-unstyled;
          font-size: 1.6rem;
          line-height: normal;
          color: $color-link;
          &:hover, &:focus {
              color: $color-visited;
              svg {
                  fill: $color-visited;
              }
          }
        }
        .feature-emergency__external-link-icon {
          svg {
            fill: $color-link;
          }
          &:hover, &:focus {
            svg {
                fill: $color-visited;
            }
          }
        }
        .feature-emergency-response__body-content {
          width: 100%;
          flex-direction: column;
          padding-right: 3.35rem;
          padding-left: 3.35rem;
          @media(min-width: $medium-screen) {
            padding-left: 0;
          }
          .feature-emergency-response__body-title {
              margin: 0;
              font-size: 3.2rem;
              font-weight: $font-semibold;
              line-height: 4rem;
          }
          .feature-emergency-response__body-section {
            .feature-emergency-response__body-section__title {
              font-size: 2.4rem;
              line-height: 2.5rem;
              font-weight: $font-semibold;
            }
            .feature-emergency-response__body-section__sub-section {
              .feature-emergency-response__body-section__sub-title {
                font-size: 1.8rem;
                font-weight: $font-semibold;
                line-height: 2.6rem;
                margin-bottom: 0;
              }
              .feature-emergency-response__body-section__paragraph {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
