.feature-pane {
    .feature-pane__wrapper {
        display: block; 
        margin: rem(60) 0 rem(100);
        width: 100%;

        @include media($medium-screen) {
            margin: rem(120) 0 rem(60);
        }
    }

    .feature-pane__title {
        width: 100%; 
        text-align: center; 
        border: 1px solid rgba(214,215,217,0.4);
        line-height: rem(0.1);
        font-size: rem(16);
        margin: 10px 0  20px;
        color: #717171;

        & span {
            background:#fff; 
            padding:0 10px; 
        }
    }

    .feature-pane__content-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: rem(20);
        flex-wrap: wrap;
    }

    .feature-pane__content {
        flex-basis: 100%;
        text-align: center;
        font-size: rem(14);
        line-height: rem(17);

        @include media($medium-screen) {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .feature-pane__content-text {
       margin: 0 0 rem(20) 0;
       min-height: rem(50)
    }
    
    .feature-pane__content-divider {
        display: none;
        @include media($medium-screen) {
            display: block;
            border: 1px solid rgba(214,215,217,0.4);
            height: 180px;
            align-self: center;
        }
        
    }

    .feature-pane__content-title {
        font-size: rem(24);
        font-weight: bold;
        text-align: center;
        color: #5B616B;
        margin: 0;
    } 

    .feature-pane__button-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .feature-pane__bottom-divider {
        border: 1px solid rgba(214,215,217,0.4);
    }

    .feature-pane_mobile_content_divider {
        display: block;
        width: 100%;
        margin-top: rem(30);
        border: 1px solid rgba(214,215,217,0.4);
        @include media($medium-screen) {
            display: none;
        }
    }

    .feature-pane__button {
        color: #0071BC;
        background-color: transparent;
        border: 1px solid #0071BC;
        padding: rem(10) rem(20) rem(10) rem(20);
        text-decoration: none;

        &:hover {
            box-shadow: inset 0 0 0 2px #205493;
            color: #205493;
        }

        &:active {
            box-shadow: inset 0 0 0 2px #112e51;
            color: #112e51;
        }

        &:focus {
            outline: 2px dotted #aeb0b5;
            outline-offset: 3px;
        }
    }

}