.feature-pane {
  .feature-pane__wrapper {
    display: block;
    margin: rem(60) 0 rem(100);
    width: 100%;

    @include media($medium-screen) {
      margin: rem(120) 0 rem(60);
    }
  }

  .feature-pane__title {
    @include display(flex);
    @include justify-content(center);
    text-align: center;
    font-size: $base-font-size; // 16px
    line-height: $base-line-height; // 24px
    margin: 0;
    padding: rem(14) 0;
    color: #717171;
    text-transform: uppercase;

    &::before, &::after {
      background-color: rgba(214,215,217,0.4);
      content: '\a0';
      @include flex(1 0 0);
      height: 2px;
      position: relative;
      top: calc(#{rem(24)} / 2); // calc the $base-line-height (24px) divided by 2
      min-width: rem(32); // min-width to show lines on mobile in case title wraps
    }

    &::before {
      margin-right: 15px;
    }

    &::after {
      margin-left: 15px;
    }
  }

  .feature-pane__content-wrapper {
    @include display(flex);
    @include justify-content(space-around);
    margin-bottom: rem(40);
    @include flex-wrap(wrap);
  }

  .feature-pane__content {
    @include display(flex);
    @include flex-direction(column);
    text-align: center;
    font-size: $small-font-size; // 14
    line-height: $base-line-height;
    margin: rem(24) 0;
    position: relative;
    width: 100%;
    min-height: rem(216);
    background-color: $color-white;
    @include media($medium-screen) {
      @include flex(1 1 1);
      width: 30%;
    }
    &.feature-pane__content-finances-guide {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('#{$image-path}/homepage-eagle-large.png');
    }
    &.feature-pane__content-fiscal-data {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('#{$image-path}/homepage-fiscal-data.png');
    }
    &.feature-pane__content-covid {
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      background-image: url('#{$image-path}/homepage-covid.png');
      @include media($tablet-screen) {
        background-image: url('#{$image-path}/homepage-covid-large.png');
      }
      @include media(1024px) {
        background-image: url('#{$image-path}/homepage-covid.png');
      }
    }
  }

  .feature-pane__content-divider {
    display: none;

    @include media($medium-screen) {
      display: block;
      border-right: 1px solid $color-gray-lighter;
      height: rem(202);
      align-self: center;
    }
  }

  .feature-pane__content-overline {
    font-size: $small-font-size; // 14px
    font-weight: $font-semibold;
    text-align: center;
    color: $color-gray;
    line-height: $heading-line-height; // 1.2
    margin: 0;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    margin-top: rem(16);
  }

  .feature-pane__content-title {
    font-size: $h5-font-size; // 24px
    font-weight: $font-bold;
    color: $color-gray;
    line-height: $heading-line-height; // 1.2
    margin-top: rem(24);
    padding: rem(16) rem(8);
    margin-bottom: 0;
  }

  .feature-pane__content-title-transparent-bg {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .feature-pane_content-text {
    min-height: rem(50);
    padding: 0 rem(10);
    margin-top: 0;
  }

  .feature-pane__button-wrapper {
    margin-top: auto;
    background-color: transparent;
    padding: rem(10) rem(20) rem(10) rem(20);
    display: flex;
    justify-content: center;
    .feature-pane__button-icon {
      padding-left: rem(5);
    }
    &:focus {
      box-shadow: none;
    }
  }

  .feature-pane__bottom-divider {
    border: 1px solid rgba(214,215,217,0.4);
  }

  .feature-pane__button {
    color: #0071BC;
    background-color: transparent;
    border: 1px solid #0071BC;
    text-decoration: none;
    font-weight: 600;
    padding: rem(10) rem(20) rem(10) rem(20);
    margin: 0;
    // keep line-height consistent if either <a/> or <button/> element
    line-height: $base-line-height;
    &:hover {
      color: #ffffff;
      background-color: #0071bc;
      font-weight: 600;
    }
    &:active {
      box-shadow: inset 0 0 0 2px #112e51;
      color: #112e51;
    }
    &.white{
      background-color: white;
    }
    &.white:hover{
      color: #ffffff;
      background-color: #0071bc;
      font-weight: 600;
    }
  }
}
