
.feature-award-search {
    .feature-award-search__wrapper {
        display: block;
        margin: rem(60) 0;
        position: relative;

        @include media($medium-screen) {
            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(flex-start);
            margin-top: rem(120);
        }
    }

    .feature-award-search__content {
        position: relative;
        @include media($medium-screen) {
            @include flex(1 1 auto);
            padding-right: rem(55);
        }

        .feature-award-search__mobile-carousel {
            display: block;
            margin: rem(35) 0;

            @include media($medium-screen) {
                display: none;
            }
        }

        .feature-award-search__dropdown {
            margin-top: rem(60);
        }
    }

    .feature-award-search__image-wrapper {
        position: relative;
        display: none;
        @include media($medium-screen) {
            @include flex(0 0 auto);
            display: block;
            width: 60%;
            margin: 0;
            margin-bottom: 0;
        }
    }
}