.homepage-features {
    .homepage-features__content {
        @import "mixins/fullSectionWrap";
        @include fullSectionWrap(0, 0);
        padding: 0;
    }

    h2.homepage-feature-title {
        margin: 0;

        font-weight: $font-normal;
        color: $color-base;

        font-size: rem(38);
        line-height: rem(55);
    }

    .homepage-feature-description {
        p {
            font-size: rem(18);
            line-height: rem(30);
            font-weight: $font-light;

            strong.homepage-feature-description_weight_bold {
                font-weight: $font-normal;
            }
        }
    }
    .feature-homepage__background-flair__container {
        position: relative;
        .featured-section-image__wrapper {
            position: relative;
        }
    }
    .feature-homepage__background-flair {
        position: absolute;
        top: rem(-30);
        bottom: rem(-30);
        width: 100vw;
        margin-left: calc(50% - 50vw);

        background-color: $color-gray-warm-light;
        opacity: 0.5;
        @include transform(skewY(5deg));
        @include media($medium-screen) {
            top: 0;
            bottom: 0;
        }
        &.covid {
            @include transform(skewY(-5deg));
            height: rem(330);
            top: rem(20);
        }
    }

    @import "./_carousel";
    @import "./_dropdown";
    @import "./_spendingExplorer";
    @import "./_search";
    @import "./_profile";
    @import "./_featurePane";
}