@import "layouts/default/stickyHeader/header";

.sticky-header__container {
    .sticky-header {
        .sticky-header__title {
            @include span-columns(8);
            @include media($medium-screen) {
                @include span-columns(4);
            }
        }

        .sticky-header__summary {
            // Hide the search summary for small screens
            display: none;
            font-size: $small-font-size;

            @include media($medium-screen) {
                @include span-columns(8);
                @include display(flex);
            }

            .sticky-header__summary_title {
                font-weight: $font-semibold;
                padding-right: rem(10);
                margin-right: rem(10);
                border-right: solid 1px $color-white;
            }

            .sticky-header__summary_award-amounts,
            .sticky-header__summary_award-counts {
                margin-right: rem(20);
                .number {
                    font-weight: $font-semibold;
                }
            }
        }

        .sticky-header__options {
            @include span-columns(8);
            @include media($medium-screen) {
                @include span-columns(4);
            }

            .download-wrap {
                .download-hover-spacer {
                    left: rem(-140);
                    width: rem(290);
                }
                .download-button {
                    float: right;
                }
            }

            &.no-hover {
                .download-wrap {
                    .download-hover-spacer {
                        display: none;
                    }
                }
            }
        }
        &:after {
            display: block;
        }
    }
}