@import "searchFilter";

// .usda-page-header style is a DTUI override that's specific to the search 2.0 page
//&.v2 {
//  .site-header, .usda-page-header:not(.usda-page-header--sticky) {
//    position: relative;
//  }
//}

.search-collapsible-sidebar-container {
  box-shadow: unset;
  border-radius: unset;

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
  }

  .sidebar-bottom-submit {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: $gray-cool-10 1px solid;
  }

  @media(max-width: $medium-screen - 1) {
    left: 0;
    width: 100%;
  }

  .chevron {
    margin: auto;
    color: $blue-50;
    width: 6px;
    height: 100%;
  }

  .collapsible-sidebar--toggle {
    @media(max-width: $medium-screen - 1) {
      display: none;
    }
    position: absolute;
    right: -12px;
    top: 16px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $gray-cool-10;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }

  @import "../../components/checkboxTree/checkboxTree";

  .search-collapsible-sidebar-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -40px !important; // TODO Keep here until we remove the legacy panel
    border: 1px solid $gray-cool-10;
    box-shadow: none;
    border-radius: unset;
    background-color: unset;

    @media(max-width: $medium-screen - 1) {
      border: none;
    }

    &:not(.opened) {
      .sidebar-bottom-submit,
      .search-filter__container,
      .collapsible-sidebar--header,
      .collapsible-sidebar--drilldown,
      .collapsible-sidebar--main-menu {
        display: none;
      }
    }

    .collapsible-sidebar--header {
      padding: rem(20) rem(20) 0 rem(32);
      line-height: 1.5;
      color: $gray-90;
      background-color: unset;
      display: flex;
      justify-content: flex-end;
      #collapsible-mobile-close-button {
        @media(min-width: $medium-screen) {
          display: none;
        }

        width: rem(10);
        height: rem(10);
        background-color: white;
        margin: 0;
        stroke-width: rem(2);
        padding: 0;
        padding-bottom: $global-padding * 4;
        svg {
          width: rem(10);
          height: rem(10);
          color: $gray-90;
          background-color: white;
        }
      }
    }

    .collapsible-sidebar--main-menu {
      .collapsible-sidebar--search-filters-list {
        overflow-y: auto;
        scrollbar-gutter: stable;

        .search-filters-list {
          margin: 0 ($global-padding * 4);
          border-bottom: rem(1) solid $gray-cool-10;
        }

        .accordion-container {
           &.open {
             padding: 0;
           }

          .accordion {
            .heading {
              padding: $global-padding ($global-padding / 2);
              border: none;
              font-size: $smallest-font-size;
              line-height: 1.5;

              button {
                padding: 0;
                margin: 0;
                max-height: rem(18);
                max-width: rem(18);

                svg {
                  color: $blue-50;
                }
              }
            }

            .content {
              border: none;
              padding: $global-padding ($global-padding / 2);

              &.hidden {
                overflow: hidden;
                padding: 0;
              }

              .filter-item-wrap {
                padding: 0;
              }

              .agency-filter .filter-item-wrap:first-of-type {
                padding-bottom: rem(16);
              }
            }
          }
        }
      }
    }
  }

}

.search-contents.v2 {
  .search-collapsible-sidebar-container {
    @media(min-width: $large-screen) {
      width: 350px;
    }

    @media(min-width: $medium-screen) and (max-width: $large-screen - 1) {
      width: 300px;
    }
  }

  .full-search-sidebar {
    //display: none;
    margin-right: rem(16);

    @media(min-width: $large-screen) {
      display: flex;
      flex-basis: 350px;
    }

    @media(min-width: $medium-screen) and (max-width: $large-screen - 1) {
      display: flex;
      flex-basis: 300px;
    }
  }

  .search-results-view-container {
    width: 100%;
    min-width: 0;
  }

  // TODO remove when search v2 is released and remove tooltips from filter code
  .tooltip-popover-container {
    display: none !important;
  }
}
