@import "searchFilter";

// .usda-page-header style is a DTUI override that's specific to the search 2.0 page
&.v2 {
  .site-header, .usda-page-header:not(.usda-page-header--sticky) {
    position: relative;
  }
}

.search-collapsible-sidebar-container {
  @import './filters/otherFilters/defCheckboxV2';
  box-shadow: unset;
  border-radius: unset;
  position: absolute;
  margin-top: 0;
  top: 0;

  .sidebar-bottom-submit {
    position: static;
    width: 100%;
  }

  &.sticky {
    position: fixed;
    top: rem(98);

    .sidebar-bottom-submit {
      position: absolute;
      bottom: 0;
    }
  }

  @media(max-width: $medium-screen - 1) {
    left: 0;
    width: 100%;
  }

  .chevron {
    margin: auto;
    color: $blue-50;
    width: 6px;
    height: 100%;
  }

  .collapsible-sidebar--toggle {
    @media(max-width: $medium-screen - 1) {
      display: none;
    }
    position: absolute;
    right: -12px;
    top: 16px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $gray-cool-10;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }

  .collapsible-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: -40px !important; // TODO Keep here until we remove the legacy panel
    border: 1px solid $gray-cool-10;
    box-shadow: none;
    border-radius: unset;
    background-color: unset;

    @media(max-width: $medium-screen - 1) {
      border: none;
    }

    &:not(.opened) {
      .sidebar-bottom-submit,
      .search-filter__container,
      .collapsible-sidebar--header,
      .collapsible-sidebar--drilldown,
      .collapsible-sidebar--main-menu {
        display: none;
      }
    }

    .selected-category-item {
      display: flex;
      flex-direction: column;

      .categories-list,
      .category-filter {
        &:not(:has(.time-period)){   // prevent overflow scroll only for time period filter but allow for other types.
          overflow-y: auto;
        }
        &:has(.time-period .filter__dropdown-list-sm.hide) {
          overflow-y: auto;
        }
      }
      
      .category-filter.exempt {
        overflow-y: auto;
      }

    }

    .category-filter {
      .search-option {
        border-bottom: none;
      }
      .react-checkbox-tree {
        overflow: unset !important; // TODO: Remove importants when removing react checkbox tree package
        max-height: unset !important;
        height: unset !important;
      }
    }

    @import "_newNaicsStyles";
    @import "_newPscStyles";
    @import "_newTasStyles";

    .collapsible-sidebar--header {
      padding: rem(16) rem(32);
      font-size: 16px;
      font-weight: $font-semibold;
      line-height: 1.5;
      color: $gray-90;
      border-bottom: $gray-cool-10 1px solid;
      background-color: unset;

      #collapsible-mobile-close-button {
        @media(min-width: $medium-screen) {
          display: none;
        }

        width: rem(10);
        height: rem(10);
        background-color: white;
        padding: 0;
        right: 0;
        position: absolute;

        svg {
          width: rem(10);
          height: rem(10);
          color: $gray-90;
          background-color: white;
        }
      }
    }

    .sidebar-bottom-submit {
      border-top: $gray-cool-10 1px solid;

    }

    .collapsible-sidebar--main-menu {
      &:not(.opened) {
        display: none;
      }

      .collapsible-sidebar--search-filters-list {
        overflow-y: auto;
      }
    }

    .collapsible-sidebar--drilldown {
      &:not(.opened) {
        display: none;
      }

      .filter-item-wrap {
        padding: 0 32px;
      }

      // DEV - 12074 requested that all search boxes be full width on tablet/mobile  
      // putting this here is a overarching blanket v2 fix but does not effect original search styles. 
      .usa-da-typeahead__input,
      .autocomplete__input {
        input {
          min-width: 100% !important;
        }
      }

      &.opened {
        display: block;
      }

      .collapsible-sidebar--back-btn {
        color: $blue-50;
        cursor: pointer;

        .chevron {
          width: 6px;
          height: 10px;
          margin: 2px 8px 2px 0;
        }
      }

      .categories-list-category-type {
        color: $gray-90;
        font-size: rem(10);
        line-height: 1.5;
        padding: rem(2) rem(6);
        background-color: $gray-cool-5;
        border-radius: rem(4);
        width: fit-content;
        margin-top: rem(32);

        &:first-of-type {
          margin-top: 0;
        }
      }

      .categories-list-item-container {
        min-height: rem(39);
        line-height: 1.5;
        font-size: $smallest-font-size;
        color: $gray-90;
        font-weight: $font-semibold;
        border-bottom: solid 1px $gray-cool-10;

        &:hover {
          background-color: $gray-cool-2;

          .chevron {
            color: $blue-70v;
          }
        }

        .categories-list-item {
          display: flex;
          align-content: center;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: rem(12) 0;
          cursor: pointer;

          div {
            &:first-of-type {
              padding-left: rem(4);
            }

            &:last-of-type {
              padding-right: rem(4);
            }
          }

          .categories-list-item__text-container {
            cursor: pointer;
            display: flex;
            align-items: center;

            .categories-list-item__title {
              padding: 0;
            }

            .categories-list-item__count {
              font-size: $font-size-10;
              font-weight: normal;
              background-color: $gray-cool-2;
              padding: rem(1) rem(5);
              border-radius: rem(4);
              border: solid rem(1) $gray-cool-5;
              margin-left: $global-spacing-unit;
              height: fit-content;
              white-space: nowrap;
            }
          }

          svg {
            cursor: pointer;
          }
        }
      }

      .categories-list {
        overflow-y: auto;
      }

      .collapsible-sidebar--dsm-slider {
        color: $blue-50;
        cursor: pointer;
        padding: rem(16) rem(32);
        font-size: rem(12);
        font-weight: $font-semibold;
        line-height: 1.5;
        border-top: 1px solid $gray-cool-5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &:hover {
          color: $blue-70v;
        }

        .chevron {
          margin: 4px 8px 0 8px;
          width: 10px;
        }

        .collapsible-sidebar--dsm-content {

          .collapsible-sidebar--dsm-wrapper {
            font-size: $font-size-14;
            color: $gray-60;
            font-weight: $font-normal;
            overflow-y: auto;

            &--text-header {
              font-weight: $font-semibold;
              color: $gray-90;
              margin: 16px 0px 0px;
            }

            &--text-section {
              p {
                margin: 4px 0px 0px;
              }
            }
          }
        }
      }

      .collapsible-sidebar--dsm-slider:hover .chevron {
        color: $blue-70v;
      }
    }

  }

}

.search-contents.v2 {
  .collapsible-sidebar {
    @media(min-width: $large-screen) {
      width: 350px;
    }

    @media(min-width: $medium-screen) and (max-width: $large-screen - 1) {
      width: 300px;
    }
  }

  .full-search-sidebar {
    display: none;
    margin-right: rem(16);

    @media(min-width: $large-screen) {
      display: flex;
      flex-basis: 350px;
    }

    @media(min-width: $medium-screen) and (max-width: $large-screen - 1) {
      display: flex;
      flex-basis: 300px;
    }
  }

  .search-results-view-container {
    width: 100%;
    min-width: 0;
  }

  // TODO remove when search v2 is released and remove tooltips from filter code
  .tooltip-popover-container {
    display: none !important;
  }
}