&.coming-soon {
    background: repeating-linear-gradient(
        45deg,
        rgba($color-gray-lightest, .2),
        rgba($color-gray-lightest, .2) pxToRem(2),
        rgba($color-gray-lighter, .3) pxToRem(2),
        rgba($color-gray-lighter, .3) pxToRem(4)
    );
    .coming-soon-icon {
        bottom: pxToRem(24);
        height: 0;
        left: pxToRem(35);
        position: relative;
        svg {
            fill: $color-gray-lighter;
            height: pxToRem(10);
            width: pxToRem(10);
        }
    }
    .coming-soon-label {
        bottom: pxToRem(20);
        color: $color-gray-lighter;
        float: left;
        font-weight: bold;
        font-size: pxToRem(10);
        height: 0;
        left: pxToRem(50);
        position: relative;
    }
    .filter-toggle {
        svg {
            fill: $color-gray-lighter;
        }
        .filter-header {
            color: $color-gray-lighter;
        }
    }
    &:hover * {
        cursor: default;
    }
}