.filter-toggle {
    @include button-unstyled;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    width: 100%;

    padding: rem(15);
    @include media($tablet-screen) {
        padding: rem(15);
    }

    svg {
        @include flex(0 0 auto);
        cursor: pointer;
        fill: $color-gray;
        height: rem(11);
        width: rem(11);
        @include media($large-screen) {
            width: rem(12);
            height: rem(12);
        }
        &.usa-da-icon-info {
            height: rem(20);
            width: rem(22);
        }
    }
    .filter-header {
        @include h6;
        @include flex(1 1 auto);
        color: $color-gray;
        font-size: $small-font-size;
        font-weight: $font-semibold;
        height: 100%;
        line-height: 1;
        margin: 0;
        padding-left: rem(6);
        vertical-align: middle;
        @include media($large-screen) {
            font-size: $base-font-size;
        }
    }

    .accessory-view {
        @include flex(0 0 auto);
        width: rem(20);
        height: rem(20);
        position: relative;

        color: $color-base;

        svg {
            width: rem(20);
            height: rem(20);
            fill: $color-gray;
        }
    }

    .usa-da-icon-guide {
        fill: lighten( $color-gray-light, 5%);
        float: right;
        margin: rem(22) rem(15) rem(15) rem(4);
        padding-left: rem(10);
        height: rem(26);
        width: rem(29);
        &:hover {
            @include transition(all 0.1s ease-in-out);
            fill: darken($color-tab-inactive, 60%);
        }
    }
    &:hover {
        cursor: pointer;
        svg {
            cursor: pointer;
            fill: $color-black;
            @include transition(all 0.25s $ease-in-out-sine);
        }
    }

    @import "pages/search/filters/keyword/_keywordHover";
}