.filter-toggle {
    margin: 0;
    @include display(flex);
    @include align-items(center);

    .filter-toggle__button {
        @include button-unstyled;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex(1 1 auto);
        padding: rem(15);

        svg {
            @include flex(0 0 auto);
            cursor: pointer;
            pointer-events: none;
            fill: $color-gray;
            height: rem(11);
            width: rem(11);
            @include media($large-screen) {
                width: rem(12);
                height: rem(12);
            }
        }

        .filter-toggle__name {
            @include h6;
            @include display(flex);
            @include align-items(center);
            @include flex(1 1 auto);
            color: $color-gray;
            font-size: $small-font-size;
            font-weight: $font-semibold;
            height: 100%;
            line-height: 1;
            margin: 0;
            padding-left: rem(6);
            @include media($large-screen) {
                font-size: $base-font-size;
            }
            span {
                padding-right: rem(5);
            }
            &.def-sidebar span {
                width: rem(170);
            }
            @import "./tooltips";
        }

        &:hover {
            cursor: pointer;
            svg {
                cursor: pointer;
                fill: $color-black;
                @include transition(all 0.25s $ease-in-out-sine);
            }
        }
    }
    .filter-toggle__accessory {
        @include display(flex);
        @include align-items(flex-start);
        .advanced-search-filter-accessory__new-badge {
            height: rem(24);
            width: rem(47);
            border-radius: rem(4);
            background-color: #B53332;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            font-size: rem(14);
            color: #FFF;
            font-weight: 600;
            margin-right: rem(35);
        }
    }
    .filter-toggle__glossary {
        @include display(flex);
        @include flex(0 0 auto);
        padding-right: rem(15);
        a {
            font-size: $small-font-size;
            color: $color-gray-light;
            &:hover {
                color: $color-gray;
            }
        }
    }
}

