// integrate these changes with deployment of search v2
.psc-checkbox {
    @import "../../core/variables";
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;

    .autocomplete__input {
        padding-top: 0;
        padding-bottom: 20px;
        .geo-entity-dropdown__input {
            border: solid 1px #dfe1e2;
            border-radius: 3px;
        }
    }
    .checkbox-tree-label__value-container-value {
        font-size: 10px !important;
        display: flex;
        align-items: center;
    }
    .checkbox-tree-label__label {
        font-size: 12px !important;
    }

    .rct-text {
        svg {
            height: 10px;
            color: $theme-color-1;
        }
    }
}