// integrate these changes with deployment of search v2
.tas-checkbox {
    @import "../../core/variables";
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;
    .checkbox-tree {
        border-bottom: none !important;
    }
    .autocomplete__input {
        padding-top: 0;
        padding-bottom: 20px;
        .geo-entity-dropdown__input {
            border: solid 1px $gray-cool-10;
            border-radius: 3px;
            min-width: 100%;
        }
    }

    li {
        margin-bottom: 12px !important;
    }
    .checkbox-tree-label__value-container-value {
        font-size: 10px !important;
        align-items: center;      
        color: $gray-90;
        border-radius: 2px;
        background-color: $gray-cool-5 !important;
        padding: 2px !important;
    }

    .checkbox-tree-label__value-container-count {
        font-size: 10px !important;
        color: $gray-60 !important;
        padding-left: 4px !important;
        padding-bottom: 0 !important;
        line-height: 1.8 !important;
    }
    .checkbox-tree-label__label {
        font-size: 12px !important;
        color: $gray-90;
        padding-top: 4px !important; 
    }

    .rct-checkbox {
        color: $gray-cool-20 !important;
        padding-right: 0 !important;
    }

    .rct-text {
        svg {
            height: 10px;
            color: $theme-color-1;
        }
        label {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}