.search-contents {
    //@include flex(1 1 auto);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    //@include align-items(stretch);
    //position: relative;


    .search-page__results-view {
        @media (min-width: $medium-screen) and (max-width: 1368px) {
            width: 66%;
        }
    }
    .full-search-sidebar {
        @include flex(0 0 auto);
        //display: none;
        @include media(1368px) {
            display: block;
            padding-right: rem(30);
            width: 25%;
        }
        @media (min-width: $medium-screen) and (max-width: 1367px) {
            display: block;
            padding-right: rem(30);
            width: 34%;
        }
 
        @import "../../components/search/keywordSearchLink";
    }

    .search-results-wrapper {
        @include flex(1 1 auto);
        overflow: visible;

        @include media($medium-screen) {
            margin-top: rem(32);
        }
    }
}
