.search-contents {
    @include flex(1 1 auto);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(stretch);
    position: relative;


    .full-search-sidebar {
        @include flex(0 0 auto);
        display: none;
        @include media($medium-screen) {
            display: block;
            padding-right: rem(30);
            width: 25%;
        }

        @import "../../components/search/keywordSearchLink";
    }

    .search-results-wrapper {
        @include flex(1 1 auto);
        overflow: visible;

        @include media($medium-screen) {
            margin-top: rem(32);
        }
    }
}
