.usa-da-search-page.v2 {
  &.fixed-body {
    position: fixed;
    max-width: 100vw;
  }
  #main-content {
    .search-contents {
      max-width: 1600px !important; //TODO: Remove after search 2.0 is released
    }
  }
}