&.v2 {
  &.fixed-body {
    position: fixed;
    max-width: 100vw;
    .mobile-sort-toggle {
      display: none !important;
    }
  }
  #main-content {
    padding-bottom: 0;
    .search-contents {

      @media (min-width: $medium-screen) {
        border-left: 1px solid $gray-cool-10;
      }
    }

    .search-results-view-container {
      padding-bottom: 16px;
      padding-top: 32px;

      @media (min-width: $medium-screen) {
        padding-left: 32px;
        border-left: 1px solid $gray-cool-10;
      }
    }
  }
}
