.search-option {
    border-bottom: 1px solid #e4e2e0;
    label {
        @include usa-label;
        padding: 0.1rem 0;
    }
    .filter-item-wrap {
        padding: 0 $global-pad rem(20);
        @include clearfix;
        &:last-child {
            margin-bottom: 0;
        }
        @include media(1100px) {
            padding: 0 rem(20) rem(20);
        }
    }
    @import "./_filterExpand";
}