.search-filter__container {
  //this import shouldn't be necessary once this css file is imported into a css page
  @import "all";

  // this margin-bottom is only for demo
  margin-bottom: rem(32);

  .search-filter__content {
    border-top: solid 1px $gray-cool-10;

    .search-filter__top-row {
      display: flex;
      margin-top: $global-margin * 2;

      .search-filter__top-row-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(21);
        width: rem(21);
        border-radius: 4px;
        margin-right: $global-margin;

        svg {
          height: rem(12);
        }
      }

      .search-filter__top-row-text-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .search-filter__top-row-title {
          font-size: $font-size-14;
          font-weight: $font-semibold;
          line-height: 1.5;
          color: $theme-color-headline;
        }

        .search-filter__top-row-selected-container {
          display: flex;
          align-items: center;
          font-size: $font-size-12;
          font-weight: $font-semibold;
          line-height: 1.5;
          color: $theme-color-body;
        }
      }
    }

    .search-filter__description {
      font-size: $font-size-12;
      line-height: 1.5;
      color: $theme-color-body;
      margin-top: $global-margin * .5;
    }

    .search-filter__description {

    }

    .search-filter__bottom-section {

    }
  }
}
