.search-option {
    border-bottom: 1px solid $color-gray-light;

    label {
        @include usa-label;
        padding:0.1rem 0;
    }

    .search-filter {
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        margin-top: .75rem;
        margin-bottom: 1rem;
        @include media($large-screen){
            padding-left: 3rem;
        }

    }

    &.coming-soon {
        background: repeating-linear-gradient(
            45deg,
            rgba($color-gray-lightest, .2),
            rgba($color-gray-lightest, .2) rem(3px),
            rgba($color-gray-lighter, .3) rem(3px),
            rgba($color-gray-lighter, .3) rem(5px)
        );
        .coming-soon-icon {
            bottom: rem(24px);
            height: 0;
            left: rem(35px);
            position: relative;
            svg {
                fill: $color-gray-lighter;
                height: rem(10px);
                width: rem(10px);
            }
        }
        .coming-soon-label {
            bottom: rem(20px);
            color: $color-gray-lighter;
            float: left;
            font-weight: bold;
            font-size: rem(10px);
            height: 0;
            left: rem(50px);
            position: relative;
        }
        .filter-toggle {
            svg {
                fill: $color-gray-lighter;
            }
            .filter-header {
                color: $color-gray-lighter;
            }
        }
        &:hover * {
            cursor: default;
        }
    }
    @import "./_filterExpand";
}
