// this file can be deleted once the new advance search has been implemented
// and the toggle between new and old search ui is no longer needed
.temp-search-page {
  display: grid;
}
.rounded-toggle__wrapper {
  margin: rem(16) rem(24) rem(8) rem(24);
  line-height: rem(21);
  height: fit-content;
  padding: rem(16);
  border: rem(1) solid $color-gray-warm-light;
  //border: rem(1) solid #dfe1e2;
  border-radius: rem(4);
  box-shadow: 0 rem(1) rem(4) 0 rgba(0, 0, 0, 0.1);
  justify-self: center;

  .rounded-toggle__label {
    margin-right: rem(16);
    color: $gray-90;
  }

  .rounded-toggle__switch {
    min-width: rem(35);
    align-self: center;
  }

  input:checked + .rounded-toggle__slider {
    background-color: $color-green !important;
    //background-color: #00a91c !important;
  }
}
