$letter-color: #323A45;

.tooltip-wrapper {
    svg {
        width: rem(20);
        height: rem(20);
    }
    .advanced-search-tt {
        display: flex;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        width: 100%;
        // tooltip header styles
        h3 {
            margin: 0;
            padding: 0 rem(10);
            font-weight: bold;
            font-size: rem(16);
            width: 100%;
            color: $letter-color;
            text-align: center;
            background: #F0F0F0;
            line-height: rem(42);
            z-index: 2;
        }
        // tooltip body
        .advanced-search-tt__body {
            width: 100%;
            padding: rem(5) rem(10);
            @include display(flex);
            @include flex-direction(column);
            // text based elements
            span,
            p,
            .advanced-search-tt__list,
            .advanced-search-tt__list li {
                color: $letter-color;
                letter-spacing: 0;
                font-size: rem(14);
                line-height: rem(18);
                font-weight: 400;
                width: 100%;
            }
            p {
                margin: rem(5);
                &:last-of-type {
                    margin-bottom: rem(10);
                }
            }
            .advanced-search-tt__list {
                @include align-self(flex-start);
                padding-left: rem(40);
                padding-top: 0;
            }
            
            .advanced-search__glossary-term {
                font-weight: $font-semibold;
            }

        }
    }
}

@import "../../components/visualizations/tooltip/csstooltip";

.tooltip-popover-container {
    margin-left: rem(5);
    color: $color-gray-lighter;

    &:hover, &:focus {
        color: $color-gray-medium;
        cursor: pointer;
    }

    &.tooltip-popover-container_description {
        padding-top: rem(10);
        font-size: $small-font-size;
        .tooltip-popover-container__description {
            color: $color-gray-medium;
            text-decoration: underline;
            padding-right: rem(5);
        }
        .tooltip-popover {
            // override the positioning to be centered over the icon
            left: rem(60);
            bottom: rem(32);
        }
    }

    .tooltip-popover {
        // override the positioning to be centered over the icon
        bottom: rem(35);
        left: rem(-145);
        padding: 0;
        font-size: $small-font-size;

        &.advanced-search-css-tooltip {
            box-shadow: $box-shadow;
            background-color: $color-white;
            border: solid rem(1) $color-gray-light;

            .advanced-search-css-tooltip__heading {
                background-color: $color-gray-lightest;
                border-top-left-radius: rem(5);
                border-top-right-radius: rem(5);
                padding: rem(10) rem(15);
                font-weight: $font-bold;
            }

            .advanced-search-css-tooltip__definition {
                padding: rem(10) rem(15) 0;
                a:hover {
                    cursor: pointer;
                }
                p:first-of-type {
                    margin-top: 0;
                }
            }

            .advanced-search-css-tooltip__example {
                font-weight: $font-bold;
                font-style: italic;
                padding: rem(10) rem(15) rem(15);
            }
        }
    }
}
