.search-sidebar {
    @import "./_searchOption";
    @import "./_searchSubmit";
    @import "./_filters";
    @import '../../elements/_inputs';
    @import '../../elements/_labels';

    .sidebar-bottom__keyword-link-container{
        padding: 25px;
        border-top: solid 1px #d5d6d8;
        @import "../../components/search/keywordSearchLink";
    }
    

    background-color: $color-white;
    box-shadow: $container-shadow;
    border-radius: rem(5);
    margin-top: rem(32);

    .sidebar-header {
        display: none;
        @include media($small-screen) {
            display: inline-table;
            @include align-items(left);
            @include justify-content(flex-start);
            position: relative;
            border-bottom: rem(1) solid $color-gray-lighter;
            height: rem(70);
            width: 100%;
            margin: 0;
            padding: 0 rem(16) 0 rem(16);
            .sidebar-header_title-advanced-search{
                display: flex;
                flex-flow: inherit;
                padding-top: rem(16);
                padding-bottom: rem(16);
                & .sidebar-title_advanced-search {
                    @include h6;
                    @include flex(1 1 auto);
                    color: $color-gray;
                    font-size: rem(19);
                    line-height: rem(21);
                    font-weight: $font-semibold;
                    margin: 0;
                }
                & .filter-icon {
                    @include flex(0 0 auto);
                    width: rem(16);
                    margin-right: rem(8);
                    & .usa-da-icon-filter {
                        fill: lighten( $color-gray, 15%);
                        width: rem(16);
                        margin-top: rem(4);
                    }
                }
            }
            & .sidebar-title {
                @include h6;
                @include flex(1 1 auto);
                color: $color-gray;
                font-size: rem(19);
                line-height: rem(21);
                font-weight: $font-semibold;
                margin: 0;
            }
            & .filter-icon {
                @include flex(0 0 auto);
                display: table-cell;
                width: rem(16);
                padding-right: rem(8);
                margin-right: rem(8);
                & .usa-da-icon-filter {
                    fill: lighten( $color-gray, 15%);
                    width: rem(16);
                    margin-top: rem(5);
                }
            }

            .sidebar-paragraph__container {
                padding-bottom: rem(16);
                display: flex;
                flex-flow: row;
                padding-right: rem(4);
                .sidebar-paragraph {
                    font-weight: $font-semibold;
                    font-size: $font-size-14;
                }
                .tooltip-wrapper {
                    display: inline-block;
                    .award-summary__new-category {
                            margin-bottom: rem(0);
                    }
                    .tooltip__icon {
                        height: rem(15);
                        width: rem(15);
                    }
                    .tooltip-spacer {
                        @media (max-width: $medium-screen) {
                            top: 90px;
                            left: 250px;
                        }
                        @media (max-width: $tablet-screen) {
                            left: rem(-13) !important;
                        }

                    }
                    .ul-override_filter {
                        ul {
                            padding-left: rem(16);
                            margin-top: rem(0);
                        }
                    }
                }
            }
        }
    }
    // implement text input style
    input[type=text] {
        @include usa-input;
    }
}
