.usa-da-search-page {
    @import "layouts/search/search";

    @import './searchSidebar';
    @include span-columns(16);
    .search-sidebar {
        display: none;
        @include media($medium-screen) {
            @include span-columns(4);
        }
    }
    .search-results-wrapper {
        @include span-columns(16);
        @include media($medium-screen) {
            @include span-columns(12);
        }
        margin-top: rem(32);
        margin-bottom: rem(60);
        @import "./results/searchResults";
        @import "./topFilterBar/topFilterBar";
    }
}