.search-sidebar {
    @import "./_searchOption";
    @import "./_searchSubmit";
    @import "./_filters";
    @import '../../elements/_inputs';
    @import '../../elements/_labels';
    background-color: $color-white;
    box-shadow: $container-shadow;
    border-radius: rem(5);
    margin-top: rem(32);
    .sidebar-header {
        display: none;
        @include media($tablet-screen) {
            @include display(flex);
            @include align-items(center);
            @include flex-flow(row);
            @include justify-content(flex-start);
            position: relative;
            border-bottom: rem(1) solid $color-gray-lighter;
            height: rem(70);
            margin: 0;
            padding: 0 0 0 rem(15);
            & .sidebar-title {
                @include h6;
                @include flex(1 1 auto);
                color: $color-gray;
                font-size: rem(19);
                line-height: rem(21);
                font-weight: $font-semibold;
                margin: 0;
            }
            & .filter-icon {
                @include flex(0 0 auto);
                width: rem(16);
                margin-right: rem(8);
                & .usa-da-icon-filter {
                    fill: lighten( $color-gray, 15%);
                    width: rem(16);
                    margin-top: rem(5);
                }
            }
        }
    }

    // implement text input style
    input[type=text] {
        @include usa-input;
    }
}