.timePeriodFilter {
    @import '../../elements/_inputs';
    @import '../../elements/_labels';
    @import '../../elements/inputs/_errors';
    @import '../../components/_alerts';
    @import './datePicker';

    @include outer-container;

    .toggleButtons {
        border-bottom: 1px solid $color-gray-lighter;
    }

    button.toggle {
        border-left: 1px solid $color-gray-lighter;
        border-right: 1px solid $color-gray-lighter;
        border-top: 1px solid $color-gray-lighter;
        background-color: $color-white;
        color: $color-gray;
        margin-bottom: 0;
    }

    button.inactive {
        background-color: $color-primary-alt-lightest;
    }

    ul.fiscalYears {
        @include row();
        list-style-type: none;
        margin-left: -2rem;

        li {
            margin: 0;
            height: 2.5rem;
            @include span-columns(7);

            input {
                @include usa-input-checkbox;
                margin-right:.5rem !important;
            }

            label {
                @include usa-label;
            }
        }

        li.fiscalYearOptionAll {
            @include span-columns(16);

        }
    }

    .dateRangeOption {
        margin-top: 3rem;

        input {
            @include usa-input;
            display:inline;
        }
        .date-range-wrapper {

            .errorMessage {
                @include usa-input-error-message;
                @include span-columns(16);
                padding: 15px;
                border: 1px solid $color-secondary-dark;

                .errorTitle {
                    height: 30px;
                    display: block;
                    max-height: 30px;

                    .heading {
                        font-weight: bold;
                        font-size: 24px;
                        margin-left: .5rem;
                        margin-top: .2rem;
                        display: inline-block;
                        vertical-align: top;
                    }

                    svg {
                        width: 30px;
                        fill: $color-secondary-dark;
                    }

                }

                .message {
                    font-size: 14px;
                    line-height: 1.2;
                    margin-bottom: 0;
                }
            }
        }
    }

}