.timePeriodFilter {

    @include outer-container;

    @import './datePicker';

    ul.fiscalYears {
        @include row();
        margin: 1.5rem 0 0 -2rem;
        list-style-type: none;
    }

    label {
        font-size: $small-font-size;
        margin: 0;
    }

    li.fiscalYearOption {
        margin: 0;
        height: 2.5rem;
        @include span-columns(7);

        label {
            &::before {
                height: 1.4rem;
                width: 1.4rem;
                position: relative;
                top: .25rem;
            }
        }
    }

    .dateRangeOption {
        margin-top: 3rem;

        .through-text {
            font-size: $small-font-size;
        }
    }

}