.additional-info {
    padding: rem(40) 0 rem(60);

    .award__row {
        .award__col {
            // Override space between columns when stacked in mobile
            &:first-child {
                padding-bottom: 0;
            }
            &:last-child {
                padding-top: 0;
            }
        }
    }

    .accordion {
        margin-bottom: rem(20);

        .accordion__content {
            overflow: hidden;
            height: 0;
        }

        &.accordion_open {
            .accordion__content {
                height: auto;
                border: rem(2) solid $color-gray-lightest;

                .accordion-table {
                    margin: 0;

                    .accordion-table__row {
                        border-bottom: rem(2) solid $color-gray-lightest;
                        padding: rem(8) rem(40);

                        td {
                            border: 0;

                            &:last-child {
                                font-weight: $font-light;
                            }
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        .accordion__bar {
            cursor: pointer;
            background-color: $color-gray-lightest;
            padding: rem(10);
            overflow: auto;
            color: $color-gray;
            display: flex;

            svg {
                margin-right: rem(8);
                fill: $color-gray-medium;
            }

            img {
                position: relative;
                top: rem(5);
                height: rem(20);
                margin-right: rem(10);
                opacity: 0.5;
            }

            span:last-child {
                margin-left: auto;
            }
        }
    }
}
