.search-option {
  @import '../../../../components/checkboxTree/checkboxTree';

  .naics-search-container {
    @import "../../tooltips";

    .checkbox-header {
      padding-top: pxToRem(10);
    }

    padding: pxToRem(12);
    margin-bottom: pxToRem(12);

    .children-are-loading {
      font-size: pxToRem(15);
      text-align: center;
    }

    .autocomplete__input {
      @include display(flex);

      padding: pxToRem(10) 0;
      position: relative;
      width: 100%;

      input {
        // TODO: [DEV-5732] Fix styling bug in Searchable Checkbox trees
        @import "dtui-overrides";

        width: 100%;
        height: 100%;
        line-height: 1.5;
        @include new-search-button;

        &.geo-entity-dropdown__input {
          padding-left: pxToRem(28) !important;
        }
      }

      svg {
        color: $gray-60;
        width: pxToRem(12);
        height: pxToRem(12);
      }

      .search-icon {
        @include flex(0 0 auto);
        @include align-self(center);
        position: absolute;
        width: pxToRem(16);
        height: pxToRem(16);
        left: $global-spacing-unit;
        top: pxToRem(6);
        padding: pxToRem(2);
      }

      .icon {
        @include flex(0 0 auto);
        @include align-self(center);
        position: absolute;
        width: pxToRem(15);
        right: pxToRem(5);
        svg {
            // color: $color-gray;
        }
      }
    }

    .checkbox-tree .checkbox-tree-label__description {
      .checkbox-tree-label__container .checkbox-tree-label .checkbox-tree-label__label {
        font-weight: $font-semibold;

      }

      .checkbox-tree-label__description .checkbox-tree-label__label {
        font-weight: normal !important;
      }
    }
  }
}
