.date-range-wrapper {
    @import "../datePicker";
    .time-period-buttons {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include media($medium-screen) {
            @include flex-wrap(nowrap);
        }
        .column {
            margin-right: rem(20);
            .time-period-button {
                @include button-unstyled();
                width: 100%;
                display: block;
                color: $color-gray;
                font-size: rem(20);
                font-weight: 300;
                line-height: rem(37);
                margin: rem(5) 0;
                padding: 0 rem(5);
                &.active, &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                    border-radius: rem(5);
                }
            }
        }
    }
    .data-note {
        font-style: italic;
    }
}
