.date-range-wrapper {
    @import "../datePicker";
    .time-period-buttons {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include media($medium-screen) {
            @include flex-wrap(nowrap);
        }
        .column {
            margin-right: pxToRem(20);
            .time-period-button {
                @include button-unstyled();
                width: 100%;
                display: block;
                color: $color-gray;
                font-size: pxToRem(20);
                font-weight: 300;
                line-height: pxToRem(37);
                margin: pxToRem(5) 0;
                padding: 0 pxToRem(5);
                &.active, &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                    border-radius: pxToRem(5);
                }
            }
        }
    }
    .data-note {
        font-style: italic;
        @media(max-width: $medium-screen) {
            max-width: 75%;
        }
    }
}
