.def-code-filter {
    h3.download-filter__title {
        padding-left: rem(30);
        padding-bottom: 0;
    }
    p.download-filter__subtitle {
        font-size: rem(16);
        font-weight: 400;
        padding-left: rem(30);
        margin-bottom: rem(15);
        margin-top: 0;
    }
}
