.def-code-filter {
    h3.download-filter__title {
        padding-left: pxToRem(30);
        padding-bottom: 0;
    }
    p.download-filter__subtitle {
        font-size: pxToRem(16);
        font-weight: 400;
        padding-left: pxToRem(30);
        margin-bottom: pxToRem(15);
        margin-top: 0;
    }
}
