.radio,
.checkbox {
    padding-top: pxToRem(15);
    &:first-child {
        padding-top: 0;
    }

    input {
        margin-right: pxToRem(5);
    }
    .radio-label,
    .checkbox-label {
        color: #4A4A4A;
        font-size: pxToRem(18);
        line-height: pxToRem(23);
        &.disabled {
            color: $color-gray-light;
        }
        .radio-label__subtext {
            padding-left: pxToRem(15);
            color: $color-gray-light;
            font-style: italic;
            font-weight: 300;
            line-height: pxToRem(23);
            white-space: nowrap;
        }
    }
    .radio-description {
        color: $color-gray;
        font-size: pxToRem(14);
        font-style: italic;
        font-weight: 300;
        line-height: pxToRem(18);
        margin-top: pxToRem(5);
        margin-left: pxToRem(20);
        width: 76%;
    }
}
