.quarter-picker {
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
    .quarter-picker__fy {
        @include flex(1 1 auto);
        @include justify-content(flex-start);
        padding: rem(5) 0;
        .fy-picker {
            .fy-picker__header {
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(center);

                .fy-picker__icon {
                    display: none;
                }

                .fy-picker__dropdown-container {
                    @include flex(1 1 auto);
                    @include align-self(stretch);
                    position: relative;
                }

                .fy-picker__button {
                    @include button-unstyled;
                    @include display(flex);
                    @include justify-content(center);
                    @include align-items(center);

                    border-bottom: 1px solid $color-gray;

                    .fy-picker__button-text {
                        @include flex(1 1 auto);
                        margin-right: rem(10);
                        color: $color-gray;
                        padding-left: rem(5);
                        white-space: nowrap;
                        font-size: rem(32);
                        font-weight: 300;
                        line-height: rem(34);
                        svg {
                            margin-left: $global-mrg;
                        }
                    }

                    .fy-picker__button-icon {
                        @include flex(0 0 rem(20));
                        color: $color-gray;
                        svg {
                            width: rem(12);
                            height: rem(12);
                            fill: $color-gray;
                        }
                    }
                }
            }
            .fy-picker__list {
                @include unstyled-list;
                position: absolute;
                left: 0;
                right: 0;
                border: 1px solid $color-gray-lighter;
                background-color: $color-white;

                &.fy-picker__list_hidden {
                    display: none;
                }

                .fy-picker__item {
                    @include button-unstyled;
                    color: $color-gray;
                    font-size: rem(18);
                    padding: rem(10);
                    width: 100%;

                    &:hover, &:active, &.active {
                        background-color: $color-gray-lightest;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    ul.quarter-picker__list {
        @include unstyled-list;
        @include display(flex);
        @include align-items(center);
        @include flex(1 1 auto);
        padding: rem(5) 0;
        li.quarter-picker__list-item {
            margin-right: rem(1);

            &:last-child {
                margin-right: 0;
            }

            button.quarter-picker__quarter {
                @include button-unstyled;
                color: $color-white;
                text-align: center;
                line-height: rem(22);
                font-weight: $font-bold;

                background-color: $color-primary-alt-light;

                padding: rem(3) rem(18);
                @include media($medium-screen) {
                    padding: rem(4) rem(28);
                }

                &.quarter-picker__quarter_first {
                    border-radius: rem(30) 0 0 rem(30);
                }
                &.quarter-picker__quarter_last {
                    border-radius: 0 rem(30) rem(30) 0;
                }

                &:hover, &:active, &.quarter-picker__quarter_active {
                    background-color: $color-primary;
                    opacity: 0.90;
                }

                &[disabled] {
                    background-color: $color-gray-lightest;
                    cursor: not-allowed;
                    color: $color-gray-light;
                    opacity: 0.90;
                }
            }
        }
    }
}
