.geo-entity-item {
    padding-top: pxToRem(15);
    &:first-child {
        padding-top: 0;
    }
    width: fit-content;
    .location-label {
        text-transform: uppercase;
        font-size: pxToRem(13);
        line-height: pxToRem(17);

    }
    @import "../../search/filters/location/dropdown";
    .geo-entity-dropdown {
        .active-selection {
            padding: pxToRem(4) pxToRem(10);

            .label {
                font-size: pxToRem(21);
                line-height: pxToRem(24);
                font-weight: 200;
            }

            .icon {
                width: pxToRem(14);
                height: pxToRem(14);
            }
        }

        .geo-entity-list {
            top: pxToRem(33);
        }
    }
}

@import "../../search/filters/location/warning";
