.download-user-selections {
  position: sticky;
  top: 100px;
  border: rem(2) solid $color-gray-lightest;
  border-radius: rem(8);
  padding: 0;
  background: $color-white;
  margin-top: rem(40);

  .header-bar {
    height: rem(7);
    width: 100%;
    background-color: $cyan-50v;
    border-radius: rem(8) rem(8) 0 0;
    margin-bottom: rem(16);
  }

  .download-user-selections__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(4);
    margin: rem(16) rem(24);
    
    .download-user-selections__title {
      display: flex;
      line-height: $heading-line-height;
      font-weight: $font-semibold;
      color: $gray-90;
      font-size: $h3-font-size;
      margin: 0;

      .title-icon {
        display: flex;
        padding: rem(4);
        align-items: center;
        gap: rem(10);
        border-radius: rem(4);
        background: $gray-5;
        align-items: center;
        justify-content: center;
        margin-right: rem(4);
        
        svg {
          width: rem(18);
          height: rem(18);
        }
      }
    }
    .download-user-selections__subtitle {
      margin: 0;
      padding-left: rem(30);
    }
  }

  .selection {
    color: $gray-90;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: rem(16) rem(24);

    .selection__heading {
      font-weight: $font-semibold;
    }
    .selection__content {
      font-weight: $font-normal;

      &.selection__content-required {
        color: $color-secondary;
      }
    }
  }

  @media (max-width: $tablet-screen) {
    margin: rem(20) auto;
  }

  @include media($x-large-screen) {
    margin: rem(40) auto;
  }
}
