{
  "presets": [
    ["env", {
        "targets": {
            "ie": 10
        }
    }],
    "react"
  ],
  "plugins": [
    ["module-resolver", {
        "root": ["src/js"]
    }],
    "transform-object-rest-spread"
  ]
}
