{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "ie": "10"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
        "root": ["src/js"]
    }],
    "react-hot-loader/babel"
  ]
}
