{
  "presets": [
    "es2015",
    "react",
    ["env", {
        "targets": {
            "node": "current"
        }
    }]
  ],
  "plugins": [
    ["module-resolver", {
        "root": ["src/js"]
    }]
  ]
}
