.usa-atd-animations {
    @import "../../lib/bourbon/bourbon";
    @import '../../lib/neat/neat';
    
    @import "../../core/variables";
    @import "../../core/utilities";

    @import "../../elements/buttons";
    @import "../../elements/typography";
    
    @import "./_animations";

    .usa-atd-wrapper {
        position: fixed;
        right: 0;
        top: 0;

        width: 310px;
        height: 100%;

        z-index: $z-guide;

        box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2);

        .atd-sidebar {
            background-color: $cyan-vivid-70;
            color: $color-white;
            font-size: rem(14);

            width: 100%;
            height: 100%;
            @import "./_header";
            @import "./_scrollbar";
        }
    }
}
