.download-summary-container{
    font-size: $base-font-size;
    color: $gray-90;
    max-height: 50vh;
    box-sizing: border-box; 
    overflow-y: auto; 
    margin-bottom: rem(12);

    .download-summary__heading {
        background-color: $blue-vivid-5v;
        padding: rem(8) rem(16);
        font-weight: $font-semibold;
        margin: 0;
        
    }

    table, th, td {
        border: none;
    }

    .download-summary__details-table {
        margin-top: 0;
        max-height: calc(100vh - 15%);
        overflow-y: auto; 

        tr {
            margin: 0;
            padding: 0;
        }

        th, td {
            padding: rem(8) rem(16);
            border-bottom: rem(1) solid $gray-10;
            line-height: $base-line-height;    
        }
        
        th {
            font-weight: $font-semibold;
            width: rem(198);
        }
        
        td {
            font-weight: $font-normal;         
            
            .read-more__preview-lines{
                margin: 0;
            }
            .readMoreUpdated__button {
                background-color: transparent;
                color: $theme-color-1;
                padding: 0;
            }
            
        }
    }
}