.search-section-new-download-modal {
    // override the modal widths
    width: 60%;
    border-radius: rem(12);
    min-width: rem(700);

}

.new-full-download-modal {
    @import "./_header";
    background-color: $color-white;
    border-radius: rem(12);
    .download-body {
        padding: rem(24);
    }

    @import "./_levelScreen";
}