.search-visualizations {
    position: relative;

    .visualization-tab-wrapper {
        position: absolute;
        top: 1px;
        height: rem(68);
    }

    .visualization-content-wrapper {
        position: absolute;
        top: rem(68);
        width: 100%;
    }
}
.visualization-tabs {
    @include unstyled-list;

    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    position: relative;
    background-color: $color-gray-lightest;

    .visualization-type-tab {
        @include button-unstyled;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        z-index: 2;

        height: rem(68);

        padding: rem(20) rem(30);

        
        background-color: transparent;

        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        margin-left: rem(5);

        transition: opacity 0.15s;
        opacity: 0.5;

        &.active {
            opacity: 1;
            background-color: $color-white;
            border: 1px solid $color-gray-lighter;
            border-bottom: 1px solid $color-white;

            // special boxshadow to not cast shadow below (since the tab is supposed to be
            // visually the same object as the rest of the visualization box)
            box-shadow: -2px 0 2px -2px $color-shadow, 2px 0 2px -3px $color-shadow;

            &:before, &:after {
                position: absolute;
                bottom: rem(-1);
                width: rem(5);
                height: rem(5);
                content: " ";
            }

            &:before {
                left: rem(-5);
                border-bottom-right-radius: rem(5);
                border-right: 1px solid $color-gray-lighter;
                border-bottom: 1px solid $color-gray-lighter;
                box-shadow: 1px 1px 0 1px $color-white;
            }

            &:after {
                right: rem(-5);
                border-bottom-left-radius: rem(5);
                border-left: 1px solid $color-gray-lighter;
                border-bottom: 1px solid $color-gray-lighter;
                box-shadow: -1px 1px 0 1px $color-white;
            }
        }

        &:active, &:hover {
            opacity: 1;
        }

        .icon {
            @include flex(0 0 auto)
            width: rem(25);
            height: rem(25);

            margin-right: rem(15);

            svg {
                fill: $color-gray;
                width: rem(25);
                height: rem(25);                
            }
        }

        .label {
            @include flex(1 1 auto);
            color: $color-gray;
            font-weight: $font-semibold;
            text-transform: uppercase;
            line-height: rem(18);
            letter-spacing: rem(2);
        }
    }

    li {
        &:first-child {
            .visualization-type-tab {
                margin-left: 0;
                &.active {
                    &:before {
                        // create a special box to cover the artifacts that result from where the
                        // content border and the tab border meet
                        width: rem(5);
                        height: rem(5);
                        border-radius: 0;
                        left: rem(-1);
                        bottom: rem(-5);
                        background-color: $color-white;
                        border: none;
                        box-shadow: none;
                        border-left: 1px solid $color-gray-lighter;
                    }
                }
            }
        }
    }
}