.tooltip-pointer {
    position: absolute;
    top: pxToRem(12);
    left: pxToRem(-9);
    &:after {
        content: "";
        position: absolute;
        width: pxToRem(16);
        height: pxToRem(16);
        background: #f0f0f0;
        border-bottom: 1px solid $color-tooltip-border;
        border-left: 1px solid $color-tooltip-border;
        transform: rotate(45deg);
        pointer-events: none;
    }
    &.right {
        left: auto;
        right: pxToRem(-9);
        &:after {
            transform: rotate(225deg);
        }
    }
    &.top,
    &.top-left,
    &.top-right {
        &:after {
            background: #f0f0f0;
        }
    }
    &.top {
        left: calc(50% - 8);
        top: pxToRem(-9);
        &:after {
            transform: rotate(135deg);
            background: #f0f0f0;
        }
    }
    &.top-left {
        left: pxToRem(-9);
        top: pxToRem(9);
        z-index: -1;
    }
    &.top-right {
        right: pxToRem(7);
        left: auto;
        top: pxToRem(9);
        &:after {
            transform: rotate(225deg);
        }
    }
    &.bottom-left,
    &.bottom-right {
        &:after {
            background: $color-white;
        }
    }
    &.bottom-left {
        left: pxToRem(-9);
        top: calc(100% - 32);
        z-index: -1;
        &:after {
            transform: rotate(45deg);
        }
    }
    &.bottom-right {
        right: pxToRem(8);
        left: auto;
        top: calc(100% - 32);
        z-index: -1;
        &:after {
            transform: rotate(225deg);
        }
    }
    &.bottom {
        top: pxToRem(-8);
    }
}
