.geo-entity-dropdown {
    position: relative;

    &.disabled {
        opacity: 0.4;
    }

    .active-selection {
        @include button-unstyled;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        width: 100%;
        height: 4rem;
        border: 1px solid $color-gray-lighter;
        padding: pxToRem(5);
        margin-top: pxToRem(5);

        .label {
            @include flex(1 1 auto);
            color: $color-gray;
            font-size: $small-font-size;
        }

        .icon {
            @include flex(0 0 auto);
            width: pxToRem(15);
            height: pxToRem(15);
            margin-right: pxToRem(10);

            svg {
                fill: $color-gray;
                color: $color-gray;
                width: pxToRem(15);
                height: pxToRem(15);
            }
        }

        &.placeholder {
            .label {
                color: $color-placeholder;
            }
        }
    }
    @import "./geo-entity-list";
}
