.usa-da-typeahead {
    margin-top: 2rem;

    p {
        color: $color-gray;
        font-size: $small-font-size;
        margin-top: 0;
        margin-bottom: .5rem;
    }

    input {
        font-size: $small-font-size;
        height: 4rem;
        margin: 0 auto;
        padding:  11px 8px 11px 8px;
        width: 90%;
    }

    .autocomplete ul {
        background-color: $color-white;
        border: 1px solid $color-gray-lighter;
        cursor: default;
        list-style-type: none;
        padding: 0;
        width: 90%;

        li {
            line-height: 2rem;
            font-size: $small-font-size;
            font-weight: normal;
            padding: 1rem 2rem;
            color: #555555;
            border-bottom: 1px solid $color-gray-lighter;
            margin-bottom: 0;
            width: 100%;
            vertical-align: middle;
            word-wrap: break-word;

            &:hover,
            &.hover,
            &[aria-selected="true"] {
                background-color: $color-primary-alt-lightest;
                cursor: pointer;
                color: #333;
                * {
                    color: $color-gray;
                }
                mark {
                    background-color: $color-gray-lighter;
                    color: $color-gray;
                }
            }


        }
    }

    .hide {
        display: none;
    }
}