.geo-entity-item {
    position: relative;
}

.geo-warning {
    position: absolute;
    width: 100%;
}

.warning-tooltip {
    position: absolute;
    top: pxToRem(20);
    width: 100%;
    z-index: $z-modal - 1;

    .warning-content {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: relative;

        background-color: $color-gold-lightest;
        border: 1px solid $color-gold-light;
        box-shadow: $box-shadow;

        padding: pxToRem(10);

        .icon {
            @include flex(0 0 auto);
            width: pxToRem(30);
            height: pxToRem(30);
            margin-right: pxToRem(10);

            svg {
                fill: $color-gold;
                width: pxToRem(30);
                height: pxToRem(30);
            }
        }

        .message {
            @include flex(1 1 auto);
            text-align: left;
            color: $color-base;
            font-size: $small-font-size;

            .field {
                font-weight: $font-semibold;
                text-transform: uppercase;
            }
        }

        // inherit from the standard tooltip arrow style
        $color-tooltip-border: $color-gold-light;
        @import "components/visualizations/tooltip/_arrow";
        .tooltip-pointer {
            &.top:after {
                background: $color-gold-lightest;
            }
        }
    }
}
