.location-filter {
    @import "elements/filters/_errorMessage";
    @import "elements/filters/_selectedFilterBtn";
    @import "mixins/selectedFilterWrap";
    @import "../_singleSubmit";
    @import "./_dropdown";
    @import "./_warning";
    @import "components/_filterTabs.scss";
    @import "elements/filters/_typeahead";

    padding: 0 $global-padding * 2 pxToRem(20);

    .location-description {
        font-size: $smallest-font-size;
        line-height: 1.5;
        padding: 0 ($global-padding / 2) $global-padding ($global-padding / 2);
    }

    .location-picker-divider {
        border: none;
        margin-left: pxToRem(5);
        margin-right: pxToRem(5);
    }

    .location-filter-form {
        padding: 0 pxToRem(5);

        .location-item {
            margin-top: pxToRem(15);

            &:first-child {
                margin-top: pxToRem(10);
            }
        }

        .location-item__with-overline {
            margin-top: pxToRem(10);
            &:last-child {
                margin-bottom: pxToRem(15);
            }
            .geo-entity-item {
                .location-label__with-tt {
                    .location-label {
                        text-transform: none !important;
                        font-size: $font-size-14;
                    }
                }
            }
        }

        .location-filter__link-container {
            margin-top: pxToRem(15);
            display: flex;
            height: pxToRem(20);
            justify-content: center;

            .button-type__text-left-icon-light {
                &:hover {
                    cursor: pointer;
                }
            }
            .location-filter__atd-link {
                align-items: center;
                display: flex;
                color: $theme-color-1;
                justify-content: center;
                margin: 0;
                &:hover {
                    color: $blue-vivid-70;
                }
                .location-filter__atd-info {
                    margin: 0 $global-margin 0 0;
                }

                .location-filter__atd-text {
                    font-size: $font-size-14;
                    font-weight: $font-semibold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .location-item__cd {
            @import "./_cdTooltip";
            display: flex;
            align-items: center;
            margin-top: pxToRem(15);

            &:first-child {
                margin-top: pxToRem(10);
            }

            &.disabled {
                opacity: 0.4;
            }

            .location-label__with-tt {
                display: flex;
                align-items: center;
                color: $color-gray;
                &.disabled {
                    opacity: 0.4;
                }

                .advanced-search__cd-tooltip {
                    white-space: normal;
                    display: unset;
                    text-transform: none !important;
                }
            }
        }

        .location-label {
            padding: pxToRem(5) 0;
            font-size: $base-font-size;
            text-transform: uppercase;

            &.disabled {
                opacity: 0.4;
            }
        }

        .location-label__overline {
            padding: pxToRem(5) 0;
            margin: pxToRem(10) pxToRem(5) pxToRem(5) 0;
            font-size: $font-size-14;

            &.disabled {
                opacity: 0.4;
            }
        }

        .geo-entity-dropdown_autocomplete {
            .autocomplete__input {
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
                position: relative;
                width: 100%;
                height: 4rem;
                margin-top: pxToRem(5);

                .geo-entity-dropdown__input {
                    height: 100%;
                    width: 100%;
                    font-size: $small-font-size;
                    border: 1px solid $color-gray-lighter;
                    padding: pxToRem(5);
                }

                .icon {
                    @include flex(0 0 auto);
                    position: absolute;
                    width: pxToRem(15);
                    height: pxToRem(15);
                    right: pxToRem(15);

                    svg {
                        color: $color-gray;
                    }

                    .usa-da-icon-exclamation-triangle {
                        fill: $color-gold;
                    }
                }
            }

            @import "./geo-entity-list";
        }

        .add-location {
            margin-top: pxToRem(15);
            width: 100%;
            cursor: pointer;

            &:disabled {
                background-color: $color-gray-lightest;
                border: 1px solid $color-gray-lighter;
                color: $color-gray-light;
                cursor: not-allowed;
            }
        }

        .zip-field {
            .zip-content {
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);

                &.disabled {
                    opacity: 0.4;
                }

                .zip-input {
                    @include flex(1 1 auto);
                    margin-right: pxToRem(4);
                    font-size: $small-font-size;
                    color: $color-base;
                    line-height: pxToRem(36);
                    height: pxToRem(40);

                    @include placeholder {
                        color: $color-placeholder;
                    }
                }

                .zip-submit {
                    @include flex(0 0 auto);
                    @include singleSubmit();
                }
            }
        }
    }

    .shown {
        min-height: pxToRem(18);
    }

    .visually-hidden {
        display: none;
    }

    .selected-filters {
        @include selected-filter-wrap;
    }

    .location-autocomplete {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: pxToRem(16);

        .usa-da-typeahead-wrapper {
            width: 100%;
            margin-right: pxToRem(4);
        }

        .submit-button {
            @import "dtui-overrides";
            @include new-search-button;
        }

        .autocomplete-md {
            font-size: $smallest-font-size;
            &:disabled {
                opacity: 0.5;
            }
        }

        ul.autocomplete li {
            padding: pxToRem(4) pxToRem(12);

            &:hover,
            &.hover {
                background-color: $gray-cool-3;
            }

            &[aria-selected="true"] {
                background-color: $gray-cool-5;

                &:hover,
                &.hover {
                    background-color: $gray-cool-10;
                }
            }

            span {
                font-weight: $font-normal;
                color: $gray-90;
                font-size: $font-size-12;
            }

            &.autocomplete-heading {
                font-size: $font-size-10;
                font-weight: $font-semibold;
                line-height: 1.5;
                text-align: left;
                color: $gray-60;
                text-transform: uppercase;
                padding-top: pxToRem(12);
                &:first-child {
                    padding-top: pxToRem(8);
                }
            }
        }
    }

    .location-checkbox {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: $global-padding 0;
        margin-top: $global-margin;

        &__label {
            margin-left: $global-margin / 2;
            font-size: $smallest-font-size;
            line-height: 1.5;

            &.disabled {
                opacity: 0.5;
            }
        }
    }
}
