.location-filter {

    @import './_errorMessage';

    .location-radio {
        p {
            font-size: $small-font-size;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .shown {
        height: 18rem;
    }

    .visually-hidden {
        display: none;
    }

    .usa-da-typeahead {
        margin-top: 2rem;

        input {
            font-size: $small-font-size;
            height: 4rem;
            margin: 0 auto;
            padding:  11px 8px 11px 8px;
            width: 90%;
        }
    }

}