.status-of-funds__visualization {
    .status-of-funds__controls {
        display: flex;
        @media(min-width: $medium-screen) {
            justify-content: end;
        }
    }
    .usa-dt-pagination__totals {
        @media(min-width: $large-screen) {
            margin-left: rem(32);
        }
    }
    .drilldown-back-button {
        @media(max-width: $medium-screen) {
            margin-top: 3rem;
        }
        @media(min-width: $large-screen) {
            margin-left: rem(32);
        }
        margin-bottom: 2rem;
        font-size: rem(16);
        padding: 0;
        border: none;
        background: none;
        color: $color-primary;
    }
    .status-of-funds__visualization-chart {
        @media(min-width: $large-screen) {
            margin-left: rem(20);
        }
        svg {
            height: 100% !important;
            width: 100% !important;
        }
        .parent-g { visibility: hidden; rect#hlines { fill-opacity: 0; }}
        .parent-g > * { visibility: visible; rect#hlines { fill-opacity: 0; }}
        .parent-g > * { transition: opacity 150ms ease-in-out 100ms; }
        .parent-g:hover > * { opacity: 0.4; }
        .parent-g > *:hover { cursor: pointer; opacity: 1; transition-delay: 0ms, 0ms; rect#hlines { filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1)); fill-opacity: 1; stroke: 1px }}

        text.y-axis-labels {
            font-size: rem(20);
            @media(max-width: 1499px) {
                font-size: rem(23);
            }
            @media(max-width: 1199px) {
                font-size: rem(30);
            }
            @media(max-width: $medium-screen) {
                font-size: rem(28);
            }
            @media(max-width: 599px) {
                font-size: rem(40);
            }
            @media(max-width: 350px) {
                font-size: rem(44);
            }
        }
    }
    h6 {
        font-size: rem(20);
        font-weight: $font-normal;
        color: $color-grayblack;
        @media(min-width: $medium-screen) {
            margin-top: 0;
        }
        @media(min-width: $large-screen) {
            margin-left: rem(32);
        }
    }
    .tickLines-vertical {
        line {
            stroke: $color-gray-lightest;
        }
        .tick:first-of-type {
            line {
                stroke: none;
                fill: none;
            }
        }
    }
}
