/* Section Headings */
$dictionary-green: #d8e4bc;
$dictionary-purple: #d5d3ea;
$dictionary-teal: #b7dee8;
$dictionary-orange: #fde9d9;

/* Column Headings */
$dictionary-green-light: #e4ecd0;
$dictionary-purple-light: #eceaf5;
$dictionary-teal-light: #dbeef3;
$dictionary-orange-light: #fef0e5;

/* Table Cells */
$dictionary-green-lighter: #f8faf2;
$dictionary-purple-lighter: #f7f4fa;
$dictionary-teal-lighter: #f1f9fb;
$dictionary-orange-lighter: #fffbf8;

/* Highlighted Cells */
$dictionary-yellow-light: #fffbd6;
$dictionary-yellow: #fff694;

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.dictionary-table {
    .dictionary-table__above-scroller-hidden {
        display: none;
    }

    .dictionary-table__above-scroller {
        overflow-x: scroll;
        height: rem(20);
    }

    .dictionary-table__scroller {
        height: rem(7);
    }

    .dictionary-table__container {
        height: auto;

        .dictionary-table__headers {
            overflow: hidden;
            width: 100%;

            .dictionary-table__headers-table {
                margin: 0;
                table-layout: fixed;

                th {
                    min-width: rem(300);
                }
            }

            .dictionary-table__headers-row {
                border: none;

                .dictionary-table__head-cell {
                    border: solid rem(3) $color-white;
                    padding: rem(10);
                    &.dictionary-table__head-cell_first {
                        border-left: 0;
                    }
                    &.dictionary-table__head-cell_last {
                        border-right: 0;
                    }

                    @import "./_header";
                    @import "./_sorter";
                }
            }
        }

        .dictionary-table__content-table {
            margin: 0;
            table-layout: fixed;
            td {
                min-width: rem(300);
            }
        }

        .dictionary-table__content {
            overflow-x: scroll;
            max-height: rem(870);
        }

        .dictionary-table__content-body {
            border: none;
            margin-top: 0;
            width: 100%;

            .dictionary-table__body-row {
                .dictionary-table__body-cell {
                    border: solid rem(3) $color-white;
                    padding: rem(10);
                    vertical-align: top;
                    max-width: rem(300);
                    word-wrap: break-word;
                    &.dictionary-table__body-cell_first {
                        border-left: 0;
                    }
                    &.dictionary-table__body-cell_last {
                        border-right: 0;
                    }
                    &.dictionary-table__body-cell_highlight-cell {
                        background-color: $dictionary-yellow;
                    }
                    &.dictionary-table__body-cell_message {
                        font-weight: $font-light;
                    }
                    .read-more-button {
                        @include button-link;
                    }
                    p {
                        margin: 0;
                        white-space: pre-line;
                    }
                }
            }
        }
        // Set the colors of each section
        .section-0 {
            background-color: $dictionary-green;
        }
        .section-1 {
            background-color: $dictionary-teal;
        }
        .section-2 {
            background-color: $dictionary-purple;
        }
        .section-3 {
            background-color: $dictionary-orange;
        }

        .section-0-col {
            background-color: $dictionary-green-light;
        }
        .section-1-col {
            background-color: $dictionary-teal-light;
        }
        .section-2-col {
            background-color: $dictionary-purple-light;
        }
        .section-3-col {
            background-color: $dictionary-orange-light;
        }

        .section-0-cell {
            background-color: $dictionary-green-lighter;
        }
        .section-1-cell {
            background-color: $dictionary-teal-lighter;
        }
        .section-2-cell {
            background-color: $dictionary-purple-lighter;
        }
        .section-3-cell {
            background-color: $dictionary-orange-lighter;
        }
    }
}
