.usa-da-data-dictionary-page {
	@import 'all';
	@import 'layouts/default/default';
	@import 'layouts/default/stickyHeader/header';

	#main-content {
		@import '../../mixins/fullSectionWrap';
		@import '../../components/pageLoading';
		@include fullSectionWrap(($global-mrg * 2), ($global-mrg * 2));

		background-color: $color-white;
		box-shadow: $container-shadow;
		border-top: 1px solid $color-gray-border;
		border-right: 1px solid $color-gray-border;
		border-bottom: 1px solid $color-gray-border;
		padding: rem(30) rem(20);

		.data-dictionary {
			@include media($medium-screen) {
				padding: 0 rem(30);
			}
			.data-dictionary__title {
				margin-top: 0;
				font-weight: 400;
			}
			.data-dictionary__intro {
				font-size: $small-font-size;
			}
			.data-dictionary__search-download {
				@include display(flex);
				@include justify-content(space-between);
				.usa-dt-search-bar { // override component library styles
					@include flex(1 1 auto);
					max-width: 60%;
					margin: 0;
				}
			}
			.data-dictionary__download {
				@include align-self(center);
				padding-bottom: rem(5);
				.data-dictionary__download-link {
					@include display(flex);
					@include align-items(center);
					.data-dictionary__download-icon {
						@include display(flex);
						@include flex(0 0 auto);
						height: rem(15);
						width: rem(15);
						padding-right: rem(5);
					}
					font-size: $small-font-size;
				}
			}

			.data-dictionary__table-wrapper {
				@import './_dictionaryTable';
			}
		}
	}
}
