.mobile-dropdown__layout-container {
    display: flex;
    flex-direction: column;
    margin: rem(16) rem(0);
    padding: rem(0) rem(32);
    @media (max-width: $tablet-screen) {
        padding: rem(0) rem(16);
    }
    hr {
        width: 100%;
        height: rem(2);
        color: $gray-cool-10;
        margin-right: rem(16);
    }
    .mobile-dropdown__section {
        padding-left: rem(26);
    }
    .mobile-dropdown__section-three {
        padding-left: rem(8);
    }
    .mobile-dropdown_parent-title{
        font-size: $font-size-16;
        font-weight: $font-semibold;
        color: $gray-90;
        padding: 24px 0px;
    }
    .mobile-dropdown__title {
        font-size: $font-size-14;
        color: $gray-90;
    }
    .mobile-dropdown__title-section-two {
        font-size: $font-size-14;
        margin-bottom: 4px;
        color: $gray-90;
        padding-left: rem(8);
    }

    .mobile-dropdown__sub {
        font-size: $font-size-12;
        color: $gray-60;
    }
    .mobile-dropdown__sub-two {
        font-size: $font-size-12;
        color: $gray-60;
        padding-left: rem(26);
    }

    .mobile-dropdown__section-container {
        ul {
            list-style: none;
            padding-left: rem(0);
        }
        hr {
            height: rem(2);
            color: $gray-cool-5;
            margin: rem(24) rem(0);
        }
        .mobile-dropdown__section-row-one {
            display: flex;
            flex-direction: row;

            .mobile-dropdown__section-icon {
                color: $blue-warm-60;
                background-color: $blue-warm-5;
                width: rem(18);
                height: rem(18);
                border-radius: rem(4);
                .svg {
                    margin-top: $global-margin * .5;
                    margin-left: $global-margin * .5;
                }
            }
            .mobile-dropdown__section-label {
                font-size: $font-size-16;
                font-weight: $font-semibold;
                color: $gray-90;
            }
        }
        .mobile-dropdown__section-description {
            font-size: $font-size-12;
            color: $gray-60;
        }
        .mobile-dropdown__section-one-description {
            font-size: $font-size-12;
            color: $gray-60;
            padding-left: rem(22);
        }
    }
    .mobile-dropdown_main-container {
        display: flex;
        padding-right: rem(8);
    }
    .mobile-dropdown__section-icon {
        color: $blue-warm-60;
        background-color: $blue-warm-5;
        width: rem(18);
        height: rem(18);
        border-radius: rem(4);
        .svg {
            margin-top: $global-margin * .5;
            margin-left: $global-margin * .5;
        }
    }
    a.mobile-dropdown__link {
        font-size: rem(24);
        line-height: rem(28);
        color: $color-base;
        text-decoration: none;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
    
        &:hover, &:active, &.mobile-dropdown__link_active {
            text-decoration: none;
        }
    }
}

