.mobile-dropdown {
    @import "../_comingSoon";
    button.mobile-dropdown__parent {
        @include button-unstyled;
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        position: relative;
        color: $gray-90;
        font-size: $font-size-16;
        line-height: rem(36);
        font-weight: $font-semibold;
        width: 100%;
        padding-right: rem(8);
        &:active, &:hover {
            opacity: 1;
        }

        .mobile-dropdown__parent-label {
            display: flex;
            text-align: left;
            @import "components/_newBadge.scss";
        }

        .mobile-dropdown__parent-icon {
            @include flex(0 0 auto);
            display: contents;
            color: $blue-50;
            margin-left: auto;
            width: rem(16);
            height: rem(16);
            object-fit: contain;

            svg {
                width: rem(6);
                height: rem(9.8);
                fill: $blue-50;
            }
        }
    }
    .mobile-dropdown_main-container {
        display: flex;
        padding-right: rem(8);
    }
    .mobile-dropdown__section-icon {
        color: $blue-warm-60;
        background-color: $blue-warm-5;
        width: rem(20);
        height: rem(20);
    }

    .mobile-dropdown__layout-container {
        display: flex;
        flex-direction: column;

        .mobile-dropdown__title {
            font-size: $font-size-14;
            color: $gray-90;
        }
        .mobile-dropdown__title-section-two {
            font-size: $font-size-14;
            color: $gray-90;
            padding-left: rem(8);
        }

        .mobile-dropdown__sub {
            font-size: $font-size-12;
            color: $gray-60;
        }
        .mobile-dropdown__sub-two {
            font-size: $font-size-12;
            color: $gray-60;
            padding-left: rem(28);
        }

        .mobile-dropdown__section-container {
            ul {
                list-style: none;
                padding-left: rem(0);
            }
            hr {
                height: rem(2);
                color: $gray-cool-5;
                margin: rem(24) rem(0);
            }
            .mobile-dropdown__section-row-one {
                display: flex;
                flex-direction: row;

                .mobile-dropdown__section-icon {
                    color: $blue-warm-60;
                    background-color: $blue-warm-5;
                    width: rem(20);
                    height: rem(20);
                }
                .mobile-dropdown__section-label {
                    padding-left: rem(8);
                    font-size: $font-size-16;
                    font-weight: $font-semibold;
                    color: $gray-90;
                }
                .mobile-dropdown__section-label-section-two {
                    padding-left: rem(26);
                    font-size: $font-size-16;
                    font-weight: $font-semibold;
                    color: $gray-90;
                }
            }
            .mobile-dropdown__section-description {
                padding-left: rem(28);
                font-size: $font-size-12;
            }
            .mobile-dropdown__section-description-two {
                padding-left: rem(8);
                font-size: $font-size-12;
            }
        }
    }

    ul.mobile-dropdown__list {
        padding-left: 0;
        &.mobile-dropdown__list_hide {
            display: none;
        }

        li.mobile-dropdown__item {
            margin-top: rem(10);
            margin-bottom: rem(10);

            &.mobile-dropdown__item_coming-soon {
                opacity: 0.4;
                pointer-events: none;
            }
        }
        @import "../../../../../components/newBadge";
    }

    .mobile-dropdown__coming-soon {
        display: block;
        width: rem(150);
        margin-left: auto;
        margin-right: auto;
    }

    a.mobile-dropdown__link {
        font-size: rem(24);
        line-height: rem(28);
        color: $color-base;
        text-decoration: none;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);

        &:hover, &:active, &.mobile-dropdown__link_active {
            text-decoration: none;
        }
    }

    button.mobile-dropdown__link {
        @include button-unstyled;
        font-size: rem(24);
        line-height: rem(28);
        color: $color-base;
    }
}
