.nav-content {
    ul {
        @include unstyled-list;

        li {
            text-align: center;

            a.nav-link {
                color: $color-gray;
                font-size: rem(30);
                line-height: rem(36);
                opacity: 0.6;

                &:active, &:hover {
                    text-decoration: none;
                    opacity: 1;
                }
            }

            button.nav-button {
                @include button-unstyled;
                color: $color-gray;
                font-size: rem(30);
                line-height: rem(36);
                opacity: 0.6;
            }

            .nav-link-decorator {
                border-bottom: 2px solid $color-gray;
                width: rem(50);
                margin-left: auto;
                margin-right: auto;
                margin-top: rem(20);
                margin-bottom: rem(20);
                opacity: 0.6;
            }

            @import "./_profiles";
        }
    }
}