.mobile-nav__top .usa-banner {
    margin-left: 0px !important;
    .usa-banner__inner {
        display: flex;
        justify-content: space-between;
        margin-top: rem(0);
        margin-left: rem(16);
        @media (min-width: $tablet-screen) {
            margin-left: rem(32);
        }
    }
}
.usa-banner__header-text-wrapper{
    margin-top: rem(4);
}
.usa-banner__wrapper  {
    background-color: $theme-color-background;
    color: $gray-90;
    min-height: 24px;
    width: 100%;
}
.mobile-nav-header {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include align-items(center);

    margin: rem(0) rem(16);
    @media (min-width: $tablet-screen) {
        margin: rem(0) rem(32);
}
    .mobile-nav_back-button-container {
        display: flex;
        color: #2378c3;
        background-color: $color-white;
        padding-top: rem(23);
        &:hover {
            cursor: pointer;
        }
        .mobile-nav_back-button{
            padding-left: rem(2);
            font-size: $font-size-14;
            font-weight: $font-semibold;
            object-fit: contain;
            margin: 1px 4px 1px 0;
        }
        .mobile-nav_back-button-icon {
            width: rem(16);
            height: rem(16);
            line-height: 1.29;
            svg {
                width: 6px;
            }
        }
    }

    .mobile-nav-header__logo {
        @include flex(0 1 auto);
        position: relative;
    }

    .mobile-nav-header__close {
        @include flex(0 0 auto);
        position: relative;
        height: rem(26);
        width: rem(26);
        color: $gray-cool-90;
        .mobile-nav-header__close-button {
            @include button-unstyled;
            height: rem(26);
            width: rem(26);
            svg {
                height: rem(16);
                width: rem(16);
                color: $gray-cool-90;
            }
        }
        .mobile-nav-header__close-button-section {
            margin-top: rem(12) !important;
            @include button-unstyled;
            height: rem(26);
            width: rem(26);
            svg {
                height: rem(16);
                width: rem(16);
                color: $gray-cool-90;
            }
        }

    }

    @import "../_logo";
}

.mobile-dropdown {
    button.mobile-dropdown__parent {
        @include button-unstyled;
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        position: relative;
        color: $gray-90;
        font-size: $font-size-16;
        line-height: 1.25;
        font-weight: $font-semibold;
        width: 100%;
        padding-right: rem(8);
        &:active, &:hover {
            opacity: 1;
        }

        .mobile-dropdown__parent-label {
            display: flex;
            text-align: left;
            @import "components/_newBadge.scss";
        }

        .mobile-dropdown__parent-icon {
            @include flex(0 0 auto);
            display: contents;
            color: $blue-50;
            margin-left: auto;
            width: rem(20);
            height: rem(20);
            object-fit: contain;
            background-color: $blue-warm-5;
            svg {
                width: rem(6);
                height: rem(9.8);
                fill: $blue-50;
            }
        }
    }
}
