.mobile-menu {
    @include flex(1 0 auto);
    position: relative;
    height: rem(45);
    width: rem(45);
    @include media($medium-screen) {
        display: none;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-mobile-nav;

    overflow-y: auto;

    background-color: $color-gray-lightest;

    @import "./_top";
    @import "./_nav";
}

@import "./_animations";