// slide in animation
@keyframes slidein {
    0% {
        transform: translate(300px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideout {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(300px, 0);
    }
}  

.guide-slide-enter, .guide-slide-enter-active {
    @include animation(slidein 0.5s ease-in forwards);
}

.guide-slide-leave, .guide-slide-leave-active {
    @include animation(slideout 0.5s ease-in forwards);
}