.agency-recipient {
    @include flex(1 1 auto);
    padding-right: rem(10);
    @include media($medium-screen) {
        @include flex(0 0 50%);
    }
    .agency-recipient__wrapper {
        @include display(flex);

        .agency-recipient__awarding {
            background-color: #F5FBFC;
            min-height: rem(134);
            padding: rem(11) 0 0 rem(13);
            width: 50%;
            position: relative;
            word-wrap: break-word;
        }

        .agency-recipient__awarding:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-top: rem(65) solid transparent;
            border-left: rem(20) solid #F5FBFC;
            border-bottom: rem(65) solid transparent;
            margin-right: rem(-20);
        }

        .agency-recipient__detail {
            font-size: rem(16);
            color: $color-primary;
            text-transform: uppercase;
            font-weight: $font-semibold;
            line-height: 1.13;
        }

        .agency-recipient__recipient {
            height: rem(134);
            padding: rem(11) 0 0 rem(60);
        }
    }

    .agency-recipient__awarding-icon {
        cursor: pointer;
        padding-right: rem(5);
        svg {
            width: rem(10);
            height: rem(10);
            fill: #4975AB;
        }
    }

    .agency-recipient__awarding-info {
        color: $color-primary;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-weight: $font-normal;
    }
}