.agency-recipient {
    // @include flex(1 1 auto);
    padding-right: rem(10);
    // @include media($medium-screen) {
    //     @include flex(0 0 50%);
    // }
    
    .agency-recipient__wrapper {
        @include display(flex);
        .agency-recipient__awarding {
          @include flex(0 0 50%);
        }
        .agency-recipient__recipient {
          @include flex(0 0 50%);
        }
        .agency-recipient__detail {
            font-size: rem(16);
            color: $color-primary;
            text-transform: uppercase;
            font-weight: $font-semibold;
            line-height: 1.13;
        }
    }

    .agency-recipient__awarding-icon {
        cursor: pointer;
        padding-right: rem(5);
        svg {
            width: rem(10);
            height: rem(10);
            fill: #4975AB;
        }
    }

    .agency-recipient__awarding-info {
        color: $color-primary;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-weight: $font-normal;
    }
}
