.award-overview__left-section {
    &.award__col {
      padding-bottom: 0;
    }
    @include display(flex);
    @include flex-wrap(wrap);
    @include media($tablet-screen) {
      @include flex-wrap(nowrap);
    }
    .award-overview__left-section__detail {
        // font-size: rem(16);
        // color: $color-primary;
        // text-transform: uppercase;
        margin-top: 0;
        font-weight: $font-semibold;
        // line-height: 1.13;
    }
}
