.award-dates {
    @include flex(1 1 auto);
    padding-left: rem(10);
    @include media($medium-screen) {
        @include flex(0 0 25%);
    }
    .award-dates__heading {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(flex-end);
        padding-bottom: rem(11);
        .award-dates__title {
            @include display(flex);
            @include flex(0 0 auto);
            padding-bottom: 0;
        }
        .award-dates__remaining {
            @include display(flex);
            @include flex(0 0 auto);
            font-size: rem(12);
            text-transform: uppercase;
            font-weight: $font-normal;
            padding-left: rem(4);
            &.award-dates__remaining_label {
                font-weight: $font-light;
                padding-left: rem(4);
            }
        }
    }
    .award-dates__row {
        font-weight: $font-light;
        @include display(flex);
        @include justify-content(space-between);
        .award-dates__date {
            padding-left: rem(10);
        }
    }
    .timeline {
        width: 100%;
        margin: rem(10) 0;
        @include display(flex);
        height: rem(3);
        background-color: $color-gray-lighter;
        position: relative;

        .timeline__wrapper {
            height: rem(3);
            background-color: $color-gray;
        }
        .timeline__today {
            height: rem(3);
            position: absolute;
            text-transform: uppercase;
            top: rem(-11);
            font-size: rem(8);
        }
        .timeline__today-line {
            position: absolute;
            border: solid rem(1) $color-gray;
            height: rem(13);
            top: rem(-10);
        }
    }
}
