.idv-dates {
    .idv-dates__heading {
        font-size: rem(14);
        font-weight: $font-semibold;
    }
    .idv-dates__row {
        font-weight: $font-light;
        @include display(flex);
        @include justify-content(space-between);
        .idv-dates__date {
            padding-left: rem(10);
        }
    }
}