.related-awards {
    .related-awards__title {
        @include display(flex);
        .award__info-wrapper {
            width: fit-content;
            @include display(flex);
            @include flex(0 0 auto);
        }
    }
    .related-awards__label {
        font-weight: $font-light;
        padding-bottom: rem(5);
        &.related-awards__label_count {
            padding-top: rem(10);
        }
    }
    .award-viz__button {
        padding: rem(5) 0;
    }
}