.award-overview {
    .award-overview__title {
        font-size: rem(14);
        font-weight: $font-semibold;
        padding: rem(11) 0;
    }

    // Layout
    @include display(flex);
    .agency-recipient {
        @include flex(1 1 auto);
        padding-right: rem(10);
        @include media($medium-screen) {
            @include flex(0 0 50%);
        }
    }
    .related-awards {
        @include flex(1 1 auto);
        padding: 0 rem(10);
        @include media($medium-screen) {
            @include flex(0 0 25%);
        }
    }
    .award-dates {
        @include flex(1 1 auto);
        padding-left: rem(10);
        @include media($medium-screen) {
            @include flex(0 0 25%);
        }
    }

    @import "./agencyRecipient";
    @import "./relatedAwards";
    @import "./awardDates";
}
