.award-overview {
    $padding-top: rem(11);
    // Layout
    @include display(flex);
    .award__col {
        @include flex(0 0 50%);
        @include media($medium-screen) {
            @include flex(0 0 25%);
        }
        &:last-child {
            padding-top: 0;
        }
        min-width: 0;
        hr {
            display: none;
        }
        // header
        .award-viz__heading {
            @include display(flex);
            @include align-items(center);
            padding-top: $padding-top;
            .award-viz__icon {
                padding-right: 10px;
            }
        }
        // aligning the headers of the overview section together
        .award-overview__title,
        .award-dates,
        .related-awards,
        .award-viz__heading .award-viz__title,
        .agency-recipient__title {
            font-size: rem(16);
            font-weight: $font-semibold;
            padding: rem(11) 0;
            line-height: normal;
            margin: 0;
        }
        // body
        .award-overview__body {
            @include flex(1 1 auto);
            padding: 0 rem(10);
            @include media($medium-screen) {
                @include flex(0 0 25%);
            }
        }
        .award-overview__cfda {
            padding: 0;
            span {
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }

    // custom styles for each sub-section in overview section
    @import "./agencyRecipient";
    @import "./relatedAwards";
    @import "./awardDates";
}
