.award-overview {
    // Layout
    @include display(flex);
    .award__col {
        @include flex(0 0 25%);
        min-width: 0;
        hr {
            display: none;
        }
        // header
        .award-viz__heading {
            @include display(flex);
            @include align-items(center);
            .award-viz__icon {
                padding-right: 10px;
            }
        }
        // not all sub-sections are using AwardSectionHeader yet
        .award-overview__title,
        .award-viz__heading .award-viz__title {
            font-size: rem(14);
            font-weight: $font-semibold;
            padding: rem(11) 0;
            line-height: normal;
            margin: 0;
        }
        // body
        .award-overview__body {
            @include flex(1 1 auto);
            padding: 0 rem(10);
            @include media($medium-screen) {
                @include flex(0 0 25%);
            }
        }
    }

    // custom styles for each sub-section in overview section
    @import "./agencyRecipient";
    @import "./relatedAwards";
    @import "./awardDates";
    @import "./cfda";
}
