ul.viz-container.bar-chart {
    @include display(flex);
    @include justify-content(center);
    @include align-items(flex-end);
    @include align-self(center);
    margin: 0;
    width: 100%;

    .bar-chart__tooltip-wrapper {
        width: 15%;
        margin: 0 2%;
        .tooltip {
            // Don't show the tooltip in mobile
            display: none;
        }
        >div {
            width: 100%;
        }
        @include media($medium-screen) {
            width: rem(35);
            margin: 0 rem(2.5);
            &:hover {
                cursor: pointer;
            }
            .tooltip {
                display: block;
            }
        }
        .tooltip-pointer {
            &.left {
                left: rem(-16);
            }
        }
        .tooltip__content {
            width: rem(300);
        }
        .bar-chart-tooltip {
            .tooltip__text {
                font-weight: $font-semibold;
                .bar-chart-tooltip__desc {
                    font-size: rem(18);
                }
                .bar-chart-tooltip__amount {
                    font-size: rem(24);
                }
            }
        }
    }

    li.bar-chart__bar {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-end);
        @include align-items(center);
        height: rem(208);
        span {
            width: 100%;
        }
        span:nth-of-type(1) {
            background: $color-grass-lighter;
            &.active-fy {
                background-color: $color-grass-light;
            }
            
        }
        span:nth-of-type(2) {
            font-size: rem(14);
        }
    }
}
