.viz-container.bar-chart {
    @include display(flex);
    @include justify-content(center);
    @include align-items(flex-end);
    @include align-self(center);
    margin: 0;
    width: 100%;

    .bar-chart__item {
        width: 15%;
        margin: 0 2%;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-end);
        @include align-items(center);
        height: rem(208);
        @include media($medium-screen) {
            width: rem(35);
            margin: 0 rem(2.5);
        }
        .bar-chart__tooltip-wrapper {
            height: 100%;
            width: 100%;
            .tooltip {
                // Don't show the tooltip in mobile
                display: none;
            }
            >div {
                width: 100%;
            }    
            @include media($medium-screen) {
                &:hover {
                    cursor: pointer;
                }
                .tooltip {
                    display: block;
                }
            }
            .tooltip-pointer {
                &.left {
                    left: rem(-16);
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        // IE only
                        left: rem(-8);
                    }
                }
            }
            .tooltip__content {
                width: rem(300);
            }
            .bar-chart-tooltip {
                .tooltip__text {
                    font-weight: $font-semibold;
                    .bar-chart-tooltip__desc {
                        font-size: rem(18);
                    }
                    .bar-chart-tooltip__amount {
                        font-size: rem(24);
                    }
                }
            }
            .tooltip__hover-wrapper {
                height: 100%;
                width: 100%;
                @include display(flex);
                @include align-items(flex-end);
                .bar-chart__bar {
                    width: 100%;
                    background: $color-grass-lighter;
                    @include media($medium-screen) {
                        &:hover {
                            background-color: $color-grass-light;
                        }
                    }
                    &.bar-chart__bar_active {
                        background-color: $color-grass-light;
                    }
                }
            }
        }
        .bar-chart__label {
            font-size: rem(14);
            &.bar-chart__label_active {
                font-weight: $font-semibold;
            }
        }
    }
}
