.agency-overview {
    @import './fySummary';
    width: 100%; // fix for IE
    .agency-overview__row {
        @include display(flex);
        padding-left: 6.4rem;
        padding-right: 6.4rem;
        .agency-overview__column {
            padding-right: rem(20);
            &:first-of-type {
                @include flex(1 1 50%);
            }
            &:last-of-type {
                padding-right: 0;
                @include flex(1 1 33%);
            }
        }
    }
    .agency-overview__data {
        padding-bottom: 1.6rem;
        font-size: $small-font-size;
        h4 {
            font-weight: $font-semibold;
            margin: 0 0 0.8rem;
            font-size: 1.6rem;
            line-height: normal;
        }
        p {
            margin: 0;
        }
        a {
            white-space: nowrap;
        }
    }
    .read-more-button {
        @include button-link;
        margin-top: 0.5rem;
    }
    @import '../visualizations/totalObligationsOverTime';
    @import '../visualizations/recipientDistribution';
}
