.visualization-section {
    text-align: center;
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);    
    .visualization-section__subtitle {
        padding-bottom: rem(8);
    }
    .visualization-section__data {
        font-size: rem(27);
        font-weight: $font-semibold;
        line-height: rem(34);
        padding-bottom: rem(5);
    }
    .visualization-section__secondary-data {
        font-size: $small-font-size;
        padding-bottom: rem(12);
    }
    .visualization-section__viz-wrapper {
        height: rem(208);
        @include display(flex);
        @include justify-content(center);
        .usda-message_loading,
        .usda-message {
            padding: rem(40) 0;
            margin-bottom: 0;
            width: 100%;
            height: 100%;
            &.usda-message_loading .usda-loading-animation__container {
                margin-top: 0;
                .loading-message {
                    font-size: rem(18);
                }
            }
        }
    }
    .visualization-section__label {
        padding-top: rem(15);
    }
    @include media($medium-screen) {
        // Desktop
        .visualization-section__data {
            font-size: rem(30);
            line-height: rem(38);
            padding-bottom: rem(10);
        }
    }

    @import '../visualizations/barChart';
    @import '../visualizations/totalObligationsOverTime';
    @import '../visualizations/obligationsByAwardType';
}
