.visualization-section {
    text-align: center;
    height: 100%;
    @supports not (-ms-high-contrast: none) {
        // Non-IE styles
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(space-between);
    }
    .visualization-section__subtitle {
        padding-bottom: rem(8);
    }
    .visualization-section__data {
        font-size: rem(27);
        font-weight: $font-semibold;
        line-height: rem(34);
        padding-bottom: rem(5);
    }
    .visualization-section__secondary-data {
        font-size: $small-font-size;
        padding-bottom: rem(12);
    }
    .visualization-section__label {
        padding-top: rem(15);
    }
    @include media($medium-screen) {
        // Desktop
        .visualization-section__data {
            font-size: rem(30);
            line-height: rem(38);
            padding-bottom: rem(10);
        }
    }
}