.visualization-section {
    text-align: center;
    height: 100%;
    .visualization-section__subtitle {
        padding-bottom: rem(8);
    }
    .visualization-section__data {
        font-size: rem(27);
        font-weight: $font-semibold;
        line-height: rem(34);
        padding-bottom: rem(5);
    }
    .visualization-section__secondary-data {
        font-size: $small-font-size;
        padding-bottom: rem(12);
    }
    .visualization-section__viz-wrapper {
        height: rem(208);
        @include display(flex);
        @include align-items(center);
        /* TODO - remove placeholder styling once all four
        visualizations are implemented */
        .viz-placeholder {
            padding: rem(40) 0;
        }
    }
    .visualization-section__label {
        padding-top: rem(15);
    }
    @include media($medium-screen) {
        // Desktop
        .visualization-section__data {
            font-size: rem(30);
            line-height: rem(38);
            padding-bottom: rem(10);
        }
    }
}