.filter-group-container {
  display: inline-block;
  margin-top: 10px;

  .filter-group {
    display: block;
    padding: 5px 0px;

    .filter-group-top {
      @include clearfix;
      margin-right: $global-margin;

      .filter-name {
        float: left;

        font-size: $smallest-font-size;
        line-height: rem(13);
        color: $top-text-color;
        font-weight: $font-semibold;
        text-transform: uppercase;
      }

      .filter-group-close {
        display: none;
      }
    }

    .filter-group-bottom {
      @import "./_tag";
    }
  }
}
