.filter-group-container {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;

    .filter-group {
        display: block;
        padding: 5px 0px;

        .filter-group-top {
            @include clearfix;

            .filter-name {
                float: left;

                font-size: $smallest-font-size;
                line-height: rem(13);
                color: $top-text-color;
                font-weight: $font-semibold;
                text-transform: uppercase;
            }

            .filter-group-close {
                float: right;
                margin-left: 20px;

                button {
                    @include button-unstyled();

                    width: 12px;
                    height: 16px;
                    
                    .close-icon {
                        svg {
                            height: 10px;
                            width: 10px;
                            fill: $top-clear-button-color;
                        }
                    }
                }
            }
        }

        .filter-group-bottom {
            @import "./_tag";
        }
    }
}
