.filter-item-container {
    display: inline-block;
    vertical-align: middle;
    
    .filter-item {
        display: table;

        margin-left: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        background-color: $color-white;
        padding: 8px;

        border: 1px solid $color-gray-light;
        @include border-top-radius(4px);
        @include border-bottom-radius(4px);

        .filter-item-title {
            display: table-cell;
        }

        .filter-item-remove-container {
            display: table-cell;
            vertical-align: middle;

            .filter-remove {
                @include button-unstyled();
                margin-left: 10px;
                width: 12px;
                height: 16px;
                
                .close-icon {
                    svg {
                        height: 10px;
                        width: 10px;
                        fill: #ADAFB4;
                    }
                }

                .sr-only {
                    @include sr-only();
                }
            }
        }
    }
}