.filter-item-container {
    display: inline-block;
    margin-right: $global-margin;

    .filter-item {
        @include button-unstyled();
        display: table;
        margin: ($global-margin * 1.5) 0;
        background-color: $color-white;
        padding: $global-padding;
        border: 1px solid $gray-cool-10;
        border-radius: rem(4);
        box-shadow: $container-shadow;
        font-size: $small-font-size;
        line-height: 1.5;
        color: $gray-90;

        .filter-item-title {
            display: table-cell;
            vertical-align: middle;
        }

        &.unstaged {
            background-color: $gray-cool-10 !important;
            border-color: $gray-10;
            color: $gray-60;
        }

        &:hover, &:active, &:focus {
            background-color: $gray-cool-10;
            border-color: $gray-cool-40;
        }

        // TODO: remove styling below for legacy top filter
        .filter-item-remove-container {
            display: table-cell;
            vertical-align: middle;

            .filter-remove {
                margin-left: 10px;
                width: rem(8);
                height: rem(8);
                
                .close-icon {
                    svg {
                        height: rem(8);
                        width: rem(8);
                        fill: $color-gray;
                    }
                }

                .sr-only {
                    @include sr-only();
                }
            }
        }
    }
}