.search-top-filter-bar {
    display: none;
    @include media($medium-screen) {
        display: block;
    }

    $top-background-color: #DDDDDD;
    $top-text-color: #4A4A4A;
    $top-item-border-color: #CACACA;
    $top-clear-button-background-color: #CBCCCE;
    $top-clear-button-color: #5B616B;
    $top-header-color: #525252;
    $top-divider-color: #D8D8D8;
    $top-group-color: #E2E3E4;
    width: 100%;
    font-size: rem(12);
    .search-top-filter-header {
        @include clearfix;
        border-bottom: 1px solid $top-divider-color;
        padding-bottom: rem(7);
        .header-title {
            float: left;
            font-weight: 600;
            font-size: rem(14);
            line-height: rem(18);
            color: $top-header-color;
            margin: 0;
        }
        @import "./_clearAllButton";
    }
    .search-top-filters {
        display: table-cell;
        vertical-align: middle;
        .search-top-filters-content {
            display: block;
            padding-right: rem(10);
            padding-bottom: rem(10);
        }
        @import "./_group";
    }
}