.usa-da-test-page {
    @import "all";
    @import "layouts/search/search";
    @import "mixins/elementContainerWrap";

    @include span-columns(16);
    .page-content {
        @include outer-container();
        margin: 0px $outer-gutter/2;
        @include media($large-screen) {
            margin: 0px $outer-gutter;
        }
        .page-wrapper {
            @include elementContainerWrap();
            & .component-wrap {
                @include row();
                border: 1px solid #ececec;
                margin-bottom: rem(10);
                & .component-item {
                    @include span-columns(16);
                    background: #f1f1f1;
                    padding: rem(20);
                    @include media($tablet-screen) {
                        @include span-columns(10);
                    }
                }
                & .component-code {
                    @include span-columns(16);
                    padding: rem(20);
                    @include media($tablet-screen) {
                        @include span-columns(6);
                    }
                    @import "codeBlock";
                }
            }
            .icon-list {
                @include unstyled-list();
                @include span-columns(16);
                li {
                    border: 1px solid #ccc;
                    margin: 0 0 20px 0;
                    padding: 20px;
                    height: 115px;
                    @include media($small-screen) {
                        @include span-columns(16);
                    }
                    @include media($tablet-screen) {
                        @include span-columns(4);
                        @include omega(4n);
                    }
                }
                .icon-svg {
                    text-align: center;
                    svg {
                        fill: $color-primary;
                        height: 45px;
                        width: 45px;
                    }
                }
                .icon-label {
                    text-align: center;
                }
            }
        }
    }
}