.dropdown-option {
    @include button-unstyled;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    position: relative;

    padding: pxToRem(15) pxToRem(25);
    width: 100%;

    .dropdown-option__icon {
        @include flex(0 0 auto);
        width: pxToRem(15);
        height: pxToRem(15);

        margin-right: pxToRem(25);

        svg {
            width: pxToRem(15);
            height: pxToRem(15);
            fill: $color-base;
        }
    }

    .dropdown-option__label {
        @include flex(1 1 auto);
        color: $color-base;
        font-size: $font-size-16;
        line-height: $base-line-height;
    }
}