.explorer-vis {
    margin-top: rem(40);

    @import "./_menu";
    @import "./treemap/treemap";
    @import "./table/table";

    .explorer-vis__width-reference {
        width: 100%;
        height: 0;
    }

    .explorer-vis__loading-message {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(241, 241, 241, 0.9);
        text-align: center;
        padding-top: 20vh;
        font-size: rem(20);
        .loading-animation {
            width: rem(50);
            height: rem(50);
            margin-left: auto;
            margin-right: auto;
            @import "../../../search/results/screens/loading";
            // override the color of the rectangles
            svg.loading-bars {
                rect {
                    fill: $color-primary-alt-darkest;
                }
            }
        }
        .explorer-vis__loading-title {
            font-size: $h4-font-size;
            color: $color-primary-alt-darkest;
            line-height: rem(45);
        }
        .explorer-vis__loading-subtitle {
            font-weight: $font-semibold;
        }
    }

    .explorer-vis__disclaimer {
        font-style: italic;
        font-size: rem(14);
        line-height: rem(18);

        margin-top: rem(15);
    }

    .explorer-vis__link {
        display: inline;
        line-height: 1.5;
        background-color: transparent;
        font-size: rem(14);
        font-style: italic;
        margin: 0;
        padding: 0;
        color: #0071bc;

        &:hover {
            text-decoration: underline;
        }
    }

    .explorer-vis_bold {
        font-weight: 600;
    }

    .explorer-vis__table-transition {
        transition: opacity 0.25s;
        &.explorer-vis__table-transition_loading {
            opacity: 0.5;
        }
    }

    .explorer-vis__treemap-transition {
        transition: opacity 0.25s;
        &.explorer-vis__treemap-transition_loading {
            opacity: 0.5;

            .explorer-cell {
                cursor: auto;
            }
        }
    }

}