.explorer-vis {
    margin-top: rem(40);

    @import "./_menu";
    @import "./treemap/treemap";
    @import "./table/table";

    .explorer-vis__width-reference {
        width: 100%;
        height: 0;
    }

    .explorer-detail-content__loading {
        position: absolute;
    }

    .explorer-vis__disclaimer {
        font-style: italic;
        font-size: rem(14);
        line-height: rem(18);

        margin-top: rem(15);
    }

    .explorer-vis__link {
        display: inline;
        line-height: 1.5;
        background-color: transparent;
        font-size: rem(14);
        font-style: italic;
        margin: 0;
        padding: 0;
        color: #0071bc;

        &:hover {
            text-decoration: underline;
        }
    }

    .explorer-vis_bold {
        font-weight: 600;
    }

    .explorer-vis__table-transition {
        transition: opacity 0.25s;
        &.explorer-vis__table-transition_loading {
            opacity: 0.5;
        }
    }

    .explorer-vis__treemap-transition {
        transition: opacity 0.25s;
        &.explorer-vis__treemap-transition_loading {
            opacity: 0.5;

            .explorer-cell {
                cursor: auto;
            }
        }
    }

}