.desktop-download {
    @include button-unstyled;
    color: $color-base;
    font-size: rem(24);
    line-height: rem(31);
    text-align: center;

    padding: rem(40) rem(10);

    background-color: $color-gray-lightest;

    &.desktop-download__active {
        background-color: $color-primary;
        color: $color-white;
    }

    &[disabled] {
        background-color: $color-gray-lightest;
        color: $color-base;
        cursor: not-allowed;
        pointer-events: none;

        opacity: 0.3;
    }
}