.homepage-download {
    @import "./_downloadIcons";

    .homepage-download__wrapper {
        
    }

    .homepage-download__list {
        @include unstyled-list;

        &.homepage-download__list_left {

        }
    }

    a.desktop-navigation-link {
        display: block;
        color: $color-base;
        text-decoration: none;

        background-color: $color-gray-lighter;

        &:hover, &:active {
            text-decoration: none;
            color: $color-white;
            background-color: $color-primary;
        }
    }
    div.desktop-navigation-placeholder {

    }
}