.agency-info {
    display: table;
    @include span-columns(16);
    background-color: $color-primary-alt-lightest;
    border-top: 1px solid $color-primary-alt-light;
    border-bottom: 1px solid $color-primary-alt-light;
    border-left: 1px solid $color-primary-alt-light;
    padding: 1rem;

    select {
        font-size: $h4-font-size;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
        background-color: $color-primary-alt-lightest;
    }

    .agency-name {
        font-size: $h6-font-size;
        font-weight: $font-bold;
        color: $color-primary-alt-darkest;
        margin: 1rem 0 1rem 1rem;
    }

    ul.agency-subtiers {
        @include unstyled-list;
        display: table-cell;
        text-align: left;
        padding-left: 1rem;

        li {
            display: inline-block;
            font-size: $small-font-size;

            &:last-child {
                margin-left: 50px;
            }

            .title {
                font-weight:bold;
            }

            .name {
                color: $color-primary-alt-darkest;
            }
        }
    }
}