@mixin element-wrap {
    font-size: rem(14);
    border-bottom: 1px solid $color-gray-lighter;
    @include media($tablet-screen) {
        min-height: rem(464);
    }
    @include media($medium-screen) {
        min-height: rem(420);
    }
}