.award-amounts {

    @include span-columns(8);
    $color-potential-award: #e9edee;
    $color-current-award: #5a7784;
    $color-sub-award: #355664;
    margin: 1rem;
    font-size: 1.4rem;

    h4 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .border {
        background: url(../img/horizontal-divider.svg) no-repeat;
        height: 2rem;
    }

    .text-details {
        margin-left: 1rem;
        margin-top: 1rem;
        .recipient-name {
            text-transform: capitalize;
        }
    }

    .amounts-graph {
        margin-left: 2rem;
        margin-top: 2rem;
        .potential {
            fill: $color-potential-award;
        }
        .current {
            fill: $color-current-award;
        }
        .sub {
            fill: $color-sub-award;
        }
    }

}