.award-amounts {

    @include span-columns(8);
    margin: 1rem;
    font-size: 1.4rem;

    h4 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .border {
        background: url(../img/horizontal-divider.svg) no-repeat;
        height: 2rem;
    }

    .text-details {
        margin-left: 1rem;
        margin-top: 1rem;
    }

}