.agency-recipient {
    .award__row {
        padding: pxToRem(10);
    }

    p {
        margin: pxToRem(8) 0;
    }

    .award-amounts__content h4 {
        margin-top: pxToRem(20);
        font-weight: $font-normal;
        text-transform: uppercase;
    }
    .award-viz .award-viz__heading .award-viz__icon {
        height: pxToRem(30);
        width: pxToRem(30);
        margin-right: pxToRem(3);
    }
}
