@import "_awardDetailsWrap";
.amounts-wrapper {
    @include span-columns(16);
    margin-bottom: rem(60);
    .award-amounts {
        @include element-wrap;
        h3 {
            margin-top: rem(0);
            margin-bottom: 0;
        }
        .text-details {
            margin-left: rem(10);
            margin-top: rem(10);
            .recipient-name {
                text-transform: capitalize;
            }
        }
        @import "./visualization/amountsVisualization";
    }
    @include media($tablet-screen) {
        @include span-columns(8);
        @include clearfix();
    }
}