.contract-wrapper {
    @include span-columns(8);
    @include clearfix();

    padding: 0px 15px;
}

.contract-details {
    margin: 1rem 1rem 1rem 0px;
    font-size: 1.4rem;

    h4 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .border {
        background: url(../img/horizontal-divider.svg) no-repeat;
        height: 2rem;
    }

    table {
        margin-top: 1rem;
        min-width:50%;
        width: 93%;
        tbody {
            tr {
                &:nth-child(even) {
                    td {
                        background-color: $color-gray-lightest;
                    }
                }
                td {
                    border: none;
                    margin: 0;
                    padding: .5rem;

                    &:first-child {
                        font-weight: bold;
                        width: 40%;
                    }
                }
            }
        }
    }

}