.triangle-wrapper {
    @include span-columns(16);
    background: $color-white;
    margin-right: 0;
    position: relative;
    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: rem(40) solid transparent;
        border-right: rem(40) solid transparent;
        border-top: rem(30) solid #F5FBFC;
        background: transparent;
        position: absolute;
        top: rem(-1);
        left: 40%;
        z-index: 3;
    }
    &:after {
        border-top: rem(30) solid #9BDAF1;
        background: $color-white;
        top: 0;
        z-index: 2;
    }
    @include media($tablet-screen) {
        @include span-columns(1);
        background: $color-white;
        margin-right: 0;
        position: relative;
        &:before,
        &:after {
            border-right: none;
            border-top: rem(50) solid transparent;
            border-left: rem(30) solid #F5FBFC;
            border-bottom: rem(50) solid transparent;
            top: 0;
            left: -1px;;
        }
        &:after {
            border-left: rem(30) solid #9BDAF1;
            left: 0;
        }
    }
    @include media($large-screen) {
        &:before,
        &:after {
            border-top: rem(100) solid transparent;
            border-left: rem(60) solid #F5FBFC;
            border-bottom: rem(100) solid transparent;
        }
        &:after {
            border-left: rem(60) solid #9BDAF1;
        }
    }
}