.loan-amounts-wrapper {
    height: rem(200);
    color: #555555;
    text-align: center;
    margin-top: rem(40);

    .left, .right {
        width: 100%;
    }

    .right {
        padding-top: rem(21);
    }

    @include media($large-screen) {

        .left, .right {
            display: inline-block;
            max-height: 100%;
            padding-top: rem(41);
            padding-bottom: rem(41);
        }
        .left {
            float: left;
            width: 45%;
        }

        .right {
            border-left: 1px solid #D6D7D9;
            margin-left: rem(20);
            float: right;
            width: 50%;
        }
    }

    .title {
        font-size: rem(19);
        line-height: rem(24);
    }

    .value {
        font-size: rem(47);
        line-height: rem(59);
        margin: 0;

        i {
            font-size: rem(20);
        }

        .note {
            font-size: rem(11);
            text-align: right;
            position: relative;
            bottom: rem(30);
            right: 0;
        }
    }
}