.loan-amounts-wrapper {
    @import "mixins/setText";
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    @include align-items(center);
    min-height: rem(250);
    color: $color-base;
    text-align: center;
    @include media($medium-screen) {
        height: rem(180);
    }
    .right {
        padding-top: rem(0);
    }
    .divider {
        background: #D6D7D9;
        display: block;
        height: 1px;
        margin: rem(20) rem(0);
        width: 100%;
    }
    @include media($medium-screen) {
        .left {
            flex: 1;
        }
        .right {
            flex: 1.5;
            padding-top: rem(43);
        }
        .divider {
            height: 80%;
            margin: 0 rem(20);
            width: 1px;
        }
    }
    .title {
        @include setText(rem(19));
        color: #5B616B;
    }
    .value {
        @include setText(rem(38));
        font-weight: $font-light;
        margin: 0;
        i {
            font-size: rem(20);
        }
        .note {
            bottom: rem(20);
            font-size: rem(11);
            position: relative;
            text-align: center;
        }
    }
}