button.see-more {

    @include button-unstyled;
    color: $color-primary;

    &:hover,
    &:active {
        color: $color-primary-darker;
        text-decoration: underline;
    }

    &:visited {
        color: $color-visited;
    }

    &:focus {
        box-shadow: $focus-shadow;
        outline: 0;
    }
    margin-top: .5rem;
    font-size: rem(14);
    margin-left: rem(10);

    svg {
        fill: $color-gray;
        width: 10px;
        display: inline;
        vertical-align: baseline;
    }
}