button.see-more {

    @include button-unstyled;
    color: $color-primary;

    &:hover,
    &:active {
        color: $color-primary-darker;
        text-decoration: underline;
    }

    &:visited {
        color: $color-visited;
    }

    &:focus {
        box-shadow: $focus-shadow;
        outline: 0;
    }
    font-size: pxToRem(14);
    margin-left: pxToRem(10);

    svg {
        fill: $color-primary;
        width: pxToRem(10);
        display: inline;
        position: relative;
        top: pxToRem(1);
    }
}