.recipient-info {
    @import "mixins/setText";
    position: relative;
    @import './_infoBarTriangle';
    @include span-columns(16);
    background: $color-white;
    padding: 4.4rem 1rem 1rem 3rem;
    h4 {
        margin-top: 0;
        line-height: rem(40);
        margin-bottom: 0;
    }
    .recipient-name {
        font-size: $h6-font-size;
        font-weight: $font-semibold;
        color: $color-primary;
        margin: 1rem 0 1rem 0;
    }
    ul.recipient-information {
        @include span-columns(16);
        @include unstyled-list;
        text-align: left;
        li {
            @include span-columns(16);
            margin-bottom: rem(10);
            display: inline-block;
            @include media($tablet-screen) {
                @include span-columns(16);
            }
            @include media($medium-screen) {
                @include span-columns(5.1);
                &:first-child {
                    @include span-columns(4.6);
                }
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    @include span-columns(2.9);
                }
            }
            .item-label {
                color: #525252;
                font-size: $small-font-size;
                font-weight: $font-semibold;
            }
            .item-value {
                @include setText($small-font-size);
	            ul {
		            display: initial;
		            list-style-type: none;
		            padding: 0;
		            li {
			            display: list-item;
			            width: 100%;
			            margin: 0 0 rem(5) 0;
			            line-height: rem(18);
		            }
	            }
            }
        }
        &.single {
            li {
                @include span-columns(16);
            }
        }
	    @import './_moreButton';
	    button.see-more {
		    display: block;
		    margin-left: 0;
	    }
    }
    @include media($tablet-screen) {
        @include span-columns(9);
        padding: 2.4rem 1rem 2rem 3rem;
    }
    @include media($medium-screen) {
        @include span-columns(9);
        padding: 2.4rem 1rem 1rem 3rem;
    }
}