.summary-status {
    @import "../../mixins/moreOptionsBtn";
    @include display(flex);
    @include justify-content(space-between);
    padding-top: $global-pad-mrg;
    margin-top: $global-pad-mrg;
    border-top: 1px solid rgba($color-white, .1);
    ul.summary-status-items {
        @include unstyled-list;
        li {
            display: inline-block;
            width: 100%;
            .format-item {
                .item-label {
                    color: #CEF233;
                    font-weight: $font-semibold;
                    float: left;
                    margin: 0 rem(5) 0 0;
                    text-align: right;
                    &:after {
                        content: (":");
                    }
                }
                .item-value {
                    text-transform: uppercase;
                    float: left;
                }
            }
        }
    }
    .more-options {
        @include align-self(center);
        @include moreOptionsBtn($color-white, $color-gray);
    }
    @include media($tablet-screen) {
        width: 40%;
        padding-top: 0;
        margin-top: 0;
        border-top: none;
        ul.summary-status-items {
            li {
                .format-item {
                    width: 100%;
                    .item-label {
                        float: left;
                        color: #CEF233;
                        font-weight: $font-semibold;
                        margin: 0 rem(5) 0 0;
                        text-align: right;
                        &:after {
                            content: (":");
                        }
                    }
                    .item-value {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    @include media($medium-screen) {
        width: auto;
        ul.summary-status-items {
            @include display(flex);
            li {
                border-right: 1px solid rgba($color-white, .3);
                .format-item {
                    .item-label {
                        text-align: center;
                        width: 100%;
                        &:after {
                            content: ("");
                        }
                    }
                    .item-value {
                        text-transform: uppercase;
                        text-align: center;
                        width: 100%;
                    }
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
        .more-options {
            width: auto;
        }
    }
}