@import './_recipientInfo';
@import './_infoBarTriangle';
.award-info-bar {
    @include clearfix();
    @include span-columns(16);
    border-bottom: 1px solid $color-gray-border;
    background: #F5FBFC;
    @import './_recipientInfo';
    @include media($tablet-screen) {
        @include display(flex);
        @include align-items(stretch);
        min-height: rem(201);
    }
    .agency-wrapper {
        @import './_agencyInfo';
        @include span-columns(16);
        border-bottom: 1px solid #9BDAF1;
        @include media($tablet-screen) {
            @include span-columns(7);
            border-bottom: none;
            border-right: 1px solid #9BDAF1;
            margin-right: 0;
        }
    }
}