// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
// the base style guide for this project is Airbnb
// see: https://github.com/airbnb/javascript
{
    "extends": "airbnb",
    "env": {
        "es6": true,
        "jasmine": true,
        "jest": true
    },
    "globals": {
        "window": true,
        "document": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/js", "src/_scss"]
            }
        }
    },
    // overrides to the Airbnb style follow
    "rules": {
        // indentation should be 4 spaces (use soft tabs) and switch cases should be indented
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        // require 4 spaces in JSX as well
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        // closing brackets should be aligned with the final prop (props.. />)
        "react/jsx-closing-bracket-location": [2, "after-props"],
        // also set the tab width for the max line width with a max length of 100
        // for tests, we'll allow run-on strings
        "max-len": [1, 100, {
            "tabWidth": 4,
            "ignoreStrings": true
        }],
        // do not allow dangling commas at the end of arrays, objects, etc.
        "comma-dangle": [2, "never"],
        // downgrade extra semicolons to warnings
        "no-extra-semi": [1],
        // require parens in arrow functions with single arguments for improved readability
        "arrow-parens": [2, "always"],
        // allow double-quoted strings
        "quotes": [0],
        // allow for loops
        "no-restricted-syntax": [2, "LabeledStatement", "WithStatement"],
        // require stroustrup brace styles
        "brace-style": [1, "stroustrup"],
        // disallow stateless functions in place of fully declared React components
        "react/prefer-stateless-function": [0],
        // allow binding in React props because we don't have autobind in ES6
        "react/jsx-no-bind": [0],
        // warn instead of erroring on hash links
        "jsx-a11y/href-no-hash": [0],
        // downgrading export default preference to warning, since we may add additional exports
        // to files in the future
        "import/prefer-default-export": [1],
        // disabling class method "this" requirement to avoid React conflicts
        "class-methods-use-this": [0],
        "no-underscore-dangle": [0, {
            "allowAfterThis": true
        }],
        // allow ++ and -- in for loops
        "no-plusplus": [2, {
            "allowForLoopAfterthoughts": true
        }],
        // allow continue statements
        "no-continue": [0],
        // allow importing devDependencies for tests
        "import/no-extraneous-dependencies": [
            2,
            {
                "devDependencies": true
            }
        ],
        // allow global require for tests
        "global-require": [0],
        "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
    }
}
