.category-row {
  display: block;
  width: 100%;

  @media(min-width: $medium-screen) {
    display: flex;
    width: 100%;
  }
}

.category-table {
  margin-top: pxToRem(30);
  width: 100%;

  &>div {
    display: grid;
    height: 100%;
    grid-auto-rows: 0fr 1fr 1fr 1fr;
  }

  @include media($medium-screen) {
    @include flex(0 0 50%);
  }

  @media(min-width: $medium-screen) {
    // Evenly distribute padding between tables
    &:nth-child(odd) {
      padding-right: pxToRem(15);
    }

    &:nth-child(even) {
      padding-left: pxToRem(15);
    }
  }

  // dtui table overrides
  .topfive-table__table {
      .usda-table__cell {
          a {
            cursor: pointer;
          }

          &:first-child {
            width: 40%;
          }

          &:nth-child(2) {
            width: 15%;
          }

          &:nth-child(3) {
            width: 20%;
          }

          &:last-child {
            width: 25%;
          }
      }

    .table-header .table-header__content {
      .table-header__label {
        text-align: center;
      }
    }
  }

  .category-table__table-head-row th:nth-child(2) {
    min-width: 150px;
  }

  .category-table__title {

    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);

    margin: pxToRem(15) 0;

    .category-table__title-icon {
      @include flex(0 0 pxToRem(30));
      height: pxToRem(25);
      margin-right: pxToRem(5);
      margin-left: pxToRem(3);
    }

    .category-table__title-name {
      @include flex(1 1 auto);
      font-size: pxToRem(19);
      line-height: pxToRem(24);
      font-weight: $font-semibold;
      display: flex;
      align-items: center;

      svg {
        height: 20px;
        width: 20px;
      }

      .tooltip__hover-wrapper {
        display: flex;
      }

      .tooltip-spacer {
        max-width: pxToRem(314);
        transform: translate(-128px, 12);

        .tooltip-pointer {
          left: calc(50% - 20);
        }

        @media(max-width: 767) {
          position: absolute;
          left: 0 !important;
          transform: translateX(-224);
        }
      }
    }
  }
}
