.topfive {
    @import "pages/search/results/table/_tableTypes";

    .table-types {
        .table-type-toggle {
            .tab-content {
                .tab-label {
                    margin-right: 0;
                }
            }
        }
    }

    .topfive__description {
        font-size: rem(20);
        line-height: rem(25);
        font-weight: $font-light;
        margin-bottom: rem(35)
    }

    .topfive__content {
        @import "./_table";

        @include display(flex);
        @include justify-content(space-between);
        @include align-items(flex-start);
        @include flex-wrap(wrap);

        margin-bottom: rem(90);
    }
}
