.nav-coming-soon {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    position: relative;

    fill-opacity: 0.4;

    .nav-coming-soon__icon {
        @include flex(0 0 auto);
        svg {
            height: rem(10);
            width: rem(10);
            color: $nav-color;
        }
    }

    .nav-coming-soon__label {
        @include flex(1 1 auto);
        margin-left: rem(5);
        font-size: rem(11);
        line-height: rem(14);
        font-weight: $font-light;
        color: $nav-color;
    }
}