.nav-coming-soon {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    position: relative;

    .nav-coming-soon__icon {
        @include flex(0 0 auto);
        svg {
            height: rem(16);
            width: rem(16);
            fill: $nav-coming-soon;

            @include media($medium-screen) {
                height: rem(10);
                width: rem(10);
            }
        }
    }

    .nav-coming-soon__label {
        @include flex(1 1 auto);
        margin-left: rem(5);
        font-size: rem(16);
        line-height: 1.2;
        font-weight: $font-normal;
        color: $nav-coming-soon;

        @include media($medium-screen) {
            font-size: rem(11);
            line-height: rem(14);
        }
    }
}