.nav-dropdown-outer-wrap {
    @include flex(1 1 auto);
    height: rem(25);
}

.usa-nav-dropdown-button {
    @include button-unstyled;
    display: block;
    height: rem(25);
    padding: rem(0) rem(5);
    color: $color-base;
    font-size: rem(18);
    line-height: rem(23);
    font-weight: $font-normal;
    opacity: 0.6;

    .dropdown-button-content {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        position: relative;

        .dropdown-button-label {
            @include flex(1 1 auto);
        }

        .dropdown-button-icon {
            @include flex(0 0 auto);
            margin-left: rem(10);

            svg {
                width: rem(10);
                height: rem(10);
                fill: $color-base;
            }
        }
    }

    &:hover, &:active, &.active {
        opacity: 1;
        .dropdown-button-icon {
            svg {
                fill: $color-base;
            }
        }
    }
}

.usa-nav-dropdown-list {
    display: none;
    z-index: $z-modal;
    &.active {
        display: block;
        position: relative;
    }

    .dropdown-list-wrapper {
        position: absolute;
        padding-top: rem(13);
    }

    ul.dropdown-list {
        position: relative;
        @include unstyled-list;
        background-color: $color-gray-lightest;
        box-shadow: 0 2px 5px $color-shadow;

        width: 100%;

        li {
            white-space: nowrap;
            a {
                font-size: rem(20);
                line-height: rem(25);
                font-weight: $font-light;
                color: $color-base;
                text-decoration: none;
                text-align: left;
                opacity: 0.6;

                display: block;
                padding: rem(5) rem(15);

                &:hover, &:active {
                    background-color: $color-gray-lighter;
                    opacity: 1;
                    text-decoration: none;
                }

                &.disabled {
                    opacity: 0.4;
                    pointer-events: none;
                    padding-bottom: rem(10);
                }
            }

            .dropdown-coming-soon {
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                position: relative;
                line-height: rem(10);

                .icon {
                    @include flex(0 0 auto);
                    svg {
                        height: rem(10);
                        width: rem(10);
                        color: $color-gray;
                        fill-opacity: 0.4;
                    }
                }

                .label {
                    @include flex(1 1 auto);
                    margin-left: rem(5);
                    margin-top: rem(5);
                    font-size: rem(10);
                    color: $color-base;
                }

            }
        }
    }
}