.full-menu {
    ul.full-menu__list {
        @include unstyled-list;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(flex-end);
        position: relative;

        li.full-menu__item {
            @include flex(0 0 auto);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;

            a.full-menu__link {
                @include flex(1 1 auto);

                font-weight: $font-semibold;
                font-size: $font-size-16;
                line-height: 1.25;
                text-align: center;
                padding: rem(22) rem(0) rem(22) rem(16);

                color: $gray-90;
                text-decoration: none;

                &:hover, &:active {
                    text-decoration: none;
                    color: $gray-60;
                }

            }
            .full-menu__item--button {
                background: white;
                color: $color-primary;
                border: 1px solid $color-primary;
                font-size: rem(14);
                font-weight: $font-size-16;
                line-height: rem(18);
                @include display(flex);
                @include align-items(center);
                padding: rem(5.5) rem(12.5);
                svg {
                    font-size: rem(25);
                    margin-right: rem(12.5);
                }
            }

            .full-menu__dropdown {
                @include flex(1 1 auto);
            }
        }
        @import "./_dropdownMenu";
        @import "./_glossaryLink";
    }
}
