.full-menu {
    ul.full-menu__list {
        @include unstyled-list;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(flex-end);
        position: relative;

        li.full-menu__item {
            @include flex(0 0 auto);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: relative;

            a.full-menu__link {
                @include flex(1 1 auto);

                font-weight: $font-semibold;
                font-size: rem(15);
                line-height: rem(19);
                text-align: center;
                padding: rem(18) rem(20);

                color: $nav-color;
                text-decoration: none;

                &:hover, &:active {
                    text-decoration: none;
                    box-shadow: 0 2px 6px 0 rgba(78,78,78,0.5);
                }

            }
            .full-menu__item--button {
                background: white;
                color: #0071BC;
                border: 1px solid #0071BC;
                font-size: rem(14);
                font-weight: bold;
                line-height: rem(18);
                @include display(flex);
                @include align-items(center);
                padding: rem(5.5) rem(12.5);
                svg {
                    font-size: rem(25);
                    margin-right: rem(12.5);
                }
            }

            .full-menu__dropdown {
                @include flex(1 1 auto);
            }
        }
        @import "./_dropdownMenu";
        @import "./_glossaryLink";
    }
}