// style the glossary button
.glossary-nav {
    @include button-unstyled;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    padding: rem(15) rem(20);

    &:hover, &:active {
        box-shadow: 0 2px 6px 0 rgba(78,78,78,0.5);
    }

    .glossary-nav__icon {
        @include flex(0 0 auto);
        width: rem(15);
        height: rem(15);
        margin-right: rem(10);

        svg {
            margin-top: rem(2);
            height: rem(15);
            width: rem(15);
            fill: $nav-color;
        }
    }

    .glossary-nav__label {
        @include flex(1 1 auto);
        color: $nav-color;
        font-weight: $font-semibold;
        font-size: rem(15);
        line-height: rem(19);
    }
}