// style the glossary button
.glossary-nav {
    @include button-unstyled;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    padding: pxToRem(15) pxToRem(20);

    &:hover, &:active {
        box-shadow: 0 2px 6px 0 rgba(78,78,78,0.5);
    }

    .glossary-nav__icon {
        @include flex(0 0 auto);
        width: pxToRem(15);
        height: pxToRem(15);
        margin-right: pxToRem(10);

        svg {
            margin-top: pxToRem(2);
            height: pxToRem(15);
            width: pxToRem(15);
            fill: $nav-color;
        }
    }

    .glossary-nav__label {
        @include flex(1 1 auto);
        color: $nav-color;
        font-weight: $font-semibold;
        font-size: pxToRem(15);
        line-height: pxToRem(19);
    }
}