.site-logo {
    .site-logo__wrapper {
        max-width: pxToRem(300);
        margin: pxToRem(16)  pxToRem(0);
        position: relative;
    }
    a.site-logo__link {
        display: block;
    }

    img.site-logo__image {
        max-height: pxToRem(32);
    }
}
