.site-logo {
    .site-logo__wrapper {
        max-width: rem(300);
        margin: rem(12) rem(15) rem(12) 0;
        position: relative;

        &.site-logo__wrapper_beta {
            &:after {
                content: "BETA";
                background: $color-green-light;
                color: $color-white;
                font-size: rem(8);
                font-weight: $font-semibold;
                letter-spacing: 0.14rem;
                text-align: center;

                position: absolute;
                top: 0;
                right: rem(-10);

                padding: rem(2) rem(4);
                @include border-radius(2px);

                @include media(359px) {
                    right: rem(-5);
                }
            }
        }
    }
    a.site-logo__link {
        display: block;
    }

    img.site-logo__image {
        max-height: rem(30);
    }
}
