.site-logo {
    .site-logo__wrapper {
        max-width: rem(300);
        margin: rem(16)  rem(0);
        position: relative;
    }
    a.site-logo__link {
        display: block;
    }

    img.site-logo__image {
        max-height: rem(32);
    }
}
