.lower-menu {
    ul.nav-menu {
        @include clearfix;
        @include unstyled-list;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        position: relative;
        margin-top: rem(5);
        @import "./_menuItem";
        li.menu-item {
            @include flex(1 1 auto);
            position: relative;
            margin-left: rem(5);
            text-align: center;
            line-height: rem(45);
            @include media($medium-screen) {
                margin-left: rem(30);
            }
            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        @import "./_profileMenu";
        @import "./_menuSearchBar";
    }
}