.lower-menu {
    ul.nav-menu {
        @include clearfix;
        @include unstyled-list;

        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        position: relative;

        margin-top: 5px;

        @import "./_menuItem";

        li {
            @include flex(1 1 auto);
            position: relative;

            margin-left: rem(30);
            text-align: center;
            
            &:first-child {
                margin-left: 0;
            }
        }

        @import "./_menuSearchBar";
    }
}