.mega-menu-container {
  display: flex;
  flex-direction: column;

  .navbar-item-title {
    background-color: transparent;
    font-family: inherit;
    font-weight: $font-semibold;
    font-size: $font-size-16;
    line-height: 1.25;
    border: none;
    padding: rem(14) $global-padding;
    margin: $global-margin;
    color: $gray-90;
    display: flex;
    justify-content: center;
    transition: opacity 250ms;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover,
    &:focus {
      color: $gray-60;
      outline: none;
    }
  }

  .navbar-item-el {
    position: relative;

    &:hover,
    &:active {
      color: $gray-60;
    }
    .navbar-item-title-hover {
      color: $gray-60;
    }

    .navbar-chevron-icon {
      svg {
        width: 10.2px;
        margin-top: $global-margin * .5;
        margin-left: $global-margin * .5;
      }

      color: $blue-50;
    }
  }

  .dropdown-slot {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    perspective: 1500px;
    z-index: 150;
  }

  .dropdown-slot-2 .dropdown-background {
    transform: translateX(-140px);
  }

  .dropdown-slot-3 .dropdown-background {
    transform: translateX(-275px);
  }

  .dropdown-section__wrapper {
    display: block;
    background-color: $color-white;
    border: solid 1px $gray-cool-5;

    @media(min-width: $medium-screen) {
      width: rem(720);
      padding: $global-padding * 5;
    }

    .dropdown-section__top-columns {
      display: flex !important;
      background-color: $color-white;
      background-clip: padding-box;
      margin-bottom: rem(16);

      .first-dropdown-section {
        display: flex;
        margin-right: $global-margin * 5;
        background-color: $color-white;
      }
    }

    .undo__bottom-padding {
      margin-bottom: 0;
    }

    .dropdown-section {
      position: relative;
      z-index: 1;
      flex-basis: 100%;

      .dropdown-section__alternate-top {
        display: flex;
        .dropdown-item__description {
          display: flex;
          margin: $global-margin * .5 0 0 0;
          font-size: $font-size-12;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $gray-60;
        }
      }

      svg {
        background-color: $blue-warm-5;
        color: $blue-warm-60;
        padding: $global-padding * .5;
        border-radius: rem(4);

        margin-right: $global-margin;
      }

      .dropdown-section__section-title {
        font-size: $font-size-14;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        color: $gray-90;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      .dropdown-section__section-subtitle {
        margin: $global-margin*.5 0 0;
        font-size: $font-size-12;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $gray-60;
        width: auto;
        max-width: rem(240);
        display: flex;
        word-wrap: break-word;
      }

      .dropdown-section__section-list {
        margin: 0 !important;
        padding: 0;

        div {
          .dropdown-item__link-desc {
            display: block;
            border-radius: rem(8);

            .dropdown-item__link-label {
              font-size: $font-size-16;
              font-weight: $font-semibold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: normal;
              text-align: left;
              color: $gray-90;
            }

            .dropdown-item__description {
              display: flex;
              margin: $global-margin * .5 0 0 0;
              font-size: $font-size-12;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: $gray-60;
            }
          }
        }

        li {
          margin-top: 0;
          display: flex;
          padding: $global-padding;
          transform: translateX(-8px);
          margin-bottom: 0;
          &:hover {
            background: $gray-cool-3;
            border-radius: rem(8);
            cursor: pointer;

            svg {
              background-color: $blue-warm-10;
              color: $blue-warm-80;
            }

            .dropdown-item__link-desc {
              .dropdown-item__description {
                color: $gray-90;
              }
            }
          }

          svg {
            background-color: $blue-warm-5;
            color: $blue-warm-60;
            padding: $global-padding * .5;
            border-radius: rem(4);
            margin-right: $global-margin;
          }

          .dropdown-item__link-desc {
            display: block;

            .dropdown-item__link-label {
              font-size: $font-size-16;
              font-weight: $font-semibold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: normal;
              text-align: left;
              color: $gray-90;
            }

            .dropdown-item__description {
              display: flex;
              margin: $global-margin * .5 0 0 0;
              font-size: $font-size-12;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: $gray-60;
            }
          }
        }

        .list__extra-padding {
          padding-left: $global-padding * 2;
          padding-right: $global-padding * 2;
          transform: translateX(-16px) !important;
          width: rem(272) !important;
        } 

        li:first-of-type {
          margin-top: $global-margin;
        }
      }
    }

    .dropdown-section__bottom-portion {
      background: $gray-cool-2;
      margin: 0 $global-margin * -5 $global-margin * -5;
      padding: rem(24) $global-padding * 5 $global-padding * 5;

      .dropdown-section__section-list {
        margin: 0 !important;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        .list__extra-padding {
          padding-left: $global-padding * 2;
          padding-right: $global-padding * 2;
          transform: translateX(-16px) !important;
          width: rem(272) !important;
          height: min-content !important;

          &:hover {
            background: $gray-cool-5 !important;
          }
        } 

        .list__extra-padding:nth-child(even) {
          margin-left: rem(66);
        }
        .third__item-margin:nth-child(even) {
          margin-left: $global-margin * 8.5 !important;
        }

        .dropdown-section__bottom-portion-list-item:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .navbar-el {
    margin: auto;

    ul {
      list-style: none;
      padding-left: 0;
    }

    .navbar-list {
      display: flex;
      justify-content: end;
      list-style: none;
      margin: 0;
    }
  }

  .caret {
    width: rem(18);
    height: rem(16);
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent $color-white;
    /* make sure it's above the main dropdown container so now box-shadow bleeds over it */
    z-index: 1;
    position: relative;
    margin-top: $global-margin * .5;
    margin-bottom:0;
    bottom: -5px;
  }

  .dropdown-background {
    transform-origin: 0 0;
    border-radius: rem(8);
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: $color-white;
  }

  .dropdown-section__bottom-portion .dropdown-section__section-list {
    li:hover {
      background: unset !important;
    }

    .dropdown-section__section-list-item {
      padding: $global-padding $global-padding*2 $global-padding $global-padding*2;
      border-radius: rem(8);
    }

    .dropdown-section__section-list-item:nth-child(2) {
      margin-left: rem(102);
    }
  }

  .dropdown--item__link {
    display: flex;
    width: 100%;
    height: 100%;
  }

  @keyframes dropdown-animate-out {
    from {
      transform: rotateX(0);
      opacity: 1;
    }

    to {
      transform: rotateX(-15deg);
      opacity: 0;
    }
  }

  @keyframes dropdown-animate-in {
    from {
      transform: rotateX(-15deg);
      opacity: 0;
    }

    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-content-animate-out-left {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(-20px);
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }

  @keyframes fade-content-animate-out-right {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(20px);
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }

  @keyframes fade-content-animate-in-left {
    from {
      transform: translateX(20px);
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-content-animate-in-right {
    from {
      transform: translateX(-20px);
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}
