@mixin headerNavMenuItem {
    height: rem(48);
    margin: 0;
    padding: 0 rem(15);
    a {
        color: $color-gray;
        font-size: $base-font-size;
        text-decoration: none;
    }
    &.search-item {
        padding: 0;
    }
}