li.menu-item {
    height: rem(48);
    margin: 0;
    padding: 0 rem(10);
    @include media($large-screen) {
        padding: 0 rem(15);
    }
    a {
        color: $color-gray;
        font-size: $base-font-size;
    }
    &.search-item {
        padding: 0;
    }
    &.coming-soon {
        @import "components/comingSoon";
        @include comingSoon;
        color: $color-gray-lighter;
        cursor: default;
        pointer-events: none;
        .usa-nav-link {
            color: $color-gray-lighter;
        }
        .coming-soon-container {
            position: absolute;
            top: rem(30);
            .coming-soon-icon {
                display: inline;
                float: none;
            }
            .coming-soon-label {
                bottom: rem(12px);
                display: inline;
                float: none;
                left: rem(4px);
            }
        }
    }

    &.profile-item {
        padding: 0;
    }
}