@mixin headerNavMenuSearchButton {
    @include button-unstyled;
    height: 100%;
    width: 4.8rem;
    padding-left: 13px;
    
    svg {
        fill: $color-gray;
        height: 22px;
        width: 22px;
    }
}