@import "./_menuItem";
@import "./_menuSearchButton";
@import "../../../../components/comingSoon";

@mixin headerNavMenu {
    float: right;
    display: table;
    ul.nav-menu {
        @include clearfix;
        @include unstyled-list;

        display: table-cell;
        text-align: right;

        list-style-type: none;
        
        li {
            display: inline-block;
            margin-left: 30px;
            text-align: center;
            @include headerNavMenuItem;

            &:first-child {
                margin-left: 0px;
            }
        }

        @include comingSoon;

        .coming-soon {
            color: $color-gray-lighter;
            cursor: default;
            pointer-events: none;

            .usa-nav-link {
                color: $color-gray-lighter;
            }

            .coming-soon-container {
                margin-top: rem(5px);
                .coming-soon-icon {
                    display: inline;
                    float: none;
                }
                .coming-soon-label {
                    bottom: rem(12px);
                    display: inline;
                    float: none;
                    left: rem(4px);
                }
            }
        }

        .search-button {
            @include headerNavMenuSearchButton;
            svg {
                fill: $color-gray-lighter;
            }
            cursor: default;
            pointer-events: none;
        }
    }
}