.mobile-hamburger {
    height: pxToRem(45);
    width: pxToRem(45);

    .mobile-hamburger__wrapper {
        position: absolute;
        right: 0;
    }

    .mobile-hamburger__button {
        @include button-unstyled;
        @include transition(all 0.75s $ease-in-out-sine);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: right;
        height: pxToRem(45);
        position: relative;
        width: pxToRem(48);
        .svg {
            color: $gray-cool-90;
        }

        .mobile-hamburger__buns {
            color: $gray-cool-90;
            width: pxToRem(16);
        }
    }

}
