.usa-nav-profile-button {
    @include button-unstyled;
    height: rem(48);
    padding: rem(10) rem(15);
    color: $color-base;
    font-size: rem(20);
    line-height: rem(25);
    font-weight: $font-semibold;
    opacity: 0.7;

    .profile-button-content {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        position: relative;

        .profile-button-label {
            @include flex(1 1 auto);
        }

        .profile-button-icon {
            @include flex(0 0 auto);
            margin-left: rem(10);
            svg {
                width: rem(10);
                height: rem(10);
                fill: $color-base;
            }
        }
    }

    &:hover, &:active, &.active {
        opacity: 1;
        .profile-button-icon {
            svg {
                fill: $color-base;
            }
        }
    }


    &.homepage {
        color: $color-white;
        .profile-button-icon {
            svg {
                fill: $color-white;
            }
        }
    }
}

.usa-nav-profile-list {
    display: none;
    z-index: $z-modal;
    &.active {
        display: block;
        position: relative;
    }

    .profile-list-wrapper {
        position: absolute;
        padding-top: rem(13);
    }

    ul.profile-list {
        position: relative;
        @include unstyled-list;
        background-color: $color-gray-lightest;
        box-shadow: $box-shadow;

        width: 100%;

        li {
            white-space: nowrap;
            a {
                font-size: rem(20);
                line-height: rem(25);
                font-weight: $font-light;
                color: $color-base;
                text-decoration: none;
                opacity: 0.7;

                display: block;
                padding: rem(5) rem(15);

                &:hover, &:active {
                    background-color: $color-gray-lighter;
                    opacity: 1;
                    text-decoration: none;
                }

                &.disabled {
                    opacity: 0.4;
                    pointer-events: none;
                    padding-bottom: rem(10);
                }
            }

            .profile-coming-soon {
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                position: relative;
                line-height: rem(10);

                .icon {
                    @include flex(0 0 auto);
                    svg {
                        height: rem(10);
                        width: rem(10);
                        color: $color-gray;
                        fill-opacity: 0.4;
                    }
                }

                .label {
                    @include flex(1 1 auto);
                    margin-left: rem(5);
                    margin-top: rem(5);
                    font-size: rem(10);
                    color: $color-base;
                }

            }
        }
    }

    &.homepage {
        .profile-list-wrapper {
            padding-top: 0;
        }
        ul.profile-list {
            background-color: transparent;
            box-shadow: none;

            a {
                color: $color-white;
                &:hover {
                    color: $color-white;
                    background-color: transparent;                
                }
            }

            .profile-coming-soon {
                .icon {
                    svg {
                        fill: $color-white;
                    }
                }
                .label {
                    color: $color-white;
                }
            }
        }
    }
}