.upper-menu {
    ul.small-menu {
        @include unstyled-list;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        position: relative;
        margin-bottom: rem(10);
        li {
            color: $color-gray;
            font-size: $small-font-size;
            line-height: rem(16);
            a {
                color: $color-gray;
                padding: 0 rem(15);
                &.disabled {
                    color: $color-gray-lighter;
                }
            }
            &:after {
                content: "|";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
            // style the glossary button
            button.header-glossary-button {
                @include button-unstyled;
                color: $color-gray;
                font-size: $small-font-size;
                line-height: rem(16);
                &:hover,
                &:active {
                    text-decoration: underline;
                }
                .glossary-button-content {
                    margin: 0 0 0 rem(15);
                    .glossary-button-icon {
                        display: inline-block;
                        position: relative;
                        width: rem(12);
                        height: rem(12);
                        margin-right: rem(5);
                        svg {
                            position: absolute;
                            top: rem(2);
                            height: rem(12);
                            width: rem(12);
                            fill: $color-gray;
                        }
                    }
                }
            }
        }
    }
}