form {
  .award-data-archive-form {
    background-color: $gray-5;
    border-radius: rem(8);
    padding: rem(24);
    display: flex;

    .combo-box {
      margin: 0;

      &:first-of-type {
        margin-right: rem(24);
        width: 75%;
      }
    }
  }

  .award-type__container {
    display: flex;
    align-items: center;
    margin: rem(24) 0 rem(12) 0;
    font-size: $small-font-size;
    font-weight: $font-semibold;
    line-height: 1.5;

    .award-type__buttons {
      margin-left: $global-margin;

      button {
        margin: 0;
        padding: rem(10);
        border: rem(2) solid $blue-60v;
        background-color: transparent;
        color: $blue-60v;

        &.active {
          background-color: $blue-60v;
          color: $color-white;
        }

        &:first-of-type {
          border-radius: rem(4) 0 0 rem(4);
        }

        &:last-of-type {
          border-radius: 0 rem(4) rem(4) 0;
        }
      }
    }
  }
}
