.award-data-archive-form {
    background-color: #F3FAFC;
    padding: rem(15) rem(5);

    .form-title__wrapper {
        @include display(flex);
        @include justify-content(space-between);
        margin-bottom: rem(10);
    }
    .form-title {
        padding-left: rem(15);
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
    }
    .form-width-master {
        width: 100%;
    }
    form {
        @include media($medium-screen) {
            @include display(flex);
            @include justify-content(space-around);
        }
        @import "../form/agencyPicker";

        .filter-picker {
            padding: 0 rem(15);
            .select-label {
                font-size: rem(14);
                text-transform: capitalize;
            }
            .field-picker {
                margin: rem(5) 0 0 0;
                .selected-button {
                    width: 100%;
                    border: solid 1px $color-gray-light;
                    background-color: $color-white;
                    &:hover, &:active {
                        background-color: $color-white;
                    }
                    .label {
                        font-weight: 400;
                        font-size: 14px;
                        width: 100%;
                        @include display(flex);
                        @include justify-content(space-between);
                    
                        .arrow-icon {
                            @include align-self(center);
                        }
                    }
                    .label--disabled {
                        color: #D2D3D6;
                    }
                }
                .field-list {
                    width: auto;
                }
            }
            @include media($medium-screen) {
                &.agency-picker {
                    width: 45%;
                }
                &.type-picker {
                    width: 25%;
                }
                &.fy-picker {
                    width: 15%;
                }
            }
        }
        .form__button {
            padding: 0 rem(15);
            @include media($medium-screen) {
                width: rem(120);
            }
            input {
                width: 100%;
                margin-top: rem(19);
                height: rem(36);
            }
        }
    }
}
