.award-data-archive-table {
    overflow-x: scroll;
    table {
        margin-top: 0;
        thead {
            tr {
                th {
                    font-size: rem(14);
                    font-weight: 600;
                    line-height: rem(18);
                    color: $color-white;
                    background-color: $color-base;
                    border: solid 1px $color-gray-light;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-color: $color-gray-light;
                }
                // gray out even rows
                .row-even {
                    background-color: #f7f7f7;
                }
            }
        }
    }
}