.award-data-archive-content {
    @include media($medium-screen) {
        padding: 0 rem(30);
    }
    h2 {
        margin-top: 0;
        font-weight: 400;
    }
    @import "archiveForm";
    @import "archiveTable";
}