.award-data-archive-content {
  color: $gray-90;

  @include media($medium-screen) {
    padding: 0 rem(30);
  }

  h2 {
    margin: 0;
    font-size: $lead-font-size;
    line-height: 1.5;
    font-weight: $font-semibold;
  }

  p:first-of-type {
    margin: 0 0 rem(24) 0;
  }

  ul {
    margin: 0;

    li {
      margin: 0;
    }
  }

  @import "archiveForm";
  @import "archiveTable";
}
