.usa-da-agency-landing {
	@import "layouts/landingPage/landingPage";
    @import "./header/header";
    @import './agencyLandingSearch';
    @import './table/resultsSection';

    .landing-page-section {
        &.results-count {
            font-style: italic;
            padding: rem(20) 0;
            font-size: rem(16);
        }
    }
    @include agencyLandingSearch;
    @include resultsSection;

}