.award-funding-summary {
    h4 {
        font-size: $h6-font-size;
        font-weight: $font-semibold;
    }
    .award-funding-summary__data {
        @extend %column-less-table__row;
        margin: 0;
        &:nth-of-type(2) {
            border-radius: rem(5) rem(5) 0 0;
            border-bottom: 0;
        }
        &:last-of-type {
            border-radius: 0 0 rem(5) rem(5);
            border-top: 0;
        }
    }
    .federal-accounts {
        @extend %coming-soon-idv;
        height: 200px;
    }
}
