.award-amounts {
    $border-gray: #555555;
    $border-light-gray: #d5d6d8;

    .award-amounts__content {
        color: $color-primary-darker;
        margin-top: rem(30);
    }

    .award-amounts__banner {
        background-color: #F3FAFC;
        @include display(flex);
        @include align-items(flex-start);
        @include justify-content(space-between);
        color: #525252;
        font-size: rem(14);
        margin: rem(30) 0;
        padding: 0 rem(10) 0 rem(10);
        .award-viz__button {
            margin: 0;
            display: inline
        }
    }

    .award-amounts__banner_hidden {
        display: none;
    }

    .award-amounts__banner-info {
        @include display(flex);
    }

    .award-amounts__banner-info-icon {
        margin-top: rem(18);
        margin-right: rem(5);
        svg {
            width: rem(15);
            height: rem(15);
            fill: $color-primary-alt-dark;
        }
    }

    .award-amounts__banner-close-icon {
        margin: 0;
        margin-top: rem(8);
        background-color: unset;
        svg {
            width: rem(10);
            height: rem(10);
            fill: #5B616B;
        }
    }

    .award-amounts__viz {
        height: rem(40);
        margin: rem(16) 0 rem(7) 0;
        background-color: #ececec;
        @include display(flex);
        border: 2px solid $color-cool-blue-light;
    }

    .award-amounts__viz-label {
        text-align: center;
    }

    .award-amounts__viz-line-up {
        margin: rem(5) 0 rem(5) rem(1);
        border-bottom: 1px solid $border-light-gray;
        position: relative;
        width: 99.5%;
        height: rem(1);
    }

    .award-amounts__viz-line {
        margin: rem(20) 0 rem(5) rem(1);
        border-bottom: 1px solid $border-light-gray;
        position: relative;
        width: 99.5%;
        height: rem(1);
    }

    .award-amounts__viz-line-up::after {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid $border-light-gray;
        top: 0px;
        right: -1px;
    }

    .award-amounts__viz-line-up::before {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid $border-light-gray;
        top: 0px;
        left: -1px;
    }

    .award-amounts__viz-line::after {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid $border-light-gray;
        top: -8.5px;
        right: -1px;
    }

    .award-amounts__viz-line::before {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid $border-light-gray;
        top: -8.5px;
        left: -1px;
    }


    .award-amounts__viz-desc-top {
        font-size: rem(16);
        color: $border-gray;
    }

    .award-amounts__viz-desc {
        font-size: rem(12);
        color: $border-gray;
    }
    .award-amounts__data-wrapper {
        margin-top: rem(30);
    }

    .award-amounts__data-content {
        @extend %column-less-table__row;
        &:nth-of-type(1) {
            border-radius: rem(5) rem(5) 0 0;
            border-bottom: 0;
        }
        &:last-of-type {
            border-radius: 0 0 rem(5) rem(5);
            border-top: 0;
        }
    }

    .award-amounts__data-icon {
        height: rem(10);
        width: rem(10);
        border-radius: 50%;
        display: inline-block;
        margin-right: rem(5);
    }

    .award-amounts__data-icon_blue {
        background-color: $color-cool-blue-light;
    }

    .award-amounts__data-icon_gray {
        background-color: #BBBBBB;
    }

    .award-amounts__data-icon_transparent {
        background-color: white;
        border: 2px solid #BBBBBB;
    }

    .award-amounts__data {
        @extend %column-less-table__row;
        margin: rem(40) 0 rem(10) 0;
        border-radius: rem(5);
    }
}