.coming-soon__section {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
        font-weight: $font-semibold;
        font-size: $h6-font-size;
        line-height: 3rem;
        color: $color-gray-light;
    }
}