.award-search__section {

  .grid-content {
    height: 50rem;
    border: solid 6px green;
    border-radius: 4px;

    @media (min-width: 1400px) {
      align-items: center;
    }
    
    .award-search__col1 {
      align-items: center;
    }
    .award-search__overline-div {
      display: flex;
  
      .award-search__span {
        height: 20px;
        width: 20px;
        background-color: $blue-5;
  
        svg {
          color: $theme-color-1;
        }
      }
      .award-search__overline {
        margin: 0 0 0 8px;
        font-size: rem(16);
        font-weight: $font-semibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $body-color;    
      }
    }
  
    .award-search__header {
      font-size: rem(40);
      font-weight: $font-semibold;
      color: $color-grayblack;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      margin: 0 0 0 0;
    }
  
    .award-search__subtext {
      margin: 16px 0 0;
      font-size: rem(20);
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $body-color;
    }
    .award-search__swiper {
      height: auto;
    }
    .swiper-wrapper {
      @media (min-width: 1400px) {
        justify-self: right;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $gray-cool-60;
    }
    .swiper-slide-next {
      opacity: .25;
    }

    .swiper-button-disabled{
      display:none;   
    }
    .swiper-slide-visible {
      opacity: 1;
    }

    .swiper-slide {
    }

    .swiper-button-prev, .swiper-button-next {
      background-color: $color-primary;
      border-radius: 24px;
      height: 48px;
      width: 48px;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
      color: $color-white;
      font-size: rem(24);
      font-weight: $font-semibold;
    }

    .swiper-container {
      overflow: visible;
    }
    .award-search__col2 {
      @media (max-width: 1400px) {
        display: flex;
      }
      @media (width: 1400px) {
        display: inline;
      }
      margin-left: auto;
      margin-right: 0;
      align-items: center;
    }
  }
  
}
