.featured-content__section {
  .featured-content__heading {
    display: flex;
    flex-direction: row;
    font-size: rem(16);
    font-weight: $font-semibold;
    line-height: 1.25;
    text-transform: uppercase;
    color: $theme-color-body;
    margin-bottom: 16px;

    .featured-content__heading--background {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: $blue-vivid-5v;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 2px;

      .featured-content__heading--icon {
        width: 12px;
        color: $blue-60v;
      }
    }
    .card-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .featured-content__section--flex-row {
    display: inline-flex;
    width: 100%;
    gap: 40px;
    flex-direction: column;

    @media (min-width: $tablet-screen) {
      gap: 24px;
      flex-direction: row;
    }
  }

  .usda-external-link__card {
    &:focus,
    &:active {
      cursor: pointer;
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }
    &:hover {
      cursor: pointer;
    }
  }
}