.featured-content__section {
  margin: rem(6) 0;
  @media (min-width: $medium-screen) {
    margin: rem(6) rem(3) rem(6) 0;
      // override grid-content bc it adds margins right and left
      .grid-content {
        margin: 0 !important;
      }
  }
    //.grid-content {
    //  border: solid 6px red;
    //  border-radius: 4px;
    //  height: 50rem;
    //}
}
