.featured-content__section {
  .featured-content__heading {
    display: flex;
    flex-direction: row;
    font-size: rem(16);
    font-weight: $font-semibold;
    line-height: 1.25;
    text-transform: uppercase;
    color: #5c5c5c;
    margin-bottom: 16px;

    .featured-content__heading--background {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: #e8f5ff;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 2px;
    }
  }

  .featured-content__section--flex-row {
    display: inline-flex;
    width: 100%;
    gap: 40px;
    flex-direction: column;

    @media (min-width: $tablet-screen) {
      gap: 24px;
      flex-direction: row;
    }
  }
}
