.homepage-explore-toggle__section {
  margin: rem(6) 0;
  text-align: center;
  font-size: 40px;
    div {
      padding-top: rem(20);
    }
    .grid-content {
      border: solid 6px yellow;
      border-radius: 4px;
      height: 10rem;
    }
}
