@mixin landingButtons {
    .buttons-wrap {
        & .landing-btn {
            @include span-columns(16);
            background: rgba($color-white, .1);
            border: 1px solid rgba($color-white, .2);
            background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255, 255, 255, .025) 4px, rgba(255, 255, 255, .025) 6px);
            background-position: fixed;
            font-weight: $font-normal;
            margin-top: rem(30);
            padding: 0;
            text-align: left;
            &:first-child {
                @include shift(0);
            }
            color: $color-white;
            font-size: rem(20);
            line-height: rem(40);
            padding: rem(20);
            & svg {
                fill: $color-white;
                float: right;
                height: rem(40);
                width: rem(40);
            }
            &:hover {
                @include transition(all 0.25s $ease-in-out-sine);
                background: rgba($color-primary-alt, .4);
                cursor: pointer;
            }
            &:hover {
                text-decoration: none;
            }
            @include media($tablet-screen) {
                @include span-columns(5.8);
                margin-top: rem(130);
                @media (max-height: 650px) {
                    margin-top: rem(50);
                }
                &:first-child {
                    @include shift(2.2);
                }
            }
        }
    }
}