@import "./linksSectionBox";
@import "../../mixins/fullSectionWrap";
@mixin linksSection {
    .links-section-outer-wrap {
        background-color: $color-gray-lightest;
        .links-section-wrap {
            @include fullSectionWrap(0, 0);
        }
        padding-bottom: rem(50);
        padding-top: rem(50);
        text-align: center;
        @include clearfix;
        .links-section-primary-title {
            color: $color-gray-medium;
            display: block;
            float: none;
        }
        .links-section-box-wrap {
            text-align: center;
            @include fullSectionWrap(0, 0);
            @include linksSectionBox;
            @include media($medium-screen) {
                margin-top: rem(30);
            }
            @include media($large-screen) {
                margin-top: rem(30);
            }
        }
    }
}