@mixin linksSectionBox {
    .links-section-box {
        @include span-columns(16);
        border: 1px solid $color-gray;
        display: inline-block;
        margin: 0 0 rem(30) 0;
        padding: rem(20) 0;
        &:last-child {
            margin-bottom: 0;
        }
        @include media($tablet-screen) {
            @include span-columns(4);
            margin-bottom: 0;
        }
        svg {
            fill: $color-cool-blue-lighter;
            height: rem(75);
            margin-bottom: rem(20);
            width: rem(75);
        }
        .links-section-box-primary-text {
            color: $color-gray-lighter;
            font-size: rem(21);
            margin: 0;
            min-height: rem(40);
            padding: 0 rem(5);
            @include media($tablet-screen) {
                margin: 0 0 rem(20) 0;
                min-height: rem(60);
            }
        }
        .links-section-box-anchor {
            color: $color-cool-blue-lighter;
            font-size: rem(14);
            svg {
                fill: $color-cool-blue-lighter;
                height: rem(10);
                margin-bottom: 0;
                margin-left: rem(2);
                width: rem(8);
            }
        }
    }
}