@import "../../mixins/elementContainerWrap";

@mixin linksSectionBox {
    .links-section-box {
        @include display(flex);
        @include span-columns(4);
        background-color: $color-gray-lightest;
        display: inline-block;
        margin: 0 0 rem(30) 0;
        padding: rem(20) 0;
        &:last-child {
            margin-bottom: 0;
        }
        @include media($tablet-screen) {
            @include span-columns(4);
            margin-bottom: 0;
        }
        svg {
            fill: $color-cool-blue-lighter;
            height: rem(75);
            margin-bottom: rem(20);
            width: rem(75);
        }
        .links-section-box-primary-text {
            color: $color-gray;
            font-size: rem(21);
            margin: 0;
            min-height: rem(20);
            padding: 0 rem(5);
            @include media($tablet-screen) {
                margin: 0 0 rem(20) 0;
                min-height: rem(20);
            }
        }
        .links-section-box-anchor {
            color: $color-cool-blue-lighter;
            font-size: rem(14);
            svg {
                fill: $color-cool-blue-lighter;
                height: rem(10);
                margin-bottom: 0;
                margin-left: rem(2);
                width: rem(8);
            }
        }
        .links-section-box-span {
            color: $color-cool-blue-lighter;
            opacity: 0.5;
            font-size: rem(14);
        }
        .usa-da-building-mag,
        .usa-da-treemap-mag {
            opacity: 0.4;
        }
        .links-section-box-primary-text.disabled {
            opacity: 0.4;
        }
    }
}