@mixin linksSectionBox {
	.links-section-box {
		 @include span-columns(4);
		 border: 1px solid $color-gray;
		 display: inline-block;
		 padding: rem(20) 0;
		 svg {
			fill: $color-cool-blue-lighter;
			height: rem(75);
			margin-bottom: rem(20);
			width: rem(75);
		}
		.links-section-box-primary-text {
			color: $color-gray-lighter;
			font-size: rem(21);
			height: rem(50);
			margin: 0 0 rem(20) 0;
		}
		.links-section-box-anchor {
			color: $color-cool-blue-lighter;
			font-size: rem(14);
			svg {
				fill: $color-cool-blue-lighter;
				height: rem(10);
				margin-bottom: 0;
				margin-left: 2px;
				width: rem(8);
			}
		}
	}
}