& .map-segue {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    margin-left: 1px;
    height: rem(200);
    background: linear-gradient(180deg, rgba(91,97,107,0.5) 0%, rgba(215,220,229,0.5) 100%);

    @include media($medium-screen) {
        @include span-columns(11.42);
        @include display(flex);
        @include align-items(center);
    }

    & h4 {
        @include flex(0 1 auto);
        @include setText(rem(30));
        width: 90%;
        color: $color-white;
        clear: none;
        margin-top: 0;
        text-align: center;
        @include media($medium-screen) {
            width: 75%;
            text-align: center;
        }
    }
    & .icon-wrap {
        @include flex(0 0 auto);
        display: none;
        height: 100px;
        & svg {
            fill: $color-gray;
            height: 95px;
            width: 50px;
            transform: translate(-10px, 25px);
        }
        @include media($medium-screen) {
            display: block;
        }

        @include media($x-large-screen) {
            svg {
                transform: translate(-20px, 25px);
            }
        }
    }
}