.ready-to-get-started__section {
  padding: $global-padding * 6 0;
  // todo - add this color to vars
  background-color: #1a4480;
    //.grid-content {
    //  color: #fff;
    //  border: solid 6px yellowgreen;
    //  border-radius: 4px;
    //}

  .ready-to-get-started__title {
    color: #fff;
    font-size: $font-size-40;
    font-weight: $font-semibold;
    line-height: 1.25;
    text-align: center;
    margin-bottom: rem(40);
  }

  .ready-to-get-started__card {
    margin-bottom: $global-margin * 4;
  }
}
