@import "../../mixins/fullSectionWrap";
@mixin searchSection {
    .search-section-links-outer-wrap {
        background-color: $color-primary-darkest;
        .search-section-links-wrap {
            @include fullSectionWrap(0, 0);
            padding-bottom: rem(100);
            padding-top: rem(100);
            text-align: center;
            .search-section-links-primary-text {
                color: $color-white;
                font-size: rem(38);
                margin: 0;
            }
            .search-section-links-sub-text {
                color: $color-gray-lighter;
                font-size: rem(24);
                line-height: 3.5rem;
                margin-top: rem(15);
            }
            .search-section-links-button {
                @include span-columns(12);
                @include shift(2);
                font-size: rem(24);
                font-weight: 500;
                margin-top: rem(50);
                padding: rem(20) 0;
                &:hover {
                    @include transition(all 0.25s $ease-in-out-sine);
                }
                @include media($tablet-screen) {
                    @include span-columns(6);
                    @include shift(5)
                }
                @include media($medium-screen) {
                    @include span-columns(4);
                    @include shift(6)
                }
            }
        }
    }
}