@import "../../mixins/fullSectionWrap";
.search-section-links-outer-wrap {
    background-color: $color-primary-darkest;
    .search-section-links-wrap {
        @include fullSectionWrap(0, 0);
        padding-bottom: rem(100);
        padding-top: rem(100);
        text-align: center;
        .search-section-links-primary-text {
            color: $color-white;
            font-size: rem(55);
            line-height: rem(60);
            margin: 0;
        }
        .search-section-links-sub-text {
            color: $color-gray-lighter;
            font-size: rem(34);
            line-height: rem(40);
            margin: 0;
            margin-top: rem(30);
        }

        @import "./_searchSectionItems";
    }
}