.search-section-ways {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;

    @include media($medium-screen) {
        @include align-items(stretch);
        @include flex-direction(row);
        margin-top: rem(50);
    }

    .way-item {
        @include flex(0 0 auto);
        width: rem(250);

        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        position: relative;

        margin-left: 0;
        margin-top: rem(50);

        &:first-child {
            margin-left: 0;
        }

        @include media($medium-screen) {
            margin-left: rem(50);
            margin-top: 0;
        }

        @include media(1200px) {
            margin-left: rem(150);
        }

        .icon {
            @include flex(0 0 auto);
            width: rem(200);
            height: rem(200);
            border-radius: rem(100);
            background-color: $color-primary-darker;
            position: relative;

            svg {
                position: absolute;
                top: rem(50);
                left: rem(50);
                width: rem(100);
                height: rem(100);
                fill: #0071BC;

                &.usa-da-building-mag {
                    top: rem(40);
                    left: rem(70);
                }

                &.usa-da-explorer {
                    top: rem(60);
                    left: rem(50);
                }
            }
        }
        .title {
            @include flex(1 1 auto);
            text-align: center;
            color: $color-white;

            margin-top: rem(30);

            h5 {
                @include h3;
                font-weight: $font-semibold;
                font-size: rem(28);
                line-height: rem(36);

                margin: 0;
            }

            .description {
                font-weight: $font-light;
                font-size: rem(20);
                line-height: rem(25);

                margin-top: rem(10);
            }
        }

        .action {
            @include flex(0 0 auto);
            margin-top: rem(30);
            height: rem(40);
            position: relative;

            @include display(flex);
            @include flex-direction(column);
            @include justify-content(flex-end);

            button.action-button {
                @include flex(0 0 auto);
                @include button-unstyled;
                text-decoration: none;
                color: $color-white;
                text-transform: uppercase;
                font-size: rem(14);
                font-weight: $font-semibold;
                text-align: center;
                border: 1px solid $color-white;

                height: rem(40);
                width: rem(200);

                .dropdown-content {
                    @include display(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    position: relative;

                    .label {
                        @include flex(0 0 auto);
                        margin-right: rem(5);
                    }

                    .dropdown-icon {
                        @include flex(0 0 auto);
                        height: rem(10);
                        width: rem(10);

                        svg {
                            height: rem(10);
                            width: rem(10);
                            fill: $color-white;
                        }
                    }
                }
            }

            @import "./_searchSectionDropdown";
        }
    }
}