$summary-stats-teal: #00687D;
.summary-stats {
  color: white;
  height: rem(451);
  background-color: $summary-stats-teal;

  @media (min-width: 576px) and (max-width: 991px) {
    height: rem(235);
  }

  @media (min-width: 992px) {
    height: rem(98);
  }

  .grid-content {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0 auto;

    @media (min-width: 1600px) {
      text-align: left;
      width: rem(1600);
    }

    @media (min-width: 1350px) and (max-width: 1599px) {
      text-align: left;
      margin: 0 8.33%;
    }

    @media (min-width: 992px) and (max-width: 1349px) {
      text-align: left;
      justify-content: center;
      margin: 0 rem(32) !important;
    }

    span {
      font-size: rem(20);
    }

    .usa-dt-flex-grid__col-12 {
      justify-content: center;
    }

    .dot-pulse {
      top: rem(8);
    }

    .summary-stats__budget-total-container {
      margin: rem(24) 0;
      min-width: rem(344);

      .summary-stats__budget-total {
        font-weight: 600;
        border-bottom: rem(1) solid white;
      }

      @media(max-width: 991px) {
        margin-bottom: rem(12);
      }
    }

    .summary-stats__budget-items {
      display: flex;

      @media(max-width: 991px) {
        min-width: rem(470);
        padding: 0;
        margin-bottom: 0;
      }

      .summary-stats__budget-item {
        margin: rem(24) rem(48);
        min-width: rem(130);

        @media(min-width: 1600px) {
          margin: rem(24) rem(104) rem(24) 0;
        }

        @media(min-width: 992px) and (max-width: 1599px) {
          margin: rem(24) rem(48) rem(24) 0;
        }

        .budget-item__amount {
          font-weight: 600;
        }

        .budget-item__name {
          font-size: rem(16);
          line-height: rem(25);
        }
      }

      :first-of-type(.summary-stats__budget-item) {
        margin: rem(24) rem(48);
        @media(min-width: 1600px) {
          margin: rem(24) rem(104) rem(24) rem(52);
        }

        @media(min-width: 992px) and (max-width: 1599px) {
          margin: rem(24) rem(48) rem(24) rem(32);
        }
      }
    }

    .summary-stats__spending-link {
      cursor: pointer;
      margin: rem(24) 0;

      @media(max-width: 991px) {
        padding: 0;
        margin: 0;
      }

      a {
        display: flex;
        height: rem(40);
      }

      span {
        color: #DFE1E2;
        font-size: rem(16);
        line-height: rem(20);
      }

      :hover {
        color: #EDEFF0;
        font-weight: 600;
        text-decoration: none;
      }

      :active {
        color: white;
        font-weight: 600;
      }

      .arrow-circle-right {
        margin: auto 0;
        color: #DFE1E2;
        width: rem(24);
        height: rem(24);
        opacity: 40%;
      }

      .summary-stats__spending-link-text {
        margin-right: rem(8);
        min-width: rem(156);
      }
    }
  }
}