//MEDIA QUERIES FOR THE TREEMAP LANDING SECTION OF THE HOMEPAGE
@mixin treeMapLangingMQ () {
    @include media($tablet-screen) {
        margin-left: rem(20);
        width: 45%;
        .treemap-intro-text {
            .treemap-intro-bottom {
                @include setText(rem(35));
                text-align: right;
            }
            .treemap-intro-top {
                @include setText(rem(18));
                text-align: right;
            }
        }
    }
    @include media($medium-screen) {
        width: 35%;
        .treemap-intro-text {
            .treemap-intro-bottom {
                @include setText(rem(35)) letter-spacing: rem(-1);
            }
            .treemap-intro-top {
                @include setText(rem(18))
            }
        }
    }
    @include media($large-screen) {
        width: 40%;
        .treemap-intro-text {
            .treemap-intro-bottom {
                @include setText(rem(50))
            }
            .treemap-intro-top {
                @include setText(rem(24))
            }
        }
    }
    @include media($x-large-screen) {
        width: 40%;
        .treemap-intro-text {
            .treemap-intro-bottom {
                @include setText(rem(55))
            }
            .treemap-intro-top {
                @include setText(rem(28))
            }
        }
    }
}