.source {
    bottom: rem(10);
    color: $color-base;
    float: left;
    font-size: rem(10);
    margin-right: rem(20);
    margin-top: rem(10);
    position: relative;

    @include span-columns(16);

    @include media($tablet-screen) {
        display: inline-block;
    }


    .guide-icon {
        @include align-self(center);
        display: inline-block;
        fill: $color-gray;
        height: rem(17);
        left: rem(5);
        position: relative;
        top: rem(5);
        width: rem(15);
        svg {
            float: none;
        }
    }

    .more-icon {
        @include moreOptionsBtn($color-gray, $color-white);
        @include align-self(center);
        display: inline-block;
        right: 0;
        position: absolute;
        svg {
            float: none;
        }
    }
}