.source {
    // @include span-columns(16);
    @include fullSectionWrap(0, 0);
    bottom: rem(10);
    color: $color-base;
    font-size: rem(10);
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
    margin: 0 4rem 0;

    .info-icon-circle {
        @include align-self(center);
        display: inline-block;
        fill: $color-gray;
        height: rem(17);
        left: rem(5);
        position: relative;
        top: rem(3);
        width: rem(15);
        svg {
            float: none;
        }
    }
}

.more-icon {
    display: none; //HID THE MORE BUTTON UNTIL THIS COMPONENT IS BUILT
    @include moreOptionsBtn($color-gray, $color-white);
    float: right;
    margin-top: rem(0);
}