.word-of-the-day__section {
  display: flex;
  width: 100%;
  height: 100%;
  @media (min-width: $medium-screen) {
    // override grid-content bc it adds margins right and left
    //.grid-content {
    //  margin: 0 !important;
    //}
  }
    //.grid-content {
    //  border: solid 6px blue;
    //  border-radius: 4px;
    //  height: 50rem;
    //}
}
