.word-of-the-day__section {
  .word-of-the-day__heading {
    display: flex;
    flex-direction: row;
    font-size: rem(16);
    font-weight: $font-semibold;
    line-height: 1.25;
    text-transform: uppercase;
    color: $theme-color-body;
    margin-bottom: 16px;

    .word-of-the-day__heading--background {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: #ffe2d1;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 2px;

      .word-of-the-day__heading--icon {
        width: 8px;
        color: $theme-color-accent-4;
      }
    }
  }

  .card-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
