.covid-19-vaccine-link__container {
  background-color: #0051C4;
  color: white;
  padding-left: $outer-gutter/2;
  @include media($large-screen) {
    padding-left: $outer-gutter;
  }
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  padding-top: rem(5.5);
  padding-bottom: rem(5.5);
  font-size: rem(16);
  font-weight: $font-semibold;
  line-height: rem(22);
  .covid-19-vaccine-link__button {
    @include button-unstyled;
    font-weight: $font-semibold;
    cursor: pointer;
    font-size: rem(16);
    line-height: rem(22);
    text-decoration: underline;
  }
}
