.usa-da-home-page {
  @import 'all';
  @import "layouts/default/default";
  @import "layouts/default/header/_warning";

  .homepage-content {
    background-color: white;

    @import "gettingStarted";

    .usa-dt-flex-grid__row.grid-content {
        margin: 0 $grid-column;
        height: 100%;
    }

    @media screen and (max-width: $medium-screen) {
      .homepage-hero-content, .usa-dt-flex-grid__row.grid-content {
        margin: 0 rem(16);
      }
    }
  }

  @import "download/download";
  @import "./features/features";
  @import "hero/hero";
  @import "covidSection";
  @import "community";
}


