@import './_landingButtons';

.landing-parent-wrap {
    // we have to wrap divs with flex-direction: row and min-height inside a flex-direction: column
    // for IE only
    @include display(flex);
    @include flex-direction(column);
}

.landing-section-wrap {
    background: url(#{$image-path}/landing_bg_img.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: rem(700);
    padding: 0 rem(30);
    position: relative;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(row);
    & .content-wrap {
        display: block;
        min-height: rem(325);
        text-align: center;
        z-index: 2;
        & h2 {
            border-top: 1px solid rgba($color-white, .4);
            border-bottom: 1px solid rgba($color-white, .4);
            color: $color-white;
            font-size: rem(45);
            margin: 0;
            padding: rem(25) 0;
            & .stronger {
                color: #BDF486;
                font-weight: $font-normal;
            }
        }
        h5 {
            color: $color-gold-lighter;
            font-size: rem(20);
            font-weight: $font-normal;
            margin-top: rem(15);
        }
        @include landingButtons;
    }
    @include media($large-screen) {
        padding: 0 0;
    }
    & .bottom-gradient {
        @include linear-gradient(rgba(15, 45, 82, 0), rgba(15, 45, 82, 1));
        bottom: 0;
        height: rem(450);
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    @media (max-height: 750px) {
        min-height: rem(500);
        & .content-wrap {
            min-height: rem(225);
        }
    }
    @media (max-height: 650px) {
        min-height: rem(400);
        & .content-wrap {
            min-height: rem(175);
        }
    }
    @media (max-height: 650px) and (max-width: $tablet-screen) {
        min-height: rem(600);
    }
}