.results-visualization-geo-section {
    padding: 0;
    & .map-container {
        & .map-instructions {
            left: rem(30);
            top: rem(30);
        }
        & .map-legend {
            bottom: rem(30);
            left: rem(30);
        }
        height: rem(760);
        & .mapbox-item.mapboxgl-map {
            & .mapboxgl-control-container {
                & .mapboxgl-ctrl-top-right {
                    right: rem(20)!important;
                    top: rem(20)!important;
                }
            }
        }
    }
}