.treemap-sidebar {
    @include span-columns(16);
    @include clearfix;
    .tree-desc {
        border-left: rem(10) solid $color-active;
        color: $color-base;
        font-size: rem(20);
        font-weight: $font-light;
        padding: rem(10) 0 rem(10) rem(15);
        & b {
            font-weight: $font-semibold;
        }
    }
    .tree-hover-tip {
        background-color: rgba(242, 183, 51, 0.1);
        border-bottom: 1px solid rgba(242, 183, 51, 0.4);
        border-top: 1px solid rgba(242, 183, 51, 0.4);
        color: $color-base;
        display: inline-block;
        font-size: $base-font-size;
        margin-bottom: rem(20);
        margin-top: rem(30);
        padding: rem(15);
        text-align: center;
        width: 100%;
    }
    @include media($medium-screen) {
        @include span-columns(5);
        @include shift(11 of 16);
        & .tree-hover-tip {
            margin-bottom: 0;
            margin-top: rem(90);
        }
    }
}