.tree-wrapper {
    display: block;
    @include span-columns(16);
    @include media($medium-screen) {
        display: inline-block;
        margin-right: 4rem;
        @include span-columns(10);
    }

    @import './visualizations/_treemapVisualization';
    @import './_treemapSource';

}