.treemap-sidebar {
    display: block;

    @include media($tablet-screen) {
        display: inline-block;
    }

    .tree-desc {
        border-left: 1rem solid #F2B733;
        color: #555;
        font-size: 2rem;
        height: 10rem;
        margin: 2rem;
        padding-left: 1.5rem;
        position: relative;
        width: 90%;
        @include media($tablet-screen) {
            margin: 0;
            position: absolute;
            top: 2rem;
            width: rem(380px);
        }
    }
    .tree-hover-tip {
        background-color: rgba(242,183,51,0.1);
        border-bottom: 1px solid rgba(242,183,51,0.4);
        border-top: 1px solid rgba(242,183,51,0.4);
        color: #555;
        font-size: 1.6rem;
        margin: 2rem;
        padding: 1.7rem;
        position: relative;
        text-align: center;
        width: 90%;
        @include media($tablet-screen) {
            margin: 0;
            position: absolute;
            top: 20.1rem;
            width: rem(380px);
        }
    }

}