.wosb-page {
  @import 'all';
  @import "layouts/default/default";
  @import "layouts/default/header/_warning";
  @import "layouts/default/stickyHeader/header";

  .equity-content {
    background-color: white;

    .usa-dt-flex-grid__row.grid-content {
      margin: 0 $grid-column;
      height: 100%;
    }
  }
}
