.filter-item-wrap {
  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding-bottom: pxToRem(20);
    position: relative;

    input {
      width: 100%;
      height: pxToRem(32);
      margin: 0;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit ($global-spacing-unit * 4);
      font-size: $smallest-font-size;
      line-height: 1.5;
      color: $gray-60;
      border: solid pxToRem(1) $gray-cool-10;
      border-radius: pxToRem(3);
    }

    svg {
      color: $gray-60;
      width: pxToRem(12);
      height: pxToRem(12);
    }

    .search-icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: pxToRem(16);
      height: pxToRem(16);
      left: $global-spacing-unit;
      top: pxToRem(2);
      padding: pxToRem(2);
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);
      justify-self: center;
      position: absolute;
      height: pxToRem(16);
      right: $global-spacing-unit;
      top: pxToRem(2);
      padding: pxToRem(2);
    }
  }

  .no-results {
    padding-bottom: pxToRem(20);
    font-size: $lead-font-size;
    line-height: 1.5;
    color: $gray-60;
    text-align: center;
  }

  .checkbox-filter__wrapper {
    .checkbox-filter__header.accordion-checkbox {
      margin-bottom: ($global-margin * 1.5);

      .checkbox-filter__header-icon {
        width: pxToRem(10);

        svg {
          color: $blue-50;
          max-width: pxToRem(10);
          max-height: pxToRem(10);
        }
      }

      input {
        @include usa-input-checkbox;
        width: pxToRem(12);
        height: pxToRem(12);
        min-width: pxToRem(12);
        margin: 0 0 pxToRem(4) pxToRem(6);
        vertical-align: middle;
        border: solid pxToRem(1) $gray-cool-20;

        &:checked {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:checked:before {
          width: pxToRem(4);
          height: pxToRem(8);
          margin: pxToRem(0) pxToRem(3);
        }

        &:indeterminate {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:indeterminate:before {
          width: pxToRem(10);
          margin: pxToRem(5) auto;
          border-bottom: pxToRem(2) solid #fff;
        }
      }

      .checkbox-filter__header-label.accordion-checkbox {
        margin-left: pxToRem(6);

        span.highlight {
          background-color: $yellow-10;
        }
      }
    }

    .checkbox-filter__list.accordion-checkbox {
      margin: 0 0 0 pxToRem(30);
    }
  }
}
