.filter-item-wrap {
  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding-bottom: rem(20);
    position: relative;

    input {
      width: 100%;
      height: rem(32);
      margin: 0;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit ($global-spacing-unit * 4);
      font-size: $smallest-font-size;
      line-height: 1.5;
      color: $gray-60;
      border: solid rem(1) $gray-cool-10;
      border-radius: rem(3);
    }

    svg {
      color: $gray-60;
      width: rem(12);
      height: rem(12);
    }

    .search-icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: rem(16);
      height: rem(16);
      left: $global-spacing-unit;
      top: rem(2);
      padding: rem(2);
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);
      justify-self: center;
      position: absolute;
      height: rem(16);
      right: $global-spacing-unit;
      top: rem(2);
      padding: rem(2);
    }
  }

  .no-results {
    padding-bottom: rem(20);
    font-size: $lead-font-size;
    line-height: 1.5;
    color: $gray-60;
    text-align: center;
  }

  .checkbox-filter__wrapper {
    .checkbox-filter__header.accordion-checkbox {
      margin-bottom: ($global-margin * 1.5);

      .checkbox-filter__header-icon {
        width: rem(10);

        svg {
          color: $blue-50;
          max-width: rem(10);
          max-height: rem(10);
        }
      }

      input {
        @include usa-input-checkbox;
        width: rem(12);
        height: rem(12);
        min-width: rem(12);
        margin: 0 0 rem(4) rem(6);
        vertical-align: middle;
        border: solid rem(1) $gray-cool-20;

        &:checked {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:checked:before {
          width: rem(4);
          height: rem(8);
          margin: rem(0) rem(3);
        }

        &:indeterminate {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:indeterminate:before {
          width: rem(10);
          margin: rem(5) auto;
          border-bottom: rem(2) solid #fff;
        }
      }

      .checkbox-filter__header-label.accordion-checkbox {
        margin-left: rem(6);
      }
    }

    .checkbox-filter__list.accordion-checkbox {
      margin: 0 0 ($global-margin * 1.5) rem(30);
    }
  }
}
