.filter-item-wrap {
  .checkbox-filter__wrapper {
    .checkbox-filter__header.accordion-checkbox {
      margin-bottom: ($global-margin * 1.5);

      .checkbox-filter__header-icon {
        width: rem(10);

        svg {
          color: $blue-50;
          max-width: rem(10);
          max-height: rem(10);
        }
      }

      input {
        @include usa-input-checkbox;
        margin: 0 0 rem(3) rem(6);
        vertical-align: middle;
        border: solid rem(1) $gray-cool-20;

        &:checked {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:indeterminate {
          background-color: $blue-50;
          border-color: $blue-50;
        }

        &:indeterminate:before {
          width: rem(10);
          margin: rem(6) auto;
          border-bottom: rem(2) solid #fff;
        }
      }

      .checkbox-filter__header-label.accordion-checkbox {
        margin-left: rem(6);
      }
    }

    .checkbox-filter__list.accordion-checkbox {
      margin: 0 0 ($global-margin * 1.5) rem(38);
    }
  }
}
