@import "listCheckbox";
@import "_accordionCheckbox";

.filter-item-wrap {
  padding: pxToRem(20) pxToRem(32);

  .checkbox-filter__wrapper {
    .checkbox-filter__header {
      font-size: $font-size-12;
      line-height: 1.5;
      display: flex;
      align-items: center;

      .checkbox-filter__header-label-container {
        .checkbox-filter__header-label {
          font-weight: $font-semibold;
          color: $gray-90;

          span.highlight {
            background-color: $yellow-10;
          }
        }

        .checkbox-filter__header-count {
          margin-left: pxToRem(6);
          font-size: $font-size-10;
          font-style: italic;
          color: $gray-60;
        }
      }
    }

    .checkbox-filter__list {
      list-style: none;
      padding: 0;
      font-size: $font-size-12;
      line-height: 1.5;

      .checkbox-filter__item {
        margin-bottom: $global-margin;
        display: flex;
        align-items: flex-start;

        &:last-of-type {
          margin-bottom: 0;
        }

        input {
          @include usa-input-checkbox;
          margin: 0;
          border: solid pxToRem(1) $gray-cool-20;
          width: pxToRem(12);
          height: pxToRem(12);
          min-width: pxToRem(12);
          top: pxToRem(3);

          &:checked {
            background-color: $blue-50;
            border-color: $blue-50;
          }

          &:checked:before {
            width: pxToRem(4);
            height: pxToRem(8);
            margin: pxToRem(0) pxToRem(3);
          }
        }

        .checkbox-filter__item-label {
          margin: pxToRem(1) 0 0 pxToRem(6);
          color: $gray-80;

          span.highlight {
            background-color: $yellow-10;
          }
        }
      }

      .checkbox-filter__item.hidden {
        display: none;
      }
    }
  }
}
