.primary-checkbox-type {
    @import "./_sharedCheckboxStyle";
    @include sharedCheckboxStyle;
    &.single-item {
        padding-left: rem(19);
    }
    svg {
        fill: $color-gray-dark;
        height: rem(11);
        width: rem(11);
        position: relative;
    }
    .toggle {
        @include button-unstyled;
        display: inline-block;
        height: rem(28);
        vertical-align: middle;
        margin-right: rem(8);
        float: left;
        &.hidden-button {
            opacity: 0.3;
            cursor: not-allowed;
        }
        span {
            // this is for the animation group
            margin: 0;
            top: 0;
        }
    }
}