.secondary-checkbox-type {
    @import "./_sharedCheckboxStyle";
    @include sharedCheckboxStyle;

    margin-left: pxToRem(40);

    .checkbox-item-wrapper {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);

        margin-right: pxToRem(10);

        input[type=checkbox] {
            @include flex(0 0 auto);
            @include align-self(flex-start);

            width: pxToRem(14);
            height: pxToRem(14);
        }
        .checkbox-item-label {
            @include flex(1 1 auto);
        }
    }
}