@import "mixins/setText";
@mixin sharedCheckboxStyle {
    label.checkbox-item-wrapper {
        cursor: pointer;

        input[type=checkbox] {
            @include usa-input-checkbox;
            height: pxToRem(14);
            width: pxToRem(14);

            cursor: pointer;
        }
        .checkbox-item-label {
            margin-left: pxToRem(6);
            font-size: pxToRem(12);
            cursor: pointer;

            @include media($large-screen) {
                font-size: $small-font-size;
            }
        }
    }
}