@import "mixins/setText";
@mixin sharedCheckboxStyle {
    display: table;
    width: 100%;
    .checkbox-type-item-wrapper {
        display: table-cell;
        clear: both;
        overflow: hidden;
        input[type=checkbox] {
            float: left;
            margin-right: rem(6);
            margin-top: rem(6);
        }
        span {
            cursor: pointer;
            margin-left: rem(10);
            top: rem(10);
            position: relative;
        }
        label {
            @include usa-label;
            display: inline-block;
            @include setText(rem(14));
            margin: 0 0 rem(10) 0;
            width: 80%;
            padding-left: 0;
            &:before {
                width: rem(14);
                height: rem(14);
                position: relative;
            }
        }
    }
}