#usa-dt-modal__agency-submission-statistics {
  width: auto;
}
.usa-dt-modal.about-the-data-modal {
    @include media($tablet-screen) {
      max-width: rem(483);
    }
    @include media($large-screen) {
      min-width: rem(483);
    }
    font-size: rem(14);
    .usa-dt-modal__header {
      .about-the-data-modal__header-data {
        padding: rem(30);
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          padding-left: 0;
        }
        .about-the-data-modal__agency-name {
            font-size: rem(14);
            line-height: rem(18);
        }
        .usa-dt-modal__title {
            font-size: rem(22);
            line-height: rem(28);
            padding: rem(5) 0;
        }
        .about-the-data-modal__fiscal-year-quarter-period {
            font-size: rem(16);
        }
      }
      .usa-dt-modal__close-button {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          margin-left: rem(30);
        }
      }
    }
    .usa-dt-modal__section {
      overflow-x: scroll;
      padding: 0;
      @include media($tablet-screen) {
        padding: 0 rem(30) rem(30) rem(30);
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        padding: 0;
      }
      .usda-table {
        margin: 3rem 0;

        // this was added after the dtui table styles were changed for the new search page
        th {
          // we need to get rid of the black borders that will appear
          border: 0;
          // and replace them with this gray border
          border: solid 1px $color-gray-border;
          // and this modal has never had border on the td, you can see that below
          // it uses border none
        }

        .usda-table__head {
          .table-header {
            .table-header__content {
              .table-header__label {
                font-size: rem(14);
                line-height: rem(18);
                .publication-dates__column-header-sub-title {
                  font-size: rem(14);
                  line-height: rem(15);
                  font-weight: $font-normal;
                }
              }
            }
          }
        }
        .usda-table__body { // removes loading border
          .usda-table__row {
            .usda-table__cell {
              font-size: rem(14);
            }
          }
          tr {
            td {
              border: none;
              .usda-loading-animation__container {
                .loading-message {
                  text-align: center;
                }
              }
            }
          }
          font-size: rem(14);
          .usda-table__row {
            .usda-table__cell {
              padding: rem(10) rem(15);
            }
          }
        }
      }
    }
    // missing account balances specific
    &.missing-account-balance-modal {
      @include media($tablet-screen) {
        max-width: rem(700);
      }
      @include media($large-screen) {
        max-width: rem(700);
        min-width: rem(700);
      }
      .about-the-data-modal__header-data {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          padding-left: 0;
        }
      }
      .usa-dt-modal__section {
        .usda-table {
          .usda-table__body {
            .usda-table__row {
              .usda-table__cell:not(:first-child) {
                padding-right: rem(42);
              }
            }
          }
        }
      }
    }
    // publication dates modal specific
    &.publication-dates-modal {
      @include media($tablet-screen) {
        max-width: rem(483);
      }
      @include media($large-screen) {
        max-width: rem(483);
        min-width: rem(483);
      }
      .usa-dt-modal__section {
        .usda-table {
          .usda-table__head {
            .table-header {
              .table-header__content {
                .table-header__label {
                  .publication-dates__column-header-sub-title {
                    font-size: rem(14);
                    line-height: rem(15);
                    font-weight: $font-normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    // reporting differences modal
    &.reporting-differences-modal {
      @include media($tablet-screen) {
        max-width: rem(900);

      }
      @include media($large-screen) {
        max-width: rem(900);
        min-width: rem(900);
      }
      .usa-dt-modal__section {
        .usda-table {
          .usda-table__body {
            .usda-table__row {
              .usda-table__cell:not(:first-child) {
                text-align: right;
                padding-right: rem(42);
              }
            }
          }
        }
      }
    }
    // unlinked data modal
    &.unlinked-data-modal {
      @include media($tablet-screen) {
        max-width: rem(730);
        table.usda-table {
          margin-bottom: 0;
        }
      }
      @include media($large-screen) {
        max-width: rem(730);
        min-width: rem(730);
      }
      .usa-dt-modal__section {
        table.usda-table {
          thead.usda-table__head {
            border-bottom: none;
            .usda-table__row {
              th.table-header {
                padding-top: 0;
              }
              .table-header:last-child {
                vertical-align: top;
              }
              .table-header:not(:first-child) {
                border-bottom: solid rem(1) $color-gray-light;
              }
            }
          }
          .usda-table__body {
            .usda-table__row {
              .table-header {
                font-size: rem(14);
                text-align: right;
                border: none;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
}
