.usa-dt-modal.covid-modal {
    width: rem(1056);
    .usa-dt-modal__header {
        background: $color-disaster-covid-19;
        &.covid-header {
            text-align: center;
            color: $color-white;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            h1 {
                margin-top: rem(17);
                margin-bottom: rem(17);
                margin-right: auto;
                font-size: rem(34);
                line-height: rem(42);
                padding: 0;
                padding-left: rem(17);
            }
        }
        .usa-dt-modal__close-button {
            padding: rem(10);
            @include align-self(flex-start);
            svg {
                width: rem(20);
                height: rem(20);
            }
        }
    }
    .usa-dt-modal__body {
        &.covid-modal-body {
            padding-bottom: 0;
        }
        .covid-modal-h2 {
            font-size: rem(19);
            font-weight: 600;
            text-align: left;
            line-height: rem(24);
        }
        .covid-modal-li {
            text-align: left;
        }
        .usa-dt-modal__link {
            @include display(flex);
            button {
                height: rem(36);
                width: rem(158);
            }
            &.covid-modal-button {
                margin-top: rem(45);
                margin-bottom: rem(25);
                @include display(flex);
                @include justify-content(center);
            }
        }
    }
}
