@include media($small-screen) {
    .uei-modal-header {
        background: $color-primary-darker !important;
        h1 {
            padding-left: rem(24) !important;
        }
    }
    .uei-modal-body {
        text-align: left !important;
        padding: 2rem 1.5rem 5rem rem(24) !important;
    }
    .usa-dt-modal.covid-modal {
        width: 100%;
        @media screen and (max-width: 500px) {
            max-width: 38rem;
            max-height: 128rem;
        }
        .usa-dt-modal__header {
            background: $color-disaster-covid-19;
            &.covid-header {
                color: $color-white;
                @include display(flex);
                h1 {
                    margin-top: rem(17);
                    margin-bottom: rem(17);
                    font-size: rem(30);
                    line-height: rem(35);
                    padding: 0;
                    padding-left: rem(30);
                    @include align-items(flex-start);
                    @include justify-content(flex-start);
                }
            }
            .usa-dt-modal__close-button {
                @include align-self(flex-start);
                svg {
                    width: rem(20);
                    height: rem(20);
                }
            }
        }
        .usa-dt-modal__body {
            &.covid-modal-body {
                padding-bottom: 0;
                padding: rem(30) rem(30) rem(15) rem(30);
            }
            .covid-modal-h2 {
                font-size: rem(19);
                font-weight: 400;
                text-align: left;
                line-height: rem(24);
            }

            .covid-modal-bold {
                font-weight: 600;
            }

            .covid-modal-li {
                text-align: left;
                font-size: rem(14);
                line-height: rem(18);
            }
            .usa-dt-modal__link {
                @include display(flex);
                button {
                    height: rem(36);
                    width: rem(158);
                }
                &.covid-modal-button {
                    margin-top: rem(45);
                    @include display(flex);
                    @include justify-content(center);
                }
            }
            .modal-disclaimer {
                margin: rem(14) 0 rem(2);
                @include usa-alert-warning;
                @include display(flex);
                border: solid 1px $color-gold;
                text-align: left;
                padding: rem(18) rem(10);
                .modal-disclaimer__icon {
                    @include flex(0 0 auto);
                    color: $color-gold;
                    font-size: rem(26);
                    margin-right: rem(10);
                }
                .modal-disclaimer__text {
                    @include flex (1 1 auto);
                    h2 {
                        margin: 0 0 rem(6);
                        font-weight: $font-semibold;
                        font-size: rem(18);
                        line-height: rem(22);
                    }
                    p {
                        margin: 0;
                        a {
                            font-weight: $font-semibold;
                        }
                    }
                }
            }
            &.interim-data-modal {
                p {
                    text-align: left;
                }
                li {
                    text-align: left;
                    font-size: rem(14);
                    line-height: rem(18);
                }
            }
        }
    }
}



@include media($tablet-screen) {
    .usa-dt-modal.covid-modal {
        width: rem(768);
        .usa-dt-modal__header {
            &.covid-header {
                h1 {
                    font-size: rem(34);
                    line-height: rem(42);
                    padding-left: rem(80);
                }
            }
        }
        .usa-dt-modal__body {
            &.covid-modal-body {
                padding: rem(10) rem(80) rem(10) rem(80);
            }
        }
    }
}

@include media($large-screen) {
    .usa-dt-modal.covid-modal {
        width: rem(1056);
    }
}
