.visualization-top {
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;

    @import "../../../../../components/visualizations/_description";
}

.visualization-description {
    display: table-cell;
    vertical-align: middle;
}

.visualization-period {
    display: table-cell;
    vertical-align: middle;

    @import "../../../../../components/visualizations/_scope";
    
    .content {
        @include media($tablet-screen) {
            height: 60px;
            width: 300px;
        }
        @include media($large-screen) {
            width: 390px;
            padding: 15px 30px;
        }
        li {
            @include media($tablet-screen) {
                display: inline-block;
                margin-left: 30px;
                margin-bottom: 0;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
        .coming-soon {
            .period-button {
                color: $color-gray-lighter;
            }
            .period-button:hover {
                color: $color-gray-lighter;
                border-bottom: 4px solid rgba(255,255,255,0);
            }
            .coming-soon-icon {
                bottom: rem(10px);
                height: 0;
                float: left;
                left: rem(0px);
                position: relative;
                svg {
                    fill: $color-gray-lighter;
                    height: rem(10px);
                    width: rem(10px);
                }
            }
            .coming-soon-label {
                bottom: rem(6px);
                color: $color-gray-lighter;
                float: left;
                font-weight: bold;
                font-size: rem(10px);
                height: 0;
                left: rem(13px);
                position: relative;
            }
            &:hover {
                cursor: default;
            }
            &:hover * {
                cursor: default;
            }
        }
    }
}