.visualization-top {
    margin-top: 20px;
    margin-bottom: 20px;

    display: table;

    @import "../../../../../components/visualizations/_description";
}

.visualization-description {
    display: table-cell;
    vertical-align: middle;
}

.visualization-period {
    display: table-cell;
    vertical-align: middle;

    @import "../../../../../components/visualizations/_scope";
    
    .content {
        @include media($tablet-screen) {
            width: 300px;
            height: 60px;

            @include media($large-screen) {
                width: 390px;
                padding: 15px 30px;
            }
        }

        li {
            @include media($tablet-screen) {
                display: inline-block;
                margin-left: 30px;
                margin-bottom: 0;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
}