.results-visualization-time-section {
    @import "./chart/barChart";
    @import "./_topSection";

    h2.visualization-title {
        @include h3;
        margin: 0;
    }
    .visualization-tooltip {
        @import "components/visualizations/tooltip/_tooltip";
    }
    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
    .results-visualization-time-container {
        min-height: rem(304);
    }
}