.results-visualization-time-section {
    @import "./chart/barChart";
    @import "./_topSection";

    h2.visualization-title {
        @include h3;
        margin: 0;
    }
    .visualization-tooltip {
        @import "components/visualizations/tooltip/_tooltip";
    }
    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
    .visualization-top {
        .download {
            float: right;
            padding-top: rem(20);
            
            svg {
              font-size: rem(17);
            }

            button {
                color: $color-primary;
                background: transparent;
                padding-right: 0;
            }

            .text {
                margin-left: rem(9);
                font-size: rem(14);
                line-height: rem(18);
            }

            .info {
                color: $color-gray-lighter;
            }

            .tooltip-wrapper {
                display: inline-block;
                .tooltip__hover-wrapper {
                  svg {
                    margin-right: 0;
                    margin-left: rem(13);
                    font-size: rem(20);
                  }
                }
                .tooltip__title {
                    border-bottom: solid thin #aeb8b5;
                }
            }
        }
    }
    .results-visualization-time-container {
        min-height: rem(304);
    }
}
