.award-overview {

    .award-overview__awarding {
        background-color: #F5FBFC;
        height: rem(135);
    }

    .award-overview__awarding-title {
        font-size: rem(14);
        font-weight: 600;
    }

    .award-overview__awarding-detail {
        font-size: rem(16);
        color: #0074be;
        text-transform: uppercase;
        font-weight: 600;
    }

   
}