.award-overview {

    @include display(flex);
    width: 50%;

    .award-overview__awarding {
        background-color: #F5FBFC;
        height: rem(134);
        padding: rem(11) 0 0 rem(13);
        width: 50%;
        position: relative;
    }

    .award-overview__awarding:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: rem(65) solid transparent;
        border-left: rem(20) solid #F5FBFC;
        border-bottom: rem(65) solid transparent;
        margin-right: rem(-20);
    }

    .award-overview__awarding-title {
        font-size: rem(14);
        font-weight: 600;
        display: inline-block;
        margin-bottom: rem(6);
    }

    .award-overview__awarding-detail {
        font-size: rem(16);
        color: #0074be;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.13;
    }

    .award-overview__recipient {
        height: rem(134);
        padding: rem(11) 0 0 rem(60);
        width: 50%;
    }

    .award-overview__recipient-title {
        font-size: rem(14);
        font-weight: 600;
        display: inline-block;
        margin-bottom: rem(6);
    }

    .award-overview__recipient-detail {
        font-size: rem(16);
        color: #0074be;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.13;
    }

   
}