.agencyRecipient {
    .award__row {
        padding: rem(10);
    }
    .text-button-container {
        margin-top: rem(100);
    }
    .award-amounts__content h4 {
        margin-top: rem(20);
        font-weight: 400;
        text-transform: uppercase;
    }
}
