.additionalInfo-wrapper {
    .award__row {
        padding:0;
    }
    .globaltoggler {
    	color:$color-cool-blue;
    	padding:rem(12) 0;
    }
}

.award__row__fullheading {
    width:100%;
}

.accordion, .accordion-open {
    margin-bottom:rem(20);
}
.accordion-open .accordion-content {
  height: auto;
  border: rem(1) solid $color-gray-lightest;
}

.accordion {
    width:100%;
    .data-row span:first-child {
        text-transform :capitalize
    }
}

.accordion-bar {
   cursor: pointer;
   background-color: $color-gray-lightest;
   padding: rem(10);
   overflow: auto;
   color: $color-gray;
   display:flex;
   svg {
      height: rem(18);
      position: relative;
      top: rem(4);
      padding-right: rem(8);
      fill: $color-gray-medium;
   }
   span:last-child {
   	margin-left: auto;
   }
}

.accordion-content {
  overflow: hidden;
  height: 0;
}

.accordion-content {
    .data-row {
       display:flex;
       padding: rem(8) rem(35);
       border-bottom: rem(1) solid $color-gray-lightest;
       span {
          flex:1;
       }
       &:last-child {
          border-bottom: none;
       }
    }
}
