.award-idv {
    .idv__heading {
        @include display(flex);
        @include justify-content(space-between);
        .idv__info {
            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-start);
            font-size: rem(24);
        }
        .idv__last-modified {
            text-transform: uppercase;
            @include align-self(flex-end);
            &.idv__last-modified_date {
                font-weight: $font-light;
            }
        }
    }
}