.award-contract {
    padding: rem(24) rem(10) rem(24) rem(30);
    @import "./_awardOverview";
    
    .award-contract__heading {
        text-transform: uppercase;
        font-size: rem(24);

        .award-contract__heading_bold {
            font-weight: 600;
        }

    }

    .award-contract__heading-divider {
        border: solid 1px $color-dark-gray;
    }

    .award-contract__heading-glossary {
        vertical-align: middle;
        @include display(inline-flex);
        svg {
            width: rem(19);
            height: rem(25);
            fill: $color-gray-icon;
        }
    }
}