.explorer-table {
    background-color: $color-white;
    border-left: 1px solid $color-gray-border;
    border-right: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;
    position: relative;
    display: block;
    overflow: auto;

    .usa-dt-pagination {
        margin: rem(15);
    }

    &.no-results {
        border: none;
    }
    table {
        margin-top: 0;
        width: rem(500);

        @include media($tablet-screen) {
            width: auto;
        }

        .usda-table__head {
            .usda-table__row {
                border-bottom: solid 1px $color-gray-lighter;

                .table-header {
                    background-color: $color-white;
                    border: 0;

                    &:first-child {
                        width: 55%;
                    }

                    &:nth-child(2) {
                        width: 25%;

                        .cell-content {
                            float: right;
                        }
                    }

                    &:last-child {
                        width: 20%;

                        .cell-content {
                            float: right;
                        }
                    }
                }
            }
            .award-result-header-cell {
                @import "./cells/_explorerHeaderCell";
            }
        }

        .usda-table__body {
            .usda-table__row {
                .usda-table__cell {
                    border: 0;
                    background-color: inherit;

                    &:first-child {
                        width: 55%;
                    }

                    &:nth-child(2) {
                        width: 25%;

                        .cell-content {
                            float: right;
                        }
                    }

                    &:last-child {
                        width: 20%;

                        .cell-content {
                            float: right;
                        }
                    }
                }
                .explorer-link-cell {
                    .cell-content {
                        .go-deeper-link {
                            @include button-unstyled;
                            color: $blue-50;
                            font-size: $font-size-16;
                            line-height: $base-line-height;
                        }
                    }
                }

                // gray out even rows
                &.usda-table__row_odd {
                    background-color: #f7f7f7;
                }
            }
        }
    }
}
