.homepage-covid {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  background-image: url("../../../img/homepage-covid-section-background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  span {
    white-space: nowrap;
  }
  .grid-content {
    padding-top: $global-padding * 12;
    .homepage-covid__column-one {
      margin-bottom: $global-margin * 4;
      @media (min-width: $medium-screen) {
        padding-right: $global-margin * 3;
      }
      .homepage-covid__column-one-content-wrapper {
        display: flex;
        flex-flow: column nowrap;
      }
      .homepage-covid__heading {
        font-size: rem(40);
        font-weight: $font-semibold;
        color: #1b1b1b;
        padding-bottom: $global-padding * 3;
      }
      .homepage-covid__content {
        font-size: rem(32);
        font-weight: $font-normal;
        .covid-hero__headline--amount {
          opacity: 0;
          display: inline-block;
          line-height: 34px;
          font-weight: $font-semibold;
          @media(min-width: 1027px) {
            line-height: 44px;
          }
          border-bottom: rem(4) solid #beaac9;
          transition: opacity 2s ease-in-out;
          &.show-amount {
            opacity: 1;
          }
        }
        @media (min-width: $medium-screen) {
          margin-bottom: $global-margin * 16;
        }
        @media (min-width: 1200px) {
          margin-bottom: $global-margin * 10;
        }
        @media (min-width: 1500px) {
          margin-bottom: $global-margin * 8;
        }
        @media (min-width: 1700px) {
          margin-bottom: 0;
        }
      }
      .homepage-covid__image-wrapper {
        @media (max-width: $medium-screen) {
          display: none;
        }
        width: 100%;
      }
    }
    .homepage-covid__column-two {
      display: flex;
      margin-bottom: $global-margin * 4;
      @media (min-width: $medium-screen) {
        padding-left: $global-margin * 3;
      }

      .homepage-covid__column-two-content-wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  @import "../../components/card";
}