.usa-da-home-page {
  @import "all";
  @import "layouts/default/default";

  @import "layouts/default/header/_warning";

  .homepage-content {

    .homepage-covid {
      width: 100%;
      height: 400px;
      background-color: lightgrey;
    }

    .homepage-getting-started {
      width: 100%;
      height: 400px;
      background-color: lightgrey;
    }

    .homepage-hero-content {
      width: 100%;
      height: 600px;
      background-color: lightblue;
    }

    .usa-dt-flex-grid__row.grid-content {
        margin: 0 $col-1;
        height: 400px;
        background-color: white;
    }
  }

  @import "../homepage/hero/hero";
  @import "../homepage/features/features";
  @import "../homepage/download/download";
  @import "../homepage/community/community";
  @import "../homepage/hero/covid-hero";
}

