.usa-da-home-page {
  @import 'all';
  @import "layouts/default/default";
  @import "layouts/default/header/_warning";

  .homepage-content {

    .homepage-covid {
      height: 400px;
      background-color: lightgrey;
    }

    .homepage-getting-started {
      height: 100%;
      background-color: white;
      .homepage-background-flair {
        position: absolute;
        z-index: 0;
        top: 224rem;
        @media (max-width: 1600px) {
          top: 210rem;
          height: 60vw;
        }
        @media (max-width: $medium-screen) {
          top: 235rem;
          height: 120vw;
        }
        @media (max-width: $tablet-screen) {
          top: 232rem;
          height: 100rem;
        }
        left: 0;
        width: 100%;
        height: 50vw;

        background-color: $color-gray-warm-light;
        opacity: 0.5;

        @include transform(skewY(5deg));
    }
      .grid-content {
        button {
          border-radius: 4px;
          @media (max-width: $tablet-screen) {
            width: 100%;
          }
        }
        .section-heading-title-wrapper  {
          width: 100%;
          margin: 0 auto;
          text-align: center;
          @media (max-width: $medium-screen) {
            text-align: left;
          }
          .section-heading-title {
            font-size: 40px;
            font-weight: 600;
            color: #1b1b1b;
          }
        }
        .homepage-spending-explorer {
          .homepage-spending-explorer__img-wrapper {
            padding-bottom: $global-padding * 20;
            padding-top: $global-padding * 9;
            @media (max-width: $medium-screen) {
              padding-bottom: 0;
              padding-top: $global-padding * 3;
            }
            img {
              max-width: 85%;
              @media (max-width: $medium-screen) {
                max-width: 100%;
              }
            }
            
          }
          .homepage-spending-explorer-desc {
            margin-top: $global-margin * 16;
            @media (max-width: $medium-screen) {
              margin-top: 1.5rem !important;
            }
            @media (max-width: $large-screen) {
              margin-top: $global-margin * 8;
            }
            .homepage-spending-explorer-desc__title {
              font-size: 28px;
              font-weight: 600;
              line-height: 1.25;
              color: #1b1b1b;
            }
            p {
              font-size: 20px;
              line-height: 1.5;
            }
          }
        }
        .homepage-search-feature {
          margin-top: 6.5rem;
          .homepage-search-feature__img-carousel {
            padding-top: $global-padding * 20;
            padding-left: $global-padding * 10;
            @media (max-width: $medium-screen) {
              padding-top: $global-padding * 3;
              padding-left: 0;
            }
          }
          .homepage-search-feature-desc {
            position: relative;
            z-index: 3;
            margin-top: $global-margin * 20;
            @media (min-width: $x-large-screen) {
              margin-top: $global-margin * 35;
            }
            @media (max-width: $medium-screen) {
              margin-top: -6.5rem !important;
            }
            margin-right: $global-margin;
            p {
              font-size: 20px;
              line-height: 1.5;
            }
            .homepage-search-feature-desc__title {
              font-size: 28px;
              font-weight: 600;
              line-height: 1.25;
              color: #1b1b1b;
              @media (max-width: $medium-screen) {
                margin-top: 10rem;
              }
            }
          }
        }
        .homepage-profile-feature {
          margin-top: $global-margin * 30;
          @media (max-width: $tablet-screen) {
            margin-top: $global-margin * 10;
          }
          .homepage-profile-feature__img-carousel {
            padding-top: $global-padding * 10;
            padding-right: $global-padding * 10;
            @media (max-width: $medium-screen) {
              padding-top: $global-padding * 3;
              padding-right: 0;
            }
          }
          .homepage-profile-feature-desc {
            .homepage-profile-feature-desc__title {
              font-size: 28px;
              font-weight: 600;
              line-height: 1.25;
              color: #1b1b1b;
              @media (max-width: $medium-screen) {
                margin-top: 10rem;
              }
            }
            p {
              font-size: 20px;
              line-height: 1.5;
            }
            margin-top: $global-margin * 12;
            @media (min-width: $large-screen) {
              margin-top: $global-margin * 15;
            }
            @media (max-width: $medium-screen) {
              margin-top: -7.5rem !important;
            }
          }
        }
      }
      h3.section-heading-title {
        line-height: 50px;
        font-weight: 600;
        font-size: 3rem;
      }
    }

    .homepage-hero-content {
      height: 600px;
      background-color: lightblue;
      margin: 0 $global-margin * 5;
    }

    .usa-dt-flex-grid__row.grid-content {
        margin: 0 $grid-column;
        height: 100%;
        background-color: white;
    }

    @media screen and (max-width: $tablet-screen) {
      .homepage-hero-content, .usa-dt-flex-grid__row.grid-content {
        margin: 0 rem(16);
      }
    }

  }

  @import "../homepage/download/download";
  @import "../homepage/community/community";
  @import "../homepage/features/_carousel";
}


