.landing-option {
    @include flex(0 0 auto);
    padding: pxToRem(30);

    width: 100%;

    margin-top: pxToRem(30);
    &:first-child {
        margin-top: 0;
    }

    @include media($large-screen) {
        width: pxToRem(350);
        margin-left: pxToRem(30);
        margin-top: 0;

        &:first-child {
            margin-left: 0;
        }
    }
    @include media($x-large-screen) {
        width: pxToRem(400);
    }

    background-color: $color-gray;
    border-radius: pxToRem(8);
    color: $color-white;
    text-align: center;

    .landing-option__icon {
        width: pxToRem(50);
        height: pxToRem(50);
        margin-left: auto;
        margin-right: auto;

        margin-bottom: pxToRem(30);

        svg {
            width: pxToRem(50);
            height: pxToRem(50);
            fill: $color-white;
            opacity: 0.7;
        }
    }

    h2.landing-option__title {
        margin: 0;
        font-size: $font-size-32;
        font-weight: $font-semibold;
        line-height: $heading-line-height;

        .usda-glossary-link svg {
            width: pxToRem(16);
            height: pxToRem(16);
            fill: $color-white;
            color: $color-white;
            margin: 0 0 pxToRem(12) pxToRem(8);
            &:hover {
                cursor: pointer;
            }
        }
    }

    .landing-option__description {
        margin-top: pxToRem(10);
        margin-bottom: pxToRem(30);
        font-weight: $font-normal;
        font-size: $font-size-16;
        line-height: $base-line-height;

        @include media($large-screen) {
            min-height: pxToRem(70);
        }
    }

    a.landing-option__button {
        @extend .usa-button;
        background-color: #0170BC;
        width: 100%;
        font-size: $font-size-16;
        line-height: $base-line-height;

        &:hover {
            background-color: #215493 !important;
        }

        &:visited {
            background-color: #0170BC;
        }
    }
}
