.results-select-columns {
    float: right;
    .results-select-columns-btn {
        background-color: $color-white;
        border: solid 1px $color-gray-lighter;
        color: $color-gray;
        font-size: $smallest-font-size;
        padding: 0 rem(10) 0 rem(20);
        margin-right: 0;
        .btn-text {
            float: left;
            margin-top: rem(10);
            &:hover {
                cursor: pointer;
            }
        }
        .icon {
            float: right;
            margin-left: 0.4rem;
            & svg {
                height: rem(29);
                width: rem(29);
                fill: $color-gray-light;
            }
        }
        &.blue {
            background-color: $color-primary-alt-dark;
            border: 1px solid $color-primary-alt-dark;
            color: $color-white;
            .icon {
                & svg {
                    fill: $color-white;
                    path {
                        fill: $color-white;
                    }
                }
            }
            &:hover,
            &:active {
                background-color: $color-primary-alt-dark;
                border: 1px solid $color-primary-alt-dark;
            }
        }
        &:hover,
        &:active {
            @include transition(all 0.25s $ease-in-out-sine);
            background-color: $color-gray-lightest;
            border: 1px solid #D5D6D8;
            cursor: pointer;
            & svg {
                cursor: pointer;
                @include transition(all 0.25s $ease-in-out-sine);
                fill: $color-gray;
            }
        }
    }
    .results-select-columns-dropdown {
        border-top: solid 1px $color-gray-light;
        position: absolute;
        z-index: 2;
        margin-top: rem(-5);
        background-color: $color-white;
        border-bottom: solid 1px $color-gray-light;
        font-size: $small-font-size;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        width: rem(320);
        overflow-y: scroll;
        max-height: rem(530);
        right: rem(35);
        .results-select-columns-header:first-of-type {
            border-top: none;
        }
        .results-select-columns-header {
            background-color: $color-gray-lightest;
            padding: rem(10);
            border: solid 1px $color-gray-light;
            font-weight: 600;
            .results-select-columns-hidden {
                float: right;
                background-color: $color-gray-light;
                width: rem(20);
                height: rem(20);
                text-align: center;
                color: $color-white;
            }
        }
        ul {
            @include unstyled-list;
            padding: rem(10) 0;
            border-left: solid 1px $color-gray-light;
            border-right: solid 1px $color-gray-light;
            li {
                @include transition(all 0.25s $ease-in-out-sine);
                padding: rem(5) rem(10);
                input {
                    margin-right: rem(5);
                }
                label {
                    .icon {
                        float: right;
                        svg {
                            height: rem(13);
                            width: rem(8);
                            fill: $color-gray-light;
                            &:hover,
                            &:active {
                                cursor: move;
                                fill: $color-gray-dark;
                            }
                        }
                    }
                    &:hover,
                    &:active {
                        cursor: move;
                    }
                }
                &:hover,
                &:active {
                    @include transition(all 0.25s $ease-in-out-sine);
                    background: lighten( $color-gold-light, 30%);
                    cursor: move;
                }
                &:active {
                    background: $color-gold-light;
                    cursor: move;
                }
            }
        }
    }
}