.table-types {
    @include media($tablet-screen) {
      display: block;
    }
    border-bottom: 1px solid $color-gray-light;
    padding-left: rem(15);
    display: none;
    button.table-type-toggle {
        border: 1px solid transparent;
        border-bottom: 1px solid $color-gray-light;
        color: $color-gray-dark;
        background-color: $color-tab-inactive;
        font-size: $base-font-size;
        font-weight: normal;
        height: rem(31);
        margin-bottom: 0;
        margin-right: rem(2);
        padding: rem(15);
        min-width: rem(97);
        height: rem(50);
        vertical-align: middle;
        position: relative;
        top: rem(1);
        &:hover{
            @include transition(all 0.3s ease-in-out);
            background-color: darken($color-gray-lightest, 5%);
        }
        &.active {
            background-color: $color-white;
            border-top: 1px solid $color-gray-light;
            border-right: 1px solid $color-gray-light;
            border-bottom: 1px solid $color-white;
            border-left: 1px solid $color-gray-light;
            color: $color-base;
        }
    }
    @import "../../../../components/_comingSoon";

    @include comingSoon;

    button.table-type-toggle.coming-soon {
        background: repeating-linear-gradient(
            45deg,
            rgba($color-gray-lightest, .2),
            rgba($color-gray-lightest, .2) rem(2px),
            rgba($color-gray-lighter, .3) rem(2px),
            rgba($color-gray-lighter, .3) rem(4px)
        );
        color: $color-gray-light;
        .coming-soon-container {
            width: 100%;
            text-align: center;
            height: 10px;
            .coming-soon-icon {
                bottom: rem(0px);
                display: inline;
                float: none;
            }
            .coming-soon-label {
                bottom: rem(2px);
                display: inline;
                float: none;
                left: rem(3px);
            }
        }
        &:hover {
            background: repeating-linear-gradient(
                45deg,
                rgba($color-gray-lightest, .2),
                rgba($color-gray-lightest, .2) rem(2px),
                rgba($color-gray-lighter, .3) rem(2px),
                rgba($color-gray-lighter, .3) rem(4px)
            );
        }
    }
}
@import "_resultsTablePicker";
