.award-results-table {
    // @import "_fixedDataTableOverrides";

    margin-top: 2em;
    display: block;
    // overflow-x: auto;
    // white-space: nowrap;

    border: 1px solid $color-gray;

    @import "_customTable";

    // @import "cells/_genericPositioning";

    .award-result-generic-cell {
        @import "cells/_genericCell";
        @include genericCell();

        &.column-awarding_agency_name {
            border-right: none;
        }
    }

    .award-result-header-cell {
        @import "cells/_genericHeader";
        @include genericHeader();

         &.column-awarding_agency_name {
            border-right: none;
        }
    }

    // gray out even rows
    .row-even {
        background-color: $color-gray-lightest;
    }
}