.results-select-columns {
    margin: rem(10) 0 0 0;
    @include media($tablet-screen) {
        position: absolute;
        right: rem(35);
    }
    .results-select-columns-btn {
        background-color: $color-white;
        border: solid 1px $color-gray-lighter;
        color: $color-gray;
        font-size: $smallest-font-size;
        margin-right: 0;
        padding: 0;
        @include media($tablet-screen) {
            padding: 0 rem(10) 0 rem(20); 
        }
        .btn-text {
            display: none;
            float: left;
            margin-top: rem(10);
            &:hover {
                cursor: pointer;
            }
            @include media($tablet-screen) {
                display: block;
            }
        }
        .icon {
            float: right;
            margin-left: 0.4rem;
            & svg {
                height: rem(29);
                width: rem(29);
                fill: $color-gray-light;
            }
        }
        &.blue {
            background-color: $color-primary-alt-dark;
            border: 1px solid $color-primary-alt-dark;
            color: $color-white;
            .icon {
                & svg {
                    fill: $color-white;
                    path {
                        fill: $color-white;
                    }
                }
            }
            &:hover,
            &:active {
                background-color: $color-primary-alt-dark;
                border: 1px solid $color-primary-alt-dark;
            }
        }
        &:hover,
        &:active {
            @include transition(all 0.25s $ease-in-out-sine);
            background-color: $color-gray-lightest;
            border: 1px solid #D5D6D8;
            cursor: pointer;
            & svg {
                cursor: pointer;
                @include transition(all 0.25s $ease-in-out-sine);
                fill: $color-gray;
            }
        }
    }
    //PULL IN THE UL FOR THE DROPDOWN
    @import "_resultsSelectDropdown";
}