.search-results-table-section {
    transition: opacity 0.25s ease;
    position: relative;
    overflow-x: hidden;
    @import "_tableTypes";
    @import "_resultsDropdownPickerWrapper";
    @import "./_tableMessages";

    .results-table-content {
        position: relative;
        margin-top: rem(16);
        min-height: rem(200);
        @include transition(opacity 0.25s ease-in);

        .usa-dt-pagination {
            margin-top: $global-margin;
            .usa-dt-pagination__wrapper {
                .pager {
                    .hideLast {
                        .pager__button {
                            display:none;
                        }
                    }

                    li.pager__item:last-of-type {
                        .pager__button {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .usda-table__cell {
            p {
                margin-bottom: 0;
            }
            .read-more-button {
                @include button-link;
                text-transform: lowercase;
                color: $blue-50;
                &:hover {
                    text-decoration: none;
                    color: $blue-70v;
                }
            }
        }

    }

    .results-table-width-master {
        width: 100%;
    }

    .advanced-search__table-wrapper {
        width: auto;
        overflow-x: scroll;

        &.activate-right-fade {
            mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1) 16px);
        }
    }

    .results-table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    .table-section-header {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);

        h2 {
            @include h3;
            margin: 0;
            @include flex(1 1 auto);
        }

        button.action-modal {
            @include flex(0 0 auto);
            @include transition(all 0.25s $ease-in-out-sine);
            border: 1px solid $color-gray-lighter;
            background-color: $color-white;
            width: rem(58);
            height: rem(28);
            margin: 0;
            position: relative;
            cursor: pointer;

            & svg {
                position: absolute;
                top: -3px;
                left: rem(12);
                width: rem(33);
                fill: $color-gray-light;
            }

            &:hover,
            &:active {
                @include transition(all 0.25s $ease-in-out-sine);
                background-color: $color-gray-lightest;
                border: 1px solid #D5D6D8;
                cursor: pointer;

                & svg {
                    cursor: pointer;
                    @include transition(all 0.25s $ease-in-out-sine);
                    fill: $color-gray;
                }
            }
        }
    }

    .award-search__glossary-term {
        font-weight: $font-semibold;
    }

    .award-search__body-text {
        line-height: 1.5;
        margin-top: 4px;
        margin-bottom: 0;
        font-size: rem(14);
    }

    .award-search__what-title {
        font-size: rem(14);
        font-weight: $font-semibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #555;
        margin-bottom: 8px;
    }

    .usda-glossary-link {
        color: $color-gray-light;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-gray-medium;
        }
    }

    .read-more__preview-lines {
        margin-bottom: 0;
        margin-top: 0;
        font-size: rem(14);
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .readMoreUpdated__button {
        background-color: transparent;
        color: #0074be;
        padding: 0;
        margin-top: 4px;
        margin-bottom: 20px;
        margin-left: 2px;
        margin-right: 0;
        line-height: 1.5;
    }
}
