.search-results-table-section {
    padding: 3rem 3.5rem;
    transition: opacity 0.25s ease;
    
    @import "_tableTypes";
    @import "_tableStyle";

    .loading-table {
        opacity: 0.5;
        @include transition(opacity 0.25s ease-in);
    }

    .loaded-table {
        opacity: 1;
        @include transition(opacity 0.25s ease-in);
    }

    .results-table-width-master {
        width: 100%;
    }

    .results-table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    .table-section-header {
        @include clearfix();

        h3 {
            @include media($tablet-screen) {
                float: left
            }
        }

        button.action-modal {
            @include media($tablet-screen) {
                float: right;
            }

            border: 1px solid $color-gray-lighter;
            background-color: $color-white;

            width: 58px;
            height: 28px;
            margin: 0;

            position: relative;

            &:hover, &:active {
                background-color: $color-gray-lightest;
            }

            svg {
                position: absolute;
                top: -3px;
                left: 12px;
                width: 33px;

                fill: $color-base;
            }
        }
    }
}