.search-results-table-section {
    transition: opacity 0.25s ease;
    position: relative;
    overflow-x: hidden;
    @import "_tableTypes";
    @import "_tableStyle";
    @import "_resultsDropdownPickerWrapper";
    @import "./_tableMessages";
    .results-table-content {
        position: relative;
        margin-top: rem(2);
        min-height: rem(200);
        @include transition(opacity 0.25s ease-in);
    }

    .ibt-table-container {
        border: 1px solid $color-gray-light;
    }
    .results-table-width-master {
        width: 100%;
    }
    .results-table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
    .table-section-header {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        h2 {
            @include h3;
            margin: 0;
            @include flex(1 1 auto);
        }
        button.action-modal {
            @include flex(0 0 auto);
            @include transition(all 0.25s $ease-in-out-sine);
            border: 1px solid $color-gray-lighter;
            background-color: $color-white;
            width: rem(58);
            height: rem(28);
            margin: 0;
            position: relative;
            cursor: pointer;
            & svg {
                position: absolute;
                top: -3px;
                left: rem(12);
                width: rem(33);
                fill: $color-gray-light;
            }
            &:hover,
            &:active {
                @include transition(all 0.25s $ease-in-out-sine);
                background-color: $color-gray-lightest;
                border: 1px solid #D5D6D8;
                cursor: pointer;
                & svg {
                    cursor: pointer;
                    @include transition(all 0.25s $ease-in-out-sine);
                    fill: $color-gray;
                }
            }
        }
    }
}
