.spending-by-recipient {
    .overview-data-group {
        border-top: solid rem(1) $color-gray-lighter;
    }
    .usda-table {
        .usda-table__head {
            th.table-header {
                text-align: right;
                &:first-of-type {
                    .table-header__label {
                        text-align: left; // Align the Recipient column to the left
                        width: auto;
                    }
                }
                .table-header__label {
                    width: 100%;
                    white-space: nowrap;
                }
            }
        }
    }
}
