.recipient__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .recipient__title {    
    font-size: 3rem;
    padding: 3rem 0 3rem 0;
  }
  .recipient__questions {
    display: flex;
    padding-bottom: 2rem;
    .recipient__question {
      font-size: 2.1rem;
      font-weight: $font-light;
      line-height: 2.7rem;
      text-align: center;
      letter-spacing: -0.44px;
    }
  }
  .recipient__tabs-container {
    width: 100%;
  }
  @import '../../agency/v2/tabs';
  .count-button {
    @include media($medium-screen) {
      padding: rem(20);
    }
  }
}
