.usa-da-agency-page-v2 {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";
    @import "components/pageLoading";

    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-direction(column);
    min-height: 100vh;
    width: 100%;

    .site-header,
    .sticky-header,
    .page__loading,
    .main-content,
    .footer-container {
        width: 100%;
    }
    
    @import "../../explorer/detail/sidebar/fyPicker";

    .sticky-header .sticky-header__container .sticky-header__header {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
        @include flex-wrap(nowrap);
        .sticky-header__toolbar {
            @include display(flex);
            .fy-picker-label {
                font-size: rem(21);
                @include align-self(flex-start);
            }
            .fiscal-year-container {
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                padding-left: rem(12);
                .usa-dt-picker { 
                    background-color: #385C88;
                    height: rem(25);
                    width: 100%;
                    .usa-dt-picker__dropdown-container {
                        background-color: #385C88;
                        margin: auto;
                    }
                    .usa-dt-picker__button-text,
                    .usa-dt-picker__button-icon svg {
                        color: white;
                    }
                    .usa-dt-picker__icon svg {
                        width: rem(14);
                        margin-left: rem(10);
                    }
                    .usa-dt-picker__button {
                        padding: 0 rem(10);
                        margin: 0;
                    }
                    .usa-dt-picker__button-text {
                        height: rem(23);
                        width: rem(37);
                        font-size: rem(18);
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: rem(23);
                        margin: 0;
                    }
                    .usa-dt-picker__button-icon {
                        padding-left: rem(10);
                    }
                }
            }
            hr {
                box-sizing: content-box;
                height: 45px;
                width: 1px;
                margin: 0 10px;
                border: none;
                background: #6C6C6C;
            }
            .sticky-header__toolbar-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: rem(0) rem(10);
                .usa-dt-picker {
                    background: #4a4a4a;
                    .usa-dt-picker__list {
                        width: rem(140);
                        span {
                            margin-left: rem(10);
                        }
                    }
                }
                .sticky-header__button,
                .usa-dt-picker__button {
                    border-radius: rem(1.8);
                    color: #0074BE;
                    background-color: #D6D7D9;
                    padding: 0;
                    margin: 0;
                    width: rem(40);
                    height: rem(25);
                    @include display(flex);
                    @include justify-content(center);
                    @include align-items(center);
                }
                &:nth-of-type(1) {
                    margin-left: 0;
                }
            }
            .usa-dt-picker__list {
                width: rem(141);
                box-shadow: 0 rem(2) rem(2) 0 rgba(0,0,0,0.5);
                border-radius: rem(3);
                .usa-dt-picker__list-item {
                    border: none;
                    border-radius: rem(3);
                    height: rem(39);
                }
                .usa-dt-picker__item,
                .usa-dt-picker__item .active {
                    @include display(flex);
                    @include justify-content(flex-start);
                    @include align-items(center);
                    background: #FFF;
                    font-size: rem(14);
                    line-height: rem(16);
                    color: #555555;
                    &:hover {
                        background: #EEEEEE;
                        border: rem(1) solid #EEEEEE;
                        cursor: pointer;
                    }
                    svg {
                        margin-right: rem(12);
                        font-size: rem(14);
                    }
                }
            }
            .copy-confirmation {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                height: 3.9rem;
                width: rem(140);
                background: #EEEEEE;
                border: 0.1rem solid #EEEEEE;
                border-radius: 0.3rem;
                color: #555555;
                margin-right: 1.5rem;
                top: rem(36);
                right: rem(83);
                svg {
                    margin: 0 rem(10);
                }
            }
        }
    }

    .usda__flex-row {
        @include display(flex);
        @include flex-wrap(wrap);
        width: 100%;
        .usda__flex-col {
            @include flex(1 1 auto);
        }
    }
    
    .main-content {
        @include display(flex);
        width: 100%;
        @include flex-grow(1);
        @include flex-wrap(wrap);
        max-width: rem(1600);
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
        .sidebar {
            display: none;
            @media(min-width: $medium-screen) {
                @include display(flex);
                @include flex-direction(column);
                width: 22%;
                margin: rem(20) rem(20) rem(20) 0;
            }
            .agency-v2-sidebar-reference {
                display: none;
                &.float-sidebar {
                    display: block;
                }
            }

            .agency-v2-sidebar-content {
                background-color: $color-white;
                box-shadow: $container-shadow;
                color: $color-base;
                border-top: 1px solid $color-gray-border;
                border-right: 1px solid $color-gray-border;
                border-bottom: 1px solid $color-gray-border;
                border-radius: rem(5);
                &.float-sidebar {
                    position: fixed;
                    top: rem(96);
                }
                ul {
                    @include unstyled-list;
                    padding: rem(30);
            
                    li {
                        margin-bottom: rem(24);
            
                        &:last-child {
                            margin-bottom: rem(0);
                        }
                    }
            
                    a.sidebar-link {
                        color: $color-base;
                        font-size: rem(19);
                        line-height: rem(20);
                        padding-bottom: rem(5);
            
                        text-decoration: none;
                        border-bottom: 5px solid transparent;
                        @include transition(all 0.15s ease-in-out);
            
                        &:hover {
                            border-bottom: 5px solid $color-primary;
                        }
            
                        &.active {
                            font-weight: $font-bold;
                            border-bottom: 5px solid $color-primary;
                        }
                    }
                }
            }
        }
        .body {
            @include display(flex);
            width: 100%;
            @include flex-direction(column);
            padding: 2.5% 2.5% 0 2.5%;
            margin: rem(20) rem(20) rem(20) 0;
            background: white;
            @media(min-width: $tablet-screen) {
                width: 70%;
            }
            .body__section {
                @include display(flex);
                @include flex-wrap(wrap);
                margin-bottom: $global-mrg;
                .body__header {
                    width: 100%;
                    height: rem(30);
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(flex-start);
                    .body__header-icon {
                        margin-right: $global-mrg / 2;
                    }
                    h3 {
                        @include display(flex);
                        margin: 0;
                        line-height: $base-line-height;
                        font-size: rem(18);
                        font-weight: $font-semibold;
                    }
                }
                hr {
                    width: 100%;
                    height: 2px;
                    background: #555555;
                    border: none;
                    margin-bottom: rem(35);
                    margin-top: 0;
                }
                .coming-soon-section {
                    width: 100%;
                    @include display(flex);
                    @include flex-direction(column);
                    @extend %coming-soon-idv;
                    padding-bottom: 0;
                    height: 730px;
                }
            }
        }
    }

    .agency-v2-tt {
        @include display(flex);
        @include justify-content(center);
        @include flex-direction(column);
        .tooltip__title {
            width: 100%;
            margin-bottom: $global-mrg / 2;
            text-align: center;
        }
        .tooltip__text {
            padding: rem(0) rem(23);
        }
    }
}