@import "./searchIcons";

.more-resources__section {
  .more-resources__row {
    display: flex;
    align-items: stretch;
    gap: $global-spacing-unit * 3;
    margin-top: $global-spacing-unit * 5;
  }

  .more-resources__label {
    @include label-styles;
    color: $gray-70;
    padding: rem(12);
  }

  .more-resources__col {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: flex-start;
    border-radius: rem(4);
    border: rem(1) solid $gray-10;
    background: $gray-5;

    @media (min-width: $medium-screen) {
     flex: 1 1 0;
    }
  }
}
