@import "./searchIcons";

.more-resources__section {
  width: 100%;
  
  .more-resources__row {
    display: flex;
    align-items: flex-start;
    gap: $global-spacing-unit * 3;
    margin-top: $global-spacing-unit * 5;
  }

  .more-resources__label {
    @include label-styles;
    color: $gray-70;
    padding: rem(12);
  }

  .more-resources__col {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    box-sizing: border-box;
    padding: rem(12);
    border-radius: rem(4);
    border: rem(1) solid $gray-10;
    background: $gray-5;
  }
}
