@mixin label-styles {
  font-family: $font-sans-3;
  font-size: $small-font-size;
  font-weight: $font-semibold;
  line-height: $base-line-height;
}

@mixin icon-styles {
  width: $smallest-font-size;
  height: $smallest-font-size;
}

@mixin icon-variant($label-color, $icon-bkg, $icon-color, $gap: $font-size-10) {
  gap: $gap;
  
  .icon-label {
    @include label-styles;
    color: $label-color;
  }

  .icon-container {
    background: $icon-bkg;
  }

  .icon {
    color: $icon-color;
  }
}

.icon-row {
  display: flex;
  align-items: center;
  margin-bottom: rem(12);

  .icon-label {
    @include label-styles;
  }

  .icon-container {
    display: flex;
    flex-shrink: 0;
    padding: rem(6);
    border-radius: rem(4);

    .icon {
      @include icon-styles; 
    }
  }

  &--time-period {
    @include icon-variant($gray-90, $blue-vivid-5v, $blue-vivid-70);
  }

  &--location {
    @include icon-variant($gray-90, $orange-5v, $orange-40v);
  }

  &--keyword {
    @include icon-variant($gray-90, $cyan-5v, $cyan-70v);
  }

  &--recipient {
    @include icon-variant($gray-90, $green-cool-5v, $green-cool-60v);
  }

  &--award-type {
    @include icon-variant($gray-90, $violet-5v, $violet-70v);
  }

  &--award-description {
    @include icon-variant($gray-90, $yellow-5v, $brown-warm-40);
  }

  &--glossary,
  &--about-the-data,
  &--data-dictionary,
  &--federal-spending-guide {
    @include icon-variant($gray-80, none, $gray-80, 0);
  }
} 
