@mixin label-styles {
  font-family: $font-sans;
  font-size: $small-font-size;
  font-weight: $font-semibold;
  line-height: $base-line-height;
}

@mixin title-styles {
  font-family: $font-sans;
  font-size: $h3-font-size;
  font-weight: $font-semibold;
  line-height: $heading-line-height;
}

@mixin icon-styles {
  width: $base-font-size;
  height: $base-font-size;
}

@mixin link-styles {
  color: $blue-60v;
  font-family: $font-sans;
  font-size: $small-font-size;
  font-weight: $font-semibold;
  line-height: $base-line-height;
}

@mixin icon-variant(
  $label-color,
  $icon-bkg,
  $icon-color,
  $gap: $font-size-10,
  $label-margin-top: 0,
  $margin-bottom: rem(12),
  $padding: rem(6)
) {
  gap: $gap;
  margin-bottom: $margin-bottom;

  .icon-label {
    @include label-styles;
    color: $label-color;
    margin-top: $label-margin-top;
  }

  .icon-title {
    @include title-styles;
  }

  .icon-container {
    background: $icon-bkg;
    padding: $padding;
  }

  .icon {
    color: $icon-color;
  }
}

.icon-row {
  display: flex;
  align-items: center;

  .icon-label {
    @include label-styles;
    white-space: nowrap;
  }

  .icon-container {
    display: flex;
    flex-shrink: 0;
    border-radius: rem(4);

    .icon {
      @include icon-styles;
    }
  }

  .icon-description {
    @include label-styles;
    font-weight: $font-normal;
    color: $gray-60;
    white-space: normal;
  }

  &--time-period {
    @include icon-variant($gray-90, $blue-vivid-5v, $blue-vivid-70);
  }

  &--location {
    @include icon-variant($gray-90, $orange-5v, $orange-40v);
  }

  &--keyword {
    @include icon-variant($gray-90, $cyan-5v, $cyan-70v);
  }

  &--recipient {
    @include icon-variant($gray-90, $green-cool-5v, $green-cool-60v);
  }

  &--award-type {
    @include icon-variant($gray-90, $violet-5v, $violet-70v);
  }

  &--award-description {
    @include icon-variant($gray-90, $yellow-5v, $brown-warm-40);
  }

  &--glossary,
  &--about-the-data,
  &--data-dictionary,
  &--federal-spending-guide {
    @include icon-variant($gray-80, none, $gray-80, rem(6), rem(2), 0, 0);
  }

  &--gov-spending {
    @include icon-variant($gray-90, none, $cyan-60v, rem(8), 0, 0, 0);

    &.icon-row {
      @media (max-width: $mobile-only) {
        align-items: flex-start;
      }
    }

    .icon-label {
      font-size: $h3-font-size;
      line-height: $heading-line-height;
      white-space: normal;
    }

    .icon-container {
      .icon {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  &--ask-questions,
  &--analyzing-response,
  &--get-the-data {
    @include icon-variant($gray-80, $color-white, $cyan-60v, rem(10), 0, 0, 0);

    &.icon-row__with-description {
      align-items: flex-start;
    }
    .icon-label {
      font-size: $font-size-16;
      line-height: $base-line-height;
      color: $gray-80;
      white-space: normal;
    }

    .icon-label__with-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: rem(1) solid $gray-5;
      border-radius: rem(20);
      width: rem(40);
      height: rem(40);

      .icon {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &--ask-questions {
    .icon-container {
      .icon {
        width: rem(13);
        height: rem(20);
      }
    }
  }

  &--start,
  &--complete,
  &--error {
    @include icon-variant($gray-90, $color-white, $cyan-50v, 0);
    margin: 0 rem(20) rem(12);
    display: flex;
    align-items: flex-start;

    .icon-label {
      font-weight: $font-normal;
      white-space: normal;
    }

    .icon-container {
      padding-top: rem(2);
    }
  }

  &--complete {
    .icon {
      color: $green-cool-50v;
    }
  }

  &--error {
    .icon {
      color: $red-cool-50v;
    }
  }
}
