.search-gov-spending__section {
    padding: $global-spacing-unit * 5;
    border-radius: rem(12);
    border: rem(1) solid $cyan-20v;
    background: $cyan-vivid-40;
    margin-top: $global-spacing-unit * 5;

    .search-gov-spending__row {
        display: flex;
        flex: 1 0 0;
        align-items: flex-start;
        justify-content: space-between;
    }

    .search-gov-spending__label-icon-container {
        display: flex;
        align-items: flex-start;
    }

    .search-gov-spending__link {
        @include link-styles;
        display: flex;
        align-items: flex-start;

        button {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .button-icon-container {
        width: rem(24);
        height: rem(24);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(4);
        background: $color-white;

        &:hover {
        background: $blue-70v;
        color: $color-white;
        }

        .button-icon {
            @include icon-styles;
        }
    }

    .search-gov-spending__header {
        @include label-styles;
        color: $gray-60;
        margin-top: rem(24);
    }

   
}