@import "./searchIcons";

.search-suggestions__section {
  display: flex;
  padding: $global-spacing-unit * 5;
  align-items: flex-start;
  gap: rem(50);
  align-self: stretch;
  border-radius: $border-radius * 4;
  border: rem(1) solid $gray-10;
  box-shadow: $shadow-3;
  margin-top: $global-spacing-unit * 38;
  // TODO: Uncomment and remove above version
  // once Search Gov Spending section is added
  // margin-top: $global-spacing-unit * 5;

  .button-icon-container {
    border-radius: rem(4);
    background: $blue-vivid-5v;
    margin-left: rem(4);
  }
  .button-icon {
    @include icon-styles;
    margin-right: rem(5);
  }

  .search-suggestions__row {
    display: flex;
    flex: 1 0 0;
    align-items: baseline;
  }

  .search-suggestions__title {
    color: $gray-80;
    font-family: $font-sans-3;
    font-size: $h3-font-size;
    font-weight: $font-semibold;
    line-height: $heading-line-height;
    margin-bottom: $global-margin * 3;
    flex: 1 0 0;
   
  }

  .search-suggestions__link {
    color: $blue-60v;
    font-family: $font-sans-3;
    font-size: $small-font-size;
    font-weight: $font-semibold;
    line-height: $base-line-height;
  }

  .search-suggestions__card-row {
    .search-suggestions__card {
      .search-suggestions__card-body {
        height: 100%;
      }
      .overline {
          color: $cyan-60v;
          font-family: $font-sans-3;
          font-size: $smallest-font-size ;
          font-weight: $font-semibold;
          line-height: $base-line-height;

        }
      .headline {
        color: $gray-90;
        font-family: $font-sans;
        font-size: $h4-font-size;
        font-weight: $font-normal;
        line-height: $heading-line-height;
      }
      .text {
        color: $gray-90;
        font-family: $font-sans-3;
        font-size: $smallest-font-size;
        font-weight: $font-normal;
        line-height: $base-line-height;
      }
    }
  }
}

