.search-contents {
  .temp-search__sidebar {
    border: rem(2) solid purple;
    margin: rem(24);
  }

  .temp-search__section-wrapper {
    border: rem(1) solid $gray-cool-10;
    border-radius: rem(8);
    background-color: $color-white;

    .temp-search__section-wrapper-header {
      margin: rem(24);
      display: flex;
      justify-content: space-between;

      .filter__dropdown-container {
        height: auto;

        [class*="filter__dropdown-label"] {
          color: $gray-cool-90;
        }

        [class*="filter__dropdown-button"] {
          margin: 0;
          border-color: $gray-cool-10;

          .filter__dropdown-button-text {
            margin-right: rem(8);
            font-size: rem(16);
            line-height: rem(24);
            color: $gray-cool-60;
            opacity: 1;
          }

          .filter__dropdown-chevron svg {
            color: $blue-50;
          }
        }
      }

      @import "../_chartTableToggle";

      .chart-table-toggle {
        border: rem(1) solid $gray-cool-10;
        height: fit-content;

        .view-button {
          border: none;
          color: $blue-50;
          padding: rem(8);

          &.active {
            background-color: $blue-5;
            color: $blue-50;
          }
        }

        button {
          height: rem(30);
          width: rem(31);
        }

        svg {
          width: rem(16);
        }
      }
    }
  }
}
