.list-of-videos__section {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  .grid-content {
    padding: 24px 0;
    font-size: $font-size-24;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
  }

  .list-of-videos__video {
    margin-bottom: rem(32);
    @media (max-width:$medium-screen) {
      display:flex;
      justify-content:center;
    }

    .card-column {
      &:hover {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
      }
    }

    .card__hero.expanded {
      padding-top: 0;

      img {
        border-radius: rem(8) rem(8) 0 0;
        width: 100%;
      }

    }

    .card__body .headline {
      text-align: left;
      color: $gray-90;

      @media (min-width:$medium-screen) {
        min-height: 60px;
      }

      @media (min-width:1400px) {
        min-height: 90px;
      }
    }

    .card__body .text {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;

      @media(min-width: 768px) and (max-width:992px) {
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
      @media(min-width:992px) and (max-width: 1200px) {
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }
      -webkit-box-orient: vertical;
      text-align: left;
      color: $gray-60;
      font-size: $base-font-size;
      overflow: hidden;
      margin-bottom: 16px;
    }

    div.video-card__metadiv {
      color: $gray-60;
      font-size: rem(14);
      text-align: left;
    }
  }
}
