.list-of-videos__section {
  margin: 16px 0;

  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .grid-content {
    padding: 0 0 24px 0;
    font-size: $font-size-24;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;

    @media (min-width: $tablet-screen) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  .list-of-videos__video {
    margin-bottom: rem(32);
    @media (max-width:$medium-screen) {
      display:flex;
      justify-content:center;
      flex-direction: column;
    }
    .card__hero.expanded {
      padding-top: 0;
      &:hover {
        cursor: pointer;
      }

      img {
        border-radius: rem(8) rem(8) 0 0;
        width: 100%;
      }

    }
    .video-card__headline {
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .list-of-videos__inline {
      display:inline-flex;
      width: 100%;
    }
    .list-of-videos__column-share-icon {

      // this to to place the msg on top of the 'copy link' item in dropdown
      .usda-share-icon .copy-confirmation {
        top: rem(48);
        left: rem(20);
      }

      .svg-inline--fa{
        &:hover{
          color: $blue-70v;
        }
      }
    }

    .card__body .headline {
      text-align: left;
      color: $gray-90;
    }

    .card__body .text {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;

      @media(min-width: 768px) and (max-width:992px) {
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
      @media(min-width:992px) and (max-width: 1200px) {
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }
      -webkit-box-orient: vertical;
      text-align: left;
      color: $gray-60;
      font-size: $base-font-size;
      overflow: hidden;
      margin-bottom: 16px;
    }

    div.video-card__metadiv {
      color: $gray-60;
      font-size: rem(14);
      text-align: left;
      width: 100%
    }
  }
}
