.training-videos__hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $theme-color-7;
  padding: $global-padding * 6 0;

  .grid-content {

    .training-videos__column-one{
      display: none;

      @media (min-width: $medium-screen) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;


      }

      .training-img-container {
        display: flex;
        justify-content: center;
        height: rem(400);
        width: rem(652);

      }

      .training-img {
        margin: auto;
        max-height: rem(400);
        max-width: rem(652);
      }
    }

    .flexgridcol-display {
      display: none;

      @media (min-width: $medium-screen) {
        display: contents;
      }
    }

    .training-videos__column-two {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $medium-screen) {
        display: flex;
        align-items: center;
      }


      .training-videos__column-two-container {

        .training-videos__column-two-title {
          margin-bottom: $global-margin;
          line-height: 1.5;
          font-size: $font-size-16;
          color: $gray-60;
        }

        .training-videos__column-two-header {
          color: $gray-90;
          font-size: $font-size-48;
          line-height: 1.25;
          font-weight: $font-semibold;
          margin-bottom: $global-margin * 2;

          @media (max-width: $medium-screen) {
            font-weight: $font-semibold;
            line-height: 1.25;
          }
        }

        .training-videos__column-two-body {
          line-height: 1.5;
          font-size: $font-size-20;
          margin-bottom: $global-margin * 3;
          color: $gray-60;

          @media (max-width: $medium-screen) {
            max-width: 458.7px;
            max-height: 90px;
          }
        }

        .training-videos__column-two-share-icon {
          width: rem(17.5);
          height: rem(20);
          color: $blue-50;
        }
      }
    }   
  }
}