.download-form {
    .filter-section {
        h5.filter-section-title {
            font-weight: 400;
            span {
                color: $color-primary;
                font-weight: 600;
            }
        }
        .download-checkbox {
            padding: rem(10) 0;
            input {
               margin-right: rem(5);
            }
        }
        .select-label {
            display: block;
            text-transform: uppercase;
            font-size: rem(13);
            line-height: rem(17);
            margin: rem(15) 0 rem(5) 0;
        }
        .agency-select {
            display: block;
            margin-bottom: rem(15);
        }
    }
}