.keyword-hover {
    z-index: $z-modal - 1;
    width: pxToRem(350);
    height: pxToRem(90);
    position: absolute;
    right: pxToRem(45);

    .hover-content {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        position: relative;

        background-color: $color-primary-alt-lightest;
        border: 1px solid $color-primary-alt-light;
        box-shadow: $box-shadow;

        padding: pxToRem(5) pxToRem(10);

        .icon {
            @include flex(0 0 auto);
            @include align-self(flex-start);
            width: pxToRem(15);
            height: pxToRem(15);
            margin-right: pxToRem(10);
            svg {
                fill: $color-primary-alt;
                width: pxToRem(15);
                height: pxToRem(15);
            }
        }

        button {
            @include button-unstyled;
            @include flex(0 0 auto);
            @include align-self(flex-start);
            width: pxToRem(13);
            height: pxToRem(13);
            margin-top: pxToRem(3);
            svg {
                fill: $color-gray;
                width: pxToRem(13);
                height: pxToRem(13);
            }
        }

        .message {
            @include flex(1 1 auto);
            text-align: left;
            color: $color-base;
            font-size: $smallest-font-size;
            line-height: pxToRem(22);

            a {
                text-decoration: underline;
                color: $color-primary;
                font-weight: $font-semibold;

                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
    }
}