.keyword-search-bar {
    background-color: $color-primary-alt-lightest;
    padding: rem(15);
    border: 1px solid $color-vis-lightest;
    @include media($medium-screen) {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-evenly);
    }

    .keyword-search-bar__form {
        border: 1px solid $color-gray-light;
        margin-right: rem(15);
        background-color: $color-white;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(flex-start);
        @include media($medium-screen) {
            @include flex(1 1 auto);
            width: 50%;
        }
        .keyword-search-bar__input {
            @include flex(1 1 auto);
            margin-right: 0;
            height: rem(66);
            border: 0;
            padding: rem(15);
            font-size: rem(20);
            font-weight: 300;
            @include media($tablet-screen) {
                font-size: rem(28);
                line-height: rem(36);
            }

            @include placeholder {
                color: $color-placeholder;
            }
        }
        .keyword-search-bar__button {
            @include flex(0 0 auto);
            @include button-unstyled;
            height: rem(66);
            padding: 0 rem(15);
            .keyword-search-bar__button-icon {
                height: rem(30);
                width: rem(30);
                svg {
                    fill: $color-gray;
                }
            }
            &.keyword-search-bar__button_disabled {
                .keyword-search-bar__button-icon {
                    svg {
                        fill: $color-gray-lighter;
                    }
                }
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }

    .keyword-search-bar__info {
        font-size: $small-font-size;
        line-height: rem(26);
        padding-top: rem(10);
        @include media($medium-screen) {
            width: 50%;
            @include flex(1 1 auto);
            padding-top: 0;
            padding-left: rem(10);
        }
        .keyword-search-bar__icon-wrapper {
            display: inline-block;
            margin: 0 rem(5);
            @import "keywordTooltip";
            .keyword-search-bar__icon {
                @include button-unstyled;
                height: rem(15);
                width: rem(15);
                svg {
                    fill: $color-primary;
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        fill: $color-primary-darker;
                    }
                }
            }
        }
    }
}