.search-bar-section {
    background-color: $color-primary-alt-lightest;
    padding: rem(15);
    border: 1px solid $color-vis-lightest;
    @include media($medium-screen) {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-evenly);
    }
    .keyword-search-bar {
        padding-right: rem(10);
        @include media($medium-screen) {
            width: 50%;
        }
        form {
            width: 100%;
            border: 1px solid $color-gray-light;
            margin-right: rem(15);
            background-color: $color-white;
            input.keyword-input {
                margin-right: 0;
                height: rem(66);
                width: 85%;
                border: 0;
                padding: rem(15);
                font-size: rem(28);
                font-weight: 300;
                line-height: rem(36);
            }
            button.keyword-submit {
                @include button-unstyled;
                height: rem(66);
                float: right;
                width: 15%;
                .icon {
                    height: rem(30);
                    width: rem(30);
                    margin: auto;
                    svg {
                        fill: $color-gray;
                    }
                }
                &.disabled {
                    .icon {
                        svg {
                            fill: $color-gray-lighter;
                        }
                    }
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .info-text {
        font-size: $small-font-size;
        line-height: rem(26);
        padding-left: rem(10);
        padding-top: rem(10);
        @include media($medium-screen) {
            width: 50%;
            padding-top: 0;
        }
        .info-wrap {
            display: inline-block;
            margin: 0 rem(5);
            @import "keywordTooltip";
            .icon {
                @include button-unstyled;
                height: rem(15);
                width: rem(15);
                svg {
                    fill: $color-primary;
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        fill: $color-primary-darker;
                    }
                }
            }
        }
    }
}