.usda-page-header .usda-page-header__container .usda-page-header__toolbar {
    @media(max-width: $medium-screen) {
        border-bottom: pxToRem(1) solid $color-gray-lighter;
        height: pxToRem(1);
    }
    .public-law-picker__container {
        @include display(flex);
        @include flex-direction(column);
        @media(max-width: $medium-screen) {
            @include flex-direction(row);
            padding: pxToRem(10) pxToRem(0);
        }
    }
    .usa-dt-picker.public-law-picker {
        display: flex;
        align-self: normal;
        border: pxToRem(2) solid #666;
        border-radius: pxToRem(4);
        position: relative;
        height: pxToRem(29);

        @media(max-width: $medium-screen) {
            background: $color-gray-lightest;
            border: pxToRem(2) solid $color-gray-light;
            border-radius: pxToRem(4);
            height: auto;
        }

        .usa-dt-picker__icon svg {
            width: pxToRem(20);
            height: pxToRem(16);
            margin: 0 pxToRem(10);

            path {
                fill: $color-gray-lighter;
                @media(max-width: $medium-screen) {
                    fill: $color-base;
                }
            }
        }
    }
}
