@import 'components/_footerLinkToAdvancedSearch';

.footerLinkToAdvancedSearch__content_covid {
    h2 {
        font-size: pxToRem(38);
        line-height: pxToRem(47);
        margin: pxToRem(16) 0;
        text-align: left;

        @media (min-width:$large-screen) {
        margin: pxToRem(16) auto;
        text-align: center;        
        }
    }

    button {
        @include button-link;
        font-size: 1.8rem;
        color: $color-white;
        text-decoration: underline;
        &:hover {
            color: $color-white;
        }
    }

    a {
        color: $color-white;
        font-weight: $font-normal;
        text-decoration: underline;
    }
}
