.sidebar {
    display: none;
    position: relative;
    @media(min-width: $medium-screen) {
        @include display(flex);
        @include flex-direction(column);
        width: 22%;
        margin: rem(20);
    }

    .sidebar__content {
        position: relative;
        z-index: 1;

        .covid19-sidebar-reference {
            display: none;
            &.float-sidebar {
                display: block;
            }
        }

        .covid19-sidebar-content {
            height: 654px;
            overflow-y: scroll;

            @media (min-width: 1244px) {
                height: auto;
                overflow-y: auto;
            }

            .covid19-sidebar-content-background {
              background-color: $color-white;
              box-shadow: $container-shadow;
              color: $color-base;
              border-top: 1px solid $color-gray-border;
              border-right: 1px solid $color-gray-border;
              border-bottom: 1px solid $color-gray-border;
              border-radius: rem(5);
            }
            &.float-sidebar {
                position: fixed;
                // fixed site header (66px) and banner (75px)
                top: rem(96);
            }
            ul {
                @include unstyled-list;
                padding: rem(30) rem(20);

                li {
                    margin-bottom: rem(24);

                    &:last-child {
                        margin-bottom: rem(0);
                    }
                    &:hover a.sidebar-link {
                        border-bottom: 5px solid $color-primary;
                    }
                }

                a.sidebar-link {
                    color: $color-base;
                    font-size: rem(19);
                    line-height: rem(20);

                    text-decoration: none;
                    border-bottom: 5px solid transparent;
                    @include transition(all 0.15s ease-in-out);

                    &.active {
                        font-weight: $font-bold;
                        border-bottom: 5px solid $color-primary;
                    }
                }
            }
        }
        &.covid-banner {
            .covid19-sidebar-content.float-sidebar {
                top: rem(166);
            }
        }
    }
}
