.table-wrapper {
    overflow-x: auto;

    .usda-table {
        // this was added after the dtui table styles were changed for the new search page
        th, td {
            // we need to get rid of the black borders that will appear
            border: 0;
            // and replace them with this gray border
            border: solid 1px $color-gray-border;
        }

        tr {
            td:last-of-type {
                border: 0;

                border-right: solid 1px $color-gray-border;
                border-bottom: solid 1px $color-gray-border;
            }
        }
    }

    .table-header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        .table-header__content {
            @include align-items(center);
            .table-header__label {
                white-space: nowrap;
            }
        }
    }
    .query-matched-text {
      display: block;
    }
    .query-matched {
        font-weight: $font-semibold;
        text-decoration: underline;
    }

    // this is necessary for the formatting for only the last table on the page,
    // in the assistance listing section, but grid-column messes up the last cel
    // in a row in the other two tables, so it gets a special class
    &.spending-by-cfda {
        .usda-table__row {
            .usda-table__cell:last-of-type {
                @include grid-column(1 of 12);
            }
            .usda-table__cell:last-of-type {
                margin-left: 0;
            }
        }
    }
}

@import "../search/results/table/tableMessages";

.results-table-message-container {
    position: relative;
    background-color: rgb(246, 246, 246);

    .results-table-loading {
        margin-bottom: rem(100);
    }

    .no-results-container {
        text-align: center;
        margin-top: rem(100);
        margin-bottom: rem(100);

        .no-results-title {
            h4 {
                margin-bottom: 0;
                vertical-align: bottom;
            }
        }

        .no-results-message {
            p {
                margin-top: 0;
                vertical-align: top;
            }
        }
    }

    .loading-animation {
        @import "../../loading";
    }

    .results-table-error {
        .icon {
            width: rem(36);
            height: rem(36);

            svg {
                width: rem(36);
                height: rem(36);
            }
        }

        .title {
            font-size: rem(20);
            line-height: rem(45);
        }

        .description {
            font-size: rem(16);
            line-height: rem(10);
        }
    }
}
