.table-wrapper {
    overflow-x: auto;

    .table-header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        .table-header__content {
            @include align-items(center);
            .table-header__label {
                white-space: nowrap;
            }
        }
    }
    .query-matched-text {
      display: block;
    }
    .query-matched {
        font-weight: $font-semibold;
        text-decoration: underline;
    }

    .usda-table__row {
        .usda-table__cell:last-of-type {
            @include span-columns(1 of 12, table);
        }
    }
}

@import "../search/results/table/tableMessages";

.results-table-message-container {
    position: relative;
    background-color: rgb(246, 246, 246);

    .results-table-loading {
        margin-bottom: rem(100);
    }

    .no-results-container {
        text-align: center;
        margin-top: rem(100);
        margin-bottom: rem(100);

        .no-results-title {
            h4 {
                margin-bottom: 0;
                vertical-align: bottom;
            }
        }

        .no-results-message {
            p {
                margin-top: 0;
                vertical-align: top;
            }
        }
    }

    .loading-animation {
        @import "../../loading";
    }

    .results-table-error {
        .icon {
            width: rem(36);
            height: rem(36);

            svg {
                width: rem(36);
                height: rem(36);
            }
        }

        .title {
            font-size: rem(20);
            line-height: rem(45);
        }

        .description {
            font-size: rem(16);
            line-height: rem(10);
        }
    }
}
