.unlinked-data {
    .usda-table__body {
        tr:last-of-type {
            td:first-of-type {
                padding-left: 15px;
                svg {
                    padding-right: 10px;
                }
            }
        }

        .unlinked-tt {
            @include display(inline-flex);
            
            svg {
                width: 3rem;
            }
        }
    }
}