@import "all";

.top-page {
  width: 100%;
  max-width: rem(1600);
  background-color: $color-gray-lightest;
}

.content {
  background-color: $color-white;
  padding: rem(60) rem(40);
  border: solid thin $color-gray-lighter;

  margin: 0;
  @include media($medium-screen) {
    margin: rem(25) auto;
  }
}

.main-heading {
  color: $color-gray;

  font-size: rem(36);
  @include media($medium-screen) {
    font-size: rem(47);
    line-height: rem(59);
  }
}

.bold {
  font-weight: $font-bold;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.logo {
  width: 75%;

  @include media($small-screen) {
    width: 25%;
  }
}

img {
  margin: 3rem 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style-position: inside;

  .list-heading {
    font-weight: $font-bold;
    margin: 2rem 0;
    padding-top: 0.5rem;
  }

  li {
    line-height: 2rem;
  }
}
