@import "all";

.top-page {
    width: 100%;
    padding: 0;
    background-color: $color-gray-lightest;

    .content {
        background-color: $color-white;
        border: solid thin $color-gray-lighter;

        padding: pxToRem(32) pxToRem(16) pxToRem(40);
        @include media($medium-screen) {
            padding: pxToRem(60) pxToRem(40) pxToRem(40);
        }
        margin: 0;
        @include media($medium-screen) {
            margin: pxToRem(24) auto;
        }
    }

    header {
        color: $color-gray;


        img {
            display: block;
            margin: 40px 0;
        }
    }

    h1 {
        margin: 0;
        font-size: pxToRem(27);
        font-weight: $font-normal;
        line-height: pxToRem(32);
        @include media($medium-screen) {
            font-size: pxToRem(47);
            line-height: pxToRem(56);
        }
    }

    h2 {
        font-size: pxToRem(16);
        font-weight: $font-bold;
        text-decoration: underline;
        line-height: pxToRem(16);
        margin: 0;
    }

    img {
        margin: pxToRem(12) 0;
        @include media($medium-screen) {
            margin: pxToRem(20) 0;
        }
    }

    .list-heading {
        font-weight: $font-bold;
        margin: pxToRem(24) 0 pxToRem(16);
    }

    ul {
        padding: 0;
        list-style-position: inside;
        li {
            line-height: pxToRem(24);
            padding-left: pxToRem(16);
            text-indent: pxToRem(-22);
        }
    }

    footer {
        margin-top: pxToRem(48);
    }

    .bold {
        font-weight: $font-bold;
    }

    .center {
        text-align: center;
    }
}
