.account-awards-table-section {
    transition: opacity 0.25s ease;
    margin-top: ($global-mrg * 4);
    
    @import "pages/search/results/table/_tableTypes";
    @import "pages/search/results/table/_resultsTablePicker";

    // implement the library style
    @import 'lib/ibTable/ibTable';
    margin-top: 1.5em;
    display: block;
    opacity: 1.0;

    @import "pages/award/table/_table";

    .loading-table {
        opacity: 0.5;
        @include transition(opacity 0.25s ease-in);
    }

    .loaded-table {
        opacity: 1;
        @include transition(opacity 0.25s ease-in);
    }

    .ibt-table-container {
        border: 1px solid $color-gray-light;
    }

    .account-awards-table-width-master {
        width: 100%;
    }

    .results-table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
}