.search-results-table-section {
    transition: opacity 0.25s ease;
    position: relative;
    @import "pages/search/results/table/_tableTypes";
    @import "pages/search/results/table/_resultsDropdownPickerWrapper";
    @import "pages/search/results/table/_tableMessages";

    .results-table-content {
        position: relative;
        margin-top: rem(2);
        min-height: rem(200);
        @include transition(opacity 0.25s ease-in);

        .usa-dt-pagination {
            margin-top: $global-margin * 2;
            .usa-dt-pagination__wrapper {
                .pager {
                    .hideLast {
                        .pager__button {
                            display:none;
                        }
                    }

                    li.pager__item:last-of-type {
                        .pager__button {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .usda-table__cell {
            p {
                margin-bottom: 0;
            }
            .read-more-button {
                @include button-link;
                text-transform: lowercase;
                color: $blue-50;
                &:hover {
                    text-decoration: none;
                    color: $blue-70v;
                }
            }
        }

    }

    .advanced-search__table-wrapper {
        width: auto;
        overflow-x: scroll;
    }

    .results-table-width-master {
        width: 100%;
    }

    .results-table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
    .read-more__preview-lines {
        margin-bottom: 0;
        margin-top: 0;
        font-size: rem(14);
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .read-more-button {
        background-color: transparent;
        color: #0074be;
        padding: 0;
        margin-top: 4px;
        margin-bottom: 20px;
        margin-left: 2px;
        margin-right: 0;
        line-height: 1.5;
        text-transform: lowercase;
    }
}
