.details {
    @import './detailsTooltip';

    svg {
        height: pxToRem(14);
    }
    
    h3 {
        color: #555555;
    }

    margin-left: pxToRem(7);

    .details-info {
        margin-top: 8px;

        .details-header {
            width: pxToRem(351);
            height: pxToRem(20);
            flex-grow: 0;
            margin: 0 0 pxToRem(2);
            font-size: pxToRem(13);
            font-weight: $font-semibold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: $color-base;
        }
        
        .details-text {
            flex-grow: 0;
            margin: pxToRem(2) 0 pxToRem(16);
            font-size: pxToRem(18);
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: $color-base;
        }

        .details__info_icon_holder {
            margin-left: pxToRem(10);
        }
    }

    .details-button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }

    .text {
        margin: 0 0 12px;
    }
}