.details {
    @import './detailsTooltip';

    svg {
        height: 14px;
    }

    margin-left: 7px;
    margin-top: 10px;

    .details-info {
        .details-header {
            width: 351px;
            height: 20px;
            flex-grow: 0;
            margin: 0 0 2px;
            font-size: 13px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #555;
        }
        
        .details-text {
            flex-grow: 0;
            margin: 2px 0 16px;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #555;
        }
    }
}