.state-overview {
    padding-bottom: 0;
    margin-bottom: rem(2);

    .state-overview__title-wrapper {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        position: relative;
        .state-overview__flag {
            @include flex(0 0 auto);
            width: rem(90);
            height: auto;
            margin-right: rem(24);

            img {
                border: 1px solid $color-gray-lighter;
            }
        }
        h2.state-overview__title {
            @include h3;
            @include flex(1 1 auto);
            margin: rem(5) 0;
            font-weight: $font-semibold;
        }
    }

    .state-overview__content {
        .state-overview__note {
            font-style: italic;
            font-size: $smallest-font-size;
            padding-bottom: rem(42);
        }

        .card__body {
            h3.state-overview__heading {
                margin-top: 0;
            }
            .card__button {
                margin-bottom: 0;
            }

            button {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .state-section__viz.details {
            @media(max-width: ($medium-screen - 1)) {
                margin: rem(48) rem(7) 0 0;
            }
        }

        h3.state-overview__heading {
            @include h4;
            font-size: rem(19);
            font-weight: 600;
            margin-bottom: rem(10);
            .details__info_icon_holder {
                position: relative;
                padding-left: rem(10);
                .details__info_icon {
                    @include button-unstyled;
                    svg {
                        height: rem(15);
                        width: rem(15);
                        fill: $color-gray-light;
                    }
                }
            }


        }

        @import "totals";
        @import "details";

        .award-breakdown {
            @import "../visualizations/awardBreakdown/awardBreakdownVisualization";
            margin-right: rem(10);

            .award-breakdown__heading-row {
                h3 {
                    margin-top: 0;
                }

                @media(min-width: $tablet-screen) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .state-overview__heading-right-side {

                    @media(min-width: $tablet-screen) {
                        display: flex;
                    }

                    @import '../../../components/roundedtoggle';

                    // overrides to level out the text in the row
                    .rounded-toggle__wrapper {
                        margin-top: rem(2);
                    }
                    .accordion-container {
                        .accordion {
                            .heading {
                                padding-top: rem(10);
                            }
                        }
                    }

                    .state-overview__line-div {
                        @media(min-width: $tablet-screen) {
                            border-right: 1px solid $color-gray-lighter;
                            line-height: 24px;
                            height: 24px;
                            margin-left: 8px;
                        }
                    }

                    // this large chunk of css for the accordion is copied from agency/index.scss because this 'what is this?' accordion is very different from all other accordions
                    // it's only used in two places right now, but if we use it in a third place we should probably make it a separate WhatIsThisAccordion component
                    .accordion-container {
                        @media(max-width: $tablet-screen) {
                            margin-bottom: rem(4);
                        }
                        @media(min-width: $tablet-screen) {
                            margin-left: rem(10);
                        }
                    }

                    .accordion-container .heading {
                        height: 14px;
                        color: $color-primary;
                        border: none;
                        font-size: $font-size-14;
                        max-width: rem(120);
                        padding: 0;
                        margin: 0;
                        justify-content: unset !important;

                        &:hover,
                        &:active,
                        &:focus,
                        &:visited {
                            color: $color-primary-darker;
                        }

                        @media(min-width: $tablet-screen) {
                            padding-top: rem(8);
                        }
                    }

                    .accordion-container .plus {
                        width: 10px;
                        height: 10px;

                        &:hover,
                        &:active,
                        &:focus,
                        &:visited {
                            color: $color-primary-darker;
                        }
                    }

                    .accordion-container .minus {
                        width: 10px;
                        height: 10px;

                        &:hover,
                        &:active,
                        &:focus,
                        &:visited {
                            color: $color-primary-darker;
                        }
                    }

                    .accordion-container .toggle {
                        color: $color-primary;
                        font-size: $font-size-14;
                        font-weight: $font-semibold;
                        padding-left: rem(6);

                        &:hover,
                        &:active,
                        &:focus,
                        &:visited {
                            color: $color-primary-darker;
                        }

                        @media(min-width: $tablet-screen) {
                            padding-right: rem(6);
                        }
                    }

                    .accordion-container .open .content {
                        display: none;
                    }
                }
            }

            // this block copied from statusOfFunds/visualizationSection, for the styles in the accordion
            // but margins needed to change for this instance
            .state-overview__what-content {
                border-left: 8px solid $color-primary-alt-light;
                border-top: 1px solid $color-primary-alt-light;
                border-right: 1px solid $color-primary-alt-light;
                border-bottom: 1px solid $color-primary-alt-light;
                background-color: #e0f3f8;
                padding: 24px 16px;
                margin-bottom: rem(16);
                @import "../../../components/glossaryLink";

                .state-overview__info-icon {
                    height: 20px;
                    width: 20px;
                    color: #00bfe7;
                }

                .state-overview__emphasis {
                    font-weight: $font-semibold;
                }

                .state-overview__what-heading {
                    font-size: rem(16);
                    font-weight: $font-semibold;
                    display: inline-block;
                    margin: 0;
                    margin-left: 18px;
                    color: $gray-90;
                }

                .state-overview__what-second-heading {
                    font-size: rem(16);
                    font-weight: $font-semibold;
                    display: inline-block;
                    color: $gray-90;
                    margin: 24px 16px 0 40px;
                }

                .state-overview__what-text {
                    margin-left: 40px;
                    font-size: rem(14);
                    color: $color-base;
                    margin-bottom: 0;
                    margin-top: 8px;
                }
            }
        }
        .geo {
            @import "../visualizations/geo/geoVisualization";
        }
    }
}

.details-card-body {
    padding: 32px
}
