.state-overview {
    .state-overview__title-wrapper {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        position: relative;
        .state-overview__flag {
            @include flex(0 0 auto);
            width: rem(90);
            height: auto;
            margin-right: rem(24);

            img {
                border: 1px solid $color-gray-lighter;
            }
        }
        h2.state-overview__title {
            @include h3;
            @include flex(1 1 auto);
            margin: rem(5) 0;
            font-weight: $font-semibold;
        }
    }

    .state-overview__content {
        .state-overview__note {
            font-style: italic;
            font-size: $smallest-font-size;
            padding-bottom: rem(42);
        }

        h3.state-overview__heading {
            @include h4;
            font-size: rem(19);
            font-weight: 600;
            margin: 0;
            .details__info_icon_holder {
                position: relative;
                padding-left: rem(10);
                .details__info_icon {
                    @include button-unstyled;
                    svg {
                        height: rem(15);
                        width: rem(15);
                        fill: $color-gray-light;
                    }
                }
            }
        }

        @import "totals";
        @import "details";
        .award-breakdown {
            @import "../visualizations/awardBreakdown/awardBreakdownVisualization";
            margin-right: rem(10);
        }
        .geo {
            @import "../visualizations/geo/geoVisualization";
        }
    }
}

