.totals-subset {
    .totals-subset__amount {
        color: $color-vis-dark;
        font-size: $small-font-size * 2.3;
        line-height: rem(20);
        font-weight: $font-normal;
        text-transform: capitalize;
        padding-bottom: rem(5);
    }
    .totals-subset__awards {
        font-size: $small-font-size * 1.3;
        line-height: rem(25);
        font-weight: $font-light;
    }
}
