.totals {
    .totals__amount {
        color: $color-vis-dark;
        font-size: pxToRem(48);
        line-height: pxToRem(40);
        font-weight: $font-normal;
        text-transform: capitalize;
        padding-bottom: pxToRem(10);
        padding-top: pxToRem(5);
    }
    .totals__awards {
        font-size: pxToRem(22);
        line-height: pxToRem(25);
        font-weight: $font-light;
    }
    .state-overview__total {
        color: $color-vis-dark;
    }
    .totals__subawards {
        padding: pxToRem(23) 0;
        font-weight: $font-normal;
    }
}
