.agency-landing-results-table {
    // implement the library style
    @import '../../../lib/ibTable/ibTable';
    margin-top: rem(15);
    display: block;
    border: 1px solid $color-gray-light;
    // placeholder background for when the user scrolls really fast
    background: repeating-linear-gradient( $color-white, $color-white 40px, $color-gray-lightest 40px, $color-gray-lightest 80px);
    &.no-results {
        border: none;
    }
    .award-result-generic-cell {
        @import "./cells/_agencyLandingCell";
        @include agencyLandingCell();
    }
    .award-result-header-cell {
        @import "./cells/_agencyLandingHeaderCell";
        @include agencyLandingHeader();
    }
    // gray out even rows
    .row-even {
        background-color: #f7f7f7;
    }
    // override the header style for a bottom border
    .ibt-header {
        //border-bottom: 1px solid #ADAFB4;
    }
}