.agency-landing-results-table {
    display: block;
    &.no-results {
        border: none;
    }
	table {
		margin-top: rem(15);
		thead {
			tr {
				border-bottom: solid 1px $color-gray-lighter;
				td {
					border: 0;
				}
			}
			.award-result-header-cell {
				@import "./cells/_agencyLandingHeaderCell";
				@include agencyLandingHeader();
			}
		}
		tbody {
			tr {
				td {
					border: 0;
				}
				.generic-cell {
					.cell-content {
						float: right;
					}
				}
				.agency-link-cell {
					.cell-content {
						float: left;
						a {
							span {
								text-decoration: underline;
								font-weight: 600;
							}
						}
					}
				}
				// gray out even rows
				.row-even {
					background-color: #f7f7f7;
				}
			}
		}
	}
}