&.usda-table__cell_right {
    border-right: solid 1px $color-gray-lighter;
    .action-cell {
        @include justify-content(flex-end);
    }
}
.action-cell {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    color: $color-base;
    .action-cell__text {
        padding-right: .8rem;
    }
    .action-cell__button {
        @include display(flex);
        @include button-unstyled;
        @include align-self(center);
        @include justify-content(center);
        color: $color-primary;
        width: 2.8rem;
        height: 2.8rem;
        text-align: center;
        padding: 0.7rem;
        border-radius: 0.3rem;
        svg {
            display: none;
            width: 1.4rem;
        }
        &:hover {
            text-decoration: none;
            background-color: $color-primary-alt-light;
        }
    }
    &:hover {
        .action-cell__button {
            svg {
                @include display(flex);
            }
        }
    }
}
