.heading-container {
    .header {
        margin-top: pxToRem(10);
        font-size: pxToRem(32);
    }
    .back-link {
        margin-top: pxToRem(20);
        margin-bottom: pxToRem(20);
        font-size: pxToRem(18);
        font-weight: 400;
        letter-spacing: 0;
        line-height: pxToRem(23);
        a {
            text-decoration: none;
        }
    }
    .agency-info {
        width: 100%;
        @include display(inline-flex);
        @include flex-wrap(wrap);
        margin-bottom: pxToRem(30);
        @media (max-width: $tablet-screen) {
            margin-top: pxToRem(10);
        }
        .more-info-note {
            margin: 0;
            padding: 0;
            letter-spacing: 0;
            font-size: pxToRem(14);
            line-height: pxToRem(18);
        }

        .agency-info__group {
            &:first-of-type {
                padding-right: pxToRem(60);
            }
            h5 {
                @include flex-wrap(wrap);
                font-size: pxToRem(16);
                font-weight: 600;
                line-height: pxToRem(20);
                margin: pxToRem(5) 0;
            }

            .agency-info__website {
                font-size: pxToRem(14);
                line-height: pxToRem(20);
                margin: pxToRem(14) 0;
                @import 'components/externalLink';
            }
        }
    }
}

.table-container .usda-table {

    // this was added after the dtui table styles were changed for the new search page
    th, td {
        // we need to get rid of the black borders that will appear
        border: 0;
        // and replace them with this gray border
        // it now appears to be 2px rather than 1, but this is how it has always been
        border: solid 1px $color-gray-border;
    }

  thead th:last-of-type {
      // Hide sorting for the Agency Comments column
      .table-header__sort {
          display: none;
      }
  }
}
