.table-controls {
    max-width: 100%;
    z-index: 15; // prevents tab tooltips from displaying behind the sticky table headers
    .usa-dt-tab:focus {
        outline: none;
    }
    @media (min-width: $tablet-screen) {
      .usa-dt-tab-list {
        overflow-x: visible;
        overflow-y: visible;
      }
    }
    .table-controls__time-and-search {
        padding-left: 0;
        @media (min-width: $medium-screen) {
            padding-left: pxToRem(25);
        }
        margin-top: pxToRem(25);
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        @include media($tablet-screen) {
            @include flex-wrap(nowrap);
        }
        .filter-container {
            @include display(flex);
            @include flex-direction(column);
            .filter__title {
                font-size: pxToRem(14);
                margin-left: pxToRem(15);
                color: #8c8c8c;
            }
            .period-picker,
            .fy-picker {
                .usa-dt-picker__button-icon svg {
                    color: #0074be;
                }
                .fy-loading {
                    svg {
                        margin-left: pxToRem(10);
                    }
                }
                .usa-dt-picker__list {
                    z-index: 12;
                    min-width: pxToRem(110);
                }
                .usa-dt-picker__button {
                    border-bottom: pxToRem(2) solid #0074be;
                    margin-bottom: pxToRem(20);
                    padding-bottom: pxToRem(2);
                    .usa-dt-picker__button-text {
                        font-size: pxToRem(18);
                        font-weight: 500;
                        line-height: pxToRem(23);
                        color: $color-base;
                    }
                }
                .usa-dt-picker__list li.usa-dt-picker__list-item {
                    border: none;
                    .usa-dt-picker__item {
                        font-size: pxToRem(14);
                    }
                }
            }
            .period-picker {
                .order-1 {
                    order: 1;
                }
                .order-2 {
                    order: 2;
                }
                .order-3 {
                    order: 3;
                }
                .order-4 {
                    order: 4;
                }
                .order-5 {
                    order: 5;
                }
                .order-6 {
                    order: 6;
                }
                .order-7 {
                    order: 7;
                }
                .order-8 {
                    order: 8;
                }
                .order-9 {
                    order: 9;
                }
                .order-10 {
                    order: 10;
                }
                .order-11 {
                    order: 11;
                }
                .usa-dt-picker__list {
                    @include display(flex);
                    @include flex-direction(column);
                }
                .usa-dt-picker__list li.usa-dt-picker__list-item {
                    &.last {
                        border-bottom: 1px solid $color-gray-lighter;
                    }

                    button.usa-dt-picker__item {
                        padding: 0;
                        .period {
                            padding: pxToRem(10) pxToRem(15);
                            @include display(flex);
                            @include justify-content(flex-end);
                            &:not(.last) span {
                                width: 75%;
                            }
                            &.last span {
                                &:first-of-type {
                                    font-weight: $font-semibold;
                                    margin-right: auto;
                                }
                                &:last-of-type {
                                    width: 75%;
                                }
                            }
                            &.disabled {
                                cursor: not-allowed;
                                span {
                                    opacity: 0.4;
                                    color: $color-base;
                                }
                                &:hover {
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                    &.quarter-selected-3:hover ~ .not-individually-selectable-p2 {
                        .usa-dt-picker__item .period.disabled {
                            background-color: $color-gray-lightest;
                        }
                    }
                    &.quarter-selected-6:hover {
                        & ~ .not-individually-selectable-p4,
                        & ~ .not-individually-selectable-p5 {
                            .usa-dt-picker__item .period.disabled {
                                background-color: $color-gray-lightest;
                            }
                        }
                    }
                    &.quarter-selected-9:hover {
                        & ~ .not-individually-selectable-p7,
                        & ~ .not-individually-selectable-p8 {
                            .usa-dt-picker__item .period.disabled {
                                background-color: $color-gray-lightest;
                            }
                        }
                    }
                    &.quarter-selected-12:hover {
                        & ~ .not-individually-selectable-p10,
                        & ~ .not-individually-selectable-p11 {
                            .usa-dt-picker__item .period.disabled {
                                background-color: $color-gray-lightest;
                            }
                        }
                    }
                }
            }
            .usa-dt-search-bar {
                padding: 0;
                margin: pxToRem(10) 0 pxToRem(10) pxToRem(15);
                width: 100%;
                height: pxToRem(30);
                border-radius: pxToRem(3);
                @include media($tablet-screen) {
                    width: pxToRem(273);
                    margin: pxToRem(10) 0 0 pxToRem(15);
                }
                .usa-dt-search-bar__input {
                    padding: 0;
                    text-indent: pxToRem(3);
                    &:focus {
                        outline: none;
                    }
                }
                .usa-dt-search-bar__button {
                    @include display(flex);
                    svg {
                        font-size: pxToRem(17);
                    }
                }
            }
        }
    }
    .table-type-toggle:focus {
        outline: none;
    }
    .table-tab-label {
        @include display(flex);

    }
    .tooltip-wrapper {
        display: none;
        @media (min-width: $tablet-screen) {
            @include display(flex);
            white-space: normal;
        }
    }
    .usa-dt-picker__list {
        max-width: pxToRem(500);
    }
}
