.about-the-data {
    @import 'all';
    @import 'layouts/default/default';
    @import 'layouts/default/stickyHeader/header';

    .main-content {
        @import '../../mixins/fullSectionWrap';
        @include flex-wrap(wrap);
        @include flex-direction(column);

        .agency-submission-stat-row {
            padding: ($global-spacing-unit * 5) ($global-spacing-unit * 4) ($global-spacing-unit * 4) ($global-spacing-unit * 4);
            @media (max-width: $tablet-screen) {
                padding: ($global-spacing-unit * 5) ($global-spacing-unit * 2) ($global-spacing-unit * 2) ($global-spacing-unit * 2);

            }
            .agency-submission-stat-col {
                width: 100%;
                max-width: pxToRem(1400);
                margin: auto;
                .heading-container {
                    width: 100%;
                    .header {
                        margin-bottom: 0;
                        font-weight: $font-semibold;
                        letter-spacing: 0;
                        line-height: pxToRem(59);
                    }
                }
            }
        }
    }

    &.about-the-data_agencies-page {
        @import './_agenciesPage';
    }

    &.about-the-data_agency-details-page {
        @import './_agencyDetailsPage';
    }

    @import 'components/Note';

    .default-note {
        font-style: italic;
        margin-top: 0;
        padding: 0;
        letter-spacing: 0;
        max-width: pxToRem(873);
        line-height: pxToRem(22);
        font-size: pxToRem(14);
        margin-bottom: pxToRem(10);
        @media (min-width: $tablet-screen) {
            margin-bottom: pxToRem(30);
        }
        @import 'components/externalLink';
    }

    .table-container {
        max-width: 100%;
    }

    .usda-message {
        background-color: $color-white;
        width: 100vw;
    }

    @import 'components/stickyTable';

    .agency-table-download {
        svg {
            margin-right: pxToRem(5);
        }
    }

    .usda-table {
        thead {
            th {
                .wide {
                    .tooltip-spacer {
                        width: 600px !important;
                    }
                    &.wide_left {
                        .tooltip-spacer {
                            left: -200px !important;
                        }
                        .tooltip-pointer {
                            left: 423px !important;
                        }
                    }
                    &.wide_right {
                        .tooltip-spacer {
                            right: 408px !important;
                        }
                    }
                }
            }
        }
    }
}
