.award-amounts {
    $border-gray: #555555;
    $border-light-gray: #d5d6d8;

    .award-amounts__content {
        margin-top: rem(30);
    }

    .award-amounts__banner {
        @include display(flex);
        @include align-items(flex-start);
        @include justify-content(space-between);
        background-color: #F3FAFC;
        color: #525252;
        font-size: rem(14);
        margin: rem(30) 0;
        padding: 0 rem(10) 0 rem(10);

        .award-viz__button {
            margin: 0;
            display: inline;
        }
    }

    .award-amounts__banner_hidden {
        display: none;
    }

    .award-amounts__banner-info {
        @include display(flex);
    }

    .award-amounts__banner-info-icon {
        margin-top: rem(18);
        margin-right: rem(5);

        svg {
            width: rem(15);
            height: rem(15);
            fill: $color-primary-alt-dark;
        }
    }

    .award-amounts__banner-close-icon {
        margin: 0;
        margin-top: rem(8);
        background-color: unset;

        svg {
            width: rem(10);
            height: rem(10);
            fill: #5B616B;
        }
    }

    .award-amounts__data {
        @extend %column-less-table__row;
        margin: rem(40) 0 rem(10) 0;
        border-radius: rem(5);
    }

    @import "./charts";
    @import "./dataTable";
}
