@mixin agencyLandingCell() {
    .cell-content {
        padding: rem(12) rem(16);
        color: $color-base;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: rem(16);
        line-height: 23px;
        float: right;
    }
}