svg.bar-graph {
    @import "axis";
    @import "bar";
    .chart-legend-item {
        .key-label {
            font-size: rem(12);
            color: $gray-60;
            fill: $gray-60;
        }
    }
}
