&.award-amounts {
    .award-amounts__content {
        color: $color-primary-darker;
    }

    .award-amounts__banner {
        background-color: #F3FAFC;
        color: #525252;
        font-size: rem(14);
        margin: rem(30) 0;
        display: flex;
        padding: 0 rem(10) 0 rem(10);
    }

    .award-amounts__banner-info-icon {
        margin-top: rem(18);
        margin-right: rem(5);
        cursor: pointer;
        svg {
            width: rem(15);
            height: rem(15);
            fill: #00A6D2;
        }
    }


    .award-amounts__banner-close-icon {
        margin-top: rem(18);
        cursor: pointer;
        svg {
            width: rem(10);
            height: rem(10);
            fill: #5B616B;
        }
    }

    .award-amounts__viz {
        height: rem(40);
        margin: rem(16) 0 rem(7) 0;
        background-color: #ececec;
        @include display(flex);
        border: 2px solid #4773AA;
    }

    .award-amounts__viz-label {
        text-align: center;
    }

    .award-amounts__viz-line-up {
        margin: rem(5) 0 rem(5) rem(1);
        border-bottom: 1px solid black;
        position: relative;
        width: 99.5%;
        height: rem(1);
    }

    .award-amounts__viz-line {
        margin: rem(20) 0 rem(5) rem(1);
        border-bottom: 1px solid black;
        position: relative;
        width: 99.5%;
        height: rem(1);
    }

    .award-amounts__viz-line-up::after {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid black;
        top: 0px;
        right: -1px;
    }

    .award-amounts__viz-line-up::before {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid black;
        top: 0px;
        left: -1px;
    }

    .award-amounts__viz-line::after {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid black;
        top: -8.5px;
        right: -1px;
    }

    .award-amounts__viz-line::before {
        content: "";
        position: absolute;
        width: rem(1);
        height: rem(10);
        border-left: 1px solid black;
        top: -8.5px;
        left: -1px;
    }


    .award-amounts__viz-desc-top {
        font-size: rem(16);
        color: #555555;
    }

    .award-amounts__viz-desc {
        font-size: rem(12);
        color: #555555
    }
    .award-amounts__data-wrapper {
        margin-top: rem(10);
    }

    .award-amounts__data-content {
        border: 1px #D5D6D8 solid;
        padding: rem(8);
        display: flex;
        justify-content: space-between;
        font-size: rem(16);
        color: #525252;
        &:nth-of-type(1) {
            border-radius: rem(5) rem(5) 0 0;
            border-bottom: 0;
        }
        &:last-of-type {
            border-radius: 0 0 rem(5) rem(5);
            border-top: 0;
        }
    }

    .award-amounts__data-icon {
        height: rem(10);
        width: rem(10);
        border-radius: 50%;
        display: inline-block;
        margin-right: rem(5);
    }

    .award-amounts__data-icon_blue {
        background-color: #4773AA;
    }

    .award-amounts__data-icon_gray {
        background-color: #BBBBBB;
    }

    .award-amounts__data-icon_transparent {
        background-color: white;
        border: 2px solid #BBBBBB;
    }

    .award-amounts__data {
        border: 1px #D5D6D8 solid;
        padding: rem(8);
        font-size: rem(16);
        color: #525252;
        margin-top: rem(10);
        border-radius: rem(5);
        display: flex;
        justify-content: space-between;
    }
}