//PAGE WRAPPER WITH WHITE BACKGROUND AND SLIGHT SHADOW USED TO WRAP THE CONTENT OF ENTIRE PAGES
@use "sass:math";

@mixin elementContainerWrap {
    @include grid-container;
    margin: pxToRem(30) math.div($outer-gutter, 2) pxToRem(60);
    max-width: 100%;
    background-color: $color-white;
    border-bottom: pxToRem(1) solid $color-gray-border;
    border-right: pxToRem(1) solid $color-gray-border;
    border-top: pxToRem(1) solid $color-gray-border;
    box-shadow: $container-shadow;
    color: $color-base;
    
    padding: 0 pxToRem(30) pxToRem(15);
    @include media($large-screen) {
        margin: pxToRem(30) $outer-gutter pxToRem(60);
    }
    @include media($x-large-screen) {
        max-width: $site-max-width;
        margin: pxToRem(30) auto pxToRem(60);
    }
}
