//PAGE WRAPPER WITH WHITE BACKGROUND AND SLIGHT SHADOW USED TO WRAP THE CONTENT OF ENTIRE PAGES
@use "sass:math";

@mixin elementContainerWrap {
    @include grid-container;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color: $color-white;
    border-bottom: rem(1) solid $color-gray-border;
    border-right: rem(1) solid $color-gray-border;
    border-top: rem(1) solid $color-gray-border;
    box-shadow: $container-shadow;
    color: $color-base;
    margin: rem(30) math.div($outer-gutter, 2) rem(60);
    padding: 0 rem(30) rem(15);
    @include media($large-screen) {
        margin: rem(30) $outer-gutter rem(60);
    }
    @include media($x-large-screen) {
        max-width: $site-max-width;
        margin: rem(30) auto rem(60);
    }
}
