//SECTION WRAPPER THAT APPLIES THE CORRECT MARGINS TO FULL WIDTH SECTIONS
@use "sass:math";
@mixin fullSectionWrap($mrg-top, $mrg-bottom, $gutter: $outer-gutter) {
    margin-top: $mrg-top;
    margin-bottom: $mrg-bottom;
    @include grid-container;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin: $mrg-top math.div($gutter, 2) $mrg-bottom;
    @include media($large-screen) {
        margin: $mrg-top $gutter $mrg-bottom;
    }
    @include media($x-large-screen) {
        max-width: $site-max-width;
        margin: $mrg-top auto $mrg-bottom;
    }
}
