@mixin moreOptionsBtn($baseColor, $bgColor) {
    svg {
        float: right;
        fill: $baseColor;
        height: pxToRem(30);
        width: pxToRem(50);
        border: pxToRem(1) solid rgba($baseColor, .6);
        padding: 0 pxToRem(10);
    }
    &:hover {
        & svg {
            fill: $bgColor;
            border: pxToRem(1) solid rgba($baseColor, .6);
            background: rgba($baseColor, .6);
            cursor: pointer;
            @include transition(all 0.25s $ease-in-out-sine);
        }
    }
}