// ACTIVE FILTER BUTTON SEEN WITHIN THE FILTER BAR
//@import "mixins/selectedFilterWrap";
// CALL WITH -- @include selected-filter-wrap; --
@mixin selected-filter-wrap {
    @include display(flex);
    @include flex-flow(row wrap);

    margin: ($global-margin * 2) 0 0 0;
    padding: 0;
    background-color: unset;

    .shown-filter-button {
        background-color: $gray-cool-5;
        border: none;
        line-height: 1.5;
        color: $gray-90;
        padding: pxToRem(3) pxToRem(4) pxToRem(3) $global-padding;

        &:hover {
            background-color: $gray-cool-10;
            border: none;
        }

        div {
            align-self: flex-start;
        }

        .shown-filter-button__shown-filter-button-icon {
            margin-left: pxToRem(4);
            border-radius: 50%;
            width: 18px;
            height: 18px;
            cursor: pointer;

            &:hover {
                background-color: $gray-cool-30;
            }

            svg {
                height: pxToRem(12);
                width: pxToRem(12);
                color: $gray-90;
                margin: auto;
            }
        }
    }

    &:empty {
        display: none;
    }
}
