.homepage-community {
    background-color: $color-gray-lightest;
    padding: rem(50) 0 rem(80);

    @include media($tablet-screen) {
        background-color: $color-white;
    }
    @include media($medium-screen) {
        padding: 0;
    }

    .homepage-community__wrapper {
        @import "mixins/fullSectionWrap";
        @include fullSectionWrap(0, 0);

        @include media($tablet-screen) {
            @include fullSectionWrap(rem(30), 0);
        }

        @include media($medium-screen) {
            @include display(flex);
            @include justify-content(center);
            @include align-items(flex-start);
            @include fullSectionWrap(rem(180), 0);
            padding: 0 rem(150) rem(150);
        }
    }

    .homepage-community__content {
        @include media($medium-screen) {
            @include flex(1 1 auto);
            width: 60%;
        }
    }

    .homepage-community__image-wrapper {
        &.homepage-community__image-wrapper_desktop {
            display: none;
            @include media($medium-screen) {
                display: block;
                @include flex(1 1 auto);
                margin-left: rem(55);
            }
        }
    }

    h2.homepage-community__title {
        font-weight: $font-semibold;
        color: $color-base;
        font-size: rem(38);
        line-height: rem(55);
        margin: 0;
    }

    p.homepage-community__description {
        font-size: rem(18);
        line-height: rem(30);
    }

    a.homepage-community__link {
        color: $color-white;
        background-color: $color-primary;

        font-weight: $font-semibold;
        font-size: rem(24);

        padding: rem(15) rem(20);
        margin-top: rem(20);

        text-align: center;

        display: block;
        margin-left: 0;
        max-width: rem(320);

        @include media($tablet-screen) {
            display: block;
            width: rem(320);
        }
        @include media($medium-screen) {
            margin-top: rem(60);
        }

        &:hover, &:active {
            background-color: $color-primary-darker;
            text-decoration: none;
        }
    }
}