.agency-section-wrapper {
    .agency-obligated-content {
        text-align: left;

        .fy-text {
            margin: rem(32) 0 0;
            font-style: italic;
            font-size: rem(18);
        }

        .against-auth-text {
            font-size: rem(24);
            font-weight: 300;
            margin: rem(8) 0 0;
        }

        .horizontal-bar {
            width: 100%;
            height: rem(45);
	        margin: rem(15) 0 rem(10);

            .legend-container {
                color: $color-gray-medium;

                .key-label {
                    font-size: rem(12);
                }
            }
        }

        .outlay-text {
            font-size: rem(20);
            font-weight: 300;
            line-height: rem(25);
            margin: 0 0 rem(80);
        }

        .object-class-text {
            margin: rem(100) rem(50) rem(78) rem(50);
        }
    }
}

.number {
    font-weight: normal;
    color: $color-vis-dark;
    font-size: rem(30);
    letter-spacing: -1px;
    line-height: rem(38);

    &.number-bolder {
        font-weight: 600;

        &.outlay {
            font-size: rem(20);
            color: #1F4955;
        }
    }
}