.award-amountdates {

    @include display(flex);
    @include justify-content(space-between);

    .award-amountdates__amounts {
        padding-top: rem(11);
        width: 45%;
        display: inline-block;
    }
    

    .award-amountdates__heading {
        @include display(flex);
        @include justify-content(space-between);
        width: 100%;
    }

    .award-amountdates__heading-title {
        font-size: rem(14);
        font-weight: $font-semibold;
    }
    .award-amountdates__heading-remaining {
        font-size: rem(12);
        text-transform: uppercase;
    }

    .award-amountdates__heading-remaining-text {
        padding-left: rem(2);
        font-weight: $font-light;
        text-transform: uppercase;
    }

    .award-amountdates__heading-info {
        padding-right: rem(3);
        cursor: pointer;
        svg {
            width: rem(14);
            height: rem(14);
            fill: $color-gray-border;
        }
    }

    .award-amountdates__heading-info_hide {
        display: none;
    }
    
    .award-amountdates__stats-amounts {
        height: rem(3);
        margin: rem(16) 0 rem(7) 0;
        background-color: #ececec;
        @include display(flex);
    }

    .award-amountdates__stats-dates {
        height: rem(3);
        margin: rem(16) 0 rem(7) 0;
        background-color: #ececec;
        position: relative;
        @include display(flex);
    }

    .award-amountdates__stats-inner {
        height: rem(3);
    }

    .award-amountdates__details-container {
        @include display(flex);
        @include flex-direction(column);
        line-height: 1.39;
        font-weight: $font-light;
    }

    .award-amountdates__details {
        @include display(flex);
        @include justify-content(space-between);
        text-transform: capitalize;
    }

    .award-amountdates__details_indent {
        padding-left: rem(14);
    }

    %award-amountdates__circle {
        height: rem(6);
        width: rem(6);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(6);
    }

    .award-amountdates__circle_blue {
        @extend %award-amountdates__circle;
        background-color: $color-cool-blue-light;
    }

    .award-amountdates__circle_gray {
        @extend %award-amountdates__circle;
        background-color: $color-gray-border;
    }

    .award-amountdates__circle_light-gray {
        @extend %award-amountdates__circle;
        background-color: #ececec;
    }

    .award-amountdates__circle_dark-gray{
        @extend %award-amountdates__circle;
        background-color: #9b9b9b;
    }


   
}