.usa-dt-modal {
    @import "components/_genericErrorMessage";

    width: 100% - $grid-column;

    @media(min-width: $x-large-screen) {
        width: 100% - $grid-column * 3;
    }

    .filter-modal {
        background: unset;
        width: 100%;
        min-width: 100%;

        .filter-modal__header {
            padding: 32px 16px 32px 24px;
            background-color: $color-primary-darker;
            display:flex;
            justify-content: space-between;
            .filter-modal__header-close {
                transform: translateY(-16px);
                .button-type__icon-dark {
                    margin: 0;
                    height: auto;
                    padding: 0;
                }
            }

            .filter-modal__header-text {
                font-size: rem(24);
                font-weight: $font-semibold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: $color-white;
            }
        }

        .filter-modal__body {
            padding: 32px 24px 32px;
            background-color: $color-white;

            .filter-modal__top-description {
                margin-bottom: 0;
                margin-top: 0;
            }

            .filter-modal__top-description, .filter-modal__top-description-2 {
                font-size: rem(16);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
            }

            .filter-modal__top-description-2 {
                margin-top: 4px;
                margin-bottom: 0;
            }

            .filter-modal__example {
                margin-top: 24px;
                .filter-modal__title {
                    font-size: rem(16);
                    font-weight: $font-semibold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: $color-base;
                }

                .filter-modal__image {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    width: 240px;
                    height: 72px;
                    @media(min-width: $tablet-screen) {
                        width: 381px;
                        height: 108px;
                    }
                }

                .filter-modal__description {
                    font-size: rem(16);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: $color-base;
                }

                .filter-modal__operator {
                    font-size: rem(16);
                    font-weight: $font-semibold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: $color-base;
                }
            }
        }
    }
}
