.state-overview {
    .state-overview__title-wrapper {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        position: relative;
        .state-overview__flag {
            @include flex(0 0 auto);
            width: rem(64);
            height: auto;
            margin-right: rem(28);
        }
        h3.state-overview__title {
            @include flex(1 1 auto);
            margin: rem(5) 0;
        }
    }
    .state-overview__content {
        .state-overview__note {
            font-style: italic;
            font-size: $smallest-font-size;
            padding-bottom: rem(42);
            &.state-overview__note_em {
                font-weight: $font-bold;
            }
        }
        h4.state-overview__heading {
            font-size: rem(19);
            font-weight: 600;
            margin: 0;
        }
        .state-overview__metadata {
            @include span-columns(16);
            padding-bottom: rem(45);
            .state-overview__totals {
                @include span-columns(16);
                @include media($tablet-screen) {
                    @include span-columns(8);
                }
                font-size: rem(22);
                font-weight: $font-light;
                line-height: rem(25);
                .state-overview__total-amount {
                    color: $color-vis-dark;
                    font-size: rem(48);
                    line-height: rem(60);
                    font-weight: $font-normal;
                    text-transform: capitalize;
                    padding-bottom: rem(10);
                }
                .state-overview__total {
                    color: $color-vis-dark;
                }
                .state-overview__subawards {
                    font-size: rem(16);
                    padding: rem(10) 0;
                }
            }
            .state-overview__details {
                @include span-columns(16);
                @include media($tablet-screen) {
                    @include span-columns(8);
                }
                .state-overview__table {
                    margin-top: rem(10);
                    margin-bottom: rem(15);
                    tbody {
                        tr {
                            &:nth-child(odd) {
                                td {
                                    background-color: $color-gray-lightest;
                                }
                            }
                            td {
                                border: 0;
                                font-weight: $font-light;
                                padding: rem(5) rem(15);
                                &:first-child {
                                    font-weight: $font-normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}