.table-wrapper {
    overflow-x: auto;

    .table-header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        .table-header__content {
            @include align-items(center);
            &.table-header__content_right {
                text-align: right;
            }
            .table-header__label {
                white-space: nowrap;
            }
        }
    }
    .query-matched {
        font-weight: $font-semibold;
        text-decoration: underline;
    }
}

@import "../search/results/table/tableMessages";

.results-table-message-container {
    position: relative;
    background-color: rgb(246, 246, 246);

    .results-table-loading {
        margin-bottom: pxToRem(100);
    }

    .no-results-container {
        text-align: center;
        margin-top: pxToRem(100);
        margin-bottom: pxToRem(100);

        .no-results-title {
            h4 {
                margin-bottom: 0;
                vertical-align: bottom;
            }
        }

        .no-results-message {
            p {
                margin-top: 0;
                vertical-align: top;
            }
        }
    }

    .loading-animation {
        @import "../../loading";
    }

    .results-table-error {
        .icon {
            width: pxToRem(36);
            height: pxToRem(36);

            svg {
                width: pxToRem(36);
                height: pxToRem(36);
            }
        }

        .title {
            font-size: pxToRem(20);
            line-height: pxToRem(45);
        }

        .description {
            font-size: pxToRem(16);
            line-height: pxToRem(10);
        }
    }
}
