.usa-da-state-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";

    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC;

    .usda-page-header .usda-page-header__container .usda-page-header__toolbar {
		@media(max-width: $medium-screen) {
			border-bottom: rem(1) solid $color-gray-lighter;
		}
	}

	.usda-page-header__toolbar .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__item {
        padding-left: 25px;
    }

    .usda-page-header__toolbar .usda-fy-picker__container .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list {
        width: 100%
    }

    .usda-page-header__toolbar .usda-fy-picker__container .usa-dt-picker.usda-fy-picker .usa-dt-picker__button-text {
        min-width: 126px;
        width: auto;
    }

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(0,0);
        padding:  0;

        @import "./_positioning";
        @import "./_contentWrap";
        @import "elements/_divider";
        @import "../../components/pageLoading";
        @import "./footer/footer";
    }
}
