.in-page-nav__wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 56px;

  .in-page-nav__paginator {
    display: block;
    margin-top: 16px;
    cursor: pointer;

  }

  ul {
    padding: 0;
    scroll-behavior: smooth;
    margin: 16px 32px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
    white-space: nowrap;
    max-width: 1600px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    @media (max-width: 991px) {
      display: block;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
  }

  li {
    display: inline;
    cursor: pointer;
    a {
      margin: 2px;
    }
  }
}

.in-page-nav__wrapper ul::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* Chrome/Safari/Webkit */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: none;
}