.in-page-nav__wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 100%;
  padding: $global-padding 0;
  height: 34px;
  background-color: $theme-color-headline-inverse;
  border-bottom: $theme-color-body-inverse 2px solid;

  .in-page-nav__paginator {
    display: block;
    width: 2.5%;
    padding-left: $global-padding * 1.5;

    svg {
      cursor: pointer;
      width: 8px;
      height: 18px;
      color: $theme-color-1;

      :hover {
        color: red;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    font-size: $font-size-14;
    line-height: 18px;
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    max-width: 1600px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    @media (max-width: 991px) {
      display: block;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
  }

  li {
    display: inline;
    cursor: pointer;
    margin: 0 $global-margin * 4 0 0;

    a {
      color: $theme-color-headline;
    }
    a:hover {
      font-weight: $font-semibold;
    }
  }
}

.in-page-nav__wrapper ul::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* Chrome/Safari/Webkit */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: none;
}
