.in-page-nav__wrapper {
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  max-width: 100%;
  height: rem(34);
  background-color: $theme-color-headline-inverse;
  border-bottom: $theme-color-body-inverse 2px solid;

  .in-page-nav__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: rem(24);
    background-color: $theme-color-headline-inverse;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 $global-margin;

    &:hover {
      background-color: $theme-color-body-inverse;
    }

    svg {
      cursor: pointer;
      width: rem(8);
      height: rem(18);
      color: $theme-color-1;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: $font-size-14;
    line-height: rem(18);
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    max-width: 1600px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    @media (max-width: 991px) {
      display: block;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
  }

  li {
    display: inline;
    cursor: pointer;
    margin: 0 $global-margin * 4 0 0;
    padding-top: rem(6);
    height: 100%;

    &.active {
      border-bottom: $theme-color-3 2px solid;
    }

    a {
      color: $theme-color-headline;
    }
    a:hover {
      font-weight: $font-semibold;
    }
  }
}

.in-page-nav__wrapper ul::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* Chrome/Safari/Webkit */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: none;
}
