.usda-page-header {
    @include display(flex);
    min-height: rem(60);
    @import "../../../mixins/fullSectionWrap.scss";
    .usda-page-header__container {
        .usda-page-header__header,
        .usda-page-header__toolbar {
            border-bottom: none;
            @media (max-width: $medium-screen) {
                .usda-fy-picker__container {
                    padding-left: 0;
                }
                padding-left: $outer-gutter / 2;
            }
        }
        @media(min-width: $medium-screen) {
            @include fullSectionWrap(0, 0);
        }
    }
}
