.extent-competed-filter {
  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding: 0 ($global-spacing-unit * 2) rem(20) ($global-spacing-unit * 2);
    position: relative;

    input {
      width: 100%;
      height: rem(32);
      margin: 0;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit (
        $global-spacing-unit * 4
      );
    font-size: $smallest-font-size;
    line-height: 1.5;
    color: $gray-60;
    border: solid rem(1) $gray-cool-10;
    border-radius: rem(3);
  }

  svg {
    color: $gray-60;
    width: rem(12);
    height: rem(12);
  }

  .search-icon {
    @include flex(0 0 auto);
    @include align-self(center);
    position: absolute;
    width: rem(16);
    height: rem(16);
    left: ($global-spacing-unit * 3);
    top: rem(2);
    padding: rem(2);
  }

  .icon {
    @include flex(0 0 auto);
    @include align-self(center);
    justify-self: center;
    position: absolute;
    width: rem(16);
    height: rem(12);
    right: ($global-spacing-unit * 3);
    top: rem(2);
    padding: rem(2);
  }
}

.no-results {
  padding: 0 ($global-spacing-unit * 2) rem(20) ($global-spacing-unit * 2);
  font-size: $lead-font-size;
  line-height: 1.5;
  color: $gray-60;
  text-align: center;
}

}

// TODO: replace the relevant padding, left, and top properties above with those below once searchV2 releases
&.collapsible-sidebar--drilldown {
  .extent-competed-filter .autocomplete__input {
    padding: 0 ($global-spacing-unit * 4) rem(20) ($global-spacing-unit * 4);
    min-width: 100%;

    .search-icon {
      left: ($global-spacing-unit * 5);
      top: rem(2);
    }

    .icon {
      right: ($global-spacing-unit * 5);
    }
  }
}