.extent-competed-filter {
  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding: ($global-spacing-unit * 2) ($global-spacing-unit * 2) rem(20) ($global-spacing-unit * 2);
    position: relative;

    input {
      width: 100%;
      height: rem(32);
      margin: 0;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit ($global-spacing-unit * 4);
      font-size: $smallest-font-size;
      line-height: 1.5;
      color: $gray-60;
      border: solid rem(1) $gray-cool-10;
      border-radius: rem(3);
    }

    svg {
      color: $gray-60;
    }

    .search-icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: rem(16);
      left: ($global-spacing-unit * 3);
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);
      justify-self: center;
      position: absolute;
      height: rem(16);
      right: ($global-spacing-unit * 3);
      top: rem(22);
    }
  }

  .no-results {
    padding: 0 ($global-spacing-unit * 2) rem(20) ($global-spacing-unit * 2);
    font-size: $lead-font-size;
    line-height: 1.5;
    color: $gray-60;
    text-align: center;
  }
}
