.psc-checkbox {
  padding: pxToRem(12);

  @import '../../tooltips';

  .checkbox-header {
    padding-top: pxToRem(10);
  }

  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding: pxToRem(10) 0;
    position: relative;

    input {
      width: 100%;

      &.geo-entity-dropdown__input {
        padding-left: pxToRem(28) !important;
      }

      &::-ms-clear {
        // TODO: [DEV-5732] Fix styling bug in Searchable Checkbox trees
        display: none;
        height: 0;
        width: 0;
      }
    }

    svg {
      color: $gray-60;
      width: pxToRem(12);
      height: pxToRem(12);
    }

    .search-icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: pxToRem(16);
      height: pxToRem(16);
      left: $global-spacing-unit;
      top: $global-spacing-unit !important;
      padding: pxToRem(2);
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: pxToRem(15);
      right: pxToRem(5);
    }
  }

  .checkbox-tree .checkbox-tree-label__description {
    .checkbox-tree-label__container .checkbox-tree-label .checkbox-tree-label__label {
      font-weight: $font-semibold;

    }

    .checkbox-tree-label__description .checkbox-tree-label__label {
      font-weight: normal !important;
    }
  }
}
