.psc-checkbox {
  padding: rem(12);

  @import '../../tooltips';

  .checkbox-header {
    padding-top: rem(10);
  }

  .autocomplete__input {
    @include display(flex);
    width: 100%;
    padding: rem(10) 0;
    position: relative;

    input {
      width: 100%;

      &.geo-entity-dropdown__input {
        padding-left: rem(28) !important;
      }

      &::-ms-clear {
        // TODO: [DEV-5732] Fix styling bug in Searchable Checkbox trees
        display: none;
        height: 0;
        width: 0;
      }
    }

    svg {
      color: $gray-60;
      width: rem(12);
      height: rem(12);
    }

    .search-icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: rem(16);
      height: rem(16);
      left: $global-spacing-unit;
      top: rem(7);
      padding: rem(2);
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);
      position: absolute;
      width: rem(15);
      right: rem(5);
    }
  }
}
