.tas-checkbox {
  display: block;
  padding-top: rem(15);

  .checkbox-header {
    @include display(flex);

    .tooltip-popover-container .tooltip-popover {
      bottom: rem(45);

      .tas-checkbox-tt {
        p {
          padding: 0;
          margin: 0;
        }

        ul {
          padding-top: rem(10);
        }
      }
    }
  }

  .autocomplete__input {
    @include display(flex);

    width: 100%;
    padding-bottom: rem(10);
    position: relative;

    input {
        // TODO: [DEV-5732] Fix styling bug in Searchable Checkbox trees
        width: 100%;
    }

    .icon {
      @include flex(0 0 auto);
      @include align-self(center);

      position: absolute;
      width: rem(15);
      right: rem(5);
    }
  }
}
