.tas-checkbox {
    display: block;
    padding: 0 rem(20);
    margin-bottom: rem(12);
    .autocomplete__input {
        width: 100%;
        padding-bottom: rem(10);
        input {
            width: 100%;
        }
    }
    .checkbox-tree {
        margin-bottom: rem(20);
        border-bottom: 1px solid $color-gray-lighter;
        width: 100%;  
    }
    @import '../../../../elements/filters/selectedFilterBtn';
    .selected-filters {
      background: #E4E4E4;
      padding: rem(10);
      margin-bottom: rem(10);
      width: 100%;
      .shown-filter-button {
        line-height: rem(15);
        font-size: rem(12);
        color: #5B616B;
        .close {
          color: #5B616B;
        }
        &:hover {
          outline: none;
          border: rem(1) solid $color-gray-lighter;
          & .close {
            color: #5B616B;
            outline: none;
          }
        }
        &:focus {
          outline: none;
          & .close {
            outline: none;
          }
        }
      }
    }
}