.cfda-filter, .psc-filter, .naics-filter, .contract-filter {
    @import "elements/filters/_errorMessage";
    @import "elements/filters/_typeahead";
    @import "elements/filters/_selectedFilterBtn";
    @import "mixins/selectedFilterWrap";
    @import './pages/award/_moreButton';

    padding-left: rem(20);

    .shown {
        min-height: rem(18);
    }
    .visually-hidden {
        display: none;
    }

    .filter-item-wrap {
        padding-left: 0 !important;
    }

    .selected-filters {
        @include selected-filter-wrap;
    }

    button.contract-filter-toggle-button {
        background-color: $color-white;
        color: $color-focus;
        padding: 0.7rem 0 0;
        margin: 0.7rem 0 0 0;
        font-weight: normal;
    }
}