.additional-info {
    padding: rem(40) 0 rem(60);

    .award-viz__heading {
        border-bottom: 2px solid $color-gray;
        margin-bottom: rem(35);

        .award-viz__icon {
            margin-left: rem(10);
            margin-right: 0;
        }
    }

    .award__row {
        padding-top: rem(20);

        .award__col {
            width: 100%;

            // Override space between columns when stacked in mobile
            &:first-child {
                padding-bottom: 0;
            }

            &:last-child {
                padding-top: 0;
            }
        }
    }

    // TODO - This is accordion-table is still here due to
    // IDVPeriodOfPerformance. Need to remove this css
    // and delete IdvPeriodOfPerformance and update the
    // single Accordian component to handle this
    .accordion-table {
        margin: 0;

        .accordion-table__row {
            border-bottom: rem(2) solid $color-gray-lightest;
            padding: rem(8) rem(40);

            td {
                border: 0;
                vertical-align: top;

                .accordion-table__list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                    }
                }

                &:last-child {
                    font-weight: $font-light;
                }

                &.accordion-table__data_info-tooltip {
                    @include display(flex);
                    @import '../../../components/visualizations/tooltip/csstooltip';

                    .tooltip-popover-container {
                        margin-left: rem(5);
                        color: $color-gray-lighter;

                        &:hover,
                        &:focus {
                            color: $color-gray-medium;
                        }

                        .tooltip-popover {
                            // override the positioning to be centered over the icon
                            bottom: rem(35);
                            left: rem(-145);
                            font-size: $small-font-size;
                        }
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .accordion {
        margin-bottom: rem(20);

        .accordion__content {
            overflow: hidden;
            height: 0;
        }

        &.accordion_open {
            .accordion__content {
                height: auto;
                border: rem(2) solid $color-gray-lightest;
                overflow: visible;
                width: 100%;

                .accordion-row {
                    border-bottom: rem(2) solid $color-gray-lightest;
                    padding: rem(8) rem(40);
                    @include display(flex);
                    width: 100%;
                    font-size: rem(14);

                    .accordion-row__title {
                        @include flex-direction(column);
                        flex: 1;
                    }

                    .accordion-row__data {
                        @include flex-direction(column);
                        flex: 1;
                        font-weight: $font-light;
                        padding-left: rem(40);

                        &.generated-id {
                            word-break: break-word;
                        }



                        &.show-tooltip {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            .accordion-row__data-tooltip {
                                @media(min-width:$large-screen) {
                                    align-self: flex-end;
                                }
                                .tooltip-wrapper {
                                    .tooltip__icon {
                                        height: rem(14);
                                        width: rem(14);
                                    }
                                }
                            }
                        }

                        .accordion-table__list {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;

                            li {
                                margin: 0;
                            }
                        }
                    }

                    &.accordion-table__data_info-tooltip {
                        @include display(flex);
                        @import '../../../components/visualizations/tooltip/csstooltip';

                        .tooltip-popover-container {
                            margin-left: rem(5);
                            color: $color-gray-lighter;

                            &:hover,
                            &:focus {
                                color: $color-gray-medium;
                            }

                            .tooltip-popover {
                                // override the positioning to be centered over the icon
                                bottom: rem(35);
                                left: rem(-145);
                                font-size: $small-font-size;
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }

        .accordion__bar {
            cursor: pointer;
            background-color: $color-gray-lightest;
            padding: rem(10);
            overflow: auto;
            color: $color-gray;
            display: flex;

            svg {
                margin-right: rem(8);
                fill: $color-gray-medium;

                &.accordion-caret {
                    fill: $color-cool-blue;
                    color: $color-link;
                }
            }

            img {
                position: relative;
                top: rem(5);
                height: rem(20);
                margin-right: rem(10);
                opacity: 0.5;
            }

            span:last-child {
                margin-left: auto;
            }
        }

        .tab-enabled a,
        .tab-enabled div.accordion-row__data-tooltip,
        .tab-enabled ul {
            visibility: visible !important;
        }

        .tab-disabled a,
        .tab-disabled div.accordion-row__data-tooltip,
        .tab-disabled ul {
            visibility: hidden !important;
        }
    }
}
