.federal-accounts {
  width: 100%;
  @import 'components/Note';
  .visualization-tooltip {
    @import "components/visualizations/tooltip/_tooltip";
    position: fixed;
    top: 0;
    left: 0;

    .tooltip {
      position: relative;
      max-width: rem(500);
      .tooltip-title {
        background-color: #eeeeee;
      }
      .tooltip-subtitle {
        text-align: center;
        background-color: #f8f8f8;
        padding: $global-pad ($global-pad * 2);
      }
      .disclaimer-total {
          margin-bottom: rem(15);
          padding: rem(0) rem(15);
          font-size: rem(12);
          font-style: italic;
          text-align: center;
      }
    }
  }
  @import '../../search/results/table/tableMessages';
  .results-table-message-container {
    position: relative;
    background-color: rgb(246, 246, 246);
    .results-table-loading {
      margin-bottom: rem(100);
    }
    .no-results-container {
      text-align: center;
      margin-top: rem(100);
      margin-bottom: rem(100);
      .no-results-title {
        h4 {
          margin-bottom: 0;
          vertical-align: bottom;
        }
      }
      .no-results-message {
        p {
          margin-top: 0;
          vertical-align: top;
        }
      }
    }
    .loading-animation {
        @import "../../../loading";
    }
    .results-table-error {
      .icon {
        width: rem(36);
        height: rem(36);
        svg {
          width: rem(36);
          height: rem(36);
        }
      }
      .title {
        font-size: rem(20);
        line-height: rem(45);
      }
      .description {
        font-size: rem(16);
        line-height: rem(10);
      }
    }
}
  .federal-accounts__section {
    width: 100%;
    .view-buttons {
      @include viewTypeButton();
      text-align: right;
      .view-button {
        margin-top: 0;
        &.active {
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
    .federal-accounts-results {
      @import './federalAccountsTable';
      width: 100%;
      .federal-accounts-table-renderer {
        width: 100%;
        overflow-x: scroll;
        @include media($medium-screen) {
          overflow-x: auto;
        }
      }
      .federal-accounts-table-holder {
        width: 100%;
      }
      .explorer-cell-title {
        font-weight: bold;
      }
      .explorer-cell-box:hover {
          background-color: #f49c20;
      }
    }
  }
  .federal-accounts-summary__section {
    .award-funding-summary__table {
      margin-bottom: rem(10);
      .award-funding-summary__data {
          @extend %column-less-table__row;
          margin: 0;
          border-bottom: 0;
          &:nth-of-type(1) {
              border-radius: rem(5) rem(5) 0 0;
          }
          &:last-of-type {
              border-radius: 0 0 rem(5) rem(5);
              border-bottom: solid rem(1) #d5d6d8;
          }
      }
    }
  }
}
