/* Shared Award Visualization styles */
.award-viz {
    @import "pages/search/results/table/_tableTypes";
    @import "../table/resultsTablePicker";
    @import "pages/search/results/visualizations/_messages";

    .visualization-message-container {
        margin-top: pxToRem(30);
        min-height: pxToRem(112);
        padding-top: pxToRem(45);
    }

    .award-viz__heading {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);

        .award-viz__icon {
            @include flex(0 0 auto);

            height: pxToRem(20);
            width: pxToRem(20);
            margin-right: pxToRem(9);

            svg {
                fill: $color-gray;
            }
        }

        h3.award-viz__title {
            @include display(flex);
            @include flex(1 1 auto);

            margin: 0;
            line-height: $base-line-height;
            font-size: pxToRem(18);
            font-weight: $font-semibold;
        }

        .award__info-wrapper {
            @include display(flex);
            @include flex(0 0 auto);
            @include align-self(flex-end);
        }
    }

    .award-viz__button {
        @include button-unstyled;
        @include display(flex);
        line-height: normal;
        color: $color-link;

        &:hover, &:focus {
            color: $color-visited;
            svg {
                fill: $color-visited;
            }
        }
    }

    .award-viz__link {
        @include display(flex);
        @include justify-content(flex-start);
        @include flex(0 0 auto);
        @include align-items(center);

        width: fit-content;
        padding: pxToRem(4) 0;

        .award-viz__link-icon {
            @include display(flex);
            @include flex(0 0 auto);

            margin-right: pxToRem(5);

            svg {
                height: pxToRem(15);
                width: pxToRem(15);
                fill: $color-link;
            }
        }

        .award-viz__link-icon_hidden {
            display: none;
        }

        .award-viz__link-text {
            @include display(flex);
            @include flex(0 0 auto);
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:visited, &:hover {
            .award-viz__link-icon {
                svg {
                    fill: $color-visited;
                }
            }
        }

        .award-viz__link-text_hidden {
            display: none;
        }
    }
    .award-viz__link-icon {
        @include display(flex);
        @include flex(0 0 auto);
        margin-right: pxToRem(5);
        svg {
            height: pxToRem(15);
            width: pxToRem(15);
            fill: $color-link;
        }
    }
    .award-viz__link-icon_hidden {
        display: none;
    }
    .award-viz__link-text {
        @include display(flex);
        @include flex(0 0 auto);
    }
}
