.cfda-section__viz {
  width: 100%;
  .view-buttons-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .view-buttons-section__back {
      padding-bottom: 1rem;
      .view-buttons-section__back-text {
        padding-left: 0.5rem;
      }
    }
    .view-buttons-section__text {
        flex-grow: 1;
        font-size: 1.4rem;
    }
    .view-buttons-section__buttons {
      @include viewTypeButton();
      text-align: right;
      .view-button {
        margin-top: 0;
        &.active {
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }
  .cfda-section-results {
    @import './cfdaSectionTable';
    @import '../shared/awardAmountsSection/charts';
    @import '../../search/results/table/tableMessages';
    .tooltip__amount--loans {
      font-size: 3rem;
      padding-bottom: 1rem;
      font-weight: $font-light;
    }
    .tooltip-pointer {
      left: -0.7rem;
    }
    .results-table-message-container {
      position: relative;
      background-color: rgb(246, 246, 246);
      .no-results-container {
        margin-top: 5.2rem;
        margin-bottom: 5.2rem;
      }
    }
    .award-amounts-viz {
      .award-amounts-viz__bar-wrapper.cfda-viz {
        height: rem(40);
      }
      .award-amounts-viz__desc.top.cfda-viz {
        border-left: solid 0.4rem $color-vis-green-darkest;
      }
      .award-amounts-viz__line.top.cfda-viz {
        border-bottom: 1px solid $color-vis-green-darkest;
      }
      .award-amounts-viz__line.top.cfda-viz::before {
        border-left: 1px solid $color-vis-green-darkest;
      }
      .award-amounts-viz__line.top.cfda-viz::after {
        border-left: 1px solid $color-vis-green-darkest;
      }
    }
    width: 100%;
    .cfda-section-table-renderer {
      width: 100%;
      overflow-x: scroll;
      @include media($medium-screen) {
        overflow-x: auto;
      }
    }
    .cfda-section-table-holder {
      width: 100%;
    }
    .explorer-cell-title {
      font-weight: bold;
    }
    .explorer-cell-box:hover {
        background-color: #f49c20;
    }
    .usa-dt-picker {
      margin-bottom: 4rem;
      .usa-dt-picker__dropdown-container {
        border-bottom: 1px solid $color-primary-alt-darkest;
        .usa-dt-picker__button {
          margin-right: 0;
          margin-left: 0.5rem;
          padding-bottom: 0;
          .usa-dt-picker__button-text {
            font-size: 1.6rem;
            font-weight: 600;
          }
          .usa-dt-picker__button-icon {
            path {
              fill: $color-primary-alt-darkest;
            }
          }
        }
        .usa-dt-picker__list {
          max-height: 300px;
          z-index: 4;
          .usa-dt-picker__item {
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
    }
    .cfda-section-single-title {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}
