.referenced-awards {
    .referenced-awards__content {
        padding-bottom: rem(40);
        @import 'pages/search/results/table/tableTypes';
        .table-types {
            width: 100%;
            .table-type-toggle {
                margin-top: 0;
            }
        }
        .referenced-awards-results {
            @import './referencedAwardsTable';
            @import '../../search/results/table/tableMessages';
            overflow-x: scroll;
            @include media($medium-screen) {
                overflow-x: auto;
            }
            .results-table-message-container {
                position: relative;
                .loading-animation {
                    @import "../../../loading";
                }
                .results-table-no-results {
                    .description {
                        display: none;
                    }
                }
            }
        }
    }
}
