.usa-da-error-page {
    text-align: center;
    @import "all";
    @import "layouts/default/stickyHeader/header";

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 2), ($global-mrg * 2));
        padding: 2.5rem 2rem;
        background-color: $color-white;
        box-shadow: $container-shadow;
        color: $color-base;
        border-top: 1px solid $color-gray-border;
        border-right: 1px solid $color-gray-border;
        border-bottom: 1px solid $color-gray-border;

        font-size: 1.8rem;
        h2 {
            margin: 0 0 2.8rem;
            font-size: 2.7rem;
            line-height: 3.4rem;
        }
        img {
            width: 249px;
            height: 123px;
        }
        p {
            font-weight: $font-semibold;
            font-size: 1.6rem;
            margin-top: 5rem;
        }
        ul {
            @include unstyled-list;
            li {
                padding: 0.8rem 0; 
            }
        }
        @media (min-width: $tablet-screen) {
            padding: 7.8rem;
            h2 {
                font-size: $h2-font-size;
                line-height: 6rem;
                margin-bottom: 5.9rem;
            }
            img {
                width: 586px;
                height: 288px;
            }
            p {
                font-size: 1.8rem;
                max-width: 45.2rem;
                margin: 5rem auto 1.8rem;
            }
        }
    }
}
