.usa-da-analyst-guide-page {
  @import 'all';
  @import "./_analystGuideHeader.scss";

  background-color: #ffffff;

  .main-content {
    margin-bottom: rem(40);
    @media (min-width: $medium-screen) {
      margin-bottom: rem(60);
    }
  }

  .analyst-guide-body {
    margin: 0 $global-margin * 2;
    @media (min-width: $medium-screen) {
      margin: 0;
    }
  }

  .analyst-guide__topTitle {
    @media (max-width: $medium-screen) {
      width: 328px;
      height: 68px;
      margin: 32px 16px 20px;
      font-size: 28px;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: $heading-line-height;
      letter-spacing: normal;
      color: $color-grayblack;
    }
  }

  .analyst-guide__bodyText {
    @media (max-width: $medium-screen) {
      width: 328px;
      height: 216px;
      margin: 20px 16px 40px;
      font-size: $base-font-size;
      font-weight: $font-normal;
      font-stretch: normal;
      font-style: normal;
      line-height: $base-line-height;
      letter-spacing: normal;
      color: $color-base;
    }
  }

  .analyst-guide__questionSections {
    @media (max-width: $medium-screen) {
      width: 328px;
      height: 24px;
      margin: 40px 16px 2px;
      font-size: 20px;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: $heading-line-height;
      letter-spacing: normal;
      color: $color-grayblack;
    }
  }

  .analyst-guide__answerSection {
    @media (max-width: $medium-screen) {
      margin-top: 8px;
    }
  }

  .analyst-guide__questionAnswers {
    @media (max-width: $medium-screen) {
      margin-top: 4px;
    }
  }

  .analyst-guide__questionLine {
    @media (max-width: $medium-screen) {
    width: 328px;
    border-bottom: 2px solid black;
    }
  }
}