.stay-in-touch-modal {
    padding: pxToRem(50) pxToRem(23);
    .usa-dt-modal__header {
        height: pxToRem(83);
        .usa-dt-modal__title {
            @include justify-content(flex-start);
        }
    }
    .usa-dt-modal__body {
        text-align: center;
        padding: pxToRem(30) pxToRem(50) pxToRem(23) pxToRem(50);
        .email-sign-up__modal-body {
            h2 {
                font-size: pxToRem(24);
                margin: 0 0 pxToRem(27) 0;
                font-weight: 500;
            }
            form {
                @include display(flex);
                @include flex-direction(column);
                @include align-items(flex-start);
                .email-label {
                    font-size: pxToRem(14);
                }
                .email-input {
                    width: 100%;
                    height: pxToRem(35);
                }
                .submit {
                    @include align-self(center);
                    width: pxToRem(158);
                    padding: pxToRem(8) pxToRem(48);
                    font-size: pxToRem(18);
                    line-height: pxToRem(23);
                    font-weight: 600;
                    color: white;
                    background-color: $color-primary-darker;
                    margin: 0;
                }
            }
            .email-sign-up__confirmation {
                h3 {
                    padding: 0;
                    margin: 0;
                    font-size: pxToRem(24);
                    font-weight: 600;
                }
                svg {
                    height: pxToRem(65);
                    width: pxToRem(65);
                }
                p {
                    margin-top: 0;
                    margin-bottom: pxToRem(33);
                    font-size: pxToRem(18);
                }
                button {
                    width: pxToRem(158);
                    font-size: pxToRem(18);
                    height: pxToRem(40);
                    font-weight: 600;
                    line-height: pxToRem(23);
                    background-color: $color-primary-darker;
                    margin: 0;
                }
            }
            .email-sign-up__validation {
                width: 100%;
                background: $color-secondary-lightest;
                height: pxToRem(45);
                margin: pxToRem(10) 0;
                border: pxToRem(1) solid $color-secondary-dark;
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(center);
                span {
                    font-size: pxToRem(18);
                    padding-left: pxToRem(8);
                    color: $color-base;
                    font-weight: 600;
                }
                svg {
                    height: pxToRem(24);
                    width: pxToRem(24);
                    margin-left: pxToRem(16);
                }
            }
        }
    }
}
