.primary-award-type {
    @import "./_sharedAwardStyle";
    @include sharedAwardStyle;

    &.single-item {
        padding-left: 2.7rem;
    }

    svg {
        fill: $color-gray;
        height: 2rem;
        width: 2rem;
        position:relative;
        cursor: pointer;
    }

    .toggle {
        @include button-unstyled;
        display: inline-block;
        height: 2rem;
        vertical-align: middle;
        margin-right: 7px;

        &.closed {

        }

        &.open {

        }

        &.hide {
            display: none;
        }

        span {
            // this is for the animation group
            margin: 0;
            top: 0;
        }
    }
}