@mixin sharedAwardStyle {
    display: table;
    width: 100%;

    .award-type-item-wrapper {
        display: table-cell;

        input[type=checkbox] {
            @include usa-input-checkbox;
            margin-right: 6px;
        }

        span {
            cursor: pointer;
            margin-left: 1rem;
            top: 1rem;
            position: relative;
        }

        label {
            @include usa-label;

            display: inline-block;
            font-size: $small-font-size;
            line-height: $small-font-size;
            margin: 1rem 0 0 0;
            width: 80%;

            &:before {
                width: 1.4rem;
                height: 1.4rem;
                position: relative;
                top: 0.25rem;
            }
        }
    }
}