@import "pages/search/results/visualizations/geo/_message";

.map-loading, .map-no-results {
    .loading-message {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
    .no-results-icon {
        width: pxToRem(25);
        height: pxToRem(25);
    }
    .error-icon {
        width: pxToRem(25);
        height: pxToRem(25);

        svg {
            width: pxToRem(25);
            height: pxToRem(25);
        }
    }
    .title, .description {
        @include media($tablet-screen) {
            max-width: pxToRem(200);
            font-size: pxToRem(18);
        }

        @include media($large-screen) {
            max-width: pxToRem(300);
            font-size: pxToRem(24);
            line-height: pxToRem(30);
        }
    }
}