.download-filter-bar {
    .search-top-filter-bar {
        margin-bottom: pxToRem(20);
    }

    .search-top-filter-header {
        margin-bottom: pxToRem(10);
        @include clearfix;
        .header-title {
            float: left;
            font-weight: 600;
            font-size: pxToRem(14);
            padding-top: pxToRem(6);
            line-height: pxToRem(18);
            color: #525252;
            margin: 0;
        }
    }

    .search-top-filters-content {
        padding: pxToRem(10);
        background-color: $filter-bar-gray;

        overflow-x: auto;
        white-space: nowrap;
        
        .filter-group-container {
            display: inline-block;
            margin-right: pxToRem(10);

            .filter-name {
                font-size: $smallest-font-size;
                font-weight: $font-semibold;
                text-transform: uppercase;

                margin-bottom: pxToRem(5);
            }

            .filter-values {
                white-space: nowrap;
                .filter-item-container {
                    display: inline-block;
                    margin-right: pxToRem(5);
                }
            }
        }

        .filter-item {
            @include button-unstyled();
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: $color-white;
            padding: 8px;
            border: 1px solid $color-gray-light;
            @include border-top-radius(4);
            @include border-bottom-radius(4);

            font-size: $smallest-font-size;

            &:hover, &:active {
                background-color: $color-white;
            }

            .filter-item-title {
                color: $color-gray;
            }
        }
    }
}