.download-progress-screen {
    text-align: center;
    .main-title {
        h2 {
            text-align: center;
            font-size: $h4-font-size;
            font-weight: $font-light;

            margin: pxToRem(20) 0;
        }

        .details {
            text-align: center;
        }

        .sub-details {
            padding-bottom: pxToRem(14);
        }
    }
    .link-box {
        padding: pxToRem(30);
        margin: pxToRem(20) auto;
        background-color: $color-gray-lightest;
        text-align: center;
        p {
            margin-top: 0;
            font-size: pxToRem(14);
            font-weight: bold;
        }

        h3 {
            margin-top: pxToRem(15);
        }
        button {
            @include button-unstyled;
            display: block;
            margin: pxToRem(10) auto;
            color: $color-primary;
            font-weight: 600;
            text-transform: uppercase;
            padding: pxToRem(10) pxToRem(10) pxToRem(5) pxToRem(5);
        }

        .link {
            background-color: $color-white;
            border: solid 1px $color-gray-light;
            padding: pxToRem(5);
        }

        .icon {
            margin-right: pxToRem(2.5);
            width: pxToRem(20);
            height: pxToRem(20);
            display: inline-block;

            svg {
                width: pxToRem(25);
                height: pxToRem(11);
                fill: $color-green;
            }
        }
    }
    .finish-button {
        display: block;
        margin: auto;
        background-color: $color-white;
        color: $color-primary;
        border: solid pxToRem(2) $color-primary;
    }
}