.search-section-extra-modal {
    // override the modal widths
    width: 50%;
}

.full-download-modal {
    $filter-bar-gray: #DDDDDD;
    @import "./_header";
    background-color: $color-white;

    .download-body {
        padding: rem(20) rem(60) rem(40);

        @import "./_filterBar";
    }

    @import "./_breadcrumb";

    @import "./_levelScreen";
    @import "./_progressScreen";
}