.accordion-container {
  button {
    background-color: unset !important;
    margin-right: 0;
  }

  .accordion {
    ul {
      list-style-type: disc;
    }
  }

  .heading {
    padding: 12px 12px 12px 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid #eee;
    color: #1b1b1b;
  }

  .content {
    padding: 0 25px;
    max-height: 0;
    color: #1b1b1b;
    text-align: left;
    visibility: hidden;
    transition: ease-in-out max-height 50ms, visibility 50ms;
  }

  .toggle {
    font-size: 1.125rem;
    background: transparent;
    border: none;
    float: right;
    cursor: pointer;
  }

  .plus {
    display: block;
    color: #0071bc;
  }

  .minus {
    display: none;
    color: #0071bc;
  }

  .open {
    margin-bottom: 16px;
    .content {
      line-height: 1.2;
      max-height: 100%;
      padding-top: 15px;
      padding-bottom: 25px;
      border: 1px solid #eee;
      visibility: visible;
    }

    .plus {
      display: none;
    }

    .minus {
      display: block;
    }
  }

  .sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
  }
}

