.alert {
  background-color: $gray-cool-2;
  border: rem(1) solid $gray-cool-90;
  border-radius: rem(4);
  display: flex;

  .alert__message__container {
    padding: $global-padding * 2;
    display: flex;

    .alert__icon-container {
      margin-right: $global-margin;
    }

    .alert__message__header {
      color: $gray-90;
      font-size: $font-size-24;
      line-height: 1.15;
      margin-bottom: $global-margin;
    }

    .alert__message__body {
      color: $gray-90;
      font-size: $base-font-size;
      line-height: 1.5;
    }
  }

  .alert__close-icon__container {
    padding: $global-padding;
  }

  &.info {
    // $info-lighter
    background-color: #E7F6F8;
    // $info-dark
    border-color: #009EC1;

    .alert__icon-container {
      color: #009EC1;
    }
  }

  &.success {
    // $success-lighter
    background-color: #E3F5E1;
    // $success-dark
    border-color: #008817;

    .alert__icon-container {
      color: #008817;
    }
  }

  &.warning {
    // $warning-lighter
    background-color: #FEF2E4;
    // $warning-dark
    border-color: #FA9441;

    .alert__icon-container {
      color: #FA9441;
    }
  }

  &.error {
    // $error-lighter
    background-color: #FFF2F5;
    // $error
    border-color: #E41D3D;

    .alert__icon-container {
      color: #E41D3D;
    }
  }
}