.combo-box {
  margin: rem(20);

  .combo-box__label {
    font-size: $base-font-size;
    font-weight: $font-semibold;
    color: $gray-90;
    line-height: 1.5;

    span {
      font-weight: normal;
      color: $red-cool-50v;
    }

    svg {
      color: $gray-20;
    }
  }

  .combo-box__input-container {
    display: flex;
    align-items: center;
    margin: rem(8) 0 rem(16) 0;
    position: relative;

    .combo-box__input {
      width: 100%;
      font-size: $small-font-size;
      line-height: 1.5;
      color: $gray-60;
      padding: rem(8) rem(10);
      border: rem(1) solid $gray-20;
      border-radius: rem(3);
    }

    .combo-box__buttons-container {
      display: flex;
      position: absolute;
      margin-left: rem(-60);
      left: 100%;

      &.empty {
        margin-left: rem(-41);
      }

      .combo-box__vertical-line {
        width: rem(1);
        height: rem(24);
        background-color: $gray-20;
        margin: 0 rem(7);
      }

      .combo-box__button {
        padding: rem(4);
        margin: 0;
        border-radius: 0;
        background-color: transparent;

        svg {
          width: rem(11);
        }

        .close-icon {
          color: $gray-90;
        }

        .chevron-icon {
          color: $blue-60v;
        }
      }
    }
  }
}