.combo-box {
  margin: rem(20);

  .combo-box__input-container {
    display: flex;

    .combo-box__buttons-container {
      display: flex;

      .combo-box__vertical-line {
        width: rem(1);
        height: rem(24);
        background-color: $gray-20;
        margin: 0 rem(7);
      }

      .combo-box__button {
        padding: rem(6);
        margin: 0;
        border-radius: 0;
        background-color: transparent;

        svg {
          width: rem(11);
        }

        .close-icon {
          color: $gray-90;
        }

        .chevron-icon {
          color: $blue-60v;
        }
      }
    }
  }
}