hr.results-divider {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    float: left;
    position: relative;
    margin-bottom: 2.6rem;
    margin-top: 1.1rem;
    width: 98.9%;
    @media(min-width: $large-screen) {
        width: 99.0%;
    }
    &:before,
    &:after {
        border-top: 1px solid #D8D8D8;
        content: ('');
        left: 3px;
        position: absolute;
        top: 3px;
        width: 100%;
    }
    &:after {
        left: 6px;
        top: 6px;
    }
}
