ul.inline,
ol.inline {
    @include margin(0.5em null);
    padding-left: 0;
    & li {
        border-right: 1px solid $color-gray-light;
        display: inline-block;
        float: left;
        line-height: 1.5rem;
        margin: 0 1.0rem 0.5rem 0;
        padding: 0 1.0rem 0 0;
        &:last-child {
            border-right: none;
            margin-right: 0;
        }
    }
}
