@use "sass:math";
$input-line-height: 1.3;
$input-border-width: 1px;
$input-padding-vertical: 1rem;

$input-height-exact: (
    ($base-font-size * $input-line-height) +
    ($input-padding-vertical * 2) +
    (rem($input-border-width * 2))
);

// truncated to 1 decimal place
$input-height: math.div(floor($input-height-exact * 10), 10);


@mixin usa-input  {
    appearance: none;
    background-color: $color-white;
    border: $input-border-width solid $color-gray-lighter;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-sizing: border-box;
    color: $color-base; // standardize on firefox
    display: inline-block;
    font-size: $base-font-size;
    height: $input-height;
    line-height: $input-line-height;
    margin: 0.2em 0;
    max-width: $input-max-width;
    outline: none;
    padding: $input-padding-vertical 0.7em;

    &:focus {
        box-shadow: $focus-shadow;
    }
}

@import './inputs/checkbox';
@import './inputs/errors';
@import './inputs/radio';
@import './inputs/range';
@import './inputs/select';

@mixin usa-input-success {
    border: 3px solid $color-green-light;
}

@mixin usa-input-label {
    display: block;
    margin-top: 3rem;
    max-width: $input-max-width;
}

@mixin usa-legend {
    font-size: $h2-font-size;
    font-weight: $font-bold;
}
