table {
    border-spacing: 0;
    margin: 2em 0;
    min-width: 100%;

    &.table-for-new-search-page {
        margin-top: rem(16);
        margin-bottom: 0;

        td {
            // this is necessary to make the usda-table__row class hover work correctly
            background-color: unset;
        }

        &.award-results-table-dtui {
            tbody.usda-table__body {
                .usda-table__row {
                    td.usda-table__cell:last-of-type {
                        // this is the right border on the Table, since the fade effect is not in yet
                        border-right: rem(1) solid $gray-cool-10;
                    }
                }
            }
        }
    }

    thead {
        th {
            background-color: $color-gray-lightest;
        }
    }

    th {
        text-align: left;
    }

    tbody {
        th {
            font-weight: $font-normal;
        }
    }

    th,
    td {
        background-color: $color-white;
        border: 1px solid $color-gray;
        padding: 1.5rem;
    }
}

.usa-table-borderless {
    thead {
        tr {
            background-color: transparent;
        }

        th {
            border-top: 0;
        }
    }

    th,
    td {
        border-left: 0;
        border-right: 0;
    }
}
