.field-picker {
    float: left;
    clear: none;
    .selected-button {
        @include button-unstyled;
        @extend h3;
        font-weight: $font-light;
        border-bottom: rem(1) solid $color-gray-light;
        padding-left: rem(10);
        padding-right: rem(10);
        .label {
            display: inline-block;
        }
        .arrow-icon {
            display: inline-block;
            margin-left: rem(10);
            svg {
                width: rem(14);
                height: rem(14);
                fill: $color-gray;
            }
        }
    }
    .field-list {
        position: absolute;
        z-index: 2;
        width: rem(300);
        overflow-y: auto;
        border: rem(1) solid $color-gray-light;
        margin: rem(-1) 0 0 0;
        box-shadow: 0 rem(5) rem(5) 0 rgba($color-black, .2);
        ul {
            @include unstyled-list;
            @import "components/_comingSoon";
            @include comingSoon;
            width: 100%;
            li.field-item {
                width: 100%;
                background-color: $color-white;
                border: none;
                border-bottom: rem(1) solid $color-gray-light;
                &:last-child {
                    border-bottom: none;
                }
                .item-button {
                    @include button-unstyled;
                    color: $color-gray;
                    font-size: rem(14);
                    width: 100%;
                    padding: rem(20);
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: rgba(#fbeac3, .6);
                        color: $color-base;
                    }
                }

                .item-button.coming-soon {
                    color: $color-gray-lighter;
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: transparent;
                    }
                }
                .coming-soon-icon {
                    left: rem(185);
                    bottom: rem(12);
                }
                .coming-soon-label {
                    left: rem(200);
                    bottom: rem(10);
                }
            }
        }
    }
}