//UNDERLINED BUTTON STYLE
//@import "../../components/underlineButton";
//@include underlineButton();

@mixin underlineButton {
    button {
        @include button-unstyled;
        border-bottom: pxToRem(4) solid transparent;
        color: #808288;
        font-size: pxToRem(14);
        font-weight: $font-semibold;
        line-height: pxToRem(18);
        padding: 0 pxToRem(10);
        padding-bottom: pxToRem(5);
        text-align: center;
        &:hover {
            @include transition(all 0.25s $ease-in-out-sine);
            border-bottom: pxToRem(4) solid darken( $color-primary-alt-lightest, 15%);
            color: lighten($color-gray-dark, 15%)
        }
        &.active,
        &:active {
            border-bottom: pxToRem(4) solid $color-primary-alt-dark;
            color: $color-gray-dark;
        }
    }
}