.logo {
    .usa-logo {
        @include fill-parent();
        a {
            height: rem(39);
            width: rem(280);
            display: block;
            @include background-image(url("#{$image-path}/logo-small.png"));
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            @include media($medium-screen) {
                @include background-image(url("#{$image-path}/logo.png"));
            }
            // handle retina images
            @media (min--moz-device-pixel-ratio: 1.3),
            (-o-min-device-pixel-ratio: 2.6/2),
            (-webkit-min-device-pixel-ratio: 1.3),
            (min-device-pixel-ratio: 1.3),
            (min-resolution: 1.3dppx) {
                @include background-image(url("#{$image-path}/logo-small@2x.png"));
                @include media($medium-screen) {
                    @include background-image(url("#{$image-path}/logo@2x.png"));
                }
            }
            @include media($medium-screen) {
                @include fill-parent();
                width: 40.6rem;
            }
            .logo-sr {
                @include sr-only();
            }
        }
        &:after {
            content: "BETA";
            background: $color-green-light;
            color: $color-white;
            font-size: rem(8);
            font-weight: $font-semibold;
            left: rem(254);
            letter-spacing: 0.14rem;
            padding: rem(2) rem(4);
            position: absolute;
            text-align: center;
            top: rem(5);
            @include border-radius(2px);
            @include media($medium-screen) {
                font-size: rem(10);
                left: rem(368);
                top: 0;
            }
        }
    }
}