@mixin headerLogo {
    .usa-logo {
        @include fill-parent();

        a {
            height: 4.8rem;
            display: block;
            background: url('/img/USASpendingLogo.png') no-repeat;
            width: em(406px) !important;

            @include media($nav-width) {
                @include fill-parent();
            }

            .logo-sr {
                @include sr-only();
            }
        }
    }
}