@mixin headerPositioning {
    .nav-container {
        width: 100%;
        @include display(flex);
        @include flex-direction(row);
        @include pad(1rem 2rem);
        @include media($nav-width) {
            @include media($small-screen) {
                @include pad(1rem 2rem);
                height: 11.8rem;
            }
            @include media($large-screen) {
                @include pad(1rem 4rem);
            }
            @include media($x-large-screen) {
                max-width: $site-max-width;
                margin: 0 auto;
                padding: 1rem 0;
            }
        }
        .logo {
            @include flex(1);
            margin: auto;
            position: relative;
            @include media($nav-width);

        }
        nav {
            margin: auto;
            display: none;
            @include media($tablet-screen) {
                display: block;
                width: 50rem;
            }
        }
        .mobile-menu {
            display: table-cell;
            width: 20%;
            @include media($tablet-screen) {
                display: none;
            }
        }
    }
}
