.nav-container {
    @import "mixins/fullSectionWrap";
    @include fullSectionWrap(0, 0);
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include align-items(center);
    height: rem(80);
    @include media($medium-screen) {
        height: rem(80);
    }
    .logo {
        @include flex(0 0 auto);
        position: relative;
    }

    .mobile-menu {
        @include flex(1 1 auto);
        position: relative;
        height: rem(45);
        @include media($medium-screen) {
            display: none;
        }
    }
}