.warning-banner {
    @import "mixins/fullSectionWrap";
    background: $color-primary-alt-lightest;
    width: 100%;
    border: 3px solid #BCE8EB;
    .warning-banner__content {
        @include display(flex);
        @include align-items(flex-start);
        .warning-banner__alert-icon {
            @include flex(0 0 auto);
            padding: rem(10) rem(15);
            svg {
                margin-top: rem(4);
                height: rem(21);
                width: rem(21);
                fill: #5BC0DE;
            }
        }
        .warning-banner__alert-text {
            @include flex(1 1 auto);
            @include align-self(center);
            padding: rem(10) 0;
        }
        .warning-banner__close-button {
            @include flex(0 0 auto);
            @include button-unstyled;
            padding: rem(10) rem(15);
            svg {
                fill: $color-gray;
                width: rem(16);
                height: rem(16);
            }
        }
    }
}