.info-banner {
    // left-aligned message
    @import "mixins/fullSectionWrap";
    background: $color-primary-alt-lightest;
    width: 100%;
    border-top: 5px solid $color-primary-alt-light;
    .info-banner__content {
        @include display(flex);
        @include align-items(flex-start);
        .info-banner__info-circle {
            @include flex(0 0 auto);
            padding: rem(5) rem(5) rem(5) rem(15);
            color: $color-primary-alt-light;
        }
        .info-banner__hyphen {
          padding: 0 rem(2);
        }
        .info-banner__alert-text {
            @include flex(1 1 auto);
            @include align-self(center);
            padding-top: rem(5);
            padding-bottom: rem(8);
            font-size: $small-font-size;
            line-height: rem(22);
            .info-banner__title-text {
                font-size: rem(18);
                font-weight: 600;
                line-height: rem(22);
                padding-bottom: rem(3);
            }
        }
        .info-banner__description-external-link {
          color: $color-link;
          padding-left: rem(5);
        }
        .info-banner__close-button {
            @include flex(0 0 auto);
            @include button-unstyled;
            padding: rem(5) rem(10);
        }
    }
    &.info-banner_warning {
        background: $color-warning;
        border-top: none;
    }
}
