.recipient-distribution-visualization-container {
    width: 100%;
    .recipient-distribution-svg {
        .recipient-distribution-svg-body {
            .i-beam-line {
                stroke: $color-gray-light;
                stroke-width: 1;
            }
            .shaded-box {
                fill: #88B4C0;
            }
            
        }
    }
}
