.recipient-distribution-visualization-container {
    width: 100%;
    .recipient-distribution-svg {
        overflow: visible;
        .recipient-distribution-svg-body {
            .i-beam-line {
                stroke: $color-gray-light;
                stroke-width: 1;
            }
            .shaded-box {
                fill: #88B4C0;
            }
            .top-count-text {
                font-size: rem(12);
                line-height: rem(12);
                fill: $color-gray;
                font-weight: $font-semibold;
            }
            .top-count-text-desc {
                font-size: rem(10);
                line-height: rem(10);
                fill: $color-gray;
            }
            
        }
    }
}
