.total-obligations-over-time-visualization-container {
    height: 100%;
    width: 100%;
    overflow: visible;
    .total-obligations-over-time-svg {
        overflow: visible;
        cursor: default;
        .total-obligations-over-time-svg-body {
            .paths {
                .path {
                    stroke-width: 1;
                    fill: none;
                }
            }
            .zero-line {
                stroke: $color-gray;
                stroke-width: 1;
                stroke-dasharray: 4;
            }
            .zero-tick {
              color: $color-gray;
              font-size: rem(12);
              line-height: rem(12);
            }
            .total-budget-line {
                stroke: $color-secondary;
                stroke-width: 1;
            }
            .total-budget-difference {
                fill: $color-green;
                opacity: 0;
            }
            .total-budget-difference-hover {
                fill: $color-grass-light;
                opacity: 0.3;
            }
            .today-line {
                stroke: $color-gray-light;
                stroke-width: 1;
            }
            .today-text {
                font-size: rem(12);
                line-height: rem(12);
                fill: $color-gray;
            }
            .total-obligations-over-time-svg-axis {
                line {
                    stroke: $color-gray-light;
                    stroke-width: 1;
                }
                .x-axis {
                    .x-axis-labels {
                        text {
                            font-size: rem(14);
                            text-anchor: middle;
                        }
                    }
                }
            }

            .tooltip-object-overflow {
                overflow: visible;
            }

            .total-budget-difference-hover {
                cursor: pointer;
            }

        }
    }

    .budgetary-resources__tooltip-wrapper {
        height: 100%;
        width: 100%;
        .tooltip {
            // Don't show the tooltip in mobile
            display: none;
        }
        >div {
            width: 100%;
            height: 100%;
        }
        @include media($medium-screen) {
            &:hover {
                cursor: pointer;
            }
            .tooltip {
                display: block;
            }
        }
        .tooltip-pointer {
            &.left {
                left: rem(-16) !important;
                top: rem(28) !important;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    // IE only
                    left: rem(-8);
                }
            }
        }
        .tooltip__content {
            width: rem(260);
        }

        .budgetary-resources-tooltip {
            .tooltip__text {
                display: inline-block;
                .budgetary-resources-tooltip__desc {
                    font-size: rem(14);
                    padding-right: rem(80);
                    margin-bottom: rem(7);
                }
                .budgetary-resources-tooltip__desc_percent {
                    margin-bottom: rem(7);
                    font-size: rem(14);
                }
                .budgetary-resources-tooltip__amount {
                    font-size: rem(20);
                    padding-right: rem(80);
                    margin-bottom: rem(16);
                    font-weight: $font-semibold;
                }
                .budgetary-resources-tooltip__amount_percent {
                    font-size: rem(20);
                    font-weight: $font-semibold;

                }
            }
        }
        .tooltip__hover-wrapper {
            height: 100%;
            width: 100%;
            @include display(flex);
            @include align-items(flex-end);
            @include media($medium-screen) {
                padding: 0 rem(2.5);
            }
        }
    }

}
