.bar-axis {
    font-size: rem(12);
    color: #666;
    fill: #666;

    line.y-axis, line.x-axis {
        stroke: $color-gray-light;
    }

    .grid-line {
        stroke: $color-gray-lightest;
    }

    .x-label {
        font-size: rem(12);
        color: #666;
    }
}