.chart-group {
    .group-background {
        fill: #F7F7F7;

        &.even {
            fill: #FFFFFF;
        }
    }

    .group-label {
        font-size: 14px;
        color: #555555;
    }
}

.chart-bars {
    .chart-bar {
        fill: #708893;

        &:hover, &.hover {
            fill: #F2B733;
        }
    }
}