.chart-group {
    .group-background {
        fill: #F7F7F7;
        &.even {
            fill: $color-white;
        }
    }
    .group-label {
        font-size: rem(14);
        color: $color-base;
        fill: $color-base;
    }
    .group-label-link {
	    fill: $color-link;
	    a:visited {
		    fill: $color-link;
	    }
    }
}

.chart-bars {
    .chart-bar {
        fill: $color-vis-dark;
        opacity: 0.85;
        &:hover,
        &.hover {
            fill: $color-active;
        }
    }
    .chart-bar-hitzone {
        fill: transparent;
    }
}