.chart-group {
    .group-background {
        fill: #F7F7F7;

        &.even {
            fill: #fff;
        }
    }

    .group-label {
        font-size: rem(14);
        color: #666;
        fill: #666;
    }

    .group-label-link {
        text-decoration: underline;
    }
}

.chart-bars {
    .chart-bar {
        fill: $color-vis-dark;
        opacity: 0.85;
        
        &:hover, &.hover {
            fill: $color-active;
        }
    }

    .chart-bar-hitzone {
        fill: transparent;
    }
}