$dot-color: #7C5E94;
.covid-hero {
    height: auto;
    @include display(flex);
    @include justify-content(center);
    @media(min-width: $tablet-screen) {
      height: rem(480);
    }
    @media(min-width: 1750px) {
      height: rem(420);
    }
    .covid-hero__wrapper {
        @include display(flex);
        background: #7C5E94;
        position: relative;
        height: 100%;
        width: 100%;
        .covid-hero__content {
            h1,
            p,
            ul {
              margin-left: 2rem;
              margin-right: 2rem;
              @media(max-width: $tablet-screen) {
                margin-left: 1rem;
              }
            }
            .covid-profile-link__button-wrap {
              margin-top: 3rem;
              width: 30rem;
              height: 5rem;
              margin-left: 2rem;
              hr {
                margin-top: 3rem;
                @media(min-width: $tablet-screen) {
                  display: none;
                }
              }
              @media(max-width: $tablet-screen) {
                width: 90%;
                margin-left: 1rem;
                margin-right: 1rem;
              }
              
              .covid-profile-link__button {
                  display: flex;
    
                  color: $color-white;
                  background-color: #5f4177;
                  padding: rem(10) rem(25);
                  border-radius: rem(6);
    
                  font-size: rem(21);
                  font-weight: $font-semibold;

                  @media(max-width: $tablet-screen) {
                    font-weight: $font-normal;
                    font-size: rem(18);
                    justify-content: center;
                  }
    
                  &:visited {
                      color: $color-white;                    
                  }
    
                  &:hover, &:active {
                      text-decoration: none;
                      background-color: $color-covid-dark-purple;
                  }
              }
            }
            @media(min-width: $medium-screen) {
              padding: 0 2rem;
            }
            &:first-of-type {
                width: 100%;
                background: #eee6f1;
                padding: 0 rem(10);
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);
                @media(min-width: $tablet-screen) {
                  z-index: 10; /* This z-index is so that the hero tooltip will appear IN FRONT OF the bg people walking image */
                  padding-left: rem(15);
                  width: 50%;
                }
                @media(max-width: $tablet-screen) {
                  @include justify-content(flex-start);
                  max-height: 100%;
                }
                @media(min-width: $medium-screen) {
                  @include justify-content(flex-start);
                }
                @media(min-width: $large-screen) {
                  @include justify-content(flex-start);
                }
                h1.covid-hero__headline {
                  color: $color-gray-dark;
                  font-size: rem(30);
                  line-height: 5rem;
                  margin-bottom: 0;
                  span:nth-of-type(2) {
                    display: inline-block;
                    min-width: rem(30);
                    .dot-pulse {
                      margin: auto;
                      top: rem(30);
                    }
                  }
                  @media(max-width: $medium-screen) {
                    line-height: 4rem;
                    margin-top: 1rem;
                  }
                  .covid-hero__headline--amount {
                      opacity: 0;
                      display: inline-block;
                      line-height: 34px;
                      @media(min-width: 1027px) {
                        line-height: 44px;
                      }
                      border-bottom: rem(4) solid #beaac9;
                      transition: opacity 2s ease-in-out;
                      &.show-amount {
                          opacity: 1;
                      }
                  }
                  .covid-homepage-tooltip {
                    display: inline-flex;
                  }
                  span {
                    font-size: rem(30);
                    @media(min-width: 1027px) {
                      font-size: rem(40);
                    }
                    font-weight: $font-semibold;
                  }
                  strong {
                    font-size: rem(30);
                    @media(min-width: 1027px) {
                      font-size: rem(40);
                    }
                    font-weight: $font-semibold;
                  }
                  @import "../../../components/tooltips/index";
                    .tooltip-wrapper {
                      display: inline-block;
                      z-index: 9;
                      .tooltip__hover-wrapper {
                        svg {
                          color: $color-covid-19-obligations;
                        }
                        &:hover {
                          svg {
                            color: $color-covid-dark-purple;
                          }
                        }
                      }
                  }
                }
                p {
                    color: $color-gray-dark;
                    font-size: rem(14);
                    font-weight: $font-normal;
                    padding-top: 1rem;
                    @media(min-width: 1470px) {
                      font-size: rem(18);
                    }
                    @media(max-width: $tablet-screen) {
                      margin-bottom: 2rem;
                    }
                    @media(max-width: $tablet-screen) {
                      margin-top: 3rem;
                    }
                    strong {
                      font-weight: $font-semibold;
                      font-size: rem(20);
                    }
                    &:nth-of-type(2) {
                      margin-top: -1rem;
                    }
                }
            }
            &:nth-of-type(2) {
                display: none;
                overflow-y: scroll;
                height: 100%;
                @media (min-width: $tablet-screen) {
                  @include display(flex);
                  width: 50%;
                }
                ul.covid-highlights {
                    @include display(flex);
                    @include flex-wrap(wrap);
                    @include align-items(flex-end);
                    transform: rotateX(30deg) rotateY(-30deg) rotateZ(0deg) perspective(0);
                    padding: 0;
                    margin: 0;
                    color: $color-white;
                    width: 100%;
                    margin-right: auto;
                    li.covid-highlights__highlight {
                        list-style-type: none;
                        @include display(flex);
                        @include flex-direction(column);
                        @include flex-wrap(wrap);
                        @include align-items(flex-end);
                        @include justify-content(flex-end);
                        opacity: 0.5;
                        margin: 0;
                        padding: rem(15) 0;
                        width: 75%;
                        transition: opacity .5s ease-in;
                        &:hover {
                          opacity: 1;
                       }
                        &.loading {
                          @include align-items(flex-start);
                          @include justify-content(flex-start);
                        }
                        @media(min-width: $large-screen) {
                          padding: rem(20) 0;
                        }
                        @media(min-width: $x-large-screen) {
                          padding: rem(45) 0;
                        }
                        span {
                            width: 100%;
                            font-size: rem(12);
                            @media(min-width: $medium-screen) {
                              font-size: rem(14);
                            }
                            @media(min-width: $large-screen) {
                              font-size: rem(18);
                            }
                            @media(min-width: $x-large-screen) {
                              font-size: rem(22);
                            }
                            &.covid-highlight__description {
                              font-size: rem(16);
                              line-height: rem(18);
                              @media(min-width: $medium-screen) {
                                line-height: rem(21);
                                font-size: rem(19);
                              }
                              @media(min-width: $large-screen) {
                                line-height: rem(26);
                                font-size: rem(24);
                              }
                              @media(min-width: $x-large-screen) {
                                line-height: rem(32);
                                font-size: rem(30);
                              }
                            }
                            &.covid-highlight__amount {
                                font-weight: $font-bold;
                                font-size: rem(20.4);
                                @media(min-width: $medium-screen) {
                                  font-size: rem(26.4);
                                }
                                @media(min-width: $large-screen) {
                                  font-size: rem(32);
                                }
                                @media(min-width: $x-large-screen) {
                                  font-size: rem(38);
                                }
                            }
                        }
                    }
                }
            }
        }
        .covid-background {
          background: url('../../../../img/header-img-people-384x486@2x.png');
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 9;
          pointer-events: none;
          @media(min-width: $medium-screen) {
            background: url('../../../../img/header-img-people-512x687@2x.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: cover;
          }
          @media(min-width: $large-screen) {
            background: url('../../../../img/header-img-people-720x619@2x.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: cover;
          }
          @media(min-width: 1750px) {
            background: url('../../../../img/header-img-people-1000x400@2x.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        @import "./_heroButton";
        .hero-button__wrapper {
          @media(min-width: $tablet-screen) {
            z-index: 10;
          }
        }
    }
    @import "components/loading-pulse-animation";
    .dot-pulse {
      opacity: 0.5;
    }
}
