.map-message-container {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;

    .map-message {
        @include flex(0 0 auto);
        z-index: 2;
        background-color: $color-white;
        display: block;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        line-height: rem(18);

        padding: rem(10) rem(15);

        color: $color-base;
        text-align: center;
        font-size: $small-font-size;
        font-weight: $font-normal;
        line-height: rem(18);
    }
}

.map-loading {
    padding: rem(10);
    .loading-animation {
        width: rem(50);
        height: rem(50);
        margin-left: auto;
        margin-right: auto;
    }

    .loading-message {
        font-size: rem(36);
        line-height: rem(45);
        color: $color-gray-light;
        text-align: center;
    }
}