.visualization-top {
    @include row();
    margin-bottom: rem(20);
    @import "../../../../../components/visualizations/_description";
    @import "../../../../../components/visualizations/_period";

    display:flex;
    .visualization-period {
        .content {
            li {
                //EDIT THIS DEPENDING ON HOW MANY CHOICES ARE AVAILABLE WITHIN THE TOGGLE (DEFAULT IS 3 = 5.3 COLUMNS) 
                @include span-columns(8);
            }
        }
    }

    .award-search__glossary-term {
        font-weight: $font-semibold;
    }

    .usda-glossary-link {
        color: $color-gray-light;
        &:hover, &:active, &:focus, &:visited {
            color: $color-gray-medium;
        }
    }

    .readMoreUpdated__button {
        background-color: transparent;
        color: #0074be;
        padding: 0;
        margin-top: 4px;
        margin-bottom: 0;
        margin-left: 2px;
        margin-right: 0;
        line-height: 1.5;
    }

    .award-search__body-text {
        line-height: 1.5;
        margin-top: 4px;
        margin-bottom: 0;
    }
}
