.results-visualization-geo-section {
    padding: ($global-pad * 2) rem(35);
    position: relative;

    @import "./_topSection";

    .map-container {
        width: 100%;
        height: rem(475);
    }

    @import "./map/map";

    .visualization-tooltip {
        @import "../../../../../components/visualizations/tooltip/_tooltip";
    }
}