.award-description {
    .award-description__content {
        font-size: $small-font-size;
        .award-expandable-section__secondary {
          margin-bottom: rem(28);
        }
        .award-description__naics-psc {
            .naics-psc__section {
                @media all and (max-width: $tablet-screen){
                    padding-bottom: rem(32);
                }
                .line-tree-psc,
                .line-tree-naics {
                    padding: 0;
                    div {
                        padding: 10px 5px 0px 5px;
                        span {
                            color: $color-base;
                            padding-left: 5px;
                            padding-bottom: 5px;
                            @include display(flex);
                        }
                        &.tier--1 {
                          padding-top: 0;
                        }
                    }
                    .tier--2 {
                        border-left: 3px solid #979797;
                        margin-left: 10px;
                    }
                    .tier--3 {
                        border-left: 2px solid #979797;
                        margin-left: 10px;
                    }
                    .tier--4 {
                        border-left: 1.5px solid #979797;
                        margin-left: 10px;
                    }
                    .tier--last {
                        border-left: 1.5px solid #979797;
                        span {
                            padding-bottom: 0px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .naics-psc__heading {
                font-weight: $font-semibold;
                padding-bottom: rem(12);
                span {
                    margin-left: rem(5);
                    white-space: nowrap;
                    height: rem(21);
                    width: rem(21);
                    svg {
                        margin-left: rem(5);
                        vertical-align: middle;
                        height: rem(14);
                        width: rem(13);
                    }
                }
            }
            .psc__extra-margin {
                @media(min-width: $medium-screen) {
                    margin-bottom: 35px;
                }
                @media(min-width: 1039px) {
                    margin-bottom: 18px;
                }
            }
        }
    }
}
