.fy-item {
    .fy-button {
        @include button-unstyled;
        padding: rem(20) rem(40);
        width: 100%;

        border-top: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;

        background-color: #272F38;

        .content {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            position: relative;

            .icon {
                @include flex(0 0 auto);
                width: rem(30);
                height: rem(30);
                margin-right: rem(25);

                svg {
                    fill: $color-white;
                    width: rem(30);
                    height: rem(30);
                }

                &.arrow {
                    width: rem(20);
                    height: rem(20);
                    margin-right: 0;
                    svg {
                        fill: $color-primary-alt;
                        width: rem(20);
                        height: rem(20);
                    }
                }
            }

            .label {
                @include flex(1 1 auto);
                color: $color-white;
                font-weight: $font-semibold;
                font-size: rem(20);
                line-height: rem(25);
            }
        }
    }
}