.fy-picker {
    position: relative;

    .fy-picker__header {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);

        .fy-picker__icon {
            @include flex(0 0 rem(30));
            margin-right: rem(25);

            svg {
                width: rem(30);
                height: rem(30);
                fill: $color-white;
            }
        }

        .fy-picker__dropdown-container {
            @include flex(0 1 auto);
            @include align-self(stretch);
            position: relative;
        }

        .fy-picker__button {
            @include button-unstyled;

            @include display(flex);
            @include justify-content(center);
            @include align-items(center);

            border-bottom: 1px solid $color-white;
        }

        .fy-picker__button-text {
            @include flex(1 1 auto);
            margin-right: rem(15);
            color: $color-white;
            font-weight: $font-semibold;
            font-size: $font-size-20;
            line-height: $heading-line-height;
            svg {
                margin-left: $global-mrg;
            }
        }

        .fy-picker__button-icon {
            @include flex(0 0 rem(20));
            svg {
                width: rem(20);
                height: rem(20);
                fill: $color-primary-alt;
            }
        }
    }

    .fy-picker__list {
        @include unstyled-list;

        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid #464B53;
        background-color: #272F38;
        z-index: 12;

        &.fy-picker__list_hidden {
            display: none;
        }

        .fy-picker__list-item {
            border-top: 1px solid #464B53;

            &:first-child {
                border-top: none;
            }
        }

        .fy-picker__item {
            @include button-unstyled;
            color: $color-white;
            font-size: $font-size-20;
            text-align: center;

            padding: rem(10) rem(15);
            width: 100%;

            &:hover, &:active {
                background-color: #222629;
            }
        }
    }
}