.explorer-sidebar {
    display: none;
    @include media($tablet-screen) {
        display: block;
        @include flex(0 0 rem(300));
        position: relative;
    }

    padding: rem(20) 0;

    background-color: $color-gray-dark;
    color: $color-white;
    .usa-dt-quarter-picker__list {
        @include flex-wrap(wrap);
        @media(min-width: $tablet-screen) {
            @include flex-wrap(nowrap);
        }
    }
    .usa-dt-quarter-picker__period-list-container {
        p {
            font-weight: 600;
        }
        .usa-dt-quarter-picker__period-list .usa-dt-quarter-picker__list-item {
            // the generic period styles
            margin: rem(0) rem(1);
            .usa-dt-quarter-picker__quarter {
                width: rem(24);
                font-weight: $font-bold;
                padding-right: 0;
                padding-left: 0;
            }
            // period representing two periods (1-2)
            &.double-period .usa-dt-quarter-picker__quarter {
                width: rem(48);
            }
            // period representing three periods (1-3)
            &.triple-period .usa-dt-quarter-picker__quarter {
                width: rem(72);
            }
            // period representing three periods w/ two-digit integers (10-12)
            &.triple-period--extra-wide .usa-dt-quarter-picker__quarter {
                width: rem(72);
            }
        }
    }
    @import "./_home";
    @import "./_quarter";
    @import "./_fyPicker";
    @import "./_trail";
}