.map-layer-toggle {
    z-index: 2;
    background-color: $color-white;
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    line-height: pxToRem(18);

    position: absolute;
    top: pxToRem(15);
    left: pxToRem(15);
    padding: pxToRem(10) pxToRem(15);

    .map-layer-list {
        @include unstyled-list;


        @include display(flex);
        @include flex-direction(column);

        @include media($tablet-screen) {
            @include flex-direction(row);
        }

        @include justify-content(center);
        @include align-items(center);
        position: relative;

        li {
            @include flex(1 1 auto);
            margin-left: 0;
            margin-top: pxToRem(5);
            display: flex;

            @include media($tablet-screen) {
                margin-left: pxToRem(10);
                margin-top: 0;
            }

            @include media($large-screen) {
                margin-left: pxToRem(20);
            }

            &:first-child {
                margin-top: 0;
                margin-left: 0;
            }

            .map-layer__cd-tooltip {
                svg {
                    margin-left: pxToRem(5);
                    margin-right: pxToRem(7.5);
                }
            }
        }

        .map-layer-option {
            @include button-unstyled;
            color: $color-base;
            text-align: left;
            font-size: $small-font-size;
            font-weight: $font-normal;
            line-height: pxToRem(18);
            padding: 0;
            border-bottom: pxToRem(4) solid $color-white;
            max-width: pxToRem(180);

            &.active,
            &:hover,
            &:active {
                font-weight: $font-bold;
                border-bottom: pxToRem(4) solid $color-primary-darker;
                max-width: pxToRem(200);

            }

            &:before {
                // CSS trick to prevent container from resizing when text becomes bold
                content: attr(data-content);
                font-weight: $font-bold;
                visibility: hidden;
                display: block;
                height: 0;
            }

            .tooltip-pointer {
                &.left {
                    left: pxToRem(-27) !important;
                }
            }
        }

        .map-layer__cd-tooltip {
            display: inline-flex;
            white-space: normal;

        

            .award-search__geo-toggle {
                .tooltip-spacer {
                    width: 316px !important;

                    @media (max-width: 767) {
                        top: pxToRem(110) !important;
                        left: pxToRem(-30) !important;
                    }

                    @media ((min-width: $tablet-screen) and (max-width: $large-screen)) {
                        top: pxToRem(32) !important;
                        left: pxToRem(344) !important;

                        .tooltip-pointer {
                            transform: rotate(90deg);
                        }

                        .smart-bottom-right {
                            top: pxToRem(-7) !important;
                            left: 29.2rem !important;
                        }
                    }

                    @media (min-width: $large-screen) {
                        top: pxToRem(32) !important;
                        left: pxToRem(373) !important;
                    }
                }
            }

        }
    }
}