.map-container {
    position: relative;
    .mapbox-item {
        display: block;
        height: 100%;
        width: 100%;
    }
    @import "./_legend";
    .map-instructions {
        background-color: $color-white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        color: $color-gray;
        font-size: rem(14);
        font-weight: $font-semibold;
        left: rem(15);
        line-height: rem(18);
        max-width: rem(230);
        padding: rem(12) rem(15);
        position: absolute;
        text-align: center;
        top: rem(15);
        z-index: 2;
    }
}