.usa-da-explorer-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";

    
    .explorer-page__atd-icon {
        @include button-unstyled;
        margin: 0;
        background-color: unset;
        color: $gray-cool-10;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        
        &:focus &:hover &:active{
            background-color: unset;
        }
        .explorer-page__atd-span {
            font-size: rem(14);
            line-height: 1.5;
            color: $gray-cool-10;
            margin-top: 2px;
        }
    }
    .main-content {
        @import "./landing/explorerLanding";
        @import "./detail/explorerDetail";
        @import "../aboutTheDataUpdate/aboutTheDataPage";
    }
}
