// overrides all variables to make the site extremely ugly
// only enabled when run in "gulp destyle" mode

$font-sans:           'Comic Sans MS' !global;
$font-serif:          'Comic Sans MS' !global;
$font-path:           '../fonts' !default;

// Color
$color-primary:              #E91E63;
$color-primary-darker:       #C2185B;
$color-primary-darkest:      #880E4F;

$color-primary-alt:          #9C27B0;
$color-primary-alt-dark:     #7B1FA2;
$color-primary-alt-darkest:  #4A148C;
$color-primary-alt-light:    #BA68C8; // lighten($color-primary-alt, 60%)
$color-primary-alt-lightest: #E1BEE7; // lighten($color-primary-alt, 90%)

$color-secondary:            #6D4C41;
$color-secondary-dark:       #4E342E;
$color-secondary-darkest:    #3E2723;
$color-secondary-light:      #8D6E63; // lighten($color-secondary, 60%)
$color-secondary-lightest:   #BCAAA4; // lighten($color-secondary, 90%)

$color-white:                #fff;
$color-base:                 #F50057;
$color-black:                #000;

$color-gray-dark:            #3E2723;
$color-gray:                 #795548; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #8D6E63; // lightest gray that passes color contrast
$color-gray-light:           #A1887F; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #BCAAA4; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #D7CCC8; // lighten($color-gray-dark, 91%)

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0; // lighten($color-gray-warm-dark, 90%)
$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642; //  lighten($color-gold, 20%)
$color-gold-lighter:         #fad980; //  lighten($color-gold, 60%)
$color-gold-lightest:        #fff1d2; //  lighten($color-gold, 83%)

$color-green:                #2e8540;
$color-green-light:          #4aa564; // lighten($color-green, 20%)
$color-green-lighter:        #94bfa2; // lighten($color-green, 60%)
$color-green-lightest:       #e7f4e4; // lighten($color-green, 60%)

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa; // lighten($color-cool-blue, 20%)
$color-cool-blue-lighter:    #8ba6ca; // lighten($color-cool-blue, 60%)
$color-cool-blue-lightest:   #dce4ef; // lighten($color-cool-blue, 90%)

$color-vis-lightest:         #d0e9ef;
$color-vis-lighter:          #a7c2ca;
$color-vis-light:            #7f9ba7;
$color-vis-dark:             #597785;
$color-vis-darker:           #335565;
$color-vis-darkest:          #083546;

$color-active:               #F2B733;

$color-focus:                #3e94cf;
$color-visited:              #4c2c92;

$color-shadow:               rgba(#000, 0.3);
$color-tab-inactive:         #f1f1f1; // color for inactive tab 

$color-gray-border:          #D8D8D8;