// Typography
$em-base:             10px;
$base-font-size:      rem(16px);
$small-font-size:     rem(14px);
$smallest-font-size:  rem(11px);
$lead-font-size:      rem(20px);
$title-font-size:     rem(52px);
$h1-font-size:        rem(59px);
$h2-font-size:        rem(47px);
$h3-font-size:        rem(38px);
$h4-font-size:        rem(30px);
$h5-font-size:        rem(24px);
$h6-font-size:        rem(19px);
$base-line-height:    1.5;
$heading-line-height: 1.2;
$lead-line-height:    1.7;

$font-sans:           'Source Sans Pro', $helvetica;
$font-serif:          'Merriweather', $georgia;

$font-light:		  200;
$font-normal:         400;
$font-semibold:  	  600;
$font-bold:           700;


// Color
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-primary-alt:          #02bfe7;
$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-light:    #9bdaf1; // lighten($color-primary-alt, 60%)
$color-primary-alt-lightest: #e1f3f8; // lighten($color-primary-alt, 90%)

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;
$color-secondary-light:      #e59393; // lighten($color-secondary, 60%)
$color-secondary-lightest:   #f9dede; // lighten($color-secondary, 90%)

$color-white:                #fff;
$color-black:                #000;
$color-base:                 #555;
$color-link:                 #0071bc;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #d6d7d9; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f1f1f1; // lighten($color-gray-dark, 91%)

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0; // lighten($color-gray-warm-dark, 90%)
$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642; //  lighten($color-gold, 20%)
$color-gold-lighter:         #fad980; //  lighten($color-gold, 60%)
$color-gold-lightest:        #fff1d2; //  lighten($color-gold, 83%)

$color-green:                #2e8540;
$color-green-light:          #4aa564; // lighten($color-green, 20%)
$color-green-lighter:        #94bfa2; // lighten($color-green, 60%)
$color-green-lightest:       #e7f4e4; // lighten($color-green, 60%)

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa; // lighten($color-cool-blue, 20%)
$color-cool-blue-lighter:    #8ba6ca; // lighten($color-cool-blue, 60%)
$color-cool-blue-lightest:   #dce4ef; // lighten($color-cool-blue, 90%)

$color-vis-lightest:		 #d0e9ef;
$color-vis-lighter:		 	 #a7c2ca;
$color-vis-light:		 	 #7f9ba7;
$color-vis-dark:		 	 #597785;
$color-vis-darker:		 	 #335565;
$color-vis-darkest:		 	 #083546;

$color-vis-green-lightest:   #a3f383;
$color-vis-green-lighter:    #70d78b;
$color-vis-green-light:      #45bb8c;
$color-color-vis-green-mid:  #239e87;
$color-vis-green-dark:       #0d817c;
$color-vis-green-darker:     #13646c;
$color-vis-green-darkest:    #1b4956;

$color-active:				 #F2B733;
$color-focus:                #3e94cf;
$color-visited:              #4c2c92;
$color-shadow:               rgba(#000, 0.3);
$color-tab-inactive:		 #f1f1f1; // color for inactive tab
$color-gray-border:          #D8D8D8;

$color-placeholder:          #747474;

$color-disaster-covid-19:    #6E338E;
$color-covid-19-obligations: #B699C6;


// Global Paadding and Margins
// (example usage {padding: ($global-pad * 4);} = 60px of padding.)
$global-pad-mrg: rem(15);
$global-pad: $global-pad-mrg;
$global-mrg: $global-pad-mrg;


// Mobile First Breakpoints
$small-screen:      320px;
$tablet-screen:     768px;
$medium-screen:     992px;
$large-screen:      1200px;
$x-large-screen:    1640px;


// Magic Numbers
$text-max-width:      rem(530);
$lead-max-width:      rem(770);
$site-max-width:      rem(1600);
$site-margins:        rem(30);
$site-margins-mobile: rem(15);
$article-max-width:   rem(600);
$input-max-width:     rem(460);
$border-radius:       rem(3px);
$box-shadow:          0 0 2px $color-shadow;
$focus-shadow:        0 0 3px $color-focus, 0 0 7px $color-focus;
$container-shadow:    0 1px 2px rgba(43,59,93,.29);
$nav-width:           rem(951);
$outer-gutter:        rem(40);

// 44 x 44 pixels hit target following Apple iOS Human Interface Guidelines
$hit-area:          4.4rem;

// z-indices (to use, add a number 0-9 to the layer you want to use)
// this keeps out z-indices in check without going to absurdly high numbers
$z-base: 0;
$z-header: 100;
$z-guide: 200;
$z-modal: 300;
$z-mobile-filter: 400;
$z-mobile-nav: 800;
