.account-overview {
    @import "elements/_divider";

    @include span-columns(16);

    h3 {
        margin-top: rem(0);
        margin-bottom: 0;
        font-size: 3rem;
        line-height: 3.8rem;

        color: $color-base;
    }

    hr.results-divider {
        margin-top: 0.9rem;
        margin-bottom: 10px;
    }

    .overview-content {
        @include span-columns(16);
        margin-bottom: 3rem;

        .overview-section {
            @include span-columns(16);
            margin-top: 10px;

            @include media($tablet-screen) {
                @include span-columns(8);
                margin-top: 0;
            }

            h4 {
                color: $color-gray;
                font-weight: 600;
                font-size: 19px;
                line-height: 24px;
            }

            .section-content {
                color: $color-base;
                font-size: 14px;
            }
        }
    }

    .sankey-wrapper {
        text-align: center;
        color: $color-base;
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 30px;

        @import "./sankey/sankey";
    }
}
