.account-overview {
    @import '../../../mixins/setText';
    @import 'elements/_divider';
    background-color: $color-white;
    box-shadow: $container-shadow;
    padding: rem(30);
    margin-bottom: rem(40);

    .account-overview__title {
        margin: 0;
        font-size: $h3-font-size;
    }
    hr.results-divider {
        margin-top: rem(9);
        margin-bottom: rem(10);
    }
    .account-overview__content {
        margin-bottom: ($global-mrg * 2);
        font-size: $small-font-size;
        .account-overview__heading {
            padding: rem(28) 0 rem(5);
            font-weight: $font-semibold;
            font-size: rem(19);
        }
        @include media($medium-screen) {
            width: 50%;
        }
    }
    .sankey-wrapper {
        text-align: center;
        color: $color-base;
        font-size: $small-font-size;
        margin-top: ($global-mrg * 4);
        margin-bottom: ($global-mrg * 4);
        @import './sankey/sankey';
        .sankey-disclosures {
            text-align: left;
            margin-top: rem(20);
            .disclosure-title {
                font-weight: $font-semibold;
            }
            ul.disclosure-list {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    b {
                        font-weight: $font-semibold;
                    }
                }
            }
        }
    }
}
