.search-section-extra-modal {
    z-index: $z-modal;
    box-shadow: $box-shadow;

    width: 75%;
    @include media($medium-screen) {
        width: 50%;
    }

    .modal-content {
        background-color: $color-white;

        @import "./_header";

        .modal-body {
            min-height: 100px;
            padding: 16px;
            font-size: 14px;

            h1.download-title {
                font-weight: 300;
                font-size: 26px;
                line-height: 30px;

                margin-top: 20px;
                margin-bottom: 20px;

                color: $color-base;
                text-align: center;
            }

            .server-message {
                text-align: center;
                padding-bottom: 20px;
            }

            @import "./_animation";
            @import "./_download";
        }
    }
}