@import '../timePeriod/toggleButtons';
ul.toggle-buttons {
    padding-left: pxToRem(15);
    margin-top: pxToRem(10);
    @include media($large-screen) {
        padding-left: pxToRem(30);
    }

    li {
        margin-left: pxToRem(-2);
        @include media($large-screen) {
            margin-left: 0;
        }

        .tab-toggle {
            padding: 0 pxToRem(2);
            font-size: pxToRem(11);
            margin: 0 pxToRem(5);
            width: auto;
            display: inline-block;
            @include media(1430) {
                padding: pxToRem(8) pxToRem(8);
                font-size: pxToRem(13);
            }
        }
    }
}

.toggle-border {
    border-top: 1px solid $color-gray-lighter;
    padding: 0;
    margin-top: -1px;
    z-index: 1;
    width: 100%;
    height: pxToRem(1);
}
