.filter-results {
    @import "pages/search/searchSidebar";
    .search-sidebar {
        display: none;
        margin-top: 0;
        @include media($medium-screen) {
            @include grid-column(4);
        }
        @import "../filters/filters";
    }
    .search-results-wrapper {

        @import "pages/search/topFilterBar/topFilterBar";
        .search-results {
            background-color: $color-white;
            box-shadow: $container-shadow;
            padding: rem(30);
            h3 {
                margin: 0;
                color: $color-base;
            }
            @import "elements/_divider";
            @import "./visualizations/visualizations";
            @import "./table/awardTable";
        }
    }
}
