.results-table {
    display: block;
    @media (max-width: $large-screen) {
        overflow-x: auto;
    }

    .results-table__message {
        margin: rem(90) auto;
        font-size: rem(36);
        font-weight: 300;
        color: $color-base;
        text-align: center;
        .results-table__message_highlight {
            color: $color-active;
            font-weight: normal;
        }
    }
    .results-table__head {
        .results-table__row {
            border-bottom: solid 1px $color-gray-lighter;
            .results-table__data {
                border: 0;
                &:first-child {
                    width: 18%;
                }
                &:nth-child(2), &:nth-child(3) {
                    width: 31%;
                }
                &:last-child {
                    width: 20%;
                    .cell-content {
                        float: right;
                    }
                }
            }
        }
        .award-result-header-cell {
            @import "./cells/_accountLandingHeaderCell";
        }
    }
    .results-table__body {
        &.results-table__body_hide {
            display: none;
        }
        .results-table__row {
            .results-table__data {
                border: 0;
                &:first-child {
                    width: 18%;
                }
                &:nth-child(2), &:nth-child(3) {
                    width: 31%;
                }
                &:last-child {
                    width: 20%;
                    .results-table-cell__content, .cell-content {
                        text-align: right;
                    }
                }
            }
            .results-table-cell {
                .results-table-cell__content {
                    .results-table-cell__matched {
                        &.results-table-cell__matched_highlight {
                            text-decoration: underline;
                            font-weight: 600;
                        }
                    }
                }
            }
            // gray out even rows
            .results-table__data_even {
                background-color: #f7f7f7;
            }
        }
    }

}
