.account-landing-results-table {
    display: block;
    overflow: scroll;   

    &.no-results {
        border: none;
    }
	table {
		margin-top: rem(15);
        width: rem(500);

        @include media($tablet-screen) {
            width: auto;
        }

		thead {
			tr {
				border-bottom: solid 1px $color-gray-lighter;
				td {
					border: 0;
					&:first-child {
						width: 18%;
					}
					&:nth-child(2), &:nth-child(3) {
						width: 31%;
					}
					&:last-child {
						width: 20%;
						.cell-content {
							float: right;
						}
					}
				}
			}
			.award-result-header-cell {
				@import "./cells/_accountLandingHeaderCell";
				@include accountLandingHeader();
			}
		}
		tbody {
			tr {
				td {
					border: 0;
					&:first-child {
						width: 18%;
					}
					&:nth-child(2), &:nth-child(3) {
						width: 31%;
					}
					&:last-child {
						width: 20%;
						.cell-content {
							float: right;
						}
					}
				}
				.account-link-cell, .generic-account-cell {
					.cell-content {
						span {
							text-decoration: underline;
							font-weight: 600;
						}
					}
				}
				// gray out even rows
				.row-even {
					background-color: #f7f7f7;
				}
			}
		}
	}
}