.rank-visualization-title {
    @include clearfix;
    position: relative;
    .static-title {
        @include h3;
        margin: 0;
        float: left;
    }
    @import 'elements/_titleSelector';
}
