.visualization-top {
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: table;

    @import "../../../../../components/visualizations/_description";
}

.visualization-description {
    display: table-cell;
    vertical-align: middle;
}

.visualization-period {
    display: table-cell;
    vertical-align: middle;

    @import "../../../../../components/visualizations/_scope";

    .content {
        @include media($tablet-screen) {
            width: 300px;
            min-height: 60px;
        }
        @include media($large-screen) {
            width: 390px;
            padding: 15px 30px;
        }

        li {

            @include media($large-screen) {
                display: inline-block;
                margin-left: 30px;
                margin-bottom: 0;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        &.large {
            width: 400px;
            padding: 15px 30px;

            @include media(1440px) {
                width: 550px;
            }

            li {
                @include media(1440px) {
                    display: inline-block;
                    margin-left: 30px;
                    margin-bottom: 0;

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    @import "../../../../../components/_comingSoon";
    
    @include comingSoon;

    .coming-soon {
        .scope-button {
            color: $color-gray-lighter;
        }
        .scope-button:hover {
            color: $color-gray-lighter;
            border-bottom: 4px solid rgba(255,255,255,0);
        }
    }

}