.visualization-top {
    @include grid-column();
    padding-bottom: rem(20);
    @import "../../../../../components/visualizations/_description";
    @import "../../../../../components/visualizations/_period";
    margin-left: 0;
    width: 100%;
    @include media($tablet-screen) {
        @include display(flex);
        float: none;
    }
    .award-search__glossary-term {
        font-weight: $font-semibold;
    }

    .usda-glossary-link {
        color: $color-gray-light;
        &:hover, &:active, &:focus, &:visited {
            color: $color-gray-medium;
        }
    }

    .readMoreUpdated__button {
        background-color: transparent;
        color: #0074be;
        padding: 0;
        margin-top: 4px;
        margin-bottom: 0;
        margin-left: 2px;
        margin-right: 0;
        line-height: 1.5;
    }

    .award-search__body-text {
        line-height: 1.5;
        margin-top: 4px;
        margin-bottom: 0;
    }

    .award-search__what-title {
        font-size: rem(14);
        font-weight: $font-semibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #555;
        margin-bottom: 8px;
        margin-top: 0;
    }
    .read-more__preview-lines {
        margin-bottom: 0;
        margin-top: 0;
    }
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .visualization-top__description {
        font-size: $small-font-size;
        line-height: rem(26);
        @include media($tablet-screen) {
            @include display(inline);
            @include flex(1 1 56%);
        }
        margin-right: 2.5%;
    }
    .visualization-scope {
        @include display(flex);
        @include justify-content(space-evenly);
        padding: rem(15);
        background-color: rgba($color-primary-alt-lightest, .5);
        @include media($tablet-screen) {
            @include flex(1 1 44%);
        }
        @import "elements/underlineButton";
        @include underlineButton();
        .visualization-scope__button {
            @include display(flex);
            @include flex(0 0 auto);
        }
        .coming-soon {
            @import "./components/_comingSoon";
            @include comingSoon;
            .visualization-scope__button {
                color: $color-gray-lighter;
            }
            .visualization-scope__button:hover {
                color: $color-gray-lighter;
                border-bottom: rem(4) solid rgba(255, 255, 255, 0);
            }
            .coming-soon-container {
                width: rem(72);
                margin: 0 auto;
            }
        }

        align-self: flex-end;
    }
}
