.results-visualization-rank-section {
    @import "./_title";
    @import "./_topSection";
    .results-divider {
        float: none;
    }
    .results-visualization-rank-container {
        position: relative;
        @import "./chart/rankChart";
        .visualization-tooltip {
            @import "components/visualizations/tooltip/_tooltip";
        }

        .chart-groups a {
            display: block;
            position: relative;
            z-index: 1;
            pointer-events: all;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    .visualization-legend {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);

        .visualization-legend__circle {
            @include flex(0 0 rem(12));
            width: rem(12);
            height: rem(12);
            border-radius: rem(6);
            background-color: $color-vis-dark;
        }
        .visualization-legend__label {
            @include flex(1 1 auto);
            font-size: rem(12);
            color: #666;
            margin-left: rem(8);
        }
    }

    .results-visualization-rank-container {
        min-height: rem(334);
    }
    @import "./_pager";
}