.results-visualization-rank-section {
    padding: 3rem 3.5rem;

    @import "./_title";
    @import "./_topSection";
    
    .results-visualization-rank-container {
        position: relative;

        @import "./chart/rankChart";

        .visualization-tooltip {
            @import "../../../../../components/visualizations/tooltip/_tooltip";
        }
    }

    .results-visualization-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
}