.results-visualization-rank-section {
    @import "./_title";
    @import "./_topSection";
    .results-divider {
        float: none;
    }
    .results-visualization-rank-container {
        position: relative;
        @import "./chart/rankChart";
        .visualization-tooltip {
            @import "components/visualizations/tooltip/_tooltip";
        }

        .chart-groups a {
            display: block;
            position: relative;
            z-index: 1;
            pointer-events: all;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    @import '../../../../../components/visualizations/legend';
    .visualization-legend {
        .visualization-legend__label {
            color: #666;
        }
    }

    .results-visualization-rank-container {
        min-height: rem(334);
    }
    @import "./_pager";
}