.visualization-top {
    @include grid-column();
    margin-bottom: rem(20);
    @import "../../../../../components/visualizations/_description";
    @import "../../../../../components/visualizations/_period";
    margin-left: 0;
    width: 100%;
    @include media($tablet-screen) {
        @include display(flex);
        float: none;
    }
    .visualization-period {
        .content {
            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    margin: 0;
                }
            }
        }
    }
}