.results-visualization-time-section {
    @import "./_topSection";
    @import "./chart/barChart";

    @import "components/visualizations/tooltip/_tooltip";

    .tooltip-items {
        @include unstyled-list;

        li {
            margin-top: rem(15);
            &:first-child {
                margin-top: 0;
            }

            .item-value {
                border-bottom: 1px solid #D5D6D8;
                font-size: rem(30);
                font-weight: $font-light;
                line-height: rem(30);
                padding: 0 0 rem(10) 0;
                @media(max-width: $tablet-screen) {
                    font-size: rem(16);
                    line-height: rem(20);
                    }
                }
            .item-label {
                font-size: $small-font-size;
                font-weight: $font-normal;
                line-height: rem(23);
                padding: rem(5) 0 0 0;
                text-align: center;
            }
        }
    }

    .results-visualization-time-container {
        position: relative;   
    }

    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
}
