.recipient-labels {
    @include display(inline-flex);
    margin: 0 0 pxToRem(16) 0;

    .recipient-labels-wrapper {
        @include display(flex);
        margin-right: pxToRem(20);
    }

    .recipient-labels__icon-info {
            @include align-self(center);
            background-color: transparent;
            margin: 0;
            padding: 0;
     
             svg {
                 width: pxToRem(12);
                 height: pxToRem(12);
                 fill: $color-base;
             }
    }

    .recipient-labels__text {
        margin-right: pxToRem(5);
        font-size: pxToRem(14);
    }
    @import "pages/homepage/hero/_heroTooltip";

    .homepage-hero-tooltip {
        // we don't want the tooltip to be on top of the fix header, this will make sure that
        // it's stays under the fixed header when scrolling
        z-index: 1;
        width: pxToRem(210);
        .homepage-hero-tooltip__text_holder {
          height: auto;
          padding: 0 pxToRem(15) 0 pxToRem(35);
        }
      
        .homepage-hero-tooltip__info_icon {
          top: pxToRem(15);
          left: pxToRem(15);
        }
      
        .homepage-hero-tooltip__close_icon {
          top: pxToRem(15);
          right: pxToRem(10);
        }
      }
    
    .homepage-hero-tooltip:nth-child(2) {

        .homepage-hero-tooltip__info_icon {
            top: pxToRem(6);
          }
        
          .homepage-hero-tooltip__close_icon {
            top: pxToRem(6);
          }

    }
}
