.usa-da-recipient-landing {
    @import "all";
    @import "layouts/landingPage/landingPage";
    @import "layouts/default/stickyHeader/header";
    @import "pages/accountLanding/searchSection";
    @import "components/pagination";
    @import "./_table";
    @import "./_recipientLabels";
    @import "pages/search/results/table/_tableMessages";
    @import "pages/search/results/screens/screens";
    @import "pages/search/results/table/_tableTypes";
    @import "pages/search/results/table/_resultsTablePicker";

    .table-types {
        margin-top: rem(5);
        button.table-type-toggle {
            .tab-content {
                .tab-label {
                    margin-right: 0;
                }
            }
        }
        button.table-type-toggle.active {
            border-bottom: 0;
        }
    }

    .pagination {
        @include flex-direction(column);
        @include align-items(flex-end);
        &:nth-of-type(2) {
            border-bottom: 1px solid #aeb0b5;
        }
        .pager {
            @include justify-content(flex-end);
            margin-top: rem(40);
        }
    }
    .results-table-section { 
        position: relative;
        min-height: rem(200);
    }

    .landing-page__info {
        margin-top: rem(20);
        @include display(flex);
    }

    .recipient-landing__labels-wrapper {
        @include flex(1);
        @include align-self(flex-end);
    }

    .recipient-landing__results {
        .recipient-list {
            margin-top: rem(15);
        }
        .recipient-list__message {
            margin: rem(90) auto;
            font-size: rem(36);
            font-weight: 300;
            color: $color-base;
            text-align: center;
            .recipient-list__message_highlight {
                color: $color-active;
                font-weight: normal;
            }
        }
    }

    .recipient-landing__icon {
        
            color: $color-white;
            margin-right: rem(10);
            padding: 0 rem(4) 0 rem(4);
            border-radius: rem(3);
            font-weight: 600;
            font-size: rem(14);
            display: inline-block;
            width: rem(18);
            height: rem(18);
            text-align: center;

            &.recipient-landing__icon_parent {
                background-color: #205493;
            }

            &.recipient-landing__icon_child {
                background-color:#00A6D2;
            }

            &.recipient-landing__icon_recipient {
                background-color:#757575;
            }
    }

    .results-count {
        font-style: italic;
        padding: rem(20) 0;
        font-size: rem(16);
    }
}
