.usa-da-recipient-landing {
    @import "all";
    @import "layouts/landingPage/landingPage";
    @import "layouts/default/stickyHeader/header";
    @import "pages/accountLanding/searchSection";

    @import "./_table";
    @import "pages/search/results/table/_tableMessages";
    @import "pages/search/results/screens/screens";
    @import "pages/search/results/table/_tableTypes";
    @import "pages/search/results/table/_resultsTablePicker";

    .recipient-landing__icon {
        color: $color-white;
        margin-right: rem(10);
        padding: 0 rem(4) 0 rem(4);
        border-radius: rem(3);
        font-weight: 600;
        font-size: rem(14);
        display: inline-block;
        width: rem(18);
        height: rem(18);
        text-align: center;

        &.recipient-landing__icon_parent {
            background-color: $color-primary-darker;
        }

        &.recipient-landing__icon_child {
            background-color: $color-primary-alt-dark;
        }

        &.recipient-landing__icon_recipient {
            background-color: $color-gray-medium;
        }
    }

    .landing-page__info {
        margin-top: rem(20);
        @include display(flex);

        .recipient-landing__labels-wrapper {
            @import "./_recipientLabels";
            @include flex(1);
            @include align-self(flex-end);


            .recipient-landing__pagination_mobile {
                display: block;
                @include media($tablet-screen) {
                    display: none;
                }
                .usa-dt-pagination .usa-dt-pagination__wrapper {
                    padding-top: rem(10);
                    .pager .pager__item .pager__button {
                        line-height: rem(12);
                    }
                }
            }
        }

        .recipient-landing__pagination_desktop {
            display: none;
            border-bottom: 1px solid #aeb0b5;
            @include media($tablet-screen) {
                display: block;
            }
            .usa-dt-pagination {
                @include flex-direction(column);
                @include align-items(flex-end);
                .usa-dt-pagination__wrapper {
                    @include justify-content(flex-end);
                    margin-top: rem(40);
                    .pager .pager__item .pager__button {
                        line-height: rem(12);
                    }
                }
            }
        }
    }

    .table-types {
        margin-top: rem(5);
        .table-type-toggle {
            .tab-content {
                .tab-label {
                    margin-right: 0;
                }
            }
        }
        button.table-type-toggle.active {
            border-bottom: 0;
        }
    }

    .results-table-section {
        position: relative;
        min-height: rem(200);
    }

    .recipient-landing__results {
        overflow-x: scroll;
        .recipient-list {
            margin-top: rem(15);
        }
        .recipient-list__message {
            margin: rem(90) auto;
            font-size: rem(36);
            font-weight: 300;
            color: $color-base;
            text-align: center;
            .recipient-list__message_highlight {
                color: $color-active;
                font-weight: normal;
            }
        }
    }
}
