svg {
    display: inline-block;
    g {
        .tile {
            stroke: $color-white;
            stroke-width: rem(1.5);
        }
        .category {
            fill: $color-white;
            font-size: $small-font-size;
        }
        .value {
            fill: $color-white;
            font-size: $base-font-size + rem(2);
            font-weight: $font-semibold;
        }
    }
}