svg {
    display: inline-block;
    text {
        cursor: default;
    }
    .category,
    .value {
        fill: $color-white;
        text-shadow: rem(1) rem(0) rem(1) rgba( $color-black, .6);
    }
    .category {
        font-size: $base-font-size;
    }
    .value {
        font-size: $base-font-size + rem(4);
        font-weight: $font-semibold;
    }
    .chosen {
        fill: #212121;
        text-shadow: none;
    }
}