.agency-filter {
    @import '../location/_errorMessage';
    @import '../location/_selectedButtons';
    @import '../location/_typeahead';
    padding-left: 0;
    > div {
        padding-left: 0;
    }
    .shown {
        min-height: rem(180);
    }
    .visually-hidden {
        display: none;
    }
    .pop-typeahead {
        margin-bottom: rem(10);
        padding-left: rem(30);
        .funding {
            .usa-da-typeahead {
                margin: 0 0 rem(10);
            }
        }
        .awarding {
            .usa-da-typeahead {
                margin: rem(30) 0 rem(10);
            }
        }
    }
    .selected-agencies {
        background-color: #E4E4E4;
        padding: rem(10) 0 rem(10) rem(30);
        margin-top: rem(15);
        margin-bottom: rem(10);
        &:empty {
            display: none;
        }
    }
}