.search-contents {
    padding-top: rem(24);

  .search__sidebar {
    border: rem(1) solid purple;
    margin: rem(24);
    margin-bottom: 0;
  }

  .search__section-wrapper {
    padding: rem(24);
    margin-bottom: rem(16);

    border: rem(1) solid $gray-cool-10;
    border-radius: rem(8);
    background-color: $color-white;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;

    .filter__dropdown-label {
      color: $gray-cool-90;
      font-weight: $font-semibold;
      line-height: 1.5;
      margin: auto 0;
      @media(max-width: $medium-screen) {
        flex: 100%;
      }
    }

    .advanced-search-dropdown__wrapper {
      height: auto;
      max-width: 100%;
      padding-left: rem(8);

      @media(max-width: $medium-screen) {
        padding-left: 0;
        padding-top: rem(8);
      }

      .filter__dropdown-button-list-container {
        .advanced-search-dropdown__button {
          max-width: 100%;
          position: relative;
        }

        [class*="filter__dropdown-button"] {
          margin: 0;
          border-color: $gray-cool-10;
          text-align: start;

          .filter__dropdown-button-text {
            margin-right: rem(8);
            font-size: rem(16);
            line-height: rem(24);
            color: $gray-cool-60;
            opacity: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .filter__dropdown-chevron svg {
            color: $blue-50;
            opacity: 1;
            vertical-align: middle;
          }
        }

        ul[class^='filter__dropdown-list'] {
          background-color: $color-white;
          border: rem(2) solid $gray-cool-10;
          border-radius: rem(4);
          box-shadow: 0 rem(1) rem(4) 0 rgba(0, 0, 0, 0.1);
          transform: translate(0px, 0px);
          width: max-content;
          min-width: 100%;

          .filter__dropdown-list-item {
            padding-left: $global-margin * 2;
            padding-right: $global-margin * 2;
          }

          .filter__dropdown-list-item.active:hover {
            background-color: $gray-cool-10;
          }
        }
      }
    }

    @import "../../../components/chartTableToggle";

    .search__chart-table-toggle.chart-table-toggle {
      border: rem(1) solid $gray-cool-10;
      height: fit-content;
      position: absolute;
      right: rem(24);

      .view-button {
        border: none;
        color: $blue-50;
        padding: rem(6) rem(8);

        &.active {
          background-color: $blue-5;
          color: $blue-50;
        }
      }

      button {
        height: rem(30);
        width: rem(31);
      }

      svg {
        width: rem(16);
      }
    }

    .search__section-wrapper-content {
      margin-top: rem(24);
      margin-bottom: rem(24);
      flex: 100%;

      .usda-table.search-results {
        margin-bottom: rem(16);
      }

      .visualization-pager-container {
        margin-top: rem(16);
      }

      // TODO: Remove importants after the tabbed results view is removed from the code
      .visualization-pager {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    .accordion-container {
      padding-top: rem(16);
      border-top: rem(1) solid $gray-cool-10;
      flex: 100%;

      .accordion .heading {
        border: none;
        padding: 0;
        font-size: rem(12);
        line-height: rem(18);
        color: $blue-50;
        justify-content: start;

        .toggle {
          padding: 0;
          margin: auto 0 rem(3) rem(8);

          svg {
            color: $blue-50;
            width: rem(10);
            vertical-align: top;
          }
        }
      }

      .content {
        padding: 0;
        width: 83.3%;
        margin: auto;
        border: none;
        overflow-x: auto;
        overflow-y: scroll;

        @media(max-width: $medium-screen) {
          width: 100%;
        }

        h4 {
          margin: rem(24) 0 rem(8) 0;
          font-size: 16px;
          font-weight: $font-semibold;
          color: $gray-90;
          line-height: rem(24);
        }

        p {
          margin: 0;
          color: $gray-60
        }
      }
    }
  }
}
