// this file can be deleted once the new advance search has been implemented
// and the toggle between new and old search ui is no longer needed

.search-page {
  display: grid;

  .rounded-toggle__wrapper {
    margin: pxToRem(16) pxToRem(24) pxToRem(8) pxToRem(24);
    line-height: pxToRem(21);
    height: fit-content;
    padding: pxToRem(16);
    border: pxToRem(1) solid $gray-cool-10;
    border-radius: pxToRem(4);
    box-shadow: 0 pxToRem(1) pxToRem(4) 0 rgba(0, 0, 0, 0.1);
    justify-self: center;

    @media(max-width: $medium-screen) {
      margin-top: pxToRem(24);
    }

    @media(max-width: $tablet-screen) {
      margin-top: pxToRem(16)
    }

    .rounded-toggle__slider:before {
      border-color: $gray-cool-10;
    }

    .rounded-toggle__label {
      margin-right: pxToRem(16);
      color: $gray-90;
    }

    .rounded-toggle__round {
      background-color: $gray-cool-20;
    }

    .rounded-toggle__switch {
      width: pxToRem(36);
      min-width: pxToRem(36);
      align-self: center;
    }

    input:checked + .rounded-toggle__slider {
      background-color: #00a91c !important;
    }

    input:checked + .rounded-toggle__slider:before {
      border-color: #00a91c !important;
      -webkit-transform: translateX(16);
      -ms-transform: translateX(16);
      transform: translateX(16);
    }
  }
}
