%column-less-table__row {
    border: 1px #d5d6d8 solid;
    padding: rem(8);
    font-size: rem(16);
    color: #525252;
    margin: rem(40) 0 rem(10) 0;
    border-radius: rem(5);
    display: flex;
    justify-content: space-between;
}