#agency-recipients {
    @import "./_scope";

    .chart-wrapper {
        position: relative;
        @import "pages/search/results/visualizations/rank/chart/rankChart";

        .results-visualization-message {
            font-size: $small-font-size;
            text-align: center;
        }

        .visualization-tooltip {
            @import "components/visualizations/tooltip/_tooltip";
        }
    }
}