.specific-award-amount {
    margin-top: 1.0rem;
    margin-right: 3.0rem;

    hr.specific-award-amount-divider {
        border: none;
        border-bottom: 1px solid $color-gray-lighter;
        position: relative;
        margin-bottom: 1.5rem;
        width: 100%;
        display: block;
    }

    .award-amount-item-wrapper label {
        margin-top: 0;
        margin-bottom: 0;
    }

    .specific-award-amount-wrapper {
        @include usa-label;

        font-size: $small-font-size;
        line-height: $small-font-size;
        padding: 0;
        margin-top: 1.0rem;

        span {
            padding-right: 0.5rem;
        }

        input {
            margin-right: 0.5rem;
            width: 28%;
            padding: 1.1rem 0.8rem;
            height: 4.0rem;
        }

        .award-amount-submit {
            margin-right: 0;
        }
    }
}