.amounts-viz {
  width: 100%;
  @import '../../award/shared/awardAmountsSection/charts';
  .tooltip-wrapper {
    display: none;
    @include media($medium-screen) {
      @include display(flex);
      z-index: 1;
    }
    .tooltip__content {
      .tooltip__message {
        .tooltip__text {
            padding: 2rem 2rem 0 2rem;
            .tooltip__text-section {
                font-weight: $font-normal;
            }
            .tooltip__text-section:first-of-type {
              padding-bottom: 0.5rem;
              line-height: 1;
              font-size: 2.8rem;
            }
            .tooltip__text-section:nth-child(2) {
              margin-top: 0;
            }
            .tooltip__text-section:last-of-type {
              padding-top: 2rem;
            }
        }
        .tooltip__text:last-child {
          padding: 2rem;
        }
      } 
    }
    .tooltip-pagination-container {
      @include display(inline-flex);
      @include align-items(center);
      @include justify-content(space-around);
      width: 100%;
    }
  }
  .usa-dt-carousel {
    .usa-dt-carousel-content {
      .usa-dt-carousel-item {
        .usa-dt-carousel-item__list {
          .usa-dt-carousel-item__list-item {
            .usa-dt-carousel-item__item {
              padding-bottom: rem(40);
              .amounts-viz__header {
                padding-top: rem(10);
                padding-bottom: rem(20);
                h3.amounts-viz__title {
                  line-height: rem(25);
                  font-size: rem(20);
                  margin-bottom: 0;
                  margin-top: 0;
                }
                h4.amounts-viz__sub-title {
                  font-size: rem(16);
                  letter-spacing: 0;
                  line-height: rem(22);
                  margin-top: rem(5);
                  margin-bottom: 0;
                }
              }
              @include media($medium-screen) {
                .amounts-viz__header {
                  h3.amounts-viz__title {
                    line-height: rem(36);
                    font-size: rem(30);
                  }
                  h4.amounts-viz__sub-title {
                    font-size: rem(20);
                    letter-spacing: 0;
                    line-height: rem(26);
                  }
                }
              }
              .amounts-viz__svg {
                .highlight {
                  stroke: $color-active;
                  stroke-width: 3;
                }
                pointer-events: visible;
                line {
                  pointer-events: visible;
                  &.opaque {
                    opacity: 0.5;
                  }
                }
                rect {
                  pointer-events: visible;
                  &.opaque {
                    opacity: 0.5;
                  }
                }
                text {
                  pointer-events: visible;
                }
                g {
                  pointer-events: visible;
                }
                .amounts-text {
                  cursor: default;
                  pointer-events: visible;
                  letter-spacing: 0;
                  &.opaque {
                    opacity: 0.5;
                  }
                }
                .amounts-text__value {
                  font-size: rem(16);
                  font-weight: $font-semibold;
                  opacity: 0.7;
                  line-height: rem(2);
                }
                .amounts-text__label {
                  font-size: rem(12);
                  opacity: 0.6;
                  line-height: rem(15);
                }
                @include media($medium-screen) {
                  .amounts-text__value {
                    font-size: rem(21);
                    line-height: rem(27);
                  }
                  .amounts-text__label {
                    font-size: rem(16);
                    line-height: rem(27);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
