.amounts-viz {
  width: 100%;
  .amounts-text__question {
    font-size: 2.1rem;
    font-style: italic;
    opacity: 0.4;
  }
  .amounts-text__value {
    font-size: 3.1rem;
    font-weight: $font-semibold;
    opacity: 0.6;
    &.bold {
      font-weight: $font-bold;
    }
  }
  .amounts-text__label {
    font-size: 1.6rem;
    opacity: 0.6;
  }
}
