.visualization-message-container {
    background-color: $color-white;
    margin-top: rem(100px);

    max-width: rem(450);
    padding-left: rem(10);
    padding-right: rem(10);
    margin-left: auto;
    margin-right: auto;

    .loading-animation {
        width: rem(50);
        height: rem(50);
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        font-size: rem(36);
        line-height: rem(45);
        color: $color-gray-light;
        text-align: center;
    }

}
