.visualization-message-container {
    background-color: $color-white;
    margin-top: pxToRem(100);

    max-width: pxToRem(450);
    padding-left: pxToRem(10);
    padding-right: pxToRem(10);
    margin-left: auto;
    margin-right: auto;

    @include media($tablet-screen) {
        max-width: pxToRem(600);
    }

    .loading-animation {
        width: pxToRem(50);
        height: pxToRem(50);
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        font-size: pxToRem(36);
        line-height: pxToRem(45);
        color: $color-gray-light;
        text-align: center;
    }

    .visualization-no-results {
        margin-top: pxToRem(100);

        .no-results-icon {
            width: pxToRem(75);
            height: pxToRem(72);

            margin-left: auto;
            margin-right: auto;

            background-image: url('#{$image-path}/no_results.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .error-icon {
            width: pxToRem(75);
            height: pxToRem(72);

            margin-left: auto;
            margin-right: auto;
            margin-bottom: pxToRem(10);

            svg {
                width: pxToRem(72);
                height: pxToRem(72);
                fill: $color-gray-light;
            }
        }
        .title {
            font-size: pxToRem(36);
            line-height: pxToRem(45);
            color: $color-gray-light;
            text-align: center;
            font-weight: $font-semibold;
        }
        .description {
            font-size: pxToRem(36);
            line-height: pxToRem(45);
            color: $color-gray-light;
            text-align: center;
        }
    }

}
