.homepage-hero-container {
    background: rgba(136, 180, 192, .15);

    .homepage-hero-content {
        padding: $global-margin * 2.5;
        @media (min-width: $medium-screen) {
            padding: rem(88) 0 rem(40) 0;
            margin: 0 $global-margin * 5;
        }

        .hero__heading-wrapper {
            @media (max-width: $medium-screen) {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .hero__temp-h1 {
            font-size: rem(40);
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #2d6878;
            padding-bottom: rem(40);
            @media (min-width: 992px) {
                font-size: rem(56);
            }
        }

        .hero__lower-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;

            @media (max-width: $medium-screen) {
                align-items: baseline;
            }

            .hero__left-image-wrapper {
                @media (max-width: $medium-screen) {
                    display: none;
                }
                width: 25%;
                padding-left: 2rem;
            }

            .hero__right-image-wrapper {
                @media (max-width: $medium-screen) {
                    display: none;
                }
                width: 30%;
                padding-right: 2rem;
            }

            .hero__center-content-wrapper {
                display: flex;
                align-self: center;
                justify-content: center;
                align-items: center;

                @media (min-width: $medium-screen) {
                    //flex-basis: rem(1000);
                }

                .hero__center-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .hero__button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        @media (min-width: $medium-screen) {
                            flex-direction: row;
                        }

                        .hero__button-search {
                            display: flex;
                            justify-content: center;
                            flex-wrap: nowrap;

                            font-weight: $font-semibold;
                            font-size: rem(16);
                            white-space: nowrap;
                            color: $color-white;
                            background-color: $color-primary;
                            padding: rem(10) rem(25);
                            border-radius: rem(6);
                            margin-bottom: rem(16);
                            @media (min-width: $medium-screen) {
                                font-size: rem(20);
                                margin: 0 rem(8) rem(16) rem(16);
                            }

                            &:hover, &:active {
                                text-decoration: none;
                                background-color: darken($color-primary, 10%);
                            }
                        }

                        .hero__button-learn {
                            display: flex;
                            justify-content: center;
                            flex-wrap: nowrap;

                            font-weight: $font-semibold;
                            font-size: rem(16);
                            white-space: nowrap;
                            color: $color-primary;
                            background-color: #edf4f6;
                            border: solid rem(1);
                            border-color: $color-primary;
                            padding: rem(10) rem(25);
                            border-radius: rem(6);
                            margin-bottom: rem(32);
                            @media (min-width: $medium-screen) {
                                font-size: rem(20);
                                margin: 0 rem(16) rem(16) rem(8);
                            }

                            &:hover, &:active {
                                text-decoration: none;
                                background-color: lighten($color-white, 10%);
                            }
                        }
                    }

                    .hero__text-container {
                        display: flex;
                        justify-content: center;
                        margin-bottom: rem(32);

                        p {
                            font-size: rem(16);
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            text-align: center;
                            color: #555;
                        }
                    }

                    .hero__pause-button-container {
                        display: flex;
                        justify-content: center;

                        p {
                            font-size: rem(14);
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #2d6878;
                        }
                    }
                }
            }
        }
    }
}
