.homepage-hero-container {
    background: rgba(136, 180, 192, .15);

    .homepage-hero-content {
        padding: rem(40) rem(16);
        @media (min-width: $medium-screen) {
            padding: rem(88) rem(40) rem(48) rem(40);
            margin: 0 auto;
            max-width: rem(1600);
        }

        .hero__heading-wrapper {
            @media (max-width: $medium-screen) {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .hero__lower-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: rem(42);

            @media (max-width: $medium-screen) {
                align-items: baseline;
                margin-top: rem(20);
            }

            .hero__left-image-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: end;
                @media (max-width: $large-screen) {
                    display: none;
                }
                width: rem(272);
                justify-self: end;
            }

            .hero__right-image-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: end;
                @media (max-width: $large-screen) {
                    display: none;
                }
                width: rem(272);
            }

            .hero__center-content-wrapper {
                display: flex;
                align-self: center;
                justify-content: center;
                align-items: center;
                flex-basis: rem(1061);

                .hero__center-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .hero__button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        @media (min-width: $medium-screen) {
                            flex-direction: row;
                        }

                        .hero__button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            height: rem(56);

                            font-weight: $font-semibold;
                            font-size: rem(16);
                            white-space: nowrap;
                            color: $color-primary;
                            background-color: transparent;
                            border: solid rem(1);
                            border-color: $color-primary;
                            padding: rem(10) rem(24);
                            border-radius: rem(6);
                            margin-bottom: rem(16);
                            @media (min-width: $medium-screen) {
                                font-size: rem(20);
                                margin: 0 rem(16) rem(28) rem(8);
                            }

                            &:hover, &:active {
                                text-decoration: none;
                                border-color: darken($color-primary, 10%);
                                color: darken($color-primary, 10%);
                            }
                        }

                        .hero__button--action {
                            color: $color-white;
                            background-color: $color-primary;
                            @media (min-width: $medium-screen) {
                                font-size: rem(20);
                                margin: 0 rem(8) rem(16) rem(16);
                                background-color: $color-primary;
                            }

                            &:hover, &:active {
                                text-decoration: none;
                                background-color: darken($color-primary, 10%);
                                color: $color-white;
                            }
                        }


                    }

                    .hero__text-container {
                        display: flex;
                        justify-content: center;
                        margin-bottom: rem(20);

                        p {
                            font-size: rem(20);
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            text-align: center;
                            color: #555;
                        }
                    }

                    .hero__pause-button-container {
                        display: flex;
                        justify-content: center;
                        cursor: pointer;

                        a {
                            font-size: rem(14);
                            font-weight: 600;
                            line-height: 1.25;
                            &:hover, &:active {
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
