$hold-increment: 2500ms;
$scroll-increment: 100ms;
$second-increment: $hold-increment + $scroll-increment * 2;

@mixin rotation ($increment, $delay, $color, $animation) {
    animation: $animation $increment linear;
    -ms-animation: $animation $increment linear;
    -webkit-animation: $animation $increment linear;
    animation-delay: $delay;
    -ms-animation-delay: $delay;
    -webkit-animation-delay: $delay;
    color: $color;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

@mixin rotation-delay ($delay) {
    animation-delay: $delay;
    -ms-animation-delay: $delay;
    -webkit-animation-delay: $delay;
}


.hero__headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: rem(40);
    @media (max-width: $medium-screen) {
        display: block;
        margin: 0;
    }

    .hero__headline__phrase-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $medium-screen) {
            display: block;
            width: rem(640);
        }
        @media (max-width: 468px) {
            display: block;
            width: unset;
        }
        font-size: rem(40);
        font-weight: bold;
        text-align: center;
        color: #2d6878;
        padding-bottom: rem(40);
        @media (min-width: $medium-screen) {
            font-size: rem(56);
        }

        h1.landing-phrase {
            margin: 0;
            font-weight: bold;
            @media (max-width: $medium-screen) {
                display: block;
                text-align: left;
                max-width: rem(400);
            }

            span {
                animation: fade-in-landing-phrase $hold-increment * 8.5;
                -ms-animation: fade-in-landing-phrase $hold-increment * 8.5;
                -webkit-animation: fade-in-landing-phrase $hold-increment * 8.5;
                color: #2d6878;
                opacity: 1;
                overflow: hidden;
            }
        }

        .phrase-intro {
            width: 200px;
            flex-shrink: 0;
            white-space: nowrap;
            @media (max-width: $medium-screen) {
                display: block;
                width: unset;
                flex-shrink: unset;
                height: 100%;
                text-align: left;
                left: 0;
            }
        }

        .phrase-intro__item {
            position: relative;
            span {
                position: absolute;
                right: 0;
                @media (max-width: $medium-screen) {
                    left: 0;
                }
            }
            @media (max-width: $medium-screen) {
                left: 0;
            }
        }

        .phrase-part {
            white-space: nowrap;
            flex-shrink: 0;
            color: #1b1b1b;
            @media (max-width: $medium-screen) {
                display: block;
                text-align: left;
                white-space: break-spaces !important;
            }
            animation: fade-out-phrase-part $hold-increment * 6.5;
            -ms-animation: fade-out-phrase-part $hold-increment * 6.5;
            -webkit-animation: fade-out-phrase-part $hold-increment * 6.5;
            overflow: hidden;
            opacity: 0;
        }

        .first-rotating-item {
            span {
                animation: scroll-out $hold-increment + $scroll-increment linear;
                -ms-animation: scroll-out $hold-increment + $scroll-increment linear;
                -webkit-animation: scroll-out $hold-increment + $scroll-increment linear;
                color: #2d6878;
                opacity: 0;
                overflow: hidden;
            }
        }

        .rotating-item span {
            @include rotation($second-increment, $hold-increment, '#2d6878',  'scroll-in');
        }

        .rotating-item span:nth-child(2){
            @include rotation-delay(($hold-increment + $scroll-increment) * 2);
        }
        .rotating-item span:nth-child(3){
            @include rotation-delay(($hold-increment + $scroll-increment) * 3);
        }
        .rotating-item span:nth-child(4){
            @include rotation-delay(($hold-increment + $scroll-increment) * 4);
        }

        .phrase-end {
            //display: flex;
            //justify-content: center;
            width: 300px;
            flex-shrink: 0;
            white-space: nowrap;
            flex-wrap: wrap;
            height: 100%;
            @media (max-width: $medium-screen) {
                display: block;
            }

            .phrase-end__item {
                position: absolute;
                height: 100%;
                @media (min-width: $large-screen) {
                    white-space: nowrap;
                    span {
                        position: absolute;
                        overflow:  hidden;
                    }
                }
            }
        }
    }

    @keyframes fade-in-landing-phrase {
        0% { opacity: 0 }
        75% { opacity: 0 }
        80% { opacity: 1 }
        100% { opacity: 1 }
    }

    @keyframes fade-out-phrase-part {
        0% { opacity: 1 }
        90% { opacity: 1 }
        100% { opacity: 0 }

    }

    // Commented out while working through numbers
    //@-moz-keyframes scroll-out {
    //    0% { opacity: 1; -moz-transform: translateY(0px); }
    //    10% { opacity: 1; -moz-transform: translateY(0px); }
    //    50% { opacity: 0; -moz-transform: translateY(-50px); }
    //    100% { opacity: 0; -moz-transform: translateY(-50px); }
    //
    //}

    @-webkit-keyframes scroll-out {
        0% { opacity: 1; -webkit-transform: translateY(0px); }
        90% { opacity: 1; -webkit-transform: translateY(0px); }
        100% { opacity: 0; -webkit-transform: translateY(-50px); }
    }

    // Commented out while working through numbers
    //@-moz-keyframes scroll-in {
    //    0% { opacity: 0; }
    //    10% { opacity: 0; -moz-transform: translateY(50px); }
    //    15% { opacity: 1; -moz-transform: translateY(0px); }
    //    30% { opacity: 1; -moz-transform: translateY(0px); }
    //    45% { opacity: 0; -moz-transform: translateY(-50px); }
    //}

    @-webkit-keyframes scroll-in {
        0% { opacity: 1; -webkit-transform: translateY(50px); }
        10% { opacity: 1; -webkit-transform: translateY(0px); }
        90% { opacity: 1; -webkit-transform: translateY(0px); }
        100% { opacity: 0; -webkit-transform: translateY(-50px); }
    }
}