@mixin usa-input-checkbox {
  margin: 0;

  &:disabled {
      cursor: not-allowed;

      + label {
          color: $color-gray;
      }
  }

  + label {
      cursor: pointer;
      font-weight: 400;
      margin-bottom: 0.5em;
  }
}