.map-top-bar-wrap {
    @import "./elements/underlineButton";
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    background: #F1F4F8;
    border-bottom: 1px solid #BEC9D6;
    height: rem(80);
    display: none; // HID THIS BAR UNTIL THE COMPONENT IS BUILT 
    & .content-wrap {
        & ul {
            @include unstyled-list;
            & li {
                @include underlineButton();
                float: left;
            }
        }
    }
}