
.detail-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-start);
    position: relative;

    .detail-header__labels {
        @include flex(1 1 auto);
        // this is a truly horrific hack to make the h2 title text wrap on IE 11 in smaller screens
        // this works because flex grow will cause the content to push this flexbox's width out
        width: 0;
        font-size: $font-size-16;
        line-height: $base-line-height;
        font-weight: $font-normal;

        h2.detail-header__title {
            max-width: 100%;
            margin: 0 0 pxToRem(8);
            font-size: $font-size-28;
            color: $gray-90;
            font-weight: $font-semibold;
            line-height: $heading-line-height;

            &.detail-header__title_title {
                text-transform: capitalize;
            }
        }
        a.detail-header__title-link {
            &:hover {
                text-decoration: none;
            }
        }

        .detail-header__instructions {
            margin-top: pxToRem(10);
            font-size: $font-size-20;
            color: $color-base;
            font-weight: $font-normal;
            line-height: $base-line-height;
        }
    }

    .detail-header__amounts {
        @include flex(0 1 pxToRem(150));
        margin-left: pxToRem(10);

        @include media($medium-screen) {
            @include flex(0 1 pxToRem(250));
            margin-left: pxToRem(50);
        }
        @include media($x-large-screen) {
            margin-left: pxToRem(150);
        }

        .detail-header__fy {
            text-align: right;
            text-transform: uppercase;
            font-weight: $font-semibold;
            font-size: $font-size-16;
            line-height: $base-line-height;
        }

        .detail-header__value {
            text-align: right;
            text-transform: capitalize;
            font-weight: $font-semibold;
            font-size: $font-size-32;
            line-height: $heading-line-height;
            color: #32788C;
        }

        .detail-header__update {
            text-align: right;
            font-size: $font-size-14;
            line-height: $base-line-height;
        }


        .detail-header__icon {
            display: inline-block;
            padding: 0 0 0 pxToRem(5);
            cursor: default;
            margin: 0;
            background-color: transparent;
            align-self: flex-end;
    }
    .award-section-tt {
        display: inline-flex;
    }
    svg {
        width: pxToRem(10);
        height: pxToRem(16);
        color: $color-base;
    }
    .tooltip-spacer {
        transform: translate(-8px, 2);
        text-transform: none;
        .tooltip__content{
            left: pxToRem(16);
        }
        @media (min-width: $medium-screen) {
            transform: translate(-8px, 4);
            .tooltip__content{
            left: pxToRem(16);
        }
        }
        @media (max-width: $tablet-screen + 1) {
            transform: translate(7px, 35);
        }
        @media only screen and (max-width: 878) and (min-width: 768){
            transform: translate(-308px, -18);
        }

    }
}

    .right-side {
        @include flex(0 1 auto);
        width: pxToRem(150);
        margin-left: pxToRem(10);

        @include media($medium-screen) {
            width: pxToRem(250);
            margin-left: pxToRem(50);
        }
        @include media($x-large-screen) {
            margin-left: pxToRem(150);
        }

        .amount-header {
            text-align: right;
            text-transform: uppercase;
            font-weight: $font-semibold;
            font-size: $font-size-16;
            line-height: $base-line-height;
        }

        .amount-value {
            text-align: right;
            text-transform: capitalize;
            font-weight: $font-semibold;
            font-size: $font-size-32;
            line-height: $heading-line-height;
            color: #32788C;
        }

        .update-date {
            text-align: right;
            font-size: $font-size-14;
            line-height: $base-line-height;
        }
    }
}

.detail-header__truncation {
    margin-top: pxToRem(20);
}
@import "pages/homepage/hero/_heroTooltip";

.homepage-hero-tooltip {
  // we don't want the tooltip to be on top of the fix header, this will make sure that
  // it's stays under the fixed header when scrolling
  z-index: 1;
  width: pxToRem(220);
  .homepage-hero-tooltip__text_holder {
    height: pxToRem(200);
    padding: pxToRem(7) pxToRem(20) 0 pxToRem(35);
  }

  .homepage-hero-tooltip__info_icon {
    top: pxToRem(15);
    left: pxToRem(15);
  }

  .homepage-hero-tooltip__close_icon {
    top: pxToRem(15);
    right: pxToRem(10);
  }
}

@import "./_truncation";

