.selected-filters {
    .shown-filter-button {
        background-color: $color-white;
        border: 1px solid $color-gray-lighter;
        border-radius: rem(2);
        color: $color-gray;
        font-size: $smallest-font-size;
        font-weight: $font-semibold;
        min-height: rem(22);
        height: auto;
        padding: rem(2) rem(4);
        text-align: left;
        width: auto;
        max-width: 90%;
        line-height: 1.3;
        margin-top: rem(2);
        margin-bottom: 0;
        margin-right: rem(8);
        @include display(flex);
        @include align-items(center);

        &__shown-filter-button-icon {
            border: unset;
            color:  $color-gray;
            margin:  0 0 0 rem(4);
            padding: 0; 
            svg {
                 :hover {
                    cursor: pointer;
                }
            }
            &:hover {
                color: $color-cool-blue
            }
        }

        &:first-child {
            margin-top: 0;
        }

        // The .1 rem is to force a second line of text in the label to wrap to a third line
        // without coming too close to the X
        &:empty {
            display: none;
        }
        .close {
            @include display(flex);
            font-size: $small-font-size;
            padding: 0 0 0 rem(4);
        }

        &:hover {
            background: lighten($color-cool-blue-lightest, 10%);
            border: 1px solid $color-cool-blue-lighter;
            @include transition(all 0.25s $ease-in-out-sine);
            & .close {
                color: $color-cool-blue;
            }
        }
      
    }
}
