$color-potential-award: #e9edee;
$color-current-award: #5a7784;
$color-sub-award: #355664;

$color-label-line: #ADAFB4;

.amounts-visualization-wrapper {
    width: 100%;
    //border-bottom: 1px solid $color-gray-lighter;
    padding-bottom: rem(24);

    .amounts-graph {
        margin-top: 2rem;
        .potential-bar {
            fill: $color-potential-award;
        }
        .current-bar {
            fill: $color-current-award;
        }
        .sub {
            fill: $color-sub-award;
        }

        .label-line {
            stroke: $color-label-line;
        }

        .title {
            fill: $color-base;
            font-size: 14px;
            font-weight: bold;
        }

        .subtitle {
            fill: $color-base;
            font-size: 12px;
        }

        .value {
            fill: $color-base;
            font-size: 16px;
        }
    }
}