.visualization-description {
    .content {
        color: #525252;
        font-size: $small-font-size;
        line-height: rem(26);
        margin-right: rem(20);
        @include media($medium-screen) {
            margin-right: rem(50);
        }
    }
}