.visualization-description {
    .content {
        font-size: $small-font-size;
        line-height: 26px;
        color: #525252;

        margin-right: 20px;

        @include media($medium-screen) {
            margin-right: 50px;
        }
    }
}