.visualization-description {
    @include span-columns(16);
    @include media($tablet-screen) {
        @include span-columns(9);
    }
    .content {
        color: $color-base;
        font-size: $small-font-size;
        line-height: rem(26);
    }
}