.content {
    @import "../../elements/underlineButton";
    padding: rem(15);
    background-color: rgba($color-primary-alt-lightest, .5);
    ul {
        @include unstyled-list;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        li {
            margin-bottom: rem(9);
            @include underlineButton();
        }
    }
}