.content {
    padding: 15px;
    background-color: rgba(223,242,247,0.4);

    ul {
        @include unstyled-list;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            margin-bottom: 10px;
        }

        button {
            @include button-unstyled;
            color: #808288;
            font-size: 14px;
            line-height: 18px;

            padding: 0px 10px;
            padding-bottom: 5px;

            border-bottom: 4px solid transparent;

            &.active, &:hover, &:active {
                color: #323A45;
                border-bottom: 4px solid #00A4D3;
            }
        }
    }
}