.content {
    padding: 15px;
    background-color: rgba($color-primary-alt-lightest, .8);
    ul {
        @include unstyled-list;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        li {
            margin-bottom: 10px;
        }
        button {
            @include button-unstyled;
            color: #808288;
            font-size: 14px;
            line-height: 18px;
            padding: 0px 10px;
            padding-bottom: 5px;
            border-bottom: 4px solid transparent;
            font-weight: 600;
            &:hover {
                @include transition(all 0.25s $ease-in-out-sine);
                border-bottom: 4px solid darken( $color-primary-alt-lightest, 15%);
                color: lighten($color-gray-dark, 15%)
            }
            &.active,
            &:active {
                color: $color-gray-dark;
                border-bottom: 4px solid $color-primary-alt-dark;
            }
        }
    }
}