.recipient-type-filter {
  padding-bottom: rem(16);
  margin-left: rem(16);

  .fa-chevron-right, .fa-chevron-down {
    width: 12px;
    height: 12px;
    color: $theme-color-1;
  }

  .recipient-type-filter__heading {
    display: flex;
  }

  .recipient-type-filter__header {
    color: $color-gray;
    font-size: rem(14);
    font-weight: $font-semibold;
    line-height: rem(21);
    margin-left: rem(4);
  }

  .recipient-type-filter__item-count {
    font-size: rem(10);
    font-style: italic;
    font-weight: $font-normal;
    line-height: rem(15);
    white-space: nowrap;
    margin-left: rem(8);
  }

  .recipient-type-filter__item {
    margin-left: rem(16);

    .label {
      margin-left: rem(8);
      color: $color-gray;
      font-size: rem(14);
      font-weight: $font-normal;
      line-height: rem(21); /* 150% */
    }
  }
}