.recipient-type-filter {
  padding-bottom: rem(16);
  margin-left: rem(16);

  .fa-chevron-right, .fa-chevron-down {
    width: 12px;
    height: 12px;
    color: #2378C3;
  }

  .recipient-type-filter__header {
    color: #5B616B;
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(21);
    margin-left: rem(4);
  }

  .recipient-type-filter__item-count {
    font-size: rem(10);
    font-style: italic;
    font-weight: 400;
    line-height: rem(15);
  }

  .recipient-type-filter__item {
    margin-left: 16px;

    .label {
      margin-left: 8px;
      color: #5B616B;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
    }
  }
}