.recipient-filter {

    @import "components/search/_autocompleteCheckbox";

    .filter-item-wrap {
        .checkbox-type-filter {
            &.bottom-fade {
                mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 1) 40px);

                .recipient-filter-message-container{
                    align-items: center;
                    padding-bottom: rem(8);
                }
            }
        }        
    }
}
