.recipient-filter {
    @import '../location/_errorMessage';
    @import '../location/_selectedButtons';
    @import '../location/_typeahead';
    padding-left: 0;
    > div {
        padding-left: 0rem;
    }
    .recipient-radio,
    .checkbox-type-filter {
        padding-left: rem(30);
        p {
            color: $color-gray;
            font-size: $small-font-size;
            margin-top: 0;
            margin-bottom: rem(5);
        }
        p.sub-head {
            border-bottom: rem(1) solid #E1E2E3;
            font-size: $small-font-size;
            font-weight: $font-semibold;
            margin: 0 ($global-mrg * 2) $global-mrg 0;
            padding: 0 0 rem(6);
        }
        span {
            label {
                color: $color-gray;
                font-weight: normal;
                margin-left: 0.75rem;
            }
            &:not(:last-child) {
                border-right: rem(1) solid rgba(0, 0, 0, 0.3);
                padding-right: rem(10);
                margin-right: rem(10);
            }
        }
    }
    .recipient-radio {
        margin: ($global-mrg * 2) 0;
    }
    .checkbox-type-filter {
        margin: ($global-mrg * 2) 0 0 0;
        padding-bottom: 0;
        .checkbox-set,
        .secondary-checkbox-type {
            margin: 0.5rem 0;
        }
    }
    .shown {
        min-height: rem(180);
    }
    .visually-hidden {
        display: none;
    }
    .pop-typeahead {
        padding-left: rem(30);
        .usa-da-typeahead {
            margin-top: 0;
        }
        .funding {
            .usa-da-typeahead {
                margin: 0rem 0 rem(10);
            }
        }
    }
    .selected-recipients,
    .selected-recipient-locations {
        background-color: #E4E4E4;
        padding: rem(10) 0 rem(10) rem(30);
        margin-top: rem(15);
        margin-bottom: rem(10);
        &:empty {
            display: none;
        }
    }
}