.recipient-filter {

    @import "components/search/_autocompleteCheckbox";

    .filter-item-wrap {
        .checkbox-type-filter {
            .recipient-filter-message-container{
                align-items: center;
                padding-bottom: rem(8);

                .find-recipients-text {
                    text-align: center;
                    font-size: $smallest-font-size;
                    line-height: 1.5;
                    padding: 0 8px;

                    &.label {
                        color: $gray-90;
                        margin: ($global-spacing-unit * 3) 0 rem(4) 0;
                        font-weight: $font-semibold;
                    }

                    &.content {
                        color: $gray-60;
                        margin-bottom: rem(4);
                    }
                }
            }
        }
    }  
       
}
