@use "sass:math";
@import "layouts/default/default";

#main-content {
  @import "../default/stickyHeader/header";

  .search-contents {
    @include grid-container;
    max-width: 100%;
    display: flex;
    margin: 0 math.div($outer-gutter, 2);
  }
}
