.award-history {
    padding: rem(40) 0 rem(60);
    width: 100%; 
    @import "../table/_tablesSection";
    .table-types {
      .table-type-toggle {
        margin-top: 0;
      }
    }
    .subaward-totals {
        @include display(flex);
        margin-top: 1.5rem;
        justify-content: flex-start;
        .total-item {
            padding: $global-pad;
            .total-value {
                font-weight: bold;
            }
        }
    }
}
