.award-expandable-section__secondary,
.award-expandable-section__primary {
    .award-expandable-btn {
        @include button-unstyled;
        @include display(flex);
        color: $color-link;
        margin-top: $global-margin * 2;
        .award-description__button-icon {
            padding-left: rem(4);
            svg {
                height: rem(16);
                width: rem(16);
                fill: $color-link;
            }
        }
    }
}
.award-expandable-section__primary {
    .primary-btn {
        margin-top: $global-margin * 4;
    }
}
