svg.bar-graph {
    @import "./_axis";
    @import "./_bar";
    .chart-legend-item {
        .key-label {
            font-size: rem(12);
            color: #666;
            fill: #666;
        }
    }
}