.award-id-filter {
    @import "elements/filters/_errorMessage";
    @import "elements/filters/_typeahead";
    @import "elements/filters/_selectedFilterBtn";
    @import "mixins/selectedFilterWrap";
    @import "../_singleSubmit";

    .shown {
        min-height: rem(18);
    }
    .visually-hidden {
        display: none;
    }
    .selected-filters {
        @include selected-filter-wrap;
    }

    .award-id-filter-description {
        margin-bottom: rem(16);
        color: $gray-90;
        font-size: $font-size-12;
        line-height: $base-line-height;
    }

    .award-id-filter-item-wrap {
        width: 100%;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
    }

    @media only screen and (min-width: $tablet-screen) {
        .award-id-filter-item-wrap {
            @include display(flex);
            @include justify-content(flex-start);
        }

        .award-id-filter-item-wrap .filter-text-field {
            max-width: none;
        }
    }
}