.usa-dt-tab-list .usa-dt-tab__wrapper .usa-dt-tab:focus {
  outline: auto;
  outline-color: #0071bc;
  -moz-outline-color: #0071bc;
}

@mixin new-search-button {
  font-size: $smallest-font-size;
  padding: rem(7) rem(12);
}

div[class*="-landing"] {
  .usda-page-header__title {
    h1 {
      font-size: $font-size-32;
      line-height: 1.2;
      font-weight: $font-semibold;
    }
  }
}


.usda-loading-animation__container .loading-message {
  color: #555;
}