@import "all";

.usda-section-title__sectionHeader {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 32px;

  .usda-section-title__title-icon {
    align-self: flex-end;
    width: rem(32);
    @media (max-width: $tablet-screen) {
      align-self: center;
    }
  }

  .usda-section-title__header {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-self: flex-end;
    flex-wrap: wrap;

    &.usda-section-title__header {
      margin-left: rem(8);
    }

    strong.usda-section-title__overline {
      font-size: rem(12);
      flex-wrap: wrap;
      font-weight: $font-semibold;
      text-transform: uppercase;
      color: $color-base;
    }

    .usda-section-title__title {
      display: flex;
      align-items: flex-end;

      h3, h1 {
        margin: 0;
        font-size: rem(20);
        color: $color-base;
        font-weight: $font-semibold;
        line-height: rem(20);
      }

      .tooltip-wrapper {
        display: block;
        font-size: rem(20);
        align-self: flex-start;
        @media (max-width: $tablet-screen) {
          &:not(.has-overline) {
            align-self: center;
          }
        }

        .tooltip__hover-wrapper {
          display: flex;
        }
      }
    }
  }
}
