.usa-da-top-banner {
    @include align-self(stretch);
    background: as-alpha($color-gold-lightest, 0.95);
    height:pxToRem(60);
    padding: pxToRem(15) 0;
    width: 100%;
    border-bottom: pxToRem(1) solid $color-gold-lighter;
    margin-bottom:pxToRem(20);
    & p {
        max-width: 100%;
        margin: pxToRem(5) 0;
        font-size: pxToRem(14);
        text-align: left;
    }
    & .usa-da-icon {
        height: pxToRem(30);
        width: pxToRem(30);
        float: right;
        & svg {
            fill: $color-gray-dark;
            height: pxToRem(30);
            width: pxToRem(30);
        }
    }

    & .top-alert-icon {
        @include grid-column(1);
    }

    & .top-alert-text {
        @include grid-column(15);
    }
}
