.idv-activity {
  width: 100%;
  @import '../../../../components/SVGLine';
  @import '../../../../components/Note';
    .award__col__content {
      @import '../../../search/results/table/tableMessages';
      .results-table-message-container {
        position: relative;
        background-color: rgb(246, 246, 246);
        .results-table-loading {
          margin-bottom: rem(100);
        }
        .no-results-container {
          text-align: center;
          margin-top: rem(100);
          margin-bottom: rem(100);
          .no-results-title {
            h4 {
              margin-bottom: 0;
              vertical-align: bottom;
            }
          }
          .no-results-message {
            p {
              margin-top: 0;
              vertical-align: top;
            }
          }
        }
        .loading-animation {
            @import "../../../../loading";
        }
        .results-table-error {
          .icon {
            width: rem(36);
            height: rem(36);
            svg {
              width: rem(36);
              height: rem(36);
            }
          }
          .title {
            font-size: rem(20);
            line-height: rem(45);
          }
          .description {
            font-size: rem(16);
            line-height: rem(10);
          }
        }
      }
      .activity-visualization {
        width: 100%;
        @import "components/_defaultPicker";
        @include defaultPicker;
        .default-picker {
          width: 100%;
          .default-picker__header {
            .default-picker__button {
              border-bottom: 2px solid $color-link;
            }
          }
        }
        @import '../../../../components/visualizations/legend';
        .activity-visualization-title {
          width: 100%;
          margin-bottom: rem(18);
          font-weight: $font-semibold;
        }
        .activity-x-label {
          width: 100%;
          font-size: rem(12);
          font-weight: $font-semibold;
          text-align: center;
        }
        .current-page-numbers {
          font-weight: $font-semibold;
        }
        .usa-dt-pagination {
          width: 100%;
          margin-top: rem(20);
          .usa-dt-pagination__wrapper .pager {
            .pager__item:last-child {
              .pager__button {
                 margin-right: 0;
              }
            }
          }
        }
        .visualization-tooltip {
          @import "components/visualizations/tooltip/_tooltip";
          .tooltip {
            box-shadow: 0 0 10px rgba(174, 176, 180, 0.9);
            border-radius: 6px;
            border: none;
            pointer-events: visible;
            font-size: rem(14rem);
            color: $color-base;
            background-color: #f5f5f5;
            min-width: 310px;
            .tooltip-title {
              color: #444444;
              background-color: #f5f5f5;
              text-align: left;
              font-weight: normal;
              padding: 0 0 0 rem(10em);
              margin-bottom: 0;
              margin-top: rem(7.5em);
            }
            .tooltip-body {
              @include display(flex);
              padding: 0 0 rem(7.5em) rem(10rem);
              .tooltip-body__row {
                @include display(flex);
                @include flex-basis(100%);
                @include justify-content(left);
                .tooltip-body__row-info {
                  padding-bottom: rem(5em);
                  .tooltip-body__row-info-title {
                    color: #444444;
                    font-size: rem(13rem);
                    white-space: nowrap;
                    padding-bottom: rem(0.3em);
                    margin-top: rem(4em);
                    margin-bottom: 0;
                  }
                  .tooltip-body__row-info-data {
                    white-space: nowrap;
                    a {
                      white-space: nowrap;
                    }
                  }
                }
                .tooltip-body__row-info:nth-child(1) {
                  padding-right: rem(30em);
                }
                #grandparentLabel {
                  padding-right: rem(30);
                }
                .tooltip-body__row-info {
                  &.second-child {
                    padding-right: rem(30em);
                  }
                }
              }
            }
          }
        }
        .visualization-legend {
          width: 100%;
          background-color: #F4F3F3;
          border-radius: 3px;
          margin-top: rem(35);
          @include display(flex);
          @include flex-wrap(wrap);
            .visualization-legend__item {
              @include display(flex);
              margin-top: rem(13);
              margin-bottom: rem(10);
              padding-right: rem(15);
              padding-left: rem(7);
              .visualization-legend__circle {
                @include flex(0 0 rem(16));
                height: rem(16);
                width: rem(16);
                border-radius: rem(8);
                background-color: $color-gray-border;
                &.visualization-legend__circle_obligated {
                  background-color: $color-vis-green-light;
                }
                &.visualization-legend__circle_overspent {
                  background: repeating-linear-gradient( 
                    45deg,
                    $color-vis-green-light,
                    $color-vis-green-light 4px,
                    rgb(188,92,35) 4px,
                    rgb(188,92,35) 6px);
                }
            }
            .visualization-legend__label {
              font-size: rem(14);
            }
          }
        }
        .activity-chart {
          overflow: visible;
          .activity-chart-body {
            .activity-chart-data {
              .activity-chart-bar-container:hover .activity-chart-bar__awarded-content {
                stroke: #3676b6;
                stroke-width: 1;
              }
              .activity-chart-bar {
                padding: rem(10) 0;
              }
            }
            .bar-axis {
              width: 100%;
            }
            .axis {
              stroke: rgb(0,0,0);
              stroke-width: 0.6;
            }
            .y-axis__text {
              font-size: rem(12rem);
            }
            .x-axis__text {
              font-size: rem(12rem);
            }
          }
        }
        .activity-visualization-note {
          width: 100%;
        }
    }
  }
}
