.download-sidebar-content {
    background-color: $color-white;
    box-shadow: $container-shadow;
    border-top: 1px solid $color-gray-border;
    border-right: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;
    padding: rem(30);
    ul {
        @include unstyled-list;

        li {
            margin-bottom: rem(20);

            &:last-child {
                margin-bottom: rem(0);
            }
        }

        .sidebar-link {
            @include button-unstyled;
            display: block;
            color: #323A45;
            font-size: rem(19);
            font-weight: 600;
            padding: rem(10);
            margin: rem(5);
            border-left: solid rem(3) transparent;
            @include transition(all 0.15s ease-in-out);

            &.active {
                border-left: solid rem(3) $color-primary;
            }

            &.disabled {
                color: $color-gray-light;
            }
        }
    }
}