@import "../default/default";
@import "./header/header";

@mixin searchLayout {
    @include defaultLayout;

    .search-header-wrapper {
        @include searchHeader;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;
        }
    }

    .search-header-placeholder {
        visibility: hidden;
        width: 100%;
        height: 0px;
    }

    .search-contents {
        @include outer-container(100%);
        margin: 0px $outer-gutter/2;
        @include media($large-screen) {
            margin: 0px $outer-gutter;
        }
    }

}