@mixin genericCell() {
    border-bottom: 1px solid $color-gray-lighter;
    border-right: 1px solid $color-gray-lighter;

    .cell-content {
        padding: pxToRem(12) pxToRem(16);
        font-size: pxToRem(12);
        color: $color-base;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
