@mixin genericHeader() {
    border-right: 1px solid #ADAFB4;

    .cell-content {
        background-color: $color-gray;
        white-space: normal;
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(28);
        color: $color-white;

        .header-sort {
            display: table;
            padding: rem(11) rem(20);

            .header-label {
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
            }

            .header-icons {
                display: table-cell;
                vertical-align: middle;
                padding-left: rem(5);
                height: rem(10);

                .sort-icon {
                    @include button-unstyled;
                    display: block;
                    line-height: rem(10);
                    width: rem(14);
                    height: rem(10);
                    text-align: center;

                    svg {
                        fill: #86888E;
                        height: rem(11);
                        width: rem(11);
                    }

                    &.active {
                        svg {
                            fill: $color-active;
                        }
                    }
                }
            }
        }
    }
}