.about-content {
    background-color: $color-white;
    color: $color-base;

    .about-padded-content {
        padding: pxToRem(35);
    }

    @include media($large-screen) {
        .about-padded-content {
            padding: pxToRem(38) pxToRem(88) pxToRem(22) pxToRem(88);
        }
    }
}
