.usa-da-about-page {
    @import "mixins/fullSectionWrap";
    @import "layouts/default/default";
    @import "./mastHead";
    @import "./introduction";
    @import "./overview";
    @import "./aboutData";
    @import "./nextSteps";
    @import "./aboutTopicsPreviews";
    
    & .usa-da-about-inner {
        @include clearfix;
        background: $color-gray-lightest;
        margin: 0 auto;
        padding: ($global-pad * 2) 0;
        @include row();
        @include media($medium-screen) {
            padding: ($global-pad * 4) 0;
        }
        @include media($x-large-screen) {
            padding: ($global-pad * 4) 0;
        }
    }
}