.usa-da-about-page, .usa-da-legal-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";

    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC; 

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 2), ($global-mrg * 2));
        padding:  0;

        @import "./_positioning";
        @import "./_contentWrap";
        @import "elements/_divider";

        @import "./_sidebar";

        @import "./_section";
    }

    .in-page-nav-wrapper {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 56px;
        white-space: nowrap;

        @media (max-width: $medium-screen) {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;
        }

        ul {
            padding: 0;
        }

        li {
            display: inline;
            a {
                margin: 2px;
            }
        }
    }

    .in-page-nav-wrapper::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background: transparent; /* Chrome/Safari/Webkit */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
        display: none;
    }
}
