.usa-da-about-page, .usa-da-legal-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";

    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC;

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 2), ($global-mrg * 2));
        padding:  0;

        @import "./_contentWrap";
        @import "elements/_divider";
        @import "./_section";

        .about-content-wrapper {
            @include grid-column(16);
            @media(min-width: $small-screen) {
                margin-left: 0;
                max-width: 160rem;
                width:100%;
            }
            .about-content {
                @include grid-column(16);
                @media(min-width: $small-screen) {
                    margin-left: 0;
                    max-width: 160rem;
                    width:100%;
                }
            }
        }

        @include media($large-screen) {
            .about-padded-content {
                width: 75%;
                max-width: rem(975);
                margin: auto;
            }
        }
    }
}
