.aboutdata-outer-wrap {
    @import "../../mixins/fullSectionWrap";
    @import "../../elements/_divider";
    @import "../../elements/_typography";
    padding: ($global-pad) 0;
    & .aboutdata-wrap {
        @include fullSectionWrap(0,0);
        @include clearfix;
        .image-wrap {
            @include media($small-screen) {
                @include span-columns(13.5);
                @include shift(1.25);
            }
            @include media($medium-screen) {
                @include span-columns(9);
                @include shift(0.75);
            }
            @include media($x-large-screen) {
                @include span-columns(9);
                @include shift(0.75);
            }
        }
        & .aboutdata-inner-wrap {
            & h3 {
                margin: $global-mrg auto 0 auto;
            }
            & a {
                clear: both;
                margin-top: 10px;
                color: $color-primary;
            }
            @include media($small-screen) {
                @include span-columns(13.5);
                @include shift(1.25);
            }
            @include media($medium-screen) {
                @include span-columns(6);
                @include shift(0.25);
            }
            @include media($x-large-screen) {
                @include span-columns(6);
                @include shift(0.25);
            }
        }
    }
}