.intro-wrap {
    @import "mixins/fullSectionWrap";
    @import "elements/_divider";
    @import "elements/_buttons";
    @include clearfix;

    padding: ($global-pad * 4) 0 ($global-pad * 2) 0;
    & .intro-inner-wrap {
        @include fullSectionWrap(0,0);
        & p {
            color: $color-base;
            font-size: $lead-font-size;
        }
        @include media($small-screen) {
            @include span-columns(14);
            @include shift(1);
        }
        @include media($medium-screen) {
            @include span-columns(12);
            @include shift(2);
        }
        @include media($x-large-screen) {
            @include span-columns(10);
            @include shift(3);
        }
    }
}
