.overview-wrap {
    @import "../../mixins/fullSectionWrap";
    @import "../../elements/_divider";
    @import "../../elements/_buttons";
    @include clearfix;
    background: url(#{$image-path}/about_us_background.png) no-repeat center bottom;
    background-size: 100%;
    padding: ($global-pad * 2) 0 ($global-pad * 4) 0;
    .overview-header {
        @include span-columns(14);
        @include shift (1);
    }
    .overview-inner-wrap-left {
        & p {
            color: $color-base;
            font-size: $lead-font-size;
        }
        & .overview-coming-soon-text {
            color: $color-gray-light;
        }
        @include media($small-screen) {
            @include span-columns(14);
            @include shift(1);
        }
        @include media($medium-screen) {
            @include span-columns(6);
            @include shift(1.25);
        }
        @include media($x-large-screen) {
            @include span-columns(6);
            @include shift(1.25);
        }
    }
    .overview-inner-wrap-right {
        & p {
            color: $color-base;
            font-size: $lead-font-size;
        }
        & .overview-coming-soon-text {
            color: $color-gray-light;
        }
        @include media($small-screen) {
            @include span-columns(14);
            @include shift(1);
            padding-top: rem(20);
        }
        @include media($medium-screen) {
            @include span-columns(6);
            @include shift(1.25);
            padding-top: 0;
        }
    }
}
