
.feature-award-search {
    display: block;
    margin: rem(60) 0;
    position: relative;

    @include media($medium-screen) {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(flex-start);
        margin-top: rem(120);
    }

    .award-search-background-flair {
        position: absolute;
        top: rem(-30);
        bottom: rem(-30);
        width: 100vw;
        margin-left: calc(50% - 50vw);

        background-color: $color-gray-warm-light;
        opacity: 0.5;

        @include transform(skewY(5deg));

        @include media($medium-screen) {
            top: 0;
            bottom: 0;
        }
    }

    .award-search-left {
        position: relative;
        @include media($medium-screen) {
            @include flex(1 1 auto);
            padding-right: rem(55);
        }

        .award-search-mobile-carousel {
            display: block;
            margin: rem(35) 0;

            @include media($medium-screen) {
                display: none;
            }
        }

        .award-search-dropdown {
            margin-top: rem(60);
        }
    }

    .award-search-right {
        position: relative;
        display: none;
        @include media($medium-screen) {
            @include flex(0 0 auto);
            display: block;
            width: 60%;
            margin: 0;
            margin-bottom: 0;
        }
    }
}