.homepage-features {

    .homepage-feature-content {
        @import "mixins/fullSectionWrap";
        @include fullSectionWrap(0, 0);
        padding: 0;
    }

    h2.feature-title {
        margin: 0;

        font-weight: $font-semibold;
        color: $color-base;

        font-size: rem(38);
        line-height: rem(55);
    }

    .feature-description {
        p {
            font-size: rem(18);
            line-height: rem(30);

            strong {
                font-weight: $font-semibold;
            }
        }
    }

    @import "./_carousel";
    @import "./_dropdown";
    @import "./_spendingExplorer";
    @import "./_search";
}