#agency-federal-accounts {

    .chart-wrapper {
        position: relative;
        @import "pages/search/results/visualizations/rank/chart/rankChart";

        .loading-visualization {
            opacity: 0.5;
        }

        .results-visualization-message {
            font-size: $small-font-size;
            text-align: center;
        }

        .visualization-tooltip {
            @import "components/visualizations/tooltip/_tooltip";
        }

	    .horizontal-bar {
		    height: rem(15);
		    .legend-container {
			    color: $color-gray-medium;
			    .key-label {
				    font-size: rem(12);
			    }
		    }
	    }

	    @import "pages/search/results/visualizations/rank/_pager";
	    .visualization-pager-container {
		    @include display(flex);
		    @include align-items(center);
		    @include justify-content(center);

		    position: relative;
		    width: 100%;

		    .prev-page {
			    @include flex(1 1 auto);
			    @include align-self(flex-start);
		    }
		    .next-page {
			    @include flex(1 1 auto);
			    @include align-self(flex-end);
			    button {
				    float: right;
			    }
		    }
	    }
    }
}
