@mixin usa-alert {
    background-color: $color-gray-lightest;
    background-position: 1rem 2rem;
    background-repeat: no-repeat;
    background-size: 4rem;
    margin-top: 1.5em;
    padding: 1em;
    @include media($medium-screen) {
        background-size: 5.2rem;
    }
    ul {
        margin-bottom: 0;
        margin-top: 1em;
    }
}

@mixin usa-alert-icon {
    display: table-cell;
    padding-right: 1rem;
}

@mixin usa-alert-body {
    display: table-cell;
    padding-left: 3.5rem;
    vertical-align: top;
    @include media($medium-screen) {
        padding-left: 5rem;
    }
}

@mixin usa-alert-heading {
    margin-bottom: .3rem;
    margin-top: 0;
    @include media($medium-screen) {
        margin-top: .3rem;
    }
}

@mixin usa-alert-text {
    font-family: $font-sans;
    margin-bottom: 0;
    margin-top: 0;
}

@mixin usa-alert-success {
    background-color: $color-green-lightest;
}

@mixin usa-alert-warning {
    background-color: $color-gold-lightest;
}

@mixin usa-alert-error {
    background-color: $color-secondary-lightest;
}

@mixin usa-alert-info {
    background-color: $color-primary-alt-lightest;
}

@mixin usa-alert-no-icon {
    background-image: none;
}