.usa-dt-modal {
    background-color: $color-white;
    // Overrides the default library max width of 100%
    max-width: pxToRem(1200);
    .usa-dt-modal__header {
        background-color: $color-primary-darker;
        @include display(flex);
        @include justify-content(center);
        color: white;
        h1,
        h1.usa-dt-modal__title {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            font-size: pxToRem(52);
            margin: 0;
            width: 100%;
            padding: pxToRem(10) pxToRem(0) pxToRem(10) pxToRem(50);
        }
        .usa-dt-modal__close-button {
            @include flex(0 0 auto);
            @include flex-direction(column);
            @include button-unstyled;
            padding: pxToRem(10);
            margin-left: auto;

            svg {
                height: pxToRem(24);
                width: pxToRem(17);
                fill: $color-white;
            }
        }
    }
    .usa-dt-modal__body {
        text-align: center;
        padding: pxToRem(30) pxToRem(50) pxToRem(23) pxToRem(50);
    }
}
