.usa-dt-modal {
    background-color: $color-white;
    // Overrides the default library max width of 100%
    max-width: rem(1200);
    width: rem(623);
    .usa-dt-modal__header {
        background-color: #205493;
        @include display(flex);
        @include justify-content(center);
        color: white;
        .usa-dt-modal__title {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            font-size: rem(52);
            margin: 0;
            padding: rem(10) rem(0) rem(10) rem(50);
        }
        .usa-dt-modal__close-button {
            @include flex(0 0 auto);
            @include flex-direction(column);
            @include button-unstyled;
            padding: rem(10);
            margin-left: auto;

            svg {
                height: rem(24);
                width: rem(17);
                fill: $color-white;
            }
        }
    }
    .usa-dt-modal__body {
        text-align: center;
        padding: rem(30) rem(50) rem(23) rem(50);
        .email-sign-up__modal-body {
            h2 {
                font-size: rem(24);
                margin: 0 0 rem(27) 0;
                font-weight: 500;
            }
            form {
                @include display(flex);
                @include flex-direction(column);
                @include align-items(flex-start);
                .email-label {
                    font-size: rem(14);
                }
                .email-input {
                    width: 100%;
                    height: rem(35);
                }
                .submit {
                    @include align-self(center);
                    width: rem(158);
                    padding: rem(8) rem(48);
                    font-size: rem(18);
                    line-height: rem(23);
                    font-weight: 600;
                    color: white;
                    background-color: #205493;
                    margin: 0;
                }
            }
            .email-sign-up__confirmation {
                h3 {
                    padding: 0;
                    margin: 0;
                    font-size: rem(24);
                    font-weight: 600;
                }
                svg {
                    height: rem(65);
                    width: rem(65);
                }
                p {
                    margin-top: 0;
                    margin-bottom: rem(33);
                    font-size: rem(18);
                }
                button {
                    width: rem(158);
                    font-size: rem(18);
                    height: rem(40);
                    font-weight: 600;
                    line-height: rem(23);
                    background-color: #205493;
                    margin: 0;
                }
            }
            .email-sign-up__validation {
                width: 100%;
                background:#F9DEDE;
                height: rem(45);
                margin: rem(10) 0;
                border: rem(1) solid #CD2026;
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(center);
                span {
                    font-size: rem(18);
                    padding-left: rem(8);
                    color: #555555;
                    font-weight: 600;
                }
                svg {
                    height: rem(24);
                    width: rem(24);
                    margin-left: rem(16);
                }
            }
        }
    }
}

.stay-in-touch-modal {
    padding: rem(50) rem(23);
    .usa-dt-modal__header {
        height: rem(83);
    }
}
