.usa-dt-modal {
    background-color: $color-white;
    // Overrides the default library max width of 100%
    max-width: rem(1200);
    .usa-dt-modal__header {
        background-color: $color-primary-darker;
        @include display(flex);
        @include justify-content(center);
        color: white;
        h1,
        h1.usa-dt-modal__title {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            font-size: rem(52);
            margin: 0;
            width: 100%;
            padding: rem(10) rem(0) rem(10) rem(50);
        }
        .usa-dt-modal__close-button {
            @include flex(0 0 auto);
            @include flex-direction(column);
            @include button-unstyled;
            padding: rem(10);
            margin-left: auto;

            svg {
                height: rem(24);
                width: rem(17);
                fill: $color-white;
            }
        }
    }
    .usa-dt-modal__body {
        text-align: center;
        padding: rem(30) rem(50) rem(23) rem(50);
    }
}
