.button__sm {
    height: 100%;
    border-radius: 3px;
    font-size: rem(14);
    font-weight: $font-semibold;
    padding: 5.5px 12px;
    vertical-align: middle;
    align-items: center;
    display: flex;

    svg {
        width: 16px;
        height: 16px;
    }
}

.button__md {
    height: 100%;
    border-radius: 4px;
    font-size: rem(16);
    font-weight: $font-semibold;
    padding: 8px 16px;
    vertical-align: middle;
    align-items: center;
    display: flex;

    svg {
        width: 24px;
        height: 24px;
    }
}

.button__lg {
    border: solid 1px $blue-50;
    height: 100%;
    border-radius: 6px;
    font-size: rem(20);
    font-weight: $font-semibold;
    padding: 13px 24px;
    vertical-align: middle;
    align-items: center;
    display: flex;

    svg {
        width: 32px;
        height: 32px;
    }
}

.button-text__left-align {
    padding-left: 0px;
    text-align: left;
    display: flex;
}

.button-text__center-align {
    text-align: center;
}
.button-type__primary-light,
.button-type__primary-left-icon-light {
    background-color: $blue-50;
    line-height: 1.5;
    color: $gray-cool-1;
    &:hover {
        background-color: $blue-70v;
    }

    &:active {
        background-color: $blue-cool-80v;
    }

    &:disabled {
        background-color: $blue-50;
        opacity: 0.5;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__secondary-light,
.button-type__secondary-left-icon-light {
    border-radius: 6px;
    border: solid 1px $blue-50;
    background-color: transparent;
    color: $blue-50;
    line-height: 1.5;
    &:hover {
        color: $blue-70v;
        border: solid 1px $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-80v;
        border: solid 1px $blue-80v;
        background-color: transparent;
    }

    &:disabled {
        color: $blue-50;
        border: solid 1px $blue-50;
        background-color: transparent;
        opacity: 0.5;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__secondary-dark,
.button-type__secondary-left-icon-dark {
    color: $gray-cool-10;
    fill: none;
    background-color: transparent;
    border: solid 1px $gray-cool-10;
    line-height: 1.5;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
        border: solid 1px $gray-cool-5;

    }

    &:active {
        color: $gray-cool-1;
        background-color: transparent;
        border: solid 1px $gray-cool-1;
    }

    &:disabled {
        color: $gray-cool-10;
        border: solid 1px $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__tertiary-light,
.button-type__tertiary-left-icon-light {
    border-radius: 6px;
    border: solid 1px $gray-cool-10;
    background-color: transparent;
    color: $blue-50;
    line-height: 1.5;
    &:hover {
        color: $color-primary-darker;
        border: solid 1px $gray-cool-30;
        background-color: transparent;
    }

    &:active {
        color: #122e51;
        border: solid 1px $gray-cool-50;
        background-color: transparent;
    }

    &:disabled {
        color: $color-primary;
        border: solid 1px #d6d7d9;
        background-color: transparent;
        opacity: 0.5;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__text-light,
.button-type__intext-light {
    background-color: transparent;
    border-radius: none;
    color: $blue-50;
    font-weight: $font-normal;
    line-height: 1.5;
    &:hover {
        color: $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-cool-80v;
        background-color: transparent;
    }

    &:disabled {
        background-color: transparent;
        color: $blue-50;
        opacity: 0.5;
    }

    &:visited {
        background-color: transparent;
        color: $violet-70v;
    }
}

.button-type__text-left-icon-light {
    background-color: transparent;
    border-radius: none;
    color: $blue-50;
    line-height: 1.5;
    &:hover {
        color: $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-cool-80v;
        background-color: transparent;
    }

    &:disabled {
        background-color: transparent;
        color: $blue-50;
        opacity: 0.5;
    }

    &:visited {
        background-color: transparent;
        color: $violet-70v;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__text-right-icon-light {
    background-color: transparent;
    border-radius: none;
    color: $blue-50;
    line-height: 1.5;
    &:hover {
        color: $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-cool-80v;
        background-color: transparent;
    }

    &:disabled {
        background-color: transparent;
        color: $blue-50;
        opacity: 0.5;
    }

    &:visited {
        background-color: transparent;
        color: $violet-70v;
    }

    svg {
        margin-left: 8px;
    }
}

.button-type__text-dark {
    color: $gray-cool-10;
    fill: none;
    background-color: transparent;
    border: none;
    line-height: 1.5;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
    }

    &:active{
        color: $gray-cool-1;
        background-color: transparent;
    }

    &:disabled {
        color: $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }
}

.button-type__text-left-icon-dark {
    fill: none;
    background-color: transparent;
    border: none;
    color: $gray-cool-10;
    line-height: 1.5;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
    }

    &:active{
        color: $gray-cool-1;
        background-color: transparent;
    }

    &:disabled {
        color: $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }

    svg {
        margin-right: 8px;
    }
}

.button-type__text-right-icon-dark {
    color: $gray-cool-10;
    fill: none;
    background-color: transparent;
    border: none;
    line-height: 1.5;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
    }

    &:active {
        color: $gray-cool-1;
        background-color: transparent;
    }

    &:disabled {
        color: $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }

    svg {
        margin-left: 8px;
    }
}

.button-type__stacked-icon-light {
    height: unset;
    color: $blue-50;
    display: block;
    background-color: transparent;
    &:hover {
        color: $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-cool-80v;
        background-color: transparent;
    }

    &:disabled {
        color: $blue-50;
        background-color: transparent;
        opacity: 0.5;
    }
}
.stacked-button__only-text {
    margin-top: 2px;
    font-size: rem(14);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}
.stacked-button__only-image {
    margin: 0;
}
.button-type__stacked-icon-dark {
    height: unset;
    color: $gray-cool-10;
    fill: none;
    background-color: transparent;
    display: block;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
    }

    &:active {
        color: $gray-cool-1;
        background-color: transparent;
    }

    &:disabled {
        color: $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }
}

.button-type__inline-right-icon-light {
    background-color: transparent;
    border-radius: none;
    font-weight: $font-semibold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $gray-cool-60;

    svg {
        margin-left:4px;
    }

    &:hover {
        color: $gray-cool-60;
        background-color: transparent;
    }

    &:active {
        color: $gray-cool-60;
        background-color: transparent;
    }
    &:focus {
        color: $gray-cool-60;
        background-color: transparent;
    }

    &:disabled {
        background-color: transparent;
        color: $gray-cool-60;
        opacity: 0.5;
    }
}
.button__lg.button-type__inline-right-icon-light {
    svg {
        width: 20px;
        height: 20px;
    }
}
.button__md.button-type__inline-right-icon-light {
    svg {
        width: 16px;
        height: 16px;
    }
}
.button__sm.button-type__inline-right-icon-light {
    svg {
        width: 14px;
        height: 14px;
    }
}
.button-type__icon-light {
    color: $blue-50;
    background-color: transparent;

    &:hover {
        color: $blue-70v;
        background-color: transparent;
    }

    &:active {
        color: $blue-cool-80v;
        background-color: transparent;
    }

    &:disabled {
        color: $blue-50;
        background-color: transparent;
        opacity: 0.5;
    }
}
.button-type__icon-dark {
    color: $gray-cool-10;
    fill: none;
    background-color: transparent;
    &:hover {
        color: $gray-cool-5;
        background-color: transparent;
    }

    &:active{
        color: $gray-cool-1;
        background-color: transparent;
    }

    &:disabled {
        color: $gray-cool-10;
        opacity: 0.5;
        background-color: transparent;
    }
}
