.checkbox-tree-filter-message-container {
  font-size: rem(30);
  text-align: center;

  .checkbox-tree-filter-message-container__text {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

.checkbox-tree {
  .react-checkbox-tree {
    max-height: 600px;
    overflow-y: auto;

    .rct-node-icon {
      display: none;
    }

    label:hover {
      background-color: transparent;
    }

    .rct-checkbox {
      .rct-icon-uncheck {
        border: solid 1px $gray-cool-20;
        border-radius: 2px;
        color: white;
        width: 14px;
        height: 14px;
        margin: 2px 1px;
      }

      .rct-icon-check {
        color: $theme-color-1;
        width: 14px;
        height: 14px;
        margin: 2px 1px;
      }

      .rct-icon-half-check {
        color: $theme-color-1;
      }

      svg {
        &:focus {
          outline: none;
        }
      }
    }

    ol {
      padding-left: 0;
      border-left: none;
      margin: 0 0 rem(5) 0;
    }

    .rct-icon-expand-open {
      margin-right: 0.1em;
      height: 16px;
    }

    .rct-icon-expand-close {
      height: 16px;
    }

    .svg-inline--fa.fa-w-14 {
      width: 14px;
      height: 14px;
    }

    .rct-node-expanded {
      .rct-text {
        label {
          .rct-checkbox {
            .svg-inline--fa.fa-w-14 {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    // every dropdown
    .rct-node:nth-child(n) {
      // this is for search
      &.react-checkbox-tree__tier-zero {
        border-bottom: 1px solid $color-gray-lighter;
      }

      // this is for search
      &.react-checkbox-tree__tier-zero:last-child {
        border-bottom: none;
      }

      &.react-checkbox-tree__search-placeholder-child {
        display: none;
      }

      // parent nodes dont line up correctly to child nodes
      &.rct-node-collapsed {
        .rct-text {
          label {
            margin-left: rem(4);
          }
        }
      }

      .rct-text {
        width: 100%;
        @include align-items(flex-start);

        button:focus {
          box-shadow: none;
        }

        @include display(inline-flex);

        button {
          margin: 0;
        }

        .rct-bare-label,
        label {
          width: 100%;
          @include display(flex);
          margin-bottom: rem(8);

          .rct-checkbox {
            @include flex-direction(column);
          }

          .rct-title {
            width: 100%;
            @include display(flex);
          }

          .checkbox-tree-label {
            @include display(flex);
            @include flex-wrap(wrap);
            width: 100%;

            .checkbox-tree-label__value-container {
              @include display(inline-flex);

              .checkbox-tree-label__value-container-value {
                text-align: center;
                padding: 0 rem(3);
                background-color: $color-gray-lightest;
                border-radius: 2px;
                font-weight: $font-semibold;
                font-size: rem(14);

                .highlight {
                  background-color: rgb(252, 227, 160);
                }
              }

              .checkbox-tree-label__value-container-count {
                padding: rem(1.5) rem(7);
                border-radius: 3px;
                color: $color-gray-medium;
                font-style: italic;
                font-size: rem(12);

                .highlight {
                  background-color: transparent;
                }
              }
            }

            .checkbox-tree-label__label {
              @include flex-basis(100%);
              font-weight: $font-semibold;
              line-height: rem(18);
              padding-top: 2px;
              .highlight {
                background-color: rgb(252, 227, 160);
              }
            }
          }
        }
      }
      ol {
        padding-left: rem(12);
        margin-left: rem(4);
        border-left: 2px solid $color-gray-lighter;

        .rct-node { // first dropdown
          padding-bottom: 0;

          .rct-text {
            label {
              .checkbox-tree-label {
                .checkbox-tree-label__label {
                  font-weight: $font-semibold;
                  color: $gray-80;
                }
              }
            }
          }

          &.rct-node-expanded {
            border-bottom: none;
          }

          ol {
            .rct-node { // second dropdown
              padding-bottom: 0;

              .rct-text {
                label {
                  .checkbox-tree-label {
                    .checkbox-tree-label__label {
                      font-weight: $font-normal;
                      color: $gray-80;
                    }
                  }
                }
              }

              &.rct-node-expanded {
                border-bottom: none;
              }

              ol {
                .rct-node { // third dropdown
                  padding-bottom: 0;

                    .rct-text {
                      label {
                        .checkbox-tree-label {
                          .checkbox-tree-label__label {
                            font-weight: $font-normal;
                            color: $gray-80;
                          }
                        }
                      }
                    }

                  &.rct-node-expanded {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .rct-collapse {
      color: $color-primary-darker;
      background-color: white;
      padding: 2px 0 0 0;
      align-self: flex-start;

      svg {
        opacity: 1;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.naics-search-container.checkbox-tree {
  margin-bottom: rem(20);
  border-bottom: 1px solid $gray-cool-5;
}

.tas-checkbox.checkbox-tree {
  border-bottom: 1px solid $color-gray-lighter;
  width: 100%;
}

// searchV2
.collapsible-sidebar {
  .naics-search-container {
    @import "../core/variables";
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-top: 0 !important;

    .checkbox-tree {
      border-bottom: none !important;
    }

    .autocomplete__input {
      padding-top: 0 !important;
      padding-bottom: 20px !important;

      .geo-entity-dropdown__input {
        border: solid 1px $gray-cool-10;
        border-radius: 3px;
        min-width: 100%;
      }
    }

    li {
      margin-bottom: 12px !important;
    }

    .checkbox-tree-label__value-container-value {
      font-size: 10px !important;
      align-items: center;
      color: $gray-90;
      border-radius: 2px;
      background-color: $gray-cool-5 !important;
      padding: 2px !important;
    }

    .checkbox-tree-label__value-container-count {
      font-size: 10px !important;
      color: $gray-60 !important;
      padding-left: 4px !important;
      padding-bottom: 0 !important;
      line-height: 1.8 !important;
    }

    .checkbox-tree-label__label {
      font-size: 12px !important;
      color: $gray-90;
      padding-top: 4px !important;
    }

    .rct-checkbox {
      color: $gray-cool-20 !important;
      padding-right: 0 !important;
    }

    .rct-text {
      svg {
        height: 10px;
        color: $theme-color-1;
      }

      label {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }

  .psc-checkbox {
    @extend .naics-search-container;

    .autocomplete__input, .geo-entity-dropdown__input {
      @import "dtui-overrides";
      height: 100%;
      line-height: 1.5;

      @include new-search-button;
    }
  }


  .tas-checkbox {
    @extend .psc-checkbox;

    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .checkbox-tree {
      border-bottom: none !important;
    }

    .checkbox-tree-label__label {
      padding-top: 0 !important;
    }

    .rct-checkbox {
      display: flex;
      justify-content: flex-start;
    }
  }

  .def-code-filter {
    margin-bottom: rem(16);
    padding: unset !important; // TODO remove after search 2.0 is released

    .defc-filter-message-container {
      font-size: rem(30);
      text-align: center;
      margin-top: $global-margin;

      .defc-filter-message-container__text {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }

    li {
      margin-bottom: rem(12) !important; // TODO remove after search 2.0 is released
    }

    .checkbox-filter__header {
      margin-bottom: rem(16) !important; // TODO remove after search 2.0 is released
    }

    .checkbox-tree-label {
      .checkbox-tree-label__value-container {
        background: $gray-cool-5;
        border-radius: rem(2);
        display: inline-block;
        padding: rem(2.5);
        height: rem(18);

        .checkbox-tree-label__value-container-value {
          color: $gray-90;
          font-weight: $font-semibold;
          font-size: $font-size-10;
        }
      }
    }

    .checkbox-tree-label .checkbox-tree-label__label {
      &.multiple-label {
        padding-bottom: rem(8);

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      span {
        font-size: $font-size-10;
        font-style: italic;
        line-height: rem(1.8);
        color: $gray-60;
      }
      span.highlight {
        background-color: $yellow-10;
        font-style: normal;
        font-size: $font-size-12;
      }
    }
  }
}

// def code filter legacy search
.search-option .def-code-filter {
  margin-bottom: rem(12);
  padding: rem(12);

  .def-checkbox-tree {
    margin-bottom: 2rem;

    .react-checkbox-tree {
      ol {
        border-left: none;

        .rct-collapse.rct-collapse-btn {
          display: none;
        }

        .rct-node:nth-child(n) ol {
          border-left: none;
        }

        .rct-node.def-checkbox-label--covid  {
          &.rct-node-parent > .rct-text {
            .rct-checkbox {
              align-self: center;
            }

            .rct-title .checkbox-tree-label {
              width: auto;
              min-width: 55%;

              .checkbox-tree-label__value-container {
                display: none;
              }

              .def-checkbox-tree-label__covid {
                @include justify-content(center);

                background: $color-disaster-covid-19;
                color: white;
                display: flex;
                align-items: center;
                padding: rem(5) rem(10);
                font-size: rem(16);
                border: 1px solid #C7C7C7;
                border-radius: 4px;
              }

              .def-checkbox-tree-label__notCovid {
                @include justify-content(center);

                background: $color-gray-lightest;
                color: $color-gray-medium;
                display: flex;
                align-items: center;
                padding: rem(5) rem(10);
                font-size: rem(16);
                border-radius: 4px;
              }
            }
          }

          .rct-node-leaf .rct-text .rct-title .checkbox-tree-label .checkbox-tree-label__label {
            &.multiple-label {
              padding-bottom: rem(10);

              &:last-of-type {
                padding-bottom: 0;
              }
            }

            font-weight: $font-semibold;

            span {
              font-weight: $font-normal;
            }
          }
        }
      }
    }
  }
}

// def code bulk account download
.def-code-filter-download {
  margin-bottom: rem(12);
  padding: rem(12);
  padding-left: 0;
  padding-bottom: 0;

  .def-checkbox-tree {
    margin-bottom: 0rem;
    // border-bottom: rem(1) solid rgb(214, 215, 217);

    .react-checkbox-tree {
      max-height: none;

      ol {
        padding-left: 0;
        border-left: none;
        margin: rem(16) 0;

        .rct-node:nth-child(n) ol {
          border-left: none;
        }

        .rct-node.def-checkbox-label--covid  {
          &.rct-node-parent {
            margin-left: 0;
          }

          &.rct-node-parent > .rct-text {
            .rct-title .checkbox-tree-label {
              .checkbox-tree-label__value-container {
                display: none;
              }
            }
          }

          .rct-node-leaf .rct-text .rct-title .checkbox-tree-label .checkbox-tree-label__label {
            &.multiple-label {
              padding-bottom: rem(10);
              &:last-of-type {
                padding-bottom: 0;
              }
            }

            font-weight: $font-normal;

            span {
              font-weight: $font-light;
            }
          }
        }

        .rct-node:nth-child(1) {
          .checkbox-tree-label__label {
            font-weight: $font-bold;
          }
        }

        .rct-node:nth-child(n) {
          margin-left: rem(20);

          .rct-text {
            width: 100%;
            @include align-items(flex-start);

            button:focus {
              box-shadow: none;
            }

            @include display(inline-flex);

            button {
              margin: 0;
              padding: 0rem 0.5rem 0.5rem 0.5rem;
              background-color: $color-white;
              color: $color-primary;
            }

            .rct-node-icon {
              padding: 0;
            }

            .rct-collapse {
              color: $color-primary;
              background-color: $color-white;

              svg {
                width: 1.5rem;
                height: 2.2rem;
                opacity: 1;
                margin: 0;

                &:focus {
                  outline: none;
                }
              }
            }

            .rct-bare-label, label:hover {
              background-color: transparent;
            }

            label {
              width: 100%;
              @include display(flex);
              margin-bottom: rem(8);
              margin-left: 0;

              .rct-checkbox {
                @include display(flex);
                @include flex-direction(column);
                @include align-items(top);
                padding: rem(2.5) rem(5) rem(2.5) rem(5);

                .rct-icon-uncheck {
                  color: white;
                  border: 1px solid $color-gray-medium;
                  border-radius: 3px;
                  height: rem(15);
                  width: rem(15);
                }

                .rct-icon-check {
                  color: $color-primary;
                  height: rem(15);
                  width: rem(15);
                }

                .rct-icon-half-check {
                  color: $color-primary;
                  height: rem(15);
                  width: rem(15);
                }

                svg {
                  margin: rem(2) rem(1);

                  &:focus {
                    outline: none;
                  }
                }
              }

              .rct-title {
                width: 100%;
                @include display(flex);
                align-items: flex-start;
              }

              .checkbox-tree-label {
                @include display(flex);
                @include flex-wrap(wrap);
                width: 100%;

                .checkbox-tree-label__value-container {
                  @include display(inline-flex);

                  .checkbox-tree-label__value-container-value {
                    text-align: center;
                    padding: 0;
                    border-radius: 2px;
                    font-weight: $font-bold;
                    font-size: rem(14);
                    background-color: transparent;

                    .highlight {
                      background-color: rgb(252, 227, 160);
                    }
                  }

                  .checkbox-tree-label__value-container-count {
                    padding: rem(1.5) rem(7);
                    border-radius: 3px;
                    color: $color-gray-medium;
                    font-style: italic;
                    font-size: rem(12);

                    .highlight {
                      background-color: transparent;
                    }
                  }
                }

                .checkbox-tree-label__label {
                  @include flex-basis(100%);
                  line-height: rem(18);
                  color: $color-base;

                  .highlight {
                    background-color: rgb(252, 227, 160);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
