.checkbox-tree {
  .react-checkbox-tree {
    padding-left: rem(20);
    height: 300px;
    overflow-y: scroll;
    .rct-node-icon {
      display: none;
    }
    label:hover {
      background-color: transparent;
    }
    .rct-checkbox {
      .rct-icon-uncheck {
        border: 2px solid $color-gray-lighter;
        border-radius: 3px;
        color: white;
      }
      .rct-icon-check {
        color: $color-primary-darker;
      }
      .rct-icon-half-check {
        color: $color-primary-darker;
      }
    }
    ol {
      padding-left: 0;
      border-left: none;
      margin: 0 0 rem(5) 0;
    }
    .rct-icon-expand-open {
      margin-right: 0.1em;
    }
    .svg-inline--fa.fa-w-14 {
      width: 1em;
      height: 1em;
    }
    .rct-node-expanded {
      .rct-text {
        label {
          .rct-checkbox {
            .svg-inline--fa.fa-w-14 {
              width: 1em;
              height: 1em;
            }
          }
        }
      }
    }
    // every dropdown
    .rct-node:nth-child(n) {
      // TODO - only add this on search
      // padding-bottom: rem(10);
      // &.rct-node-expanded {
        // border-bottom: 1px solid $color-gray-lighter;
      // }
      // parent nodes dont line up correctly to childe nodes
      &.rct-node-collapsed {
        .rct-text {
          label {
            margin-left: rem(4);
          }
        }
      }
      .rct-text {
        @include align-items(flex-start);
        button:focus {
          box-shadow: none;
        }
        @include display(inline-flex);
        button {
          margin: 0;
        }
        label {
          @include display(flex);
          .rct-checkbox {
            @include flex-direction(column);
          }
          .rct-title {
            .checkbox-tree-label {
              @include display(flex);
              @include flex-wrap(wrap);
              .checkbox-tree-label__value-container {
                    // @include flex-basis(100%);
                .checkbox-tree-label__value-container-value {
                  padding: rem(1.5) rem(10);
                  background-color: $color-gray-lightest;
                  border-radius: 3px;
                  font-weight: $font-semibold;
                  font-size: rem(11);
                  .highlight {
                    background-color: rgb(252, 227, 160);
                  }
                }
              }
              .checkbox-tree-label__label {
                @include flex-basis(100%);
                font-weight: bold;
                .highlight {
                  background-color: rgb(252, 227, 160);
                }
              }
            }
          }
        }
      }
      ol {
        padding-left: rem(12);
        margin-left: rem(4);
        border-left: 3px solid $color-gray-lighter;
        .rct-node { // first dropdown
          padding-bottom: 0;
          .rct-text {
            label {
              .checkbox-tree-label {
                .checkbox-tree-label__value-container {
                  .checkbox-tree-label__value-container-value {
                    padding: rem(1.5) rem(15);
                  }
                }
                .checkbox-tree-label__label {
                  font-weight: $font-semibold;
                }
              }
            }
          }
          &.rct-node-expanded {
            border-bottom: none;
          }
          ol {
            border-left: 2px solid $color-gray-lighter;
            .rct-node { // second dropdown
              padding-bottom: 0;
              .rct-text {
                label {
                  .checkbox-tree-label {
                    .checkbox-tree-label__value-container {
                      .checkbox-tree-label__value-container-value {
                        padding: rem(1.5) rem(8);
                      }
                    }
                    .checkbox-tree-label__label {
                      font-weight: $font-normal;
                    }
                  }
                }
              }
              &.rct-node-expanded {
                border-bottom: none;
              }
              ol {
                border-left: 1px solid $color-gray-lighter;
                .rct-node { // third dropdown
                  padding-bottom: 0;
                    .rct-text {
                      label {
                        .checkbox-tree-label {
                          .checkbox-tree-label__value-container {
                            .checkbox-tree-label__value-container-value {
                              padding: rem(1.5) rem(1);
                            }
                          }
                          .checkbox-tree-label__label {
                            font-weight: $font-light;
                          }
                        }
                      }
                    }
                  &.rct-node-expanded {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rct-collapse {
      color: $color-primary-darker;
      background-color: white;
      margin-right: 0;
      padding: 0;
      svg {
        opacity: 1;
      }
    }
  }
}
