.checkbox-tree-filter-message-container {
  font-size: rem(30);
  text-align: center;
  .checkbox-tree-filter-message-container__text {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

.checkbox-tree {
  .react-checkbox-tree {
    max-height: 600px;
    overflow-y: auto;
    .rct-node-icon {
      display: none;
    }
    label:hover {
      background-color: transparent;
    }
    .rct-checkbox {
      .rct-icon-uncheck {
        border: 2px solid $color-gray-lighter;
        border-radius: 3px;
        color: white;
      }
      .rct-icon-check {
        color: $color-primary;
      }
      .rct-icon-half-check {
        color: $color-primary;
      }
      svg {
        &:focus {
          outline: none;
        }
      }
    }
    ol {
      padding-left: 0;
      border-left: none;
      margin: 0 0 rem(5) 0;
    }
    .rct-icon-expand-open {
      margin-right: 0.1em;
    }
    .svg-inline--fa.fa-w-14 {
      width: 1.1em;
      height: 1.1em;
    }
    .rct-node-expanded {
      .rct-text {
        label {
          .rct-checkbox {
            .svg-inline--fa.fa-w-14 {
              width: 1.1em;
              height: 1.1em;
            }
          }
        }
      }
    }
    // every dropdown
    .rct-node:nth-child(n) {
      // this is for search
      &.react-checkbox-tree__tier-zero {
        border-bottom: 1px solid $color-gray-lighter;
      }
      // this is for search
      &.react-checkbox-tree__tier-zero:last-child {
        border-bottom: none;
      }
      &.react-checkbox-tree__search-placeholder-child {
        display: none;
      }
      // parent nodes dont line up correctly to child nodes
      &.rct-node-collapsed {
        .rct-text {
          label {
            margin-left: rem(4);
          }
        }
      }
      .rct-text {
        width: 100%;
        @include align-items(flex-start);
        button:focus {
          box-shadow: none;
        }
        @include display(inline-flex);
        button {
          margin: 0;
        }
        .rct-bare-label,
        label {
          width: 100%;
          @include display(flex);
          margin-bottom: rem(8);
          .rct-checkbox {
            @include flex-direction(column);
          }
          .rct-title {
            width: 100%;
            @include display(flex);
          }
          .checkbox-tree-label {
            @include display(flex);
            @include flex-wrap(wrap);
            width: 100%;
            .checkbox-tree-label__value-container {
              @include display(inline-flex);
              .checkbox-tree-label__value-container-value {
                text-align: center;
                padding: 0 rem(3);
                background-color: $color-gray-lightest;
                border-radius: 2px;
                font-weight: $font-semibold;
                font-size: rem(14);
                .highlight {
                  background-color: rgb(252, 227, 160);
                }
              }
              .checkbox-tree-label__value-container-count {
                padding: rem(1.5) rem(7);
                border-radius: 3px;
                color: $color-gray-medium;
                font-style: italic;
                font-size: rem(12);
                .highlight {
                  background-color: transparent;
                }
              }
            }
            .checkbox-tree-label__label {
              @include flex-basis(100%);
              font-weight: $font-semibold;
              line-height: rem(18);
              padding-top: 2px;
              .highlight {
                background-color: rgb(252, 227, 160);
              }
            }
          }
        }
      }
      ol {
        padding-left: rem(12);
        margin-left: rem(4);
        border-left: 3px solid $color-gray-lighter;
        .rct-node { // first dropdown
          padding-bottom: 0;
          .rct-text {
            label {
              .checkbox-tree-label {
                .checkbox-tree-label__label {
                  font-weight: $font-normal;
                }
              }
            }
          }
          &.rct-node-expanded {
            border-bottom: none;
          }
          ol {
            border-left: 2px solid $color-gray-lighter;
            .rct-node { // second dropdown
              padding-bottom: 0;
              .rct-text {
                label {
                  .checkbox-tree-label {
                    .checkbox-tree-label__label {
                      font-weight: $font-normal;
                    }
                  }
                }
              }
              &.rct-node-expanded {
                border-bottom: none;
              }
              ol {
                border-left: 1px solid $color-gray-lighter;
                .rct-node { // third dropdown
                  padding-bottom: 0;
                    .rct-text {
                      label {
                        .checkbox-tree-label {
                          .checkbox-tree-label__label {
                            font-weight: $font-normal;
                          }
                        }
                      }
                    }
                  &.rct-node-expanded {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rct-collapse {
      color: $color-primary-darker;
      background-color: white;
      padding: 2px 0 0 0;
      align-self: flex-start;
      svg {
        opacity: 1;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
