@mixin comingSoon {
	.coming-soon-container {
		.coming-soon-icon {
	        bottom: rem(10px);
	        height: 0;
	        float: left;
	        left: rem(0px);
	        position: relative;
	        svg {
	            fill: $color-gray-lighter;
	            height: rem(10px);
	            width: rem(10px);
	        }
	    }
	    .coming-soon-label {
	        bottom: rem(6px);
	        color: $color-gray-lighter;
	        float: left;
	        font-weight: bold;
	        font-size: rem(10px);
	        height: 0;
	        left: rem(13px);
	        position: relative;
	    }
	}
    &:hover {
        cursor: default;
    }
    &:hover * {
        cursor: default;
    }
}
