@mixin comingSoon {
	.coming-soon-container {
		.coming-soon-icon {
	        bottom: pxToRem(10);
	        height: 0;
	        float: left;
	        left: pxToRem(0);
	        position: relative;
	        svg {
	            fill: $color-gray-lighter;
	            height: pxToRem(10);
	            width: pxToRem(10);
	        }
	    }
	    .coming-soon-label {
	        bottom: pxToRem(6);
	        color: $color-gray-lighter;
	        float: left;
	        font-weight: bold;
	        font-size: pxToRem(10);
	        height: 0;
	        left: pxToRem(13);
	        position: relative;
	    }
	}
    &:hover {
        cursor: default;
    }
    &:hover * {
        cursor: default;
    }
}
