@import './footer/_footerPrimary';
@import './footer/_footerMedium';
@import './footer/_footerSecondary';
@import './footer/_footerSlim';
@import './footer/_footerBig';
@import './footer/_footerSocial';

@mixin usa-footer {
    @include span-columns(16);
}

@mixin usa-unstyled-list {
    display: block;
}

@mixin usa-footer-topic {
    margin: 0;
    padding: rem(20) 0;
}

@mixin usa-footer-logo-img {
    max-width: rem(140);
}

@mixin usa-footer-logo-heading {
    margin-top: rem(20);
}

@mixin usa-footer-contact-heading {
    margin-top: 0;

    @include media($medium-screen) {
        margin-top: rem(10);
    }
}

@mixin usa-footer-contact-links {
    @include media($medium-screen) {
        text-align: right;
    }
}
