.footerLinkToAdvancedSearch {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: $color-primary-darkest;
    color: $color-white;
    padding: ($global-pad * 4) 0;
    position: relative;
    width: 100%;
    .footerLinkToAdvancedSearch__content {
        @include flex(1 1 auto);
        margin: 0 rem(20);
        h4,
        p {
            text-align: left;
            margin-left: rem(5);
        }
        h4 {
            font-size: rem(38);
            line-height: rem(47);
            margin: rem(5) 0;
        }
        p {
            font-size: rem(18);
            font-weight: $font-light;
            & strong {
                font-weight: $font-semibold;
            }
        }
        .footerLinkToAdvancedSearch__button {
            display: block;
            margin: rem(30) auto 0 auto;
            width: rem(180);
            height: rem(50);
            text-align: center;
            font-size: rem(24);
        }
    }
}
