.generic-error-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $gray-90;

  .error-message {
    text-align: center;
    color: $gray-2;

    .error-message__paragraph-one {
      font-size: $font-size-24;
      line-height: pxToRem(30);
      text-align: center;
      font-weight: $font-semibold;
      margin-bottom: pxToRem(4);
      margin-top: pxToRem(0);
    }

    .error-message__paragraph-two {
      font-size: $font-size-16;
      margin-top: pxToRem(4);
      color: $gray-10;
    }

    .error-message__button {
      background: none;
      border-radius: pxToRem(4);
      border: solid pxToRem(1) $gray-cool-10;
      color: $gray-cool-10;
      width: pxToRem(147);
      height: pxToRem(40);
      font-weight: $font-semibold;
      font-size: $font-size-16;
      padding: 0;
    }
  }
}