// Header variables ---------- //

$height-nav-secondary: 5rem;
$width-nav-sidebar:    250px;

// z-indexes - TODO refactor to a site-wide z-index management approach
$z-index-header:  7000;
$z-index-overlay: 8000;
$z-index-nav:     9000;


// Header ------------- //
@import './header/headerExtended';
@import './header/headerLogo';
@import './header/headerMegaMenu';
@import './header/headerMenuButton';
@import './header/headerNav';
@import './header/headerNavClose';
@import './header/headerOverlay';
@import './header/headerPrimaryNav';
@import './header/headerSecondaryNav';
@import './header/headerSubMenu';

@mixin usa-header {
  width: 100%;
  z-index: $z-index-header;

  h2 {
	  padding-left:1rem;
  }

  @include media($nav-width) {
    border-bottom: 1px solid $color-gray-light;
  }

  a {
    border-bottom: none;
  }

  @mixin usa-search {
    margin-bottom: 1.5rem;

    @include media($nav-width) {
      float: right;
      margin-bottom: 0;
      max-width: 21.5rem;
    }
  }
}
