.mobile-sort-toggle {
  display: flex;
  border-radius: 4px;
  border: 1px solid $gray-cool-10;
  right: pxToRem(24);
  position:absolute;

  @media(min-width: $tablet-screen) {
    max-height: pxToRem(46);
    margin-left: pxToRem(20);
  }

  @media(min-width: $medium-screen) {
    margin-top: 0;
  }

  // overriding the css in _viewTypeButton
  .view-button {
    margin: 0;
    padding: pxToRem(10);
    background-color: $color-white;
    color: $color-primary;
    border: solid 1px $color-primary;
    border-radius: 0;
    &.active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  button {
    height: pxToRem(40);
    width: pxToRem(48);
  }
  button:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  button:nth-of-type(2) {
    border-radius: 0 4px 4px 0;
  }
  svg {
    width: pxToRem(22);
    height: pxToRem(18);
  }
}