.new-badge {
  height: rem(24);
  width: rem(47);
  border-radius: rem(4);
  background-color: $color-secondary-dark;
  @include display(inline-flex);
  @include justify-content(center);
  @include align-items(center);
  font-size: rem(14);
  color: #FFF;
  font-weight: 600;
  margin-right: rem(35);
  @media(max-width: $medium-screen) {
    &.dropdown-item {
      margin: 0 0 0 rem(5);
    }
  }
  @include media($medium-screen) {
    &.dropdown-item {
      margin: auto;
    }
  }
}

.new-badge-outer {
  color: $color-secondary-dark;
  height: rem(14);
  width: rem(14);
  position: relative;
  margin-right: rem(4);
  margin-top: rem(4);

  @media(max-width: $medium-screen) {
    margin-right: rem(8);
    margin-bottom: rem(4);
  }

  svg {
    margin-bottom: rem(5);
    height: rem(10);
    width: rem(10);

    @media(max-width: $medium-screen) {
      position: absolute;
      top: rem(1);
      left: rem(1);
      height: rem(16);
      width: rem(16);
      margin-right: 8px;
    
    }
  }
}
