.new-badge {
  height: rem(24);
  width: rem(47);
  border-radius: rem(4);
  background-color: $color-secondary-dark;
  @include display(inline-flex);
  @include justify-content(center);
  @include align-items(center);
  font-size: rem(14);
  color: #FFF;
  font-weight: 600;
  margin-right: rem(35);
}

.covid-newbadge {
    height: rem(24);
    width: rem(47);
    border-radius: rem(4);
    background-color: $color-secondary-dark;
    @include display(inline-flex);
    @include justify-content(center);
    @include align-items(center);
    font-size: rem(14);
    color: #FFF;
    font-weight: 600;
    margin-left: rem(10);
}

.new-badge-outter {
  height: rem(14);
  width: rem(14);
  background-color: $color-secondary-dark;
  position: relative;
  border-radius: 50%;
  margin-right: rem(7);
}

.new-badge-middle {
  height: rem(12);
  width: rem(12);
  background-color: #fff;
  position: absolute;
  top: rem(1);
  left: rem(1);
  border-radius: 50%;
}

.new-badge-inner {
  height: rem(8);
  width: rem(8);
  background-color: $color-secondary-dark;
  position: absolute;
  top: rem(2);
  left: rem(2);
  border-radius: 50%;

}

