.pagination {
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
    .pagination__totals {
        @include flex(1 1 auto);
    }
    .pager {
        @include display(flex);
        @include flex(0 0 auto);
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        .pager__item {
            @include flex(0 0 auto);
            .pager__button {
                padding: rem(7) rem(10);
                background-color: $color-white;
                color: $color-gray;
                border: solid rem(1) $color-gray-light;
                font-style: normal;
                font-size: rem(12);
                margin: rem(5) rem(5) rem(5) 0;
                &:hover {
                    background-color: $color-primary-alt-lightest;
                }
                &.pager__button_disabled {
                    border-color: $color-gray-lighter;
                    color: $color-gray-light;
                    &:hover {
                        background-color: $color-white;
                        cursor: auto;
                    }
                }
                &.pager__button_active {
                    background-color: $color-primary-alt-dark;
                    color: $color-white;
                    border-color: $color-primary-alt-dark;
                }
            }
        }
        .pager__ellipsis {
            font-weight: bold;
            margin-top: 14px;
            margin-right: 5px;
        }
    }
}
