.usa-dt-picker__list {
    width: rem(141);
    box-shadow: 0 rem(2) rem(2) 0 rgba(0,0,0,0.5);
    border-radius: rem(3);
    .usa-dt-picker__list-item {
        border: none;
        border-radius: rem(3);
        height: rem(39);
    }
    .usa-dt-picker__item,
    .usa-dt-picker__item .active {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
        background: #FFF;
        font-size: rem(14);
        line-height: rem(16);
        color: #555555;
        &:hover {
            background: #EEEEEE;
            border: rem(1) solid #EEEEEE;
            cursor: pointer;
        }
        svg {
            margin-right: rem(12);
            font-size: rem(14);
        }
    }
}

.copy-confirmation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: rem(39);
    width: rem(140);
    background: #EEEEEE;
    border: rem(1) solid #EEEEEE;
    border-radius: rem(3);
    color: #555555;
    margin-right: rem(15);
    top: rem(36);
    right: rem(83);
    svg {
        margin: 0 rem(10);
    }
}