// TODO DEV-7122: This code is in the component library. We can delete it once we implement <PageHeader /> Everywhere.

.usa-dt-picker__list {
    width: rem(141);
    box-shadow: 0 rem(2) rem(2) 0 rgba(0,0,0,0.5);
    border-radius: rem(3);
    .usa-dt-picker__list-item {
        border: none;
        border-radius: rem(3);
        height: rem(39);
    }
    .usa-dt-picker__item,
    .usa-dt-picker__item .active {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
        background: $color-white;
        font-size: rem(14);
        line-height: rem(16);
        color: $color-gray;
        &:hover {
            background: $color-gray-lightest;
            border: rem(1) solid $color-gray-lightest;
            cursor: pointer;
        }
        svg {
            margin-right: rem(12);
            font-size: rem(14);
        }
    }
}

.copy-confirmation {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    position: absolute;
    height: rem(39);
    width: rem(140);
    background: $color-gray-lightest;
    border: rem(1) solid $color-gray-lightest;
    border-radius: rem(3);
    color: $color-gray;
    margin-right: rem(15);
    top: rem(36);
    right: rem(-7);
    svg {
        margin: 0 rem(10);
    }
}