.usa-profile-back-link__container {
    height: rem(18);
    width: 100%;
    top: 0px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 0.5%;
    margin-bottom: -1.25%;

    .usa-profile-back-link__list {
        display: inline-flex;
        gap: rem(4);
        line-height: $base-line-height;
        list-style: none;
        padding-left: 0;
        
        @media(min-width: $medium-screen) {
        margin: 0 rem(20);
        }
        @media(min-width: $large-screen) {
        margin: 0 rem(40);
        }
        @media(min-width: $x-large-screen) {
        margin: 0 auto;
        width: rem(1600);
        }

        li {
            font-size: $smallest-font-size;
            color: $blue-60v;
            @include button-unstyled;
            
            &.main {
                color: $gray-80;
            }
            
            a:visited {
                color: $blue-60v;
            }
            
            svg {
                width: rem(12);
                height: rem(12);
                color: $gray-60;
                aspect-ratio: 1/1;
                padding-right: rem(4);
            }
        }
    }
}