.rounded-toggle__wrapper {
  display:inline-flex;
  height: 24px;
  bottom: 0;
  .rounded-toggle__label {
      color: $color-base;
      font-weight: $font-semibold;
      font-size: rem(14);
      margin: 0;
      bottom: 0;
      margin-right: 8px;
  }
  .rounded-toggle__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    bottom: 0;
  }

  .rounded-toggle__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .rounded-toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7d8d9;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .rounded-toggle__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 1px solid $color-gray;
    background-color: $color-white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .rounded-toggle__slider {
    background-color: $color-primary !important;
  }

  input:focus + .rounded-toggle__slider {
    box-shadow: 0 0 4px $color-primary !important;
  }

  input:checked + .rounded-toggle__slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    border: 1px solid $color-gray !important;
  }

  .rounded-toggle__slider.rounded-toggle__round {
    border-radius: 34px;
  }

  .rounded-toggle__slider.rounded-toggle__round:before {
    border-radius: 50%;
  }
}
