$usa-btn-small-width:   4.5rem;
$usa-btn-medium-width:  8.5rem;
$usa-btn-big-width:     11.6rem;

@import './search/_searchForm';

@mixin search-icon {
    background-image: url('#{$image-path}/search.png');
    background-image: url('#{$image-path}/search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
}
