.spotlightCard-content {
  width: 100%;
  background-color: $color-white;
  //margin: 0;
  //padding: 0;
  min-height: 250px;

  .spotlightCard__icon-wrapper {
    width: 32px;
    height: 32px;
    background: $color-grayblack;
    text-align: center;
    border-radius: 4px;
    padding: $global-padding;
  }
  .spotlightCard__heading-wrapper {
    font-size: $h4-font-size;
    font-weight: $font-semibold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $color-grayblack;

    p {
      margin: 0;
    }
  }

  .spotlightCard__content-wrapper {
    font-size: $base-font-size;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $color-base;
    margin-bottom: $global-margin * 3;

    p {
      margin-bottom: 0;
    }
  }
  .spotlightCard__link-wrapper {
    font-size: $h5-font-size;
    font-weight: $font-semibold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $color-primary;

    a:hover {
      text-decoration: none;
    }
  }
}
