.svg-line__container {
  .svg-line {
    stroke: rgb(0,0,0);
    stroke-width: 1;
    opacity: 0.25;
    shape-rendering: auto;
    pointer-events: visible;
  }
  .svg-line__text {
    font-size: rem(12);
  }
  .rectangle-background {
     fill: white;
     pointer-events: visible;
  }
}
