.filter__dropdown-container {
    display: flex;
    width: auto;
    align-items: center;
    height: rem(60);

    @media(min-width: $medium-screen) {
        height: rem(48);
    }

    span[class^='filter__dropdown-label'] {
        font-weight: $font-semibold;
        line-height: 1.5;
    }

    span[class^=' filter__dropdown-label'].enabled {
        color: $gray-cool-10;
        opacity: 1;
        pointer-events: all;
    }

    .filter__dropdown-label-sm {
        margin-right: .75 * $global-margin;
        font-size: $font-size-14;
    }

    .filter__dropdown-label-md {
        margin-right: $global-margin;
        font-size: $font-size-16;
    }

    .filter__dropdown-label-lg {
        margin-right: 1.5 * $global-margin;
        font-size: $font-size-20;
    }

    .filter__dropdown-button-list-container {
        display: block;
        position: relative;

        button[class^='filter__dropdown-button'] {
            display: flex;
            line-height: 1.5;
            align-items: center;
            background-color: transparent;
            margin: 1.5 * $global-margin 0;
        }

        button[class^='filter__dropdown-button'].not-enabled {
            border: solid 2px rgba(251, 252, 253, 0.25); // $gray-cool-1 rgb value
            pointer-events: none;
            cursor:not-allowed;
            .filter__dropdown-left-icon {
                svg {
                    color: $gray-cool-10;
                    opacity: 0.5;
                }
            }

            .filter__dropdown-button-text {
                color: $gray-cool-1;
                opacity: 0.5;
            }

            .filter__dropdown-chevron {
                svg {
                    color: $gray-cool-10;
                    opacity: 0.5;
                }
            }
        }

        button[class^='filter__dropdown-button'].enabled {
            border: solid 2px rgba(251, 252, 253, 0.5); // $gray-cool-1 rgb value
            pointer-events: all;
            cursor: pointer;
            .filter__dropdown-left-icon {
                svg {
                    color: $gray-cool-10;
                    opacity: 1;
                }
            }

            .filter__dropdown-button-text {
                color: $gray-cool-1;
                opacity: 1;
            }

            .filter__dropdown-chevron {
                svg {
                    color: $gray-cool-10;
                    opacity: 1;
                }
            }
        }

        .filter__dropdown-button-sm {
            height: rem(32);
            padding: rem(5.5) 1.5 * $global-padding;
            border-radius: 3px;

            .filter__dropdown-left-icon {
                margin-right: .75 * $global-margin;
                width: rem(12);
            }

            .filter__dropdown-button-text {
                margin-right: .75 * $global-margin;
            }

            .filter__dropdown-chevron {
                padding-top: rem(1);
                width: rem(10);
            }
        }

        .filter__dropdown-button-md {
            height: rem(40);
            padding: $global-padding 2 * $global-padding;
            border-radius: 4px;

            .filter__dropdown-left-icon {
                margin-right: $global-margin;
                width: rem(14);
            }

            .filter__dropdown-button-text {
                margin-right: $global-margin;
            }

            .filter__dropdown-chevron {
                width: rem(12);
            }
        }

        .filter__dropdown-button-lg {
            height: rem(56);
            padding: rem(13) 3 * $global-padding;
            border-radius: 6px;

            .filter__dropdown-left-icon {
                margin-right: 1.5 * $global-margin;
                width: rem(18);
            }

            .filter__dropdown-button-text {
                margin-right: 1.5 * $global-margin;
            }

            .filter__dropdown-chevron {
                width: rem(16);
            }
        }

        ul[class^='filter__dropdown-list'] {
            @include unstyled-list;
            z-index: 99;
            display: block;
            position: absolute;
            overflow: hidden;
            width: 100%;
            line-height: rem(21);

            .filter__dropdown-list-item {
                display: flex;
                align-items: center;

                &:hover {
                    background-color: $gray-cool-3;
                    cursor: pointer;
                }

                .filter__dropdown-item {
                    @include button-unstyled;
                    font-weight: $font-semibold;
                    color: $gray-60;
                    display: block;
                    width: 100%;
                    margin: 0 !important;
                }
            }

            .filter__dropdown-list-item.active {
                background-color: $gray-cool-5;
            }

            .filter__dropdown-list-item.active:hover {
                background-color: $gray-cool-10;
            }
        }

        ul[class^='filter__dropdown-list'].enabled {
            background-color: $color-white;
            border: solid 2px $gray-cool-10;
        }

        .filter__dropdown-list-sm {
            border-radius: 3px;

            li {
                // need this height to make the line height and padding values work
                // will add for md and lg when we have a practical example
                height: rem(32);

                // will have to adjust padding top and bottom and add line height and margin
                // to button when we have a real world example for md and lg
                button {
                    font-size: $font-size-14;
                    line-height: rem(21);
                    // need important to overwrite button unstyled styling
                    margin: rem(5.5) 0 !important;
                    padding-left: 1.5 * $global-padding;
                    padding-right: 1.5 * $global-padding;
                }
            }
        }

        .filter__dropdown-list-md {
            border-radius: 4px;

            li {
                padding-top: rem(8);
                padding-bottom: rem(8);
                // may have to adjust left padding to align text but better to have
                // an example first

                button {
                    font-size: $font-size-16;
                    padding-left: 2 * $global-padding;
                    padding-right: 2 * $global-padding;
                }
            }
        }

        .filter__dropdown-list-lg {
            border-radius: 6px;

            li {
                padding-top: rem(13);
                padding-bottom: rem(13);
                // may have to adjust left padding to align text but better to have
                // an example first

                button {
                    font-size: $font-size-20;
                    padding-left: 3 * $global-padding;
                    padding-right: 3 * $global-padding;
                }
            }
        }

        // supplemental class only for fy picker to align text
        ul.numeric-picker__dropdown {
            transform: translateY(-12px);
            li {
                button {
                    padding-left: rem(30) !important;
                }
            }
        }
    }
}