.topcard-content {
  border-radius: 8px;
  margin: $global-padding * 3;
  @media (min-width: $medium-screen) {
    display: flex;
    align-items: center;
  }

  @media (max-width: $small-screen) {
    margin: 0;
  }
  min-height: 250px;
  box-shadow: $shadow-3;

  .topCard__image-wrapper {
    border-radius: 8px;
    @media (max-width: $medium-screen) {
      margin-bottom: rem(16);
    }

    .topCard__image-background {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 240px;
      display: flex;
      justify-content: center;
    }
  }

  .topCard__content-wrapper {
    padding: 32px 24px 24px;
    .topCard__heading-wrapper {
      margin-left: 0;
      font-size: $h4-font-size;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $color-grayblack;

      p {
        margin: 0;
      }
    }
    
    .topCard__text-wrapper {
      font-size: $base-font-size;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $color-base;
      margin-bottom: $global-margin * 3;
      margin-top: $global-margin * 2;
      p {
        margin-bottom: 0;
      }
      .readMoreUpdated__contract-button{
        @include button-unstyled;
        font-weight: $font-semibold;
        color: $color-primary;
        margin: 0 4px 0 0;
        font-size: rem(14);
        line-height: 1.5;

        &:hover {
          color: $color-primary-darker;
        }

        &:active {
          color: $color-primary-darkest;
        }
      }
      .readMoreUpdated__expand-button {
        @include button-unstyled;
        font-weight: $font-semibold;
        color: $color-primary;
        margin: 0 4px 0 0;
        font-size: rem(14);
        line-height: 1.5;

        &:hover {
          color: $color-primary-darker;
        }

        &:active {
          color: $color-primary-darkest;
        }
      }
    }
    .topCard__button-wrapper {
      font-size: $h5-font-size;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $color-primary;
      margin: 0;
      a:hover {
        text-decoration: none;
      }

      button {
        margin: 0;
      }
    }
  }
}
