.topcard-content {
  border-radius: 8px;
  margin: $global-padding * 3;
  @media (min-width: $medium-screen) {
    display: flex;
    align-items: center;
  }
  min-height: 250px;
  box-shadow: $shadow-3;

  .topCard__image-wrapper {
    border-radius: 8px;
    @media (max-width: $medium-screen) {
      margin-bottom: rem(16);
    }

    .topCard__image {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 240px;
    }
  }

  .topCard__content-wrapper {
    padding: 32px 24px 24px;
    .topCard__heading-wrapper {
      margin-left: 0;
      font-size: $h4-font-size;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $color-grayblack;

      p {
        margin: 0;
      }
    }
    
    .topCard__text-wrapper {
      font-size: $base-font-size;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $color-base;
      margin-bottom: $global-margin * 3;

      p {
        margin-bottom: 0;
      }
    }
    .topCard__button-wrapper {
      font-size: $h5-font-size;
      font-weight: $font-semibold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $color-primary;

      a:hover {
        text-decoration: none;
      }
    }
  }
}
