//UNDERLINED BUTTON STYLE
//@import "../../elements/underlineButton";
//@include underlineButton();
@mixin underlineButton {
    button {
        @include button-unstyled;
        border-bottom: rem(4) solid transparent;
        color: #808288;
        font-size: rem(14);
        font-weight: $font-semibold;
        line-height: rem(18);
        padding: 0 rem(10) rem(5);
        &:hover {
            border-bottom: rem(4) solid darken( $color-primary-alt-lightest, 15%);
            color: lighten($color-gray-dark, 15%);
            @include transition(all 0.25s $ease-in-out-sine);
        }
        &.active,
        &:active {
            border-bottom: rem(4) solid $color-primary-alt-dark;
            color: $color-gray-dark;
        }
    }
}