.unlinked-award-warning {
  height: 100%;
  margin-bottom: $global-margin * 3;
  background-color: $color-gold-lightest;
  border: $color-gold-lighter solid 1px;
  border-left: $color-gold-light solid 8px;
}
