.youtube-main-container{
    background-color: #ccecf2 !important;
    padding: rem(32) rem(146);
    width: 100%;
    height: rem(464);
    margin: rem(99) rem(0) rem(64); 
}

    // .youtube-img-container{
    //     background-color: #ccecf2;
    //     width: rem(652);
    //     height: rem(400);
    //     margin: 0 rem(32) 0 0;
    //     padding: rem(16) rem(78) rem(16);
    //     float: left;
    // }

    // .youtube-info-container{
    //     width: rem(424);
        
    //     .youtube-resources{
    //         width: rem(424);
    //         height: rem(24);
    //         margin: 0 0 rem(8);
    //         font-size: $font-size-16;
    //         color: $gray-60;
    //     }
    //     .youtube-header{
    //         width: rem(424);
    //         height: rem(60);
    //         margin: rem(8) 0 rem(16);
    //         font-size: $font-size-48;
    //         color: $gray-90;
    //     }
    //     .youtube-body{
    //         height: rem(90);
    //         margin: rem(16) 0 rem(24);
    //         font-size: $font-size-20;
    //         color: $gray-60;
    //     }
    // }