.header-sorter {
    .header-sorter__button {
        @include button-unstyled;
        width: rem(11);
        height: rem(11);
        display: block;

        svg {
            fill: #86888E;
            height: rem(11);
            width: rem(11);
        }

        &.header-sorter__button_active {
            svg {
                fill: $color-gold;
            }
        }
    }
}