.status-of-funds__visualization {
    // all css for the status of funds accordion is in the index.scss for the agency page

    .usda-message_loading {
        @media(max-width: $tablet-screen) {
            margin-top: rem(24);
        }
    }
    .status-of-funds__controls-mobile {
        margin-bottom: 16px;

            .status-of-funds__controls-mobile-row-one {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .rounded-toggle__wrapper {
                align-self: center;
            }
        }
    }
    .status-of-funds__controls {
        .status-of-funds__controls-desktop-row-one {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(min-width: $tablet-screen) {
                margin: rem(24) 0 rem(8);
            }
            @media(min-width: $large-screen) {
                margin: rem(16) 0 rem(24) rem(32);
            }
        }

        .status-of-funds__controls-desktop-row-two {
            @media(min-width: $large-screen) {
                display: flex;
                justify-content: end;
            }

            .rounded-toggle__wrapper {
                @media(min-width: $tablet-screen) {
                    margin-bottom: rem(6);
                }
                @media(min-width: $large-screen) {
                    margin-bottom: 0;
                }
            }

            .status-of-funds__line-div {
                @media(min-width: $large-screen) {
                    border-right: 1px solid $color-gray-lighter;
                    line-height: 24px;
                    height: 24px;
                    margin-left: 8px;
                }
            }
        }
    }

    .status-of-funds__what-content {
        border-left: 4px solid $color-primary-alt-light;
        border-top: 1px solid $color-primary-alt-light;
        border-right: 1px solid $color-primary-alt-light;
        border-bottom: 1px solid $color-primary-alt-light;
        background-color: #e0f3f8;
        padding: 24px 16px;
        margin-left: 24px;
        margin-right: 8px;
        margin-bottom: 16px;
        @media(max-width: $tablet-screen) {
            margin-left: 0;
            margin-right: 0;
        }
        @media(min-width: $tablet-screen) and (max-width: $medium-screen) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 32px;
        }
        .status-of-funds__what-heading {
            font-size: rem(16);
            font-weight: $font-semibold;
            display: inline-block;
            margin: 0;
            margin-left: 18px;
            color: $gray-90;
        }

        .status-of-funds__what-second-heading {
            font-size: rem(16);
            font-weight: $font-semibold;
            display: inline-block;
            color: $gray-90;
            margin: 24px 16px 0 40px;
        }

        .status-of-funds__what-text {
            margin-left: 40px;
            font-size: rem(14);
            color: $color-base;
            margin-bottom: 0;
            margin-right: 16px;
            margin-top: 8px;
        }
    }

    .status-of-funds__info-icon {
        height: 20px;
        width: 20px;
        color: #00bfe7;
    }

    .usda-glossary-link{
        color: $color-gray-light;
        &:hover, &:active, &:focus, &:visited {
            color: $color-gray-medium;
        }
    }

    .status-of-funds__controls-heading-container {
        display: flex;
        flex-wrap: wrap;
        margin: rem(8) 0;
        @media(min-width: $tablet-screen) {
            margin: 0;
        }

        .status-of-funds__controls-heading {
            font-size: rem(20);
            font-weight: $font-normal;
            color: $gray-90;
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            &.emphasis {
                white-space: nowrap;
                font-weight: $font-semibold;
            }
        }
        .status-of-funds__chart-picker {
            font-size: $font-size-24;
            text-align: center;
            border-radius: 4px;
            border: solid 2px $gray-cool-10;
            background-color: $color-white;
            color: $gray-cool-60;
            margin: 0 rem(6);
            height: rem(36);

            .usa-dt-picker__button {
                padding: rem(4) rem(10);
                margin: 0;

                .usa-dt-picker__button-text {
                    font-size: $font-size-16;
                    font-weight: $font-semibold;
                    line-height: 1.5;
                    color: $gray-cool-60;
                    white-space: nowrap;
                }
                .usa-dt-picker__button-icon {
                    width: 13px;
                    height: 13px;
                    margin-bottom: 6px;
                    flex-basis: unset;
                }
                .svg-inline--fa {
                    color: $theme-color-1;
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }

    .usa-dt-picker__list {
        overflow: hidden;
    }

    .usa-dt-picker__dropdown-container {
        width: rem(156);
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__list-item {
        border-top: none;
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__button .usa-dt-picker__button-text, .usa-dt-picker .usa-dt-picker__item {
        font-size: $font-size-16;
        font-weight: $font-semibold;
        line-height: 1.5;
        color: $gray-cool-60;
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__item:hover {
        background-color: $gray-cool-3;
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__item.active {
        color: $gray-cool-60;
        background-color: $gray-cool-5;
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__item.active:hover {
        background-color: $gray-cool-10;
    }

    .usa-dt-picker .usa-dt-picker__dropdown-container .usa-dt-picker__list .usa-dt-picker__item:focus {
        background-color: $gray-cool-3;
    }


    .usa-dt-pagination__totals {
        @media(min-width: $large-screen) {
            margin-left: rem(32);
        }
    }
    .drilldown-back-button {
        @media(max-width: $medium-screen) {
            margin-top: rem(24);
        }
        @media(min-width: $large-screen) {
            margin-left: rem(32);
        }
        font-size: rem(16);
        padding: 0;
        border: none;
        background: none;
        color: $color-primary;
    }
    .status-of-funds__visualization-chart {
        @media(min-width: $large-screen) {
            margin-left: rem(20);
        }
        svg {
            height: 100% !important;
            width: 100% !important;
        }
        .parent-g { visibility: hidden; rect#hlines { fill-opacity: 0; }}
        .parent-g > * { visibility: visible; rect#hlines { fill-opacity: 0; }}
        .parent-g > * { transition: opacity 150ms ease-in-out 100ms; }
        .parent-g:hover > * { opacity: 0.4; }
        .parent-g > *:hover { cursor: pointer; opacity: 1; transition-delay: 0ms, 0ms; rect#hlines { filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1)); fill-opacity: 1; stroke: 1px }}

        text.y-axis-labels {
            font-size: rem(20);
            @media(max-width: 1499px) {
                font-size: rem(23);
            }
            @media(max-width: 1199px) {
                font-size: rem(30);
            }
            @media(max-width: $medium-screen) {
                font-size: rem(28);
            }
            @media(max-width: 599px) {
                font-size: rem(40);
            }
            @media(max-width: 350px) {
                font-size: rem(44);
            }
        }
    }
    .tickLines-vertical {
        line {
            stroke: $color-gray-lightest;
        }
        .tick:first-of-type {
            line {
                stroke: none;
                fill: none;
            }
        }
    }
    .status-of-funds__visualization-table-container {
        .usda-table {
            // this was added after the dtui table styles were changed for the new search page
            th, td {
                // we need to get rid of the black borders that will appear
                border: 0;
                // and replace them with this gray border
                border: solid 1px $color-gray-border;
            }
        }

        .usda-table__cell {
            word-break: normal;
        }

        &.not-max-level {
            .usda-table__row-item {
                &:hover {
                    cursor: pointer;
                    .usda-table__cell {
                        background-color: $color-primary-alt-lightest;
                    }
                }
            }
        }

        @media(min-width: $tablet-screen) {
            .table-header__label {
                max-width: none;
            }
        }

            @media(min-width: $large-screen) {
            margin-left: rem(32);

            .usda-table {
                margin: rem(20) 0;
            }
        }
    }
}
