.additional-group {
    margin-top: 35px;
    @include clearfix();

    .left-side {
        @include span-columns(4);
    }

    .right-side {
        @include span-columns(12);
    }

    h4.additional-title {
        font-size: 30px;
        line-height: 38px;
        margin: 0;
    }

    .additional-row {
        display: table;
        width: 100%;

        font-size: 14px;
        line-height: 18px;

        &:nth-child(odd) {
            background-color: $color-gray-lightest;
        }

        .row-title {
            display: table-cell;
            width: 33%;

            font-weight: 600;

            padding: 1.4rem;
        }

        .row-value {
            display: table-cell;
            width: 67%;

            padding: 1.4rem;
        }
    }
}