.financial-system-content {
    .disclaimer {
        margin-top: 35px;
        margin-bottom: 35px;

        font-weight: 600;
        font-size: rem(14);
        color: $color-gray;
    }


    .table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }
}