@use "sass:math";

.tables-section {
    display: block;
    width: 100%;
    margin-top: rem(20);
    margin-bottom: rem(20);
    transition: opacity 0.25s ease;
    z-index: 15;
    .usa-dt-tab:focus {
        outline: none;
    }
    @media (min-width: $tablet-screen) {
        .usa-dt-tab-list {
          overflow-x: visible;
          overflow-y: visible;
        }
        .award-summary-tooltip{
            .tooltip__title {
                display: none;
            }
            .tooltip__text {
                white-space: normal;
                padding: 0;
            }
        }
        .tooltip__text {
            white-space: normal;
        }
    }
    .tooltip-wrapper {
        display: none;
        @media (min-width: $tablet-screen) {
            @include display(flex);
            white-space: normal;
        }
    }

    .tables-width-master {
        width: 100%;
    }

    .table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    @import "pages/award/table/_table";
    @import "pages/search/results/table/_tableTypes";
    @import "pages/search/results/table/_resultsTablePicker";

    @import "../../search/results/table/tableMessages";

    .table-types {
        @include display(flex);
        @media (max-width: $tablet-screen) {
            display: none;
        }

        .table-type-toggle {
            @include display(flex);
            .tab-content span {
                margin-right: math.div($global-mrg, 3);
            }
        }
    }

    .results-table-message-container {
        position: relative;
        .results-table-no-results {
            .description {
                display: none;
            }
        }
    }

    .field-picker {
        float: none;
        display: block;

        @include media($tablet-screen) {
            display: none;
        }


        .field-list {
            z-index: $z-header - 1;
        }
    }
}
