.table-tabs {
    border-bottom: rem(1) solid $color-gray-light;
    padding-left: rem(15);
    display: none;
    @include media($tablet-screen) {
        display: block;
    }
    button.table-tab-toggle {
        border: rem(1) solid transparent;
        border-bottom: rem(1) solid $color-gray-light;
        color: $color-gray-dark;
        background-color: $color-tab-inactive;
        font-size: $base-font-size;
        font-weight: normal;
        height: rem(31);
        margin-bottom: 0;
        margin-right: rem(2);
        padding: rem(15);
        min-width: rem(97);
        height: rem(50);
        vertical-align: middle;
        position: relative;
        top: 1px;
        &:hover {
            @include transition(all 0.3s ease-in-out);
            background-color: darken($color-gray-lightest, 5%);
        }
        &.active {
            background-color: $color-white;
            border: rem(1) solid $color-gray-light;
            border-bottom: rem(1) solid $color-white;
            color: $color-base;
        }
    }
}