.contract-details-table-section {
    @include clearfix();
    float: left;
    display: block;
    width: 100%;
    margin-top: rem(40);
    margin-bottom: rem(20);
    padding: rem(3) rem(35);
    transition: opacity 0.25s ease;

    @import "_tableTabs";

    .details-table-width-master {
        width: 100%;
    }

    .table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    @import "./_table";
    @import "./_financialSystem";
    @import "./_additionalDetails";
    @import "./_subawards";
}