.award-description {
    .award-description__content {
        font-size: $small-font-size;
        .award-description__description {

            .award-description__button {
                @include button-unstyled;
                @include display(flex);
                color: $color-link;
                .award-description__button-icon {
                    padding-left: rem(5);
                    svg {
                        height: rem(15);
                        width: rem(15);
                        fill: $color-link;
                    }
                }
            }
        }
        .award-description__naics-psc {
            @include display(flex);
            .naics-psc__section {
                @include flex(0 0 50%);
                padding-right: rem(10);
                &.naics-psc__section_psc {
                    padding-right: 0;
                    padding-left: rem(10);
                }
                .naics-psc__heading {
                    min-height: 72px;
                    @media(min-width: $tablet-screen) {
                        min-height: 36px;
                    }
                }
                .line-tree-psc,
                .line-tree-naics {
                    padding: 0;
                    .line-tree__section {
                        border-left: 3px solid #979797;
                        &:nth-child(1) {
                            padding-left: 20px;
                        }
                        &:nth-child(2) {
                            padding-left: 40px;
                        }
                        &:nth-last-child() {
                            border-left: none;
                        }
                        span {
                            color: #555555;
                        }
                    }
                }
            }
            .naics-psc__heading {
                font-weight: $font-semibold;
                @include display(flex);
                .naics-psc__icon {
                    @include flex(0 0 auto);
                    padding-left: rem(5);
                    svg {
                        height: rem(12);
                        width: rem(15);
                        fill: $color-gray-light;
                    }
                }
            }
        }
    }
}