.usa-da-account-page {
    @import "all";
    @import "layouts/search/search";
    @import "layouts/default/stickyHeader/header";
    @import "./header/options";

    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC;
    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 4), ($global-mrg * 4));
        padding:  0;
        @import "./overview/overview";
        @import "./results/searchResults";
    }
}