.usa-da-account-page {
    @import "layouts/search/search";
    @include searchLayout;

    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC;

    @import "./header/header";

    .main-content {
        @include outer-container();

        padding: 3rem;
        @import "./overview/overview";

        @import "./results/searchResults";
    }
}