.award-summary-tooltip {
    width: 100%;
    .tooltip__title,
    .tooltip__text {
        text-align: left;
    }
    &.covid-19 {
        @include display(flex);
        @include flex-direction(column);
        .tooltip__title {
            @include justify-content(center);
        }
    }
}

.related-awards-tt {
    p:nth-of-type(2) {
        padding-bottom:0;
        margin-bottom: 0;
    }
}
.transaction-history-tt {
    p:nth-of-type(3) {
        margin-bottom: 0;
    }
}
.award-amounts-tt {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    .tooltip__title {
        width: 100%;
        margin-bottom: $global-mrg / 2;
        text-align: center;
    }
    .tooltip__text {
        padding: rem(12) rem(23);
    }
    .tooltip__list li {
        font-style: italic;
    }
}

.tooltip__message .award-amounts-tt {
    .tooltip__amount--loans {
        font-size: $base-font-size * 1.25;
        font-weight: bold;
        margin: 0;
    }
    .info-tooltip__list {
        @include display(flex);
        @include flex-wrap(wrap);
        @include flex-direction(column);
        &.award-desciption-section {
            // the list in the award description section
            li:last-of-type {
                margin-top: rem(14);
            }
            .info-tooltip__list {
                // nested list in this section
                padding-left: rem(15);
                li:last-of-type {
                    margin-top: 0;
                }
            }
        }
        li {
            margin: 0;
            margin-right: rem(5);
            padding: 0;
        }
    }
}
