.tooltip-wrapper {
    @include media($tablet-screen) {
        @include display(flex);
    }
    div:first-of-type {
        .tooltip-spacer .tooltip .tooltip__interior .tooltip-pointer {
            &.left {
                left: pxToRem(-8);
            }
            &.right {
                right: pxToRem(-8);
            }
        }
    }
    &.award-amounts-tt__wrapper div:first-of-type {
        width: 100%;
        height: 100%;
    }
    &.award-section-tt div:first-of-type {
        @include flex-direction(column)
    }
    .tooltip__content {
        @import './customTooltipContent';

        // dtui override to fix 7px to 8px
        .tooltip__text {
            p,
            strong {
                margin: pxToRem(8) 0;
            }
            > *:first-child,
            > *:last-child {
                margin: 0;
            }
            > *:first-child:nth-last-child(2) { // if only two items
                // set first childs margin bottom
                margin-bottom: pxToRem(8);
            }
        }
    }

    .tooltip .tooltip__interior .tooltip-pointer.bottom {
        top: pxToRem(-8);
    }
}

