.tooltip-wrapper {
    div:first-of-type {
        @include display(flex);
    }
    &.award-amounts-tt__wrapper div:first-of-type {
        width: 100%;
        height: 100%;
    }
    &.award-section-tt div:first-of-type {
        @include flex-direction(column)
    }
    .tooltip__content {
        @import './customTooltipContent';
    }
}
