.download-hover-spacer {
    // BODGE: add a wrapper that goes from the button to the edges of the hover in order to make it clickable
    position: absolute;
    top: pxToRem(-18);
    left: pxToRem(-290);
    width: pxToRem(290);
    height: pxToRem(90);
    z-index: $z-modal - 2;
}
.download-hover {
    margin-right: pxToRem(20);
    z-index: $z-modal - 1;

    width: pxToRem(270);
    height: pxToRem(90);

    .download-hover-interior {
        position: relative;
    }

    .hover-content {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        position: relative;

        background-color: $color-gold-lightest;
        border: 1px solid $color-gold-light;
        box-shadow: $box-shadow;

        padding: pxToRem(10);

        .icon {
            @include flex(0 0 auto);
            @include align-self(flex-start);
            width: pxToRem(25);
            height: pxToRem(25);
            margin-right: pxToRem(10);
            svg {
                fill: $color-gold;
                width: pxToRem(25);
                height: pxToRem(25);
            }
        }

        .message {
            @include flex(1 1 auto);
            text-align: left;
            color: $color-base;
            font-size: $smallest-font-size;

            a {
                text-decoration: underline;
                color: $color-primary;
                font-weight: $font-semibold;

                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
    }

    // inherit from the standard tooltip arrow style
    $color-tooltip-border: $color-gold-light;
    @import "components/visualizations/tooltip/_arrow";
    .tooltip-pointer {
        // override the coloring
        &:after {
            background: $color-gold-lightest;
        }

        &.right {
            top: pxToRem(32);
            right: pxToRem(-8);
        }
    }
}