$search-header-height: rem(66);

.search-header-wrapper {
    position: relative;
    height: $search-header-height;
}

.search-header-container {
    width: 100%;
    background-color: #4A4A4A;
    color: $color-white;
    // bottom shadow cast on the content
    box-shadow: 0 2px 2px rgba(0,0,0,.3);

    &.sticky {
        @include media($medium-screen) {
            position: fixed;
            top: 0;
            z-index: $z-header;
        }
    }

    .search-header {
        @import "mixins/fullSectionWrap";
        @include fullSectionWrap(0, 0);
        @include display(flex);
        @include justify-content(space-between);
        @include flex-direction(row);
        @include align-items(center);
        @include align-self(stretch);
        @include flex-flow(row wrap);
        position: relative;

        height: $search-header-height;

        .search-title {
            @include flex(1 1 auto);
            h1 {
                font-size: rem(24);
                line-height: rem(31);
                font-weight: $font-semibold;
                margin: 0;
            }
        }

        .search-options {
            @include flex(0 0 auto);
            @import "./_downloadButton";
        }
    }
}