.transactions-over-time {
    @import "chart/barChart";
    @import "./_period";

    .visualization-tooltip {
        @import "components/visualizations/tooltip/_dataVizTooltip";
    }

    .results-visualization-message {
        margin-top: rem(10);
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    .state-visualization__time-wrapper {
        height: rem(350);

        // Applies styles to the tooltip
        @import "pages/search/results/visualizations/time/timeVisualization";

        .recharts-cartesian-axis-line {
            stroke: $gray-cool-10;
        }
    }
}
