
.state-visualization {
    @import "pages/search/results/visualizations/time/chart/barChart";
    @import "./_period";

    margin: 0 rem(20) rem(20) rem(20);

    .state-visualization__title {
        @include h3;
        margin: 0;
    }

    .state-visualization__header {
        margin-bottom: rem(20);
    }

    .visualization-tooltip {
        @import "components/visualizations/tooltip/_tooltip";
    }

    .state-visualization__description {
        width: 100%;
        margin-bottom: rem(20);
     }

    .state-visualization__time-wrapper {
        min-height: rem(304);
    } 
}
