.state-visualization-top {
    @import "components/visualizations/_period";
    margin-bottom: rem(20);
    
    
    .state-visualization-top__description {
       width: 100%;
       margin-bottom: rem(20);
    }

    .visualization-period {
        @include display(flex);
        @include justify-content(flex-end);
        @include media($medium-screen) {
            width: 50%;
        }
    }
}
