.state-visualization-top {
    
    margin-bottom: rem(20);
    @import "components/visualizations/_period";
    @import "components/visualizations/_description";
    .state-visualization__description {
       width: 100%;
       margin-bottom: rem(20);
    }

    .visualization-period {
       
        @include display(flex);
        @include justify-content(flex-end);
        @include media($medium-screen) {
            width: 50%;
        }
    }
}
