ul.toggle-buttons {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: -2rem;
    margin-top: 0 !important;

    li {
        display: inline;

        button.date-toggle {
            border-left: 1px solid $color-gray-lighter;
            border-right: 1px solid $color-gray-lighter;
            border-top: 1px solid $color-gray-lighter;
            border-bottom: 1px solid $color-white;
            background-color: $color-white;
            color: $color-gray;
            font-size: $smallest-font-size;
            font-weight:normal;
            height: 31px;
            margin-bottom: 0;
            padding: 0;
            width: 75px;
            z-index: 9000;
        }

        button.inactive {
            background-color: $color-gray;
            border-left: 1px solid $color-gray;
            border-right: 1px solid $color-gray;
            border-top: 1px solid $color-gray;
            border-bottom: 1px solid $color-gray-lighter;
            color: $color-white;
        }

        @include media($large-screen){
            button.date-toggle {
                font-size: $small-font-size;
                width: 97px;
            }
        }
    }
}
