.tab-filter-wrap {
  .filter-item-wrap {
    @import 'elements/_inputs';
    @import 'elements/_labels';
    @import 'elements/filters/_errorMessage';
    @import 'components/_alerts';
    @import 'components/datePicker/_datePicker';
    @import './_toggleButtons';
    @import "elements/filters/_selectedFilterBtn";
    @import "mixins/selectedFilterWrap";
    @import "../_singleSubmit";

    padding: 0 $global-pad rem(20);

    .fiscal-years-with-chips {
      display: flex;
      flex-wrap: wrap;
      margin-top: $global-margin * 2;

      // dtui Button overrides
      .button-type__tertiary-light {
        color: $gray-90;
        font-size: $font-size-12;
        white-space: nowrap;
        padding: 0;
        justify-content: center;
        height: rem(28);
        width: rem(58);
        margin: 0 rem(4) rem(4) 0;

        &:hover {
          background-color: $gray-cool-5;
        }

        &.selected {
          border: solid 1px $theme-color-1;
          background-color: $theme-color-1;
          color: white;
          font-weight: $font-semibold;

          &:hover {
            border: solid 1px $blue-vivid-70;
            background-color: $blue-vivid-70;
          }
        }
      }
    }

    .new-awards-wrapper {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin: rem(20) 0 0 0;

      // this inactive class refers to the 'activeClassDR' var in TimePeriod.jsx; used here to left-align the new awards only checkbox in both Time Period and Date Range tabs
      &.inactive {
        margin: rem(15) 0 0 rem(15);
      }

      @import '../../tooltips';

      .new-awards-checkbox {
        @include usa-input-checkbox;
        height: rem(14);
        width: rem(14);
        cursor: pointer;

        &.not-active {
          opacity: 0.5;
          cursor: default;
        }
      }

      .new-awards-label {
        margin-left: rem(6);
        font-size: rem(12);
        cursor: pointer;

        &.not-active {
          opacity: 0.5;
          cursor: default;
        }

        @include media($large-screen) {
          font-size: $small-font-size;
        }
      }

      .tooltip-wrapper {
        svg {
          width: rem(15);
          height: rem(15);
        }
      }
    }

    .fiscal-years,
    .date-range-option {
      border-top: 1px solid $color-gray-lighter;
      padding: 0;
      margin-top: -1px;
      z-index: 1;
    }

    .date-range-option {
      @include grid-container;
      margin-left: auto;
      margin-right: auto;

      input {
        @include usa-input;
      }

      .date-range-wrapper {
        margin-top: rem(25);

        .generate-datepicker {
          .generate-datepicker__label {
            text-transform: uppercase;
            display: block;
            font-size: $font-size-10;
            font-weight: $font-semibold;
            line-height: 1.5;
            color: $gray-60;
            margin-bottom: .5 * $global-margin;
          }

          input {
            @include placeholder {
              color: $gray-60;
            }

            line-height: 1.5;
            border-radius: 3px;
            border: solid 1px $gray-cool-10 !important;
            padding: 7px 8px;
          }
        }

        .set-date-submit {
          @include singleSubmit;

          @include media($large-screen) {
            @include flex(0 0 auto);
            margin: 0;
            margin-bottom: rem(3);
          }

          @media(min-width: 1355px) {
            @include align-self(flex-end);
          }

          @media (max-width: 1355px) {
            margin-top: rem(15);
          }

          @media (min-width: $medium-screen) and (max-width: 1355px) {
            width: 100%;
            align-self: center;
          }
        }
      }
    }

    .date-range__warning {
      margin-top: $global-margin;
      line-height: 1.5;
      position: relative;

      .date-range__invalid {
        font-size: $font-size-12;
        font-weight: $font-semibold;
        color: $color-secondary-vivid;
      }

      ul {
        margin-top: .5 * $global-margin;
        padding: 0;
        margin-left: 1.5 * $global-margin;

        li {
          font-size: $font-size-10;
          line-height: 1.5;
          color: $color-secondary-vivid;
          list-style-type: disc;
          margin-left: $global-margin;
        }
      }
    }

    .selected-filters {
      @include selected-filter-wrap;
    }
  }
}