.award-spending {
    max-width: 1200px;
    width: 100%;

    .award-spending__tabs_primary {
        @import "pages/search/results/table/_tableTypes";
        @include display(flex);

        .table-type-toggle {
            white-space: nowrap;
        }

        .usa-dt-picker {
            height: rem(50);
            background-color: $color-tab-inactive;
            border-bottom: 1px solid $color-gray-light;
            @include display(flex);
            flex-shrink: 0;

            &:hover{
                @include transition(all 0.3s ease-in-out);
                background-color: darken($color-gray-lightest, 5%);
            }
            &.active {
                background-color: $color-white;
                border-top: 1px solid $color-gray-light;
                border-right: 1px solid $color-gray-light;
                border-bottom: 1px solid $color-white;
                border-left: 1px solid $color-gray-light;
                color: $color-base;
            }

            .usa-dt-picker__button-text {
                white-space: nowrap;
                color: $color-gray-dark;
                font-size: $base-font-size;
                font-weight: normal;
                width: 100%;

                .tab-content {
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);
                    position: relative;
                    .tab-label {
                        @include flex(1 1 auto);
                        margin-right: rem(5);
                    }
        
                    .count-badge {
                        @include flex(1 1 auto);
                        background-color: $color-gray-lighter;
                        font-size: rem(12);
                        line-height: rem(16);
                        padding: rem(0) rem(5);
        
                        &.active {
                            background-color: $color-gold;    
                        }
                    }
                    .tooltip-wrapper {
                        .tooltip__text {
                            padding: 2rem 2rem 0 2rem;
                            strong {
                                padding-bottom: 1rem;
                            }
                        }
                        .tooltip__text:last-child {
                            padding: 2rem;
                        }
                    } 
                }
            }
        }

        &:not(.award-spending__tabs_primary_js) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    .award-spending__description {
        font-size: rem(20);
        line-height: rem(25);
        font-weight: $font-light;
        margin-bottom: rem(35)
    }

    .award-spending__content {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(flex-start);
        @include flex-wrap(wrap);

        margin-bottom: rem(90);
    }
}
