.award-spending {
    width: 100%;

    @import 'components/moreOptionsTabs';

    .award-spending__description {
        font-size: rem(20);
        line-height: rem(25);
        font-weight: $font-light;
        margin-bottom: rem(35)
    }

    .award-spending__content {
        @include display(block);
    }
}
