.award-expandable-button {
    @include button-unstyled;
    @include display(flex);
    color: $color-link;
    .award-description__button-icon {
        padding-left: rem(5);
        svg {
            height: rem(15);
            width: rem(15);
            fill: $color-link;
        }
    }
}
