.award__info-wrapper {
    .info-tooltip-spacer {
        display: none;
        @include media($medium-screen) {
            display: block;
            position: absolute;
            z-index: 9;
        }
    }
    .info-tooltip {
        .info-tooltip__interior {
            position: relative;
            // inherit from the standard tooltip arrow style
            $color-tooltip-border: $color-gray-light;
            @import "components/visualizations/tooltip/_arrow";
            .tooltip-pointer {
                // override the coloring
                &:after {
                    background: $color-gray-lightest;
                }
                z-index: 2;
                top: rem(15);
            }
            .info-tooltip__content {
                @include display(flex);
                @include flex-direction(row);
                @include justify-content(center);
                @include align-items(center);
                position: relative;
                box-shadow: $box-shadow;
                background-color: $color-white;
                border: solid rem(1) $color-gray-light;
                .info-tooltip__message {
                    width: 100%;
                    text-align: left;
                    font-size: $small-font-size;
                    .info-tooltip__title {
                        background-color: $color-gray-lightest;
                        padding: rem(10) rem(15);
                        font-weight: $font-bold;
                        z-index: 10;
                    }
                    .info-tooltip__text {
                        padding: rem(5) rem(15) rem(15);
                        font-weight: $font-normal;
                        ul {
                            margin: 0;
                            padding-left: 0;
                            list-style-type: none;
                        }
                        .info-tooltip__list {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            &.award-desciption-section {
                                // the list in the award description section
                                li:last-of-type {
                                    margin-top: rem(14);
                                }
                                .info-tooltip__list {
                                    // nested list in this section
                                    padding-left: rem(15);
                                    li:last-of-type {
                                        margin-top: 0;
                                    }
                                }
                            }
                            li {
                                margin: 0;
                                margin-right: rem(5);
                                padding: 0;
                            }
                        }
                        .info-tooltip__text-section {
                            margin-top: 0;
                            strong {
                                margin-top: rem(10);
                            }
                        }
                    }
                    .related-awards-tt {
                        p:nth-of-type(2) {
                            padding-bottom:0;
                            margin-bottom: 0;
                        }
                    }
                    .transaction-history-tt {
                        p:nth-of-type(3) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
