.extent-competed-filter {
   
    @import "elements/filters/_selectedFilterBtn";
    @import "mixins/selectedFilterWrap";

    .autocomplete__input {
        padding-bottom: 0 !important;
    }

    .filter-item-wrap {
        .clear-all__container {
            display: flex;
            justify-content: right;

            .clear-all__button {
                background: none;
                color: $theme-color-1;
                margin: ($global-margin * 2) 0 0 0;
                padding: 0;
                font-size: $smallest-font-size;
                line-height: 1.5;
            }
        }
        
        .loading-message-container {
            font-size: rem(30);
            text-align: center;
            margin-top: $global-margin;

            .loading-message-container__text {
                font-size: 2rem;
                padding-bottom: 2rem;
            }
        }
        position: relative;

        .checkbox-type-filter {
            position: absolute;
            overflow-y: scroll;
            background-color: #fff;
            z-index: 10;
            max-height: 400px;
            border: solid 1px $gray-cool-10;
            border-radius: 3px;

            &.bottom-fade {
                ul.autocomplete-checkbox {
                    li:last-child {
                        mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 1) 40px);
                    }
                }
            }

            ul.autocomplete-checkbox {
                list-style: none;
                list-style-type: none;
                padding: 0;
                margin: 0;;
                min-width: 100%;

                li {
                    &.autocomplete-heading {
                        font-size: $font-size-12;
                        font-weight: $font-semibold;
                        line-height: 1.5;
                        text-align: left;
                        color: $gray-90;
                        padding: rem(4) rem(8);
                        display: flex;
                        justify-content: space-between;
                        background-color: $gray-cool-3;
                        
                        .toggle-all__button {
                            background: none;
                            color: $theme-color-1;
                            padding: 0;
                            margin: 0;
                            font-size: $smallest-font-size;
                            line-height: 1.5;
                        }
                    }

                    .primary-checkbox-type.single-item {
                        padding-left: rem(8);

                        input {
                            top: rem(4);
                        }

                        .checkbox-item-label{
                            color: $gray-90;
                            font-size: $font-size-12;
                            font-weight: $font-normal;
                            line-height: rem(18);

                            span {
                                font-style: italic;
                            }

                            span.bold-highlight {
                                font-weight: $font-semibold;
                            }
                        }

                       
                    }

                }
            }
        }        
    }    
}