.advanced-search__keyword-search-link-container {
    padding: 16px;
    border: solid 1px $gray-cool-10;
    background-color: $blue-5;
    display: flex;
    border-radius: 4px;


    @media(min-width: $medium-screen) {
        padding: 24px 16px 24px 16px;
        margin-top: 24px;
    }
    .advanced-search__keyword-search-link-col1{
        .advanced-search__keyword-search-icon {
            width: 16px;
            height: 16px;
            color: $blue-50;
            margin-right: 8px;
        }
    }
    .advanced-search__keyword-search-link-col2 {
        .advanced-search__keyword-search-link-text {
            font-size: rem(14);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $gray-60;
            padding: 0;
            margin: 0;
        }
        .advanced-search__keyword-search-link {
            font-size: rem(14);
            font-weight: $font-semibold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $blue-50;

            .advanced-search__keyword-search-span {
                white-space: nowrap;
            }
        }
    }
}
