.page-title {
    font-size: rem(47);
    line-height: rem(50);
    font-weight: $font-light;
    margin: 0 rem(20) 0 0;
    padding: 0;
    text-align: center;
    
    @include media($tablet-screen) {
        text-align: left;
        @include align-self(center);
    }
}