<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://beta.usaspending.gov/" />
    <meta property="og:title" content="Beta.USAspending.gov" />
    <meta property="og:description" content="Beta.USAspending.gov is the new official source of accessible, searchable and reliable spending data for the U.S. Government." />
    <meta property="og:site_name" content="Beta.USAspending.gov" />
    <meta property="og:image" content="https://beta.usaspending.gov/img/FacebookOG.png" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" value="usaspending.gov" />
    <meta name="twitter:title" value="Beta.USAspending.gov" />
    <meta name="twitter:description" value="Beta.USAspending.gov is the new official source of accessible, searchable and reliable spending data for the U.S. Government." />
    <meta name="twitter:image" content="https://beta.usaspending.gov/img/TwitterCard.png" />
    <meta name="twitter:url" value="https://beta.usaspending.gov/" />
    <meta name="twitter:label1" value="" />
    <meta name="twitter:data1" value="" />
    <meta name="twitter:label2" value="" />
    <meta name="twitter:data2" value="" />

    <title>USAspending.gov</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Build <%= htmlWebpackPlugin.files.gitHash %> -->

</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
</body>
</html>
