<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <!-- Facebook Open Graph -->
    <meta property="og:type" content="website" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" value="usaspending.gov" />
    <meta name="twitter:site" value="@usaspending" />

    <title>USAspending.gov</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.ico">

    <script async type="text/javascript" id="_fed_an_ua_tag"
        src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=TREAS&subagency=FS"></script>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js' async></script>
    <!--  Google Search COVID-19 Announcement -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "SpecialAnnouncement",
            "datePosted": "2020-07-31T19:48:00.000Z",
            "name": "COVID-19 Spending Data",
            "category": "https://www.wikidata.org/wiki/Q81068910",
            "expires": "2021-07-01T04:00:00.000Z",
            "spatialCoverage": {"type": "Country","name": "US"},
            "text": "<div><p>In accordance with OMB's Memorandum M-20-21, all agency-submitted financial reporting of CARES Act and other supplemental COVID-19 appropriated funds is publicly available on USAspending.gov.</p><p><a href='https://www.usaspending.gov/disaster/covid-19'>View the profile page for COVID-19 Spending</a></p><p><a href='https://www.usaspending.gov/search'>Search for federal awards related to COVID-19 spending</a></p></div>"
        }
    </script>
    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', '<%= GA_TRACKING_ID %>', 'auto');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js' async></script>
    <!-- End Google Analytics -->
    <% if (USE_GTM) { %>
        <!-- Google Tag Manager -->
        <script>(
            function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','<%= GTM_ID %>');
        </script>
        <!-- End Google Tag Manager -->
    <% } %>
</head>
<body>
    <% if (USE_GTM) { %>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id='<%= GTM_ID %>'"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    <% } %>
    <div id="app"></div>
</body>

</html>
