@import "../default/default";
@import "mixins/elementContainerWrap";

.article-wrapper {
    @import "elements/_divider";
    @import "mixins/setText";
    @include elementContainerWrap();
    h1 {
        @include setText($h3-font-size);
        margin: ($global-pad * 2) 0;
    }
    p {
        margin: ($global-pad * 2) 0;
    }
    @include media($tablet-screen) {
        h1 {
            @include setText($h2-font-size);
        }
    }
    @include media($medium-screen) {
        @include grid-column(12);
        @include grid-shift(2);
        float: none;
    }
    @include media($large-screen) {
        @include grid-column(10);
        @include grid-shift(3);
        float: none;
    }
    @include media($x-large-screen) {
        max-width: $site-max-width;
        @include grid-column(8);
        @include grid-shift(4);
        float: none;
    }
}