.footer-logo {
    @include span-columns(16);
    text-align: center;
    @include media($tablet-screen) {
        @include span-columns(5);
        @include shift(0);
        text-align: left;
    }
    @include media($x-large-screen) {
        @include span-columns(5);
        @include shift(0);
    }

    img {
        height: rem(30);
        margin-bottom: rem(10);
        @include media($tablet-screen) {
            height: auto;
            max-width: rem(250);
            margin-bottom: 0;
        }

        @include media($medium-screen) {
            max-width: rem(300);
        }
    }
}
