.copyright {
    width: 100%;
    padding: rem(10) 0;
    background:  darken( #333, 5% );
    color:  darken( #fff, 20% );

    @include media($footer-horizontal) {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(flex-start);
        position: relative;
    }

    .copyright__left {
        @include flex(1 1 auto);
        @include media($large-screen) {
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(flex-start);
            position: relative;
        }
    }

    .copyright__notice {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 80%;

        padding-left: rem(20);

        @include media($footer-horizontal) {
            @include flex(0 1 auto);
            width: auto;
            text-align: left;
        }
    }

    .copyright__db {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: rem(50);
        margin-right: rem(155);
        margin-top: rem(15);

        @include media($footer-horizontal) {
            @include flex(1 1 auto);
            text-align: right;
            width: auto;
            margin-bottom: 0;
            margin-top: 0;
        }

        font-size: $small-font-size;
        a {
            color: #9BDAF1;
            text-decoration: underline;

            &:hover, &:active {
                text-decoration: none;
            }
        }
    }
}
