    @mixin footerInternalLinks {
        @include span-columns(16);
        a {
            color: #9BDAF1;
        }
        & h6 {
            color: $color-white;
            font-size: $base-font-size;
            text-align: center;
        }
        & ul.inline {
            text-align: center;
            & li {
                float: none;
                & a {
                    font-size: $small-font-size;
                    font-weight: $font-semibold;
                    float: none;
                    text-align: center;
                }
            }
        }
        p {
            font-size: rem(12);
            margin: 0 0 rem(5) 0;
            padding: 0;
            text-align: center;
        }
        @include media($tablet-screen) {
            @include span-columns(9);
            & h6 {
                font-size: rem(19);
                text-align: left;
                margin: 0;
            }
            & ul.inline,
            p {
                text-align: left;
            }
        }
    }