.copyright {
    width: 100%;
    // account fo the absolute positioned 'Glossary' button in padding-bottom
    padding: rem(10) 0 rem(40);
    background: darken(#333, 5%);
    color: darken(#fff, 20%);
    position: relative;

    @include media($footer-horizontal) {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(flex-start);
        padding: rem(10) 0;
    }

    .copyright__container {
        position: relative;
        width: 100%;
        padding: 0 rem(20);
        
        @include media($footer-horizontal) {
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(space-between);
            padding-right: rem(140) + rem(20);
        }
    }

    .copyright__notice {
        display: block;
        width: 100%;
        text-align: center;
        font-size: rem(12);
        margin: 0 0 rem(15);

        @include media($footer-horizontal) {
            @include flex(0 1 auto);
            width: auto;
            text-align: left;
            margin-bottom: 0;
            font-size: $small-font-size;
        }
    }

    .copyright__db {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: rem(10);
        font-size: $small-font-size;

        @include media($footer-horizontal) {
            @include flex(1 1 auto);
            text-align: right;
            width: auto;
            margin-bottom: 0;
        }

        a {
            color: #9BDAF1;
            text-decoration: underline;

            &:hover, &:active {
                text-decoration: none;
            }
        }
    }
}
