.footer-logo {
    @include flex(1 1 auto);
    text-align: center;
    @include media($footer-horizontal) {
        text-align: left;
    }

    img {
        height: rem(30);
        margin-bottom: rem(10);
        @include media($footer-horizontal) {
            height: auto;
            width: rem(300);
            margin-bottom: 0;
        }
    }
}
