@mixin footerInternalLinks {
    @include span-columns(16);
    & h6 {
        color: $color-white;
        font-size: 1.6rem;
        text-align: center;
    }
    & ul.inline {
        text-align: center;
        & li {
            float: none;
            & a {
                color: #9BDAF1;
                font-size: 1.4rem;
                font-weight: $font-semibold;
                float: none;
                text-align: center;
            }
        }
    }
    @include media($tablet-screen) {
        @include span-columns(9);
        & h6 {
            font-size: 1.9rem;
            text-align: left;
            margin: 0;
        }
        & ul.inline {
            text-align: left;
        }
    }
}
