.footer-outer-wrap {

    @import "elements/_inlineList";

    background-color: #333;
    color: $color-white;
    font-size: $base-font-size;
    padding-top: 1.5rem;
    width: 100%;
    .footer-container {
        @include outer-container;
        @include pad(1rem 2rem);
        max-width: $site-max-width;
        @include media($tablet-screen) {
            @include pad(1rem 2rem 3rem 2rem);
            @include display(flex);
            @include align-items(flex-start);
        }
        @include media($x-large-screen) {
            margin: 0 auto;
            max-width: $site-max-width;
            padding: 1rem 0;
        }

        @import "./_footerLogo";
        @import "./_footerLinks";
    }


    @import "./_footerCopyright";
}

@import "./_floatingGlossaryButton";