.footer-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $theme-color-dark-blue-bg;
    color: $theme-color-headline-inverse;
    font-size: $small-font-size;
    text-align: center;
    padding: $global-padding * 5 $global-padding * 2 $global-padding * 8;
    width: 100%;

    @media (min-width: $tablet-screen) {
        padding: $global-padding * 5 $global-padding * 13;
    }

    .footer-large-screen-row-one, .footer-large-screen-row-two {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    @media (min-width: $m-large-screen) {
        align-items: flex-start;
        padding: $global-padding * 5 $global-padding * 18;

        .footer-large-screen-row-one, .footer-large-screen-row-two {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .footer-large-screen-row-one {
            margin-bottom: $global-margin * 16;
        }

        .footer-large-screen-row-two {
            flex-direction: row-reverse;
        }
    }

    .footer-logo-container {

        @media (min-width: $m-large-screen) {
            display: flex;
            width: 100%;
        }

        .footer-logo {
            max-width: rem(300);
            margin-bottom: $global-margin * 3;

            a {
                // display inline-block for selection area to wrap child element completely
                display: inline-block;
            }

            img {
                max-height: rem(32);
                @media (min-width: $m-large-screen) {
                    max-width: unset;
                    width: rem(300);
                }
            }
        }

        .footer-border-bottom {
            width: 100%;
            border-bottom: $theme-color-another-underline solid 1px;
            margin: 0 0 $global-margin * 4 $global-margin * 1.5;
        }
    }


    .footer-heading {
        font-size: $font-size-24;
        font-weight: $font-semibold;
        line-height: 1.25;
        margin-bottom: $global-margin;
    }

    .footer-subHeading {
        font-size: $base-font-size;
        line-height: 1.5;
        color: $theme-color-body-inverse;
        margin-bottom: $global-margin * 5;

        @media (min-width: $tablet-screen) {
            width: rem(426);
            margin-bottom: $global-margin * 6;
        }

        @media (min-width: $m-large-screen) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .footer-main-links-section {

        @media (min-width: $tablet-screen) {
            display: flex;
            justify-content: space-evenly;
            width: rem(568);
            margin-bottom: $global-margin * 6;
        }

        @media (min-width: $m-large-screen) {
            width: rem(500);
            justify-content: space-between;
            margin-bottom: 0;
            text-align: left;
        }

        .footer-link-section {
            margin-bottom: $global-margin * 5;

            @media (min-width: $tablet-screen) {
                width: rem(160);
                margin-bottom: 0;
            }

            ul {
                list-style-type: none;
                padding-left: 0;
                margin: 0;

                li:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    color: $card-outline-color;
                    text-decoration: none;
                }
            }

            .footer-link-section-title {
                font-weight: $font-semibold;
                line-height: 1.25;
                color: $theme-color-headline-inverse;
                margin-bottom: $global-margin;
            }

            li {
                line-height: 1.5;
                color: $card-outline-color;
                margin-bottom: $global-margin * .5;

                a {
                    &:hover {
                        color: $gray-cool-5;
                    }
                    @media(max-width:$tablet-screen) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }


    .footer-social-media-section {
        width: rem(288);
        padding: 0 $global-padding * 3;
        margin: $global-margin 0 $global-margin * 5;

        @media (min-width: $tablet-screen) {
            margin-top: 0;
        }

        @media (min-width: $m-large-screen) {
            margin-bottom: 0;
            padding-right: 0;
            width: rem(240);
        }

        ul {
            @include unstyled-list;

            display: flex;
            justify-content: space-between;

            li {
                svg.footer__twitter-logo {
                    height: rem(24);
                    width: rem(32);
                }
                &:hover {
                    svg {
                        color: $gray-cool-5;
                    }
                    svg.footer__twitter-logo {
                        fill: $gray-cool-5;
                        path {
                            fill: $gray-cool-5;
                        }
                    }
                }

                button {
                    @include button-unstyled;
                    font-size: rem(32);
                }
            }
        }
    }

    .footer-legal-links-section {
        width: 100%;

        @media (min-width: $tablet-screen) {
            width: rem(558);
            margin-bottom: $global-margin * 5;
        }

        @media (min-width: $m-large-screen) {
            margin-bottom: 0;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;

            @media (min-width: $tablet-screen) {
                display: flex;
                justify-content: space-evenly;
            }

            li:last-of-type {
                margin-bottom: $global-margin * 5;

                @media (min-width: $tablet-screen) {
                    margin-bottom: 0;
                }
            }

            a {
                color: $card-outline-color;
                text-decoration: none;
            }

            li {
                line-height: 1.5;
                color: $card-outline-color;
                margin-bottom: $global-margin * 2;

                @media (min-width: $tablet-screen) {
                    margin-bottom: 0;
                }

                a {
                    &:hover {
                        color: $gray-cool-5;
                    }
                }
            }

            .footer-pipe-class {
                color: $theme-color-vertical-pipe;
            }
        }
    }

    .footer-copyright-section {
        line-height: 1.5;
        color: $gray-10;
    }
}

@import "./downloadBottomBar";
@import "./stayInTouch";
