.data-sources-titles__container { 
    @media(max-width:767) {
        transform: translateY(-88);
    }
    @media(min-width:768) {
        transform: translateY(-80);
    }
    @media(min-width: 992) {
        transform: translateY(-170);
    }
    
    .data-sources__title {
        font-size: pxToRem(56);
        line-height: 1.25;
        font-weight: $font-semibold;
        color: $theme-color-2;
        margin: 0 0 24px 0;

        @media(max-width:767) {
            transform: translate(0px,264);
            font-size: pxToRem(32);
            margin: 0 0 24px 0;
            width: auto;
        }
        @media(min-width:768) {
            transform: translate(24px,264);
        }
        @media(min-width:992) {
            transform: translate(24px,280);
        }
        @media(min-width: 1200) {
            @media(max-height: 892) {
                transform: translate(80px,200);
            }
            transform: translate(80px,296);
        }
        @media(min-width: 1400) {
            transform: translate(56px,248);
        }
        
    }
    .data-sources__subtitle {
        font-size: pxToRem(32);
        line-height: 1.25;
        font-weight: $font-semibold;
        color: $theme-color-body;
        max-width: 550px;

        @media(max-width: 767) {
            font-size: pxToRem(20);
            max-width:unset;
            width: auto;
        }
    }
} 
