.interactive-data-sources__intro-section {
  padding-bottom: 0px;
  margin-top: rem(24);
  
  .interactive-data-sources__bodyText {
    color: $gray-90;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}
