@use "sass:math";

.usa-da-interactive-data-sources-page {
  @import "all";
  @import "layouts/default/default";
  @import "components/pageLoading";
  @import "layouts/default/stickyHeader/header";
  @import "mixins/profilePage";

  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-direction(column);

  min-height: 100vh;
  width: 100%;

  .site-header,
  .sticky-header,
  .page__loading,
  .main-content,
  .footer-container {
    width: 100%;
  }

  .usda__flex-row {
    @include display(flex);
    @include flex-wrap(wrap);
    width: 100%;

    .usda__flex-col {
      @include flex(1 1 auto);
    }
  }

  .main-content {
    @include display(flex);
    width: 100%;

    @media(min-width: $large-screen) {
      width: 75%;
    }
    @include flex-grow(1);
    @include flex-wrap(wrap);
    max-width: rem(1600);
    margin: auto;

    ul {
      padding: 0;

      li {
        list-style: none;
      }

      &.interactives-guide_bullet-points {
        padding-top: 8px;
        padding-left: 5px;

        li {
          list-style: disc;
        }
      }
    }

    .body {
      @include display(flex);
      width: 100%;
      @include flex-direction(column);
      padding: 0px;
      margin: 0;
      background: $color-white;

      @media (min-width: $tablet-screen) {
        width: 70%;
      }

      @media (max-width: $medium-screen) {
        margin: rem(20) rem(20) rem(20) rem(20);
      }

      .usda-message {
        &.usda-message_error {
          background-color: $color-white;
        }
      }

      .body__content {
        margin-top: rem(32);

        .table-wrapper {
          overflow-x: auto;
        }
      }

      .intro-padded__content {
        @import "./_scrollerOverlayCard.scss";
        padding: 2.5% 8% 0% 8%;

        h1,
        h2,
        h3 {
          margin-top: 0;
        }

        @media (max-width: $tablet-screen) {
          padding: 2.5% 8% 8% 8%;
        }
      }

      .body-padded__content {
        @import "./_scrollerOverlayCard.scss";
        margin-top: 0;
        padding: 0 10% 10% 10%;

        h1,
        h2,
        h3 {
          margin-top: 0;
        }
      }

      .usda-section__container {
        @include display(flex);

        hr {
          height: rem(2);
        }
      }

      // Lottie Animation styles
      @import './_lottieAnimation.scss';
      // Scroller styles
      @import "./_scroller.scss";
      @import "./_scrollerOverlay.scss";
      // Other Page Portion styles
      @import './_introSection.scss';
      @import './_aboutSection.scss';
      @import './_dataSourcesTitles.scss';

      .default-note {
        @include profile-page-wrap;
      }

      .position {
        display: flex;
        align-items: center;
        height: 100%;

        &--center {
          justify-content: center;
        }

        &--left {
          justify-content: flex-start;
        }

        &--right {
          justify-content: flex-end;
        }
      }

      // to overlay animations on top of each other
      .top-animation {
        position: absolute;
        z-index: 100;
      }

      .bottom-animation {
        position: absolute;
        z-index: 50;
      }

      /* Fixes known sizing inconsistency bug for lottie web on safari browsers */
      .top-animation,
      .bottom-animation {
        width: 100%;
      }
    }
  }
}
