// slide in animation
@import "../../lib/bourbon/css3/animation";
@import "../../lib/bourbon/settings/prefixer";
@import "../../lib/bourbon/addons/prefixer";

@keyframes slidein {
    0% {
        transform: translate(300px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideout {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(300px, 0);
    }
}  

.glossary-slide-enter, .glossary-slide-enter-active {
    @include animation(slidein 0.5s ease-in forwards);
}

.glossary-slide-exit, .glossary-slide-exit-active {
    @include animation(slideout 0.5s ease-in forwards);
}