

.usa-da-glossary-animations {
    .opened.usa-da-glossary-wrapper {
        animation: slidein 0.5s ease-in;
        -webkit-animation: slidein 0.5s ease-in;
        animation-delay: 0ms;
        -webkit-animation-delay: 0ms;
        opacity: 1;
        overflow: hidden;
        position: relative;
        visibility: visible;
    }

    .usa-da-glossary-wrapper {
        //animation: slideout 0.5s ease-out;
        //-webkit-animation: slideout 0.5s ease-out;
        //animation-delay: 0ms;
        //-webkit-animation-delay: 0ms;
        //opacity: 0;
        //overflow: hidden;
        visibility: hidden;
        display: none;
    }
}