.glossary-definition {
    padding: 20px;

    @import "./_definitionTabs";
    .glossary-share-icon:hover {
        color: #FFF;
    }

    h2.term {
        font-size: 24px;
        line-height: 31px;
        font-weight: 600;

        margin: 0;
    }

    .copy-confirmation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        height: rem(39);
        width: 45%;
        margin-left: 37%;
        background: #EEEEEE;
        border: rem(1) solid #EEEEEE;
        border-radius: rem(3);
        color: #555555;
        margin-right: rem(15);
        svg {
            margin: 0 rem(10);
        }
    }

    .usa-dt-picker {
        justify-content: flex-end;
        width: 50%;
        margin-left: 50%;
        background: #215493;
        .usa-dt-picker__dropdown-container {
            .usa-dt-picker__button {
                padding: rem(13) 0 rem(3) 0;
            }
        }
        .usa-dt-picker__dropdown-container {
            @import "../../components/_picker";
        }
    }
    .definition-content {
        a {
            color: $color-white;
            text-decoration: underline;

            &:hover, &:active {
                text-decoration: none;
            }
        }
    }

    .glossary-back {
        @include button-unstyled;

        padding: 5px;
        padding-left: 0px;

        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;

        .back-content {
            position: relative;

            svg {
                position: absolute;
                top: 1px;

                height: 16px;
                width: 16px;
                fill: $color-white;
            }

            .label {
                margin-left: 24px;
            }

            &:hover {
                color: $color-active;

                svg {
                    fill: $color-active;
                }
            }
        }
    }

    @import "./_definitionResources";
}