.checkbox-tree-filter-message-container {
  font-size: rem(30);
  text-align: center;

  .checkbox-tree-filter-message-container__text {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

.naics-search-container.checkbox-tree {
  margin-bottom: rem(20);
  border-bottom: 1px solid $gray-cool-5;
}

.tas-checkbox.checkbox-tree {
  border-bottom: 1px solid $color-gray-lighter;
  width: 100%;
}


// searchV2
@import "./searchV2CheckboxTree";

// def code filter legacy search
@import "./defCodeLegacySearch";

// def code bulk account download
@import "./defCodeBulkDownload";

