.checkbox-tree-filter-message-container {
  font-size: rem(30);
  text-align: center;

  .checkbox-tree-filter-message-container__text {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

.checkbox-tree {
  .react-checkbox-tree {
    max-height: 600px;
    overflow-y: auto;

    .checkbox-tree__value-container-value {
      color: $gray-80;
    }

    .rct-node-icon {
      display: none;
    }

    label:hover {
      background-color: transparent;
    }

    .rct-checkbox {
      .rct-icon-uncheck {
        border: solid 1px $gray-cool-20;
        border-radius: 2px;
        color: white;
        width: 14px;
        height: 14px;
        margin: 2px 1px;
      }

      .rct-icon-check {
        color: $theme-color-1;
        width: 14px;
        height: 14px;
        margin: 2px 1px;
      }

      .rct-icon-half-check {
        color: $theme-color-1;
      }

      svg {
        &:focus {
          outline: none;
        }
      }
    }

    ol {
      padding-left: 0;
      border-left: none;
      margin: 0 0 rem(5) 0;
    }

    .rct-icon-expand-open {
      margin-right: 0.1em;
      height: 16px;
    }

    .rct-icon-expand-close {
      height: 16px;
    }

    .svg-inline--fa.fa-w-14 {
      width: 14px;
      height: 14px;
    }

    .rct-node-expanded {
      .rct-text {
        label {
          .rct-checkbox {
            .svg-inline--fa.fa-w-14 {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    // every dropdown
    .rct-node:nth-child(n) {
      // this is for search
      &.react-checkbox-tree__tier-zero {
        border-bottom: 1px solid $color-gray-lighter;
      }

      // this is for search
      &.react-checkbox-tree__tier-zero:last-child {
        border-bottom: none;
      }

      &.react-checkbox-tree__search-placeholder-child {
        display: none;
      }

      // parent nodes dont line up correctly to child nodes
      &.rct-node-collapsed {
        .rct-text {
          label {
            margin-left: rem(4);
          }
        }
      }

      .rct-text {
        width: 100%;
        @include align-items(flex-start);

        button:focus {
          box-shadow: none;
        }

        @include display(inline-flex);

        button {
          margin: 0;
        }

        .rct-bare-label,
        label {
          width: 100%;
          @include display(flex);
          margin-bottom: rem(8);

          .rct-checkbox {
            @include flex-direction(column);
          }

          .rct-title {
            width: 100%;
            @include display(flex);
          }

          .checkbox-tree-label {
            @include display(flex);
            @include flex-wrap(wrap);
            width: 100%;

            .checkbox-tree-label__value-container {
              @include display(inline-flex);

              .checkbox-tree-label__value-container-value {
                text-align: center;
                padding: 0 rem(4);
                background-color: $color-gray-lightest;
                border-radius: 2px;
                font-weight: $font-semibold;
                font-size: rem(14);

                span.highlight {
                  background-color: rgb(252, 227, 160);
                }
              }

              .checkbox-tree-label__value-container-count {
                padding: rem(1.5) rem(7);
                border-radius: 3px;
                color: $color-gray-medium;
                font-style: italic;
                font-size: rem(12);

                .highlight {
                  background-color: transparent;
                }
              }
            }

            .checkbox-tree-label__label {
              @include flex-basis(100%);
              font-weight: $font-semibold;
              line-height: rem(18);
              padding-top: 2px;
              span.highlight {
                background-color: rgb(252, 227, 160);
              }
            }
          }
        }
      }
      ol {
        padding-left: rem(12);
        margin-left: rem(4);
        border-left: 2px solid $color-gray-lighter;

        .rct-node { // first dropdown
          padding-bottom: 0;

          .rct-text {
            label {
              .checkbox-tree-label {
                .checkbox-tree-label__label {
                  font-weight: $font-semibold;
                  color: $gray-80;
                }
              }
            }
          }

          &.rct-node-expanded {
            border-bottom: none;
          }

          ol {
            .rct-node { // second dropdown
              padding-bottom: 0;

              .rct-text {
                label {
                  .checkbox-tree-label {
                    .checkbox-tree-label__label {
                      font-weight: $font-normal;
                      color: $gray-80;
                    }
                  }
                }
              }

              &.rct-node-expanded {
                border-bottom: none;
              }

              ol {
                .rct-node { // third dropdown
                  padding-bottom: 0;

                    .rct-text {
                      label {
                        .checkbox-tree-label {
                          .checkbox-tree-label__label {
                            font-weight: $font-normal;
                            color: $gray-80;
                          }
                        }
                      }
                    }

                  &.rct-node-expanded {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .rct-collapse {
      color: $color-primary-darker;
      background-color: white;
      padding: 2px 0 0 0;
      align-self: flex-start;

      svg {
        opacity: 1;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.naics-search-container.checkbox-tree {
  margin-bottom: rem(20);
  border-bottom: 1px solid $gray-cool-5;
}

.tas-checkbox.checkbox-tree {
  border-bottom: 1px solid $color-gray-lighter;
  width: 100%;
}


// New nested checkbox tree
.psc-checkbox .checkbox-tree {
  li {
    margin-bottom: 0 !important;

    label {
      margin-bottom: 0 !important;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 0 !important;

      .label {
        display: flex;
      }
    }

    .loading {
      margin-left: 10px;
    }
  }

  div.open {
    margin-left: 8px;
    padding-left: 24px;
    border-left: 1.5px solid $gray-cool-20;
  }

  button {
    width: unset;
    background-color: unset;
    margin: unset;
    padding: unset;
    color: $color_gray;
    margin-right: 4px;
    svg {
      width: 10px;
      height: 10px;
      color: $blue-50;
    }
  }

  input[type="checkbox"] {
    margin: 2px 4px 0 0;
    cursor: pointer;
  }

  .checkbox-tree-label {
    &__container {
      display: flex;
    }

    &__controls {
      display: flex;
      align-items: center;
      margin-top: 4px;
      height: 20px;
    }

    &__value-container {
      display: inline-flex;
      align-items: center;
    }

    &__description {
      margin-left: 10px;
    }

    &__value-container-value {
      font-weight: $font-semibold;
    }

    &__value-container-count {
      font-style: italic;
      font-size: $font-size-10;
      white-space: nowrap;
      padding-top: rem(4);
    }

    &__value-container-value {
      text-align: center;
      padding: 0 rem(4);
      margin-right: rem(4);
      font-size: $font-size-10;
      background-color: $color-gray-lightest;
      border-radius: 2px;
      font-weight: $font-semibold;
      color: $gray-90;

      span.highlight {
        background-color: $yellow-10;
        font-style: normal;
        font-size: $font-size-12;
      }
    }
    &__label {
      font-size: $font-size-12;
      margin-bottom: rem(12);
      padding-top: 0 !important;
        span.highlight {
          background-color: $yellow-10;
        }
    }

    &__container {
      margin-left: 4px;
    }
  }
}

// searchV2
@import "./searchV2CheckboxTree";

// def code filter legacy search
@import "./defCodeLegacySearch";

// def code bulk account download
@import "./defCodeBulkDownload";

