.def-code-filter-download {
  .filter-item-wrap {
    padding: 0;  // we want padding for search container but not here 
    
    .checkbox-filter__wrapper {
      .checkbox-filter__header.accordion-checkbox {
        margin-bottom: ($global-margin * 1.5);
        line-height: $base-line-height;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        
        .checkbox-filter__header-icon {
          margin: 0 rem(9) 0 0;
          line-height: $base-line-height;
          width: auto;
          display: flex;

          button.toggle {
            @include button-unstyled;
            @include display(flex);
            @include align-items(center);
            @include flex(1 1 auto);
          }

          svg {
            font-weight: 900;
            color: $blue-50;
            height: rem(18);
            max-height: rem(24);
            max-width: rem(24);
          }
        }
        
        .checkbox-filter__header-label-container {
          line-height: $base-line-height;
          display: flex;
          flex: 1 0 0;
          justify-content: center;
          align-items: center;
          gap: rem(8);

          input {    
            width: rem(20);
            height: rem(20);
            border: solid rem(2) $gray-70; 
            border-radius: rem(4);
            margin-right: 0;
            
            &:disabled {
              border: solid rem(2) $gray-40; 
              background-color: $gray-20;
            }
            
            &:checked {
              background-color: $blue-60v !important;
              border-color: $blue-60v !important;
            }
            
            &:checked:before {
              width: rem(6);
              height: rem(12);
              margin: rem(0) rem(6);
            }
            
            &:indeterminate {
              background-color: $blue-60v !important;
              border-color: $blue-60v !important;
            }
            
            &:indeterminate:before {
              width: rem(14);
              margin: rem(9) auto;
              border-bottom: rem(2) solid #fff;
            }
          }
          
          .checkbox-filter__header-label {
            font-size: $base-font-size;
            color: $body-color;
            font-weight: $font-normal;
            margin-left: 0;
            padding-top: rem(1);
          }
          
          .checkbox-filter__header-count {
            display: none;
          }     
        }
      }
      
      .checkbox-filter__list.accordion-checkbox {
        .checkbox-filter__item {
          line-height: $base-line-height;
          margin-left: rem(32);
          gap: rem(8);

          .checkbox-filter__item-label-container {
            line-height: $base-line-height;
            gap: rem(8);

            input {    
              width: rem(20);
              height: rem(20);
              border: solid rem(2) $gray-70; 
              border-radius: rem(4);
              flex-shrink: 0;
              margin-right: 0;
              
              &:disabled {
                border: solid rem(2) $gray-40; 
                background-color: $gray-20;
              }
              
              &:checked {
                background-color: $blue-60v !important;
                border-color: $blue-60v !important;
              }
              
              &:checked:before {
                width: rem(6);
                height: rem(12);
                margin: rem(0) rem(6);
              }
            }

            .checkbox-filter__item-label {
              margin-left: 0;

              .checkbox-tree-label {
                display: flex;
                width: 100%;
                
                .checkbox-tree-label__value-container {
                  line-height: $base-line-height;
                  color: $gray-90;
                  display: flex;
                  align-items: flex-start;
                  
                  .checkbox-tree-label__value-container-value {
                    font-size: $base-font-size;
                    font-weight: $font-semibold;
                    text-indent: rem(21) hanging each-line;
                  }
                  .checkbox-tree-label__value-container-label {
                    font-size: $base-font-size;
                    font-weight: $font-normal;
                  }
                  .checkbox-tree-label__value-container-spacer {
                    font-size: $base-font-size;
                    font-weight: $font-normal;
                    margin-right: rem(4);
                  }
                  
                  .checkbox-tree-label__value-container-sub-label {
                    font-size: $small-font-size;
                    font-weight: $font-normal;
                    margin-bottom: rem(12);
                    margin-left: rem(21);
                  }
                  
                  .multi-label-level {
                    margin-left: rem(-8);
                    .checkbox-tree-label__value-container-sub-label {
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .defc-filter-message-container {
      font-size: rem(30);
      text-align: center;
      margin-top: $global-margin;
      
      .defc-filter-message-container__text {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}