  .def-code-filter-download {

    .filter-item-wrap {
      padding: 0;  // we want padding for search container but not here 
      
      .checkbox-filter__header-icon {
        margin-top: rem(4);
        margin-right: rem(8);
      }

      .defc-filter-message-container {
        font-size: rem(30);
        text-align: center;
        margin-top: $global-margin;

        .defc-filter-message-container__text {
          font-size: 2rem;
          padding-bottom: 2rem;
        }
      }
      
      .checkbox-tree-label {
        .checkbox-tree-label__value-container {
          background: $gray-cool-5;
          border-radius: rem(2);
          display: inline-block;
          padding: rem(2.5);
          height: rem(18);
          
          .checkbox-tree-label__value-container-value {
            color: $gray-90;
            font-weight: $font-semibold;
            font-size: $font-size-10;
          }
        }
      }
      
      .checkbox-tree-label .checkbox-tree-label__label {
        &.multiple-label {
          padding-bottom: rem(8);
          
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
  }