.collapsible-sidebar {
  .naics-search-container {
    @import "../../core/variables";
    padding: 0 !important;

    .checkbox-tree {
      border-bottom: none !important;
    }

    .autocomplete__input {
      padding-top: 0 !important;
      padding-bottom: 20px !important;

      .geo-entity-dropdown__input {
        border: solid 1px $gray-cool-10;
        border-radius: 3px;
        min-width: 100%;
      }
    }

    li {
      margin-bottom: 0 !important;

      label {
        margin-bottom: 0 !important;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        margin-bottom: 0 !important;

        .label {
          display: flex;
        }
      }

      .loading {
        margin-left: 10px;
      }
    }

    div.open {
      margin-left: 8px;
      padding-left: 24px;
      border-left: 1.5px solid $gray-cool-20;
    }

    button {
      width: unset;
      background-color: unset;
      margin: unset;
      padding: unset;
      color: $color_gray;
      margin-right: 4px;
      svg {
        width: 10px;
        height: 10px;
        color: $blue-50;
      }
    }

    input[type="checkbox"] {
      margin: 2px 4px 0 0;
      cursor: pointer;
    }

    .checkbox-tree-label {
      &__container {
        display: flex;
      }

      &__controls {
        display: flex;
        align-items: center;
        margin-top: 4px;
        height: 20px;
      }

      &__value-container {
        display: inline-flex;
        align-items: center;
        line-height: 1.8rem;
      }

      &__description {
        margin-left: 10px;
      }

      &__value-container-count {
        font-style: italic;
        font-size: $font-size-10;
        color: $gray-60;
        white-space: nowrap;
        padding-top: rem(4);
      }

      &__value-container-value {
        text-align: center;
        padding: 0 rem(4);
        margin-right: rem(4);
        font-size: $font-size-10;
        background-color: $color-gray-lightest;
        border-radius: 2px;
        font-weight: $font-semibold;
        color: $gray-90;

        span.highlight {
          background-color: $yellow-10;
          font-style: normal;
          font-size: $font-size-12;
        }
      }
      &__label {
        font-size: $font-size-12;
        margin-bottom: rem(12);
        padding-top: 0 !important;
        font-weight: $font-semibold;
        line-height: 1.8rem;
          span.highlight {
            background-color: $yellow-10;
          }
      }

      &__container {
        margin-left: 4px;
      }
    }
  }

  .psc-search-container {
    @extend .naics-search-container;

    .autocomplete__input, .geo-entity-dropdown__input {
      @import "dtui-overrides";
      height: 100%;
      line-height: 1.5;

      @include new-search-button;
    }
  }


  .tas-checkbox {
    @extend .psc-search-container;

    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .checkbox-tree {
      border-bottom: none !important;
    }

    .checkbox-tree-label__label {
      padding-top: 0 !important;
    }

    .rct-checkbox {
      display: flex;
      justify-content: flex-start;
    }
  }

  .def-code-filter {
    padding: unset !important; // TODO remove after search 2.0 is released

    .defc-filter-message-container {
      font-size: rem(30);
      text-align: center;
      margin-top: $global-margin;

      .defc-filter-message-container__text {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }

    li {
      margin-bottom: rem(12) !important; // TODO remove after search 2.0 is released
    }

    .checkbox-filter__header {
      margin-bottom: rem(16) !important; // TODO remove after search 2.0 is released
    }

    .checkbox-tree-label {
      .checkbox-tree-label__value-container {
        background: $gray-cool-5;
        border-radius: rem(2);
        display: inline-block;
        padding: rem(2.5);
        height: rem(18);

        .checkbox-tree-label__value-container-value {
          color: $gray-90;
          font-weight: $font-semibold;
          font-size: $font-size-10;
        }
      }
    }

    .checkbox-tree-label .checkbox-tree-label__label {
      &.multiple-label {
        padding-bottom: rem(8);

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      span {
        font-size: $font-size-10;
        font-style: italic;
        line-height: rem(1.8);
        color: $gray-60;
      }
      span.highlight {
        background-color: $yellow-10;
        font-style: normal;
        font-size: $font-size-12;
      }
    }
  }
}
