.recipients-list {
    border: none;
    margin-top: rem(5);
    .recipients-list__head-row {
        border-bottom: solid 1px $color-gray-lighter;
        .recipients-list__head-cell {
            background-color: $color-white;
            border: none;

            @import "pages/stateLanding/_header";
            @import "pages/stateLanding/_sorter";
        }
    }

    .recipients-list__body {
        .recipients-list__body-row {
            &:nth-child(even) {
                background-color: #f7f7f7;
            }
        }
        .recipients-list__body-cell {
            border: none;
            background-color: transparent;

            &.recipients-list__body-cell_right {
                text-align: right;
            }
        }
    }
}
