.recipients-modal {
    background-color: $color-white;
    .recipients-modal__wrapper {
        .recipients-modal__header {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(flex-start);
            padding: rem(20) rem(35);
            background-color: $color-gray-light;
            h1.recipients-modal__title {
                @include display(flex);
                @include flex(1 1 auto);
                margin: 0;
                @include h2;
                color: $color-white;
                font-weight: $font-light;
            }
            button.recipients-modal__close-button {
                @include display(flex);
                @include flex(0 0 auto);
                @include button-unstyled;
                padding-left: rem(15);
                svg {
                    fill: $color-white;
                    height: rem(14);
                    width: rem(14);
                }
            }
        }
        .recipients-modal__body {
            padding: rem(20) rem(60) rem(40);
            @import "table";
            .recipients-modal__message {
                @include h4;
                text-align: center;
                @include media($medium-screen) {
                    min-width: rem(500);
                }
            }
        }
    }
}