$grants-line-color: #47AAA7;
$loans-line-color: #F5A623;
$file-c-current: #558EC6;
$new-potential: #AAC6E2;
$file-c-outlay: #6E338E;
$file-c-obligation: #B699C6;

$new-obligated: #0A2F5A;
$new-current: #558EC6;
$new-potential: #AAC6E2;

%award-amounts-viz__line-indicator {
    content: "";
    position: absolute;
    width: rem(1);
    height: rem(10);
}

.award-amounts-viz {
    // Tooltip rules.
    .award-amounts-tt__wrapper {
        position: relative;
        z-index: 4;
    }
    // Parent element for the Bars Viz, not their labels or text.
    .award-amounts-viz__bar-container {
        border: rem(2) solid $color-gray;
        background-color: $color-white;
        margin: rem(16) 0 0 0;
        padding: rem(3);
        .award-amounts-viz__bar-wrapper {
            // denominators have a fixed height.
            &.contract-potential,
            &.idv-potential,
            &.loan-face-value,
            &.asst-total-funding {
                height: rem(40);
            }
            // all other bars should just have the height of their parent.
            height: 100%;
        }
        .award-amounts-viz__bar {
            height: 100%;
            background-color: #ececec;
            @include display(flex);
            .nested-obligations {
                padding: rem(2);
                width: 100%;
                @include display(flex);
            }
            &.asst-non-federal-funding {
                position: relative;
                padding: rem(3.5);
            }
            .award-amounts-viz__exceeded {
                border-top: solid rem(4) $color-gray-lightest;
                border-bottom: solid rem(4) $color-gray-lightest;
                background: repeating-linear-gradient(
                    45deg,
                    $color-cool-blue-light,
                    $color-cool-blue-light rem(8),
                    $color-gold rem(2),
                    $color-gold rem(10)
                );
            }
        }
        &.award-amounts-viz__bar-wrapper_extreme-overspending {
            border: 0;
            padding: 0;
            .award-amounts-viz__bar {
                height: rem(50);
                background-color: transparent;
                @include display(flex);
                @include align-items(center);
                .award-amounts-viz__potential-wrapper {
                    @include display(flex);
                    border: rem(2) solid $color-gray;
                    padding: rem(2);
                    background-color: $color-white;
                    .award-amounts-viz__bar {
                        &.potential {
                            border-top: solid rem(4) $color-white;
                            border-bottom: solid rem(4) $color-white;
                        }
                        &.current {
                            border: solid rem(4) $color-gray-lighter;
                        }
                    }
                }
                .award-amounts-viz__exceeded-potential {
                    height: rem(34);
                    @include align-self(center);
                    background: repeating-linear-gradient(
                        45deg,
                        $color-cool-blue-light,
                        $color-cool-blue-light rem(8),
                        $color-secondary rem(2),
                        $color-secondary rem(10)
                    );
                }
            }
        }
    }
    // Parent element for the individual Bar Description -- including line, legend, and text.
    .award-amounts-viz__desc-container {
        @include display(flex);
        @include align-items(flex-end);
        @include flex-direction(column);
        
        .award-amounts-viz__label {
            width: 100%;
        }
        .award-amounts-viz__desc {
            padding-left: rem(5);
            margin-bottom: rem(5);
            text-align: right;
        }
        &.top {
            @include align-items(flex-start);
            margin-bottom: rem(5);
            .award-amounts-viz__desc {
                // Description above Viz.
                @include display(flex);
                @include justify-content(space-between);
                @include align-items(flex-end);
                font-size: $base-font-size;
                color: $color-gray;
                border-left: solid rem(4) $color-cool-blue-light;
                width: auto;
                text-align: left;
                @include flex(1 1 auto);
                margin-bottom: 0;
                &.idv-file-c-obligated,
                &.contract-file-c-obligated,
                &.loan-file-c-obligated,
                &.asst-file-c-obligated {
                    border-left: solid rem(4) $file-c-obligation;
                    margin-top: rem(17);
                    strong {
                        font-size: $h6-font-size;
                    }
                }
                &.loans {
                    border-left: solid rem(4) $loans-line-color;
                    flex-wrap: wrap;
                    span {
                        // this span is only present when the loans subsidy amount is zero
                        margin: auto;
                        width: 100%;
                    }
                }
                strong {
                    font-size: $h4-font-size;
                }
                br {
                    font-size: $small-font-size;
                }
            }
            .award-amounts-viz__label {
                .award-amounts-viz__line {
                    margin: rem(5) 0 rem(5) rem(1);
                    position: relative;
                    width: 99.5%;
                    height: rem(1);
                    border-bottom: rem(1) solid $color-cool-blue-light;
                    &::after {
                        @extend %award-amounts-viz__line-indicator;
                        border-left: rem(1) solid $color-cool-blue-light;
                        top: 0px;
                        right: -1px;
                    }
                    &::before {
                        @extend %award-amounts-viz__line-indicator;
                        border-left: rem(1) solid $color-cool-blue-light;
                        top: 0px;
                        left: -1px;
                    }
                    &.covid::before,
                    &.covid::after {
                        border-left: rem(1) solid $new-obligated;
                    }
                    &.covid {
                        border-bottom: rem(1) solid $new-obligated;
                    }
                    &.idv-file-c-obligated,
                    &.contract-file-c-obligated,
                    &.asst-file-c-obligated,
                    &.loan-file-c-obligated {
                        border-bottom: rem(1) solid $file-c-obligation;
                        &::before,
                        &::after {
                            border-left: rem(1) solid $file-c-obligation;
                        }
                    }
                    &.loans {
                        border-bottom: rem(1) solid $loans-line-color;
                        &::before {
                            @extend %award-amounts-viz__line-indicator;
                            top: 0px;
                            left: -1px;
                            border-left: rem(1) solid $loans-line-color;
                        }
                        &::after {
                            border-left: rem(1) solid $loans-line-color;
                        }
                    }
                }
            }
        }
        &.bottom {
            @include align-items(flex-start);
            .award-amounts-viz__label {
                text-align: center;
                margin-bottom: 0;
                &.idv-file-c-outlay,
                &.contract-file-c-outlay,
                &.loan-file-c-outlay {
                    text-align: left;
                    width: 100%;
                }
                &.asst-non-federal-funding {
                    @include display(flex);
                    @include flex-direction(column);
                    @include align-items(flex-end);
                }
                .award-amounts-viz__desc {
                    @include display(flex);
                    &:not(.covid) {
                        &.contract-current,
                        &.idv-current {
                            border-right: rem(5) solid $color-gray-lighter;
                        }
                        &.idv-potential::after,
                        &.contract-potential::after {
                            content: ' ';
                            height: rem(45);
                            border: rem(1) solid $color-gray;
                            background-color: #ECECDC;
                            width: rem(5);
                        }
                        &.non-federal-funding {
                            border-right: rem(5) solid $grants-line-color;
                        }
                    }
                    &.covid {
                        &.contract-current,
                        &.idv-current {
                            border-right: 5px solid $new-current;
                        }
                        &.idv-potential,
                        &.contract-potential {
                            border-right: 5px solid $new-potential;
                        }
                    }
                    .award-amounts-viz__desc-text {
                        @include flex(1 1 auto);
                        font-size: $base-font-size;
                        color: $color-gray;
                        text-align: right;
                        padding-right: rem(10);
                        strong {
                            font-size: $lead-font-size;
                        }
                        .award-amounts-viz__desc-text-wrapper {
                            @include display(flex);
                            @include justify-content(flex-end);
                            @include align-items(center);
                            .award__info-wrapper {
                                margin-right: rem(5);
                            }
                        }
                    }
                    &.contract-file-c-outlay,
                    &.loan-file-c-outlay,
                    &.idv-file-c-outlay,
                    &.asst-file-c-outlay {
                        border-left: rem(4) solid $file-c-outlay;
                        .award-amounts-viz__desc-text {
                            text-align: left;
                            padding-left: rem(5);
                            strong {
                                font-size: $h6-font-size;
                            }
                        }
                    }
                    &.loan-face-value::after,
                    &.asst-total-funding::after {
                        content: ' ';
                        height: rem(45);
                        border: rem(1) solid $color-gray;
                        width: rem(5);
                    }
                }
                .award-amounts-viz__line {
                    margin: rem(20) 0 rem(5) rem(1);
                    border-bottom: rem(1) solid $color-gray-lighter;
                    position: relative;
                    width: 99.5%;
                    height: rem(1);
                    &::after,
                    &::before {
                        @extend %award-amounts-viz__line-indicator;
                        border-left: rem(1) solid $color-gray-lighter;
                        top: -9px;
                        right: -1px;
                    }
                    &::before {
                        left: -1px;
                    }
                    &.contract-file-c-outlay::after,
                    &.contract-file-c-outlay::before,
                    &.idv-file-c-outlay::after,
                    &.idv-file-c-outlay::before,
                    &.asst-file-c-outlay::after,
                    &.asst-file-c-outlay::before,
                    &.loan-file-c-outlay::after,
                    &.loan-file-c-outlay::before  {
                        border-left: rem(1) solid $file-c-outlay;
                    }
        
                    &.non-federal-funding {
                        border-bottom: 1px solid $grants-line-color;
                        &::before {
                            @extend %award-amounts-viz__line-indicator;
                            top: -9px;
                            right: -1px;
                            left: -1px;
                            border-left: 1px solid $grants-line-color;
                        }
                        &::after {
                            @extend %award-amounts-viz__line-indicator;
                            top: -9px;
                            right: -1px;
                            border-left: 1px solid $grants-line-color; 
                        }
                    }
                    &.covid.contract-current {
                        border-bottom: rem(1) solid $file-c-current;
                        &::after,
                        &::before {
                            border-left: rem(1) solid $file-c-current;
                        }
                    }
                    &.covid.idv-potential,
                    &.covid.contract-potential {
                        border-bottom: rem(1) solid $new-potential;
                        &::before,
                        &::after {
                            border-left: rem(1) solid $new-potential;
                        }
                    }
                    &.contract-file-c-outlay,
                    &.idv-file-c-outlay,
                    &.asst-file-c-outlay,
                    &.loan-file-c-outlay {
                        border-bottom: rem(1) solid $file-c-outlay;
                        &::before,
                        &::after {
                            border-left: rem(1) solid $file-c-outlay;
                        }
                    }
                }
            }
            .award-amounts-viz__desc.asst-nff-zero {
                border-left: rem(5) solid $grants-line-color;
                border-right: none;
                margin-top: rem(10);
                @include display(flex);
                .award-amounts-viz__desc-text {
                    text-align: left;
                    order: 1;
                    margin-left: rem(10);
                    min-width: rem(160);
                    .award-amounts-viz__desc-text-wrapper {
                        @include display(flex);
                        @include justify-content(flex-end);
                        @include align-items(center);
                    }
                }
            }
        }
    }
}
