.award-amounts {
    $border-gray: #555555;
    $border-light-gray: #d5d6d8;
    .award-amounts__content, .award-amounts__table-by-type {
      @import '../../../search/results/table/tableMessages';
      .usa-dt-tab__wrapper.tabless-tab:not(.active), .usa-dt-tab-list__border-post-filler {
        border-bottom: unset;
      }
      .results-table-message-container {
        position: relative;
        background-color: rgb(246, 246, 246);
        margin-bottom: rem(30);

        .no-results-container {
          text-align: center;
          margin-top: rem(100);
          margin-bottom: rem(100);
          .no-results-title {
            h4 {
              margin-bottom: 0;
              vertical-align: bottom;
              font-size: rem(18);
              font-weight: $font-semibold;
            }
          }
          .no-results-message {
            p {
              margin-top: 0;
              vertical-align: top;
            }
          }
        }
      }
    }

    .award-amounts__banner {
        @include display(flex);
        @include align-items(flex-start);
        @include justify-content(space-between);
        background-color: #F3FAFC;
        color: #525252;
        font-size: rem(14);
        margin: rem(30) 0;
        padding: 0 rem(10) 0 rem(10);
        width: 100%;
        .award-viz__button {
            margin: 0;
            display: inline;
        }
    }

    .award-amounts__banner_hidden {
        display: none;
    }

    .award-amounts__banner-info {
        @include display(flex);
    }

    .award-amounts__banner-info-icon {
        margin-top: rem(18);
        margin-right: rem(5);

        svg {
            width: rem(15);
            height: rem(15);
            fill: $color-primary-alt-dark;
        }
    }

    .award-amounts__banner-close-icon {
        margin: 0;
        margin-top: rem(8);
        background-color: unset;

        svg {
            width: rem(10);
            height: rem(10);
            fill: #5B616B;
        }
    }

    .award-amounts__data {
        @extend %column-less-table__row;
        margin: rem(40) 0 rem(10) 0;
        border-radius: rem(5);
    }

  .award-amounts__table-by-type {
    padding-top: rem(16);
  }

  .usa-dt-tab-list:not(.tabless-tabs) .usa-dt-tab-list__border-post-filler {
    border-bottom: 2px solid #d6d7d9 !important;
  }

    @import "./charts";
    @import "./dataTable";
}
