.agency-overview {
    @include clearfix();

    .title-wrapper {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        position: relative;

        .logo {
            @include flex(0 0 auto);
            width: rem(64);
            min-height: rem(64);
            margin-right: rem(28);
        }

        .title {
            @include flex(1 1 auto);
            h3 {
                margin: rem(5) 0;
            }
        }
    }

    .overview-content {
        @include span-columns(16);

        .agency-details {
            @include span-columns(16);
            @include media($tablet-screen) {
                @include span-columns(8);
            }

            p {
                font-size: rem(14);
                line-height: rem(20);
            }

            .lower-details {
                @include span-columns(16);

                margin-top: rem(0);
                @include media($tablet-screen) {
                    margin-top: rem(10);
                }

                .group {
                    @include span-columns(16);

                    h5 {
                        font-size: rem(16);
                        font-weight: 600;
                        line-height: rem(20);
                        margin: rem(5) 0;
                    }

                    .agency-website {
                        font-size: rem(14);
                        line-height: rem(20);
                        margin: rem(14) 0;

                        a {
                            color: $color-primary;
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        .budget-authority {
            @include span-columns(16);

            @include media($tablet-screen) {
                @include span-columns(8);
                padding-left: rem(10);
            }

            .budget-authority-date {
                color: #555;
                font-size: 1.2rem;
                margin-bottom: rem(10);
            }

            .authority-amount {
                color: $color-vis-dark;
                font-size: rem(48);
                line-height: rem(60);
                margin-bottom: rem(14);
            }

            .authority-statement {
                font-size: $small-font-size;
                margin-bottom: rem(12);

                .authority-statement-percentage {
                    color: $color-vis-dark;
                    font-weight: $font-bold;
                }
            }

            .horizontal-bar {
                height: rem(20);
                width: 100%;
            }
        }


        h4 {
            font-weight: 600;
            font-size: rem(19);
            line-height: rem(24);
            margin: rem(5) 0;
        }
    }
}
