.agency-overview {
  width: 100%;
    @include clearfix();
    .title-wrapper {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        position: relative;

        .logo {
            @include flex(0 0 auto);
            width: rem(64);
            min-height: rem(64);
            margin-right: rem(28);
        }

        .title {
            @include flex(1 1 auto);
            h3 {
                margin: rem(5) 0;
            }
        }
    }

    .overview-content {
      width: 100%;
      @include display(flex);
      @include flex-wrap(wrap);
        .agency-details {
          width: 100%;
            @include media($tablet-screen) {
                @include span-columns(8);
            }

            p {
                font-size: rem(14);
                line-height: rem(20);
            }

            .lower-details {
                width: 100%;
                @include display(inline-flex);
                @include flex-wrap(wrap);
                margin-top: rem(0);
                @media (max-width: $tablet-screen) {
                    margin-top: rem(10);
                    margin-bottom: rem(30);
                }

                .group {
                    &:first-of-type {
                      padding-right: rem(60);
                    }
                    h5 {
                        @include flex-wrap(wrap);
                        font-size: rem(16);
                        font-weight: 600;
                        line-height: rem(20);
                        margin: rem(5) 0;
                    }

                    .agency-website {
                        font-size: rem(14);
                        line-height: rem(20);
                        margin: rem(14) 0;
                        svg.svg-inline--fa {
                          font-size: rem(14);
                          width: 0.8em;
                        }
                        a {
                            color: $color-primary;
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        .budget-authority {
            @include media($tablet-screen) {
                @include span-columns(8);
                padding-left: rem(10);
            }

            .budget-authority-date {
                color: #555;
                font-size: 1.2rem;
                margin-bottom: rem(10);
            }

            .authority-amount {
                color: $color-vis-dark;
                font-size: rem(48);
                line-height: rem(60);
                margin-bottom: rem(14);
            }

            .authority-statement {
                font-size: $small-font-size;
                margin-bottom: rem(12);

                .authority-statement-percentage {
                    color: $color-vis-dark;
                    font-weight: $font-bold;
                }
            }

            .horizontal-bar {
                height: rem(20);
                width: 100%;
            }

            h4 {
                position: relative;

                a {
                    height: rem(16);
                    width: rem(16);
                    margin: 0 rem(6) 0 rem(2);
                    display: inline-block;

                    svg {
                        position: absolute;
                        top: rem(6);
                        height: rem(16);
                        width: rem(16);
                        fill: $color-gray-light;
                    }
                }
            }
        }


        h4 {
            font-weight: 600;
            font-size: rem(19);
            line-height: rem(24);
            margin: rem(5) 0;
        }
    }
}
