.agency-section-wrapper {
    margin-top: rem(15);

    .agency-callout-description {
        @include display(flex);
        @include align-items(left);
        @include justify-content(left);
        width: 100%;
        position: relative;
        margin: rem(24) 0 rem(32);
        padding: 0;
        color: $color-base;
        font-family: $font-sans;
        font-size: $lead-font-size;
        font-weight: 300;
        line-height: 35px;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .agency-section-title {
        h4 {
            font-size: rem(38);
            line-height: rem(47);
            margin: rem(5) 0;
        }

        hr {
            width: 100%;
            margin: 0 0 rem(4);
        }

	    em {
		    font-size: rem(12);
	    }
    }

    .agency-section-content {
        @import "./treemaps/treemapSection";

	    .agency-viz-description {
		    margin: rem(10) 0 rem(85);
		    font-size: rem(12);
	    }

        .usa-da-treemap-section {
            background: white;
            padding-top: rem(40);
            padding-bottom: rem(0);

            .treemap-inner-wrap {
                margin: 0;
                width: 100%;

                .tree-wrapper {
                    width: 100%;
                }

                .function-desc {
                    margin-top: 0;
                    padding: 0;

                    h1 {
                        font-size: rem(30);
                        line-height: rem(38);
                    }

                    p {
                        margin-bottom: rem(17);
                    }
                }

                .visualization-tooltip .tooltip .tooltip-body .tooltip-full {
                    .tooltip-description {
                        text-align: center;
                    }
                }
            }
        }

        .usa-da-treemap-header {
            font-style: italic;
            color: $color-gray;
            font-size: rem(12);
            line-height: $base-line-height;

	        .info-icon-circle {
		        @include align-self(center);
		        display: inline-block;
		        fill: $color-gray;
		        height: rem(17);
		        left: rem(5);
		        position: relative;
		        top: rem(3);
		        width: rem(15);
	        }
	        span {
		        margin-left: rem(10);
	        }

            .back {
                color: $color-gray;
                cursor: pointer;
                margin: 0;
                background-color: white;
                border: 0;
                border-radius: 0;
                display: block;
                font-size: rem(12);
                font-weight: 300;
                line-height: $base-line-height;
                outline: none;
                padding: 0;
                text-align: left;
                text-decoration: none;

                svg {
                    margin-right: rem(5);
                    height: rem(11);
                    width: rem(11);
                    transform: rotate(270deg);
                    fill: $color-gray-lighter;
                    box-shadow: 0 1px 0 0 #FFFFFF;
                }
            }
        }
    }
}