.usa-da-agency-page {
    @import "layouts/default/default";
    $color-gray-border: #D8D8D8;
    $color-blue-background: #F5FBFC;

    @import "./header/header";

    .main-content {
        @import "../../mixins/fullSectionWrap";
        @include fullSectionWrap(($global-mrg * 4), ($global-mrg * 4));
        padding:  0;

        @import "./_positioning";
        @import "./_contentWrap";
        @import "elements/_divider";

        @import "./_sidebar";

        @import "./_overview";
        @import "./_section";

        @import "./visualizations/visualizations";

        @import "./footer/footer";

        .treasury-disclaimer {
            margin-top: rem(30);
            font-size: $small-font-size;
            color: $color-base;
            .disclaimer {
                font-weight: $font-semibold;
                text-transform: uppercase;
            }
        }
    }
}
