.usa-da-agency-page-v2 {
    @import 'all';
    @import 'layouts/default/default';
    @import 'components/pageLoading';
    @import 'layouts/default/stickyHeader/header';
    @import 'mixins/profilePage';

    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-direction(column);
    min-height: 100vh;
    width: 100%;

    .site-header,
    .usda-page__container,
    .main-content,
    .footer-container {
        width: 100%;
    }

    .accordion-container {
        @media(min-width: $large-screen) {
            margin-left: rem(10);
        }
    }

    .accordion-container .heading {
        height: 14px;
        color: $color-primary;
        border: none;
        font-size: $font-size-14;
        max-width: rem(120);
        padding: 0;
        margin: 0;
        justify-content: unset !important;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-primary-darker;
        }

        @media(min-width: $large-screen) {
            padding-top: rem(8);
        }
    }

    .accordion-container .plus {
        width: 10px;
        height: 10px;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-primary-darker;
        }
    }

    .accordion-container .minus {
        width: 10px;
        height: 10px;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-primary-darker;
        }
    }

    .accordion-container .toggle {
        color: $color-primary;
        font-size: $font-size-14;
        font-weight: $font-semibold;
        padding-left: rem(6);

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-primary-darker;
        }

        @media(min-width: $large-screen) {
            padding-right: rem(6);
        }
    }

    .accordion-container .open .content {
        display: none;
    }

    .usda__flex-row {
        @include display(flex);
        @include flex-wrap(wrap);
        width: 100%;

        .usda__flex-col {
            @include flex(1 1 auto);

            .body__content {
                width: 100%; // this makes the charts in the summary section resize properly
            }
        }
    }

    .main-content {
        @include display(flex);
        width: 100%;
        @include flex-grow(1);
        @include flex-wrap(wrap);
        max-width: rem(1600);
        margin: 0 auto;

        ul {
            padding: 0;

            li {
                list-style: none;
            }
        }

        .body {
            @include display(flex);
            width: 100%;
            @include flex-direction(column);
            padding: 2.5% 2.5% 0 2.5%;
            background: $color-white;

            @media(min-width: $tablet-screen) {
                width: 70%;
            }

            @media(min-width: $medium-screen) {
                margin: 0;
            }

            @media(min-width: $large-screen) {
                margin: 0 rem(40);
            }

            @media(min-width: $x-large-screen) {
                margin: 0 auto;
            }

            @import './overview/pageTitle';

            .usda-message {
                &.usda-message_error {
                    background-color: $color-white;
                }
            }

            .body__content {
                margin-top: rem(32);

                .table-wrapper {
                    overflow-x: auto;
                }
            }

            .usda-section__container {
                @include display(flex);
                @import './overview/overview';

                hr {
                    height: rem(2)
                }
            }

            @import './statusOfFunds/statusOfFunds';
            @import './statusOfFunds/introSection';
            @import 'components/Note';

            .default-note {
                @include profile-page-wrap;
            }
        }
    }
}
