.explorer-no-awards {
	text-align: center;
	.no-awards-message {
		font-weight: $font-semibold;
		font-size: $font-size-32;
		margin: 20vh 0 pxToRem(30) 0;
		.info-icon-circle {
			@include align-self(center);
			display: inline-block;
			fill: $color-primary-alt;
			height: pxToRem(27);
			right: pxToRem(5);
			position: relative;
			top: pxToRem(3);
			width: pxToRem(25);
			svg {
				float: none;
			}
		}
	}
	.go-back {
		background-color: transparent;
		font-size: $font-size-24;
		font-weight: $font-normal;
		color: $color-primary-alt-darkest;
		text-decoration: underline;
		&:hover {
			color: $color-primary-alt-dark;
		}
	}
}