.explorer-unreported {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    margin: pxToRem(50) 0 pxToRem(15) 0;

    .explorer-unreported__top {
        display: flex;
        padding-bottom: pxToRem(20);
    }

    .explorer-unreported__icon {
       margin-right: pxToRem(10);
       @include align-self(center);

        svg {
            width: pxToRem(30);
            height: pxToRem(30);
            fill: #FFB800;
        }
    }

    .explorer-unreported__box {
        max-width: pxToRem(720);
        padding: pxToRem(30) pxToRem(30) pxToRem(30) pxToRem(30);
        height: auto;
        border: 1px solid #FFB800;
        background-color: #FFFCF6;
    }

    .explorer-unreported__header {
        font-size: $font-size-20;
        margin: 0;
        font-weight: $font-semibold;
        padding-left: pxToRem(20);
        line-height: $heading-line-height;
    }

    .explorer-unreported__info {
        font-weight: $font-semibold;
        font-size: $font-size-16;
    }

    .explorer-unreported__body {
        padding-left: pxToRem(62);
    }

    .explorer-unreported__list {
        padding-left: pxToRem(20);
        margin-top: pxToRem(10);
        font-size: $font-size-16;

        li {
            margin-bottom: 0;
        }
    }
}