.explorer-detail-wrap {
    @import "./_tooltip";
    @import "./_noAwardsScreen";
    @import "./_unreportedErrorScreen";

    background: url(#{$image-path}/explorer-background.jpg) no-repeat top center fixed;
    background-size: cover;
}

.explorer-detail {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(stretch);
    position: relative;
    overflow: hidden;

    @import "./sidebar/sidebar";

    .explorer-detail-content {
        @include flex(1 1 auto);
        padding: rem(10);
        @include media($tablet-screen) {
            padding: rem(40);
        }
        position: relative;

        &.detail-animate {
            transition: transform 0.25s;
        }

        @import "./header/header";
        @import "./visualization/visualization";

        .fake-screens {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: rem(40);

            &.above {
                top: auto;
                bottom: rem(530);
            }
        }

        .fake-treemap {
            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(stretch);
            position: relative;

            .left-block {
                @include flex(1 1 auto);
                margin-right: rem(5);
                background-color: #1C4956;
                height: rem(530);
            }
            
	    .middle-block {
                @include flex(1 1 auto);
                margin-right: rem(5);
                height: rem(530);
                background-color: rgb(53, 137, 161);
            }

            .right-block {
                @include flex(1 1 auto);
                background-color: #47BAD9;
                height: rem(530);
            }
        }

        .explorer-detail-content__loading {
            height: 100%;
            width: 100%;
            background-color: rgba(241, 241, 241, 0.9);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            
            .explorer-detail-content__loading-message {
                display: block;
                text-align: center;
                font-size: rem(20);

                .loading-animation {
                    width: rem(50);
                    height: rem(50);
                    margin-left: auto;
                    margin-right: auto;
                    @import "../../search/results/screens/loading";
                    // override the color of the rectangles
                    svg.loading-bars {
                        rect {
                            fill: $color-primary-alt-darkest;
                        }
                    }
                }
                .explorer-detail-content__loading-title {
                    font-size: $h4-font-size;
                    color: $color-primary-alt-darkest;
                    line-height: rem(45);
                }
                .explorer-detail-content__loading-subtitle {
                    font-weight: $font-semibold;
                }
            }
        }
    }
}
