.download-wrap {
    position: relative;

    .download-button {
        @include button-unstyled;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: $font-semibold;
        letter-spacing: 0.075em;
        padding: rem(10) rem(20);
        border: 1px solid $color-white;
        cursor: pointer;

        &:hover, &:active {
            color: $color-white;
            border: 1px solid $color-white;
            background-color: $color-gray;
        }

        &[disabled] {
            border: 1px solid $color-gray-light;
            pointer-events: none;
            cursor: pointer;
            background: repeating-linear-gradient(        
                45deg,
                rgba($color-gray, .2),
                rgba($color-gray, .2) rem(2),
                rgba(255,255,255,.2) rem(2),
                rgba(255,255,255,.2) rem(4)
            );
        }
    }
}