.download-button {
    @include button-unstyled;
    color: $color-gray-light;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.075em;
    padding: 10px 20px;
    border: 1px solid $color-gray-light;
    pointer-events: none;
    background: repeating-linear-gradient(
        45deg,
        rgba($color-gray, .2),
        rgba($color-gray, .2) rem(2px),
        rgba(255,255,255,.2) rem(2px),
        rgba(255,255,255,.2) rem(4px)
    );

    &:hover, &:active {
        background-color: $color-gray-medium;
    }
}