.format-item {
    @include button-unstyled;
    width: 5rem;
    height: 5rem;
    .item-icon {
        text-align: center;
        margin-bottom: 5px;
        svg {
            fill: $color-gray-light;
            height: 22px;
            width: 22px;
            @include transition(fill 0.25s ease-in-out);
        }
    }
    .item-label {
        color: $color-gray-light;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 4px solid $color-gray;
        @include transition(all 0.25s linear);
    }
    &:hover {
        .item-icon {
            svg {
                @include transition(all 0.25s ease-in-out);
                fill: $color-white;
            }
        }
        .item-label {
            color: $color-white;
            @include transition(all 0.5s ease-in-out);
            border-bottom-style: solid;
            border-bottom-width: 0.4rem;
            border-bottom-color: lighten( $color-gray, 30%);
        }
    }
    &.active,
    &:active {
        .item-icon {
            svg {
                fill: $color-white;
            }
        }
        .item-label {
            color: $color-white;
            border-bottom: 4px solid $color-active;
        }
    }
}