.search-options {
    ul.search-formats {
        @include unstyled-list;
        text-align: center;
        display: none;
        @include media($medium-screen) {
            text-align: right;
            
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
            position: relative;
        }
    }
    li {
        @include flex(0 0 auto);
        margin: 0 0 rem(20) rem(30);
        @include media($large-screen) {
            margin-left: rem(50);
        }
        &:first-child {
            margin-left: 0;
        }
        @import "./_formatItem";
        @import "./_downloadButton";
    }
    @import "components/_comingSoon";
    @include comingSoon;
    .coming-soon {
        color: $color-gray-light;
        cursor: default;
        pointer-events: none;
        .coming-soon-container {
            margin-top: rem(0px);
            .coming-soon-icon {
                bottom: rem(0px);
                display: inline;
                left: rem(27px);
            }
            .coming-soon-label {
                bottom: rem(-5px);
                color: $color-gray-light;
                display: inline;
                float: left;
                left: rem(42px);
            }
        }
    }
} 