@import "./_formatItem";
@import "./_downloadButton";
@mixin searchHeaderOptions {
    display: table;
    ul.search-formats {
        @include unstyled-list;
        display: table-cell;
        text-align: center;
        @include media($medium-screen) {
            text-align: right;
        }
    }
    li {
        display: inline-block;
        margin-left: 30px;
        @include media($large-screen) {
            margin-left: 50px;
        }
        &:first-child {
            margin-left: 0;
        }
        .format-item {
            @include searchHeaderFormatItem;
        }
        .download-button {
            @include searchHeaderDownloadButton;
        }

        @import "../../../../../components/_comingSoon.scss"
        
        .coming-soon {
            color: $color-gray-light;
            cursor: default;
            pointer-events: none;
        }
        .coming-soon-container {
            margin-top: rem(0px);
            .coming-soon-icon {
                bottom: rem(0px);
                display: inline;
                left: rem(27px);
            }
            .coming-soon-label {
                bottom: rem(-5px);
                color: $color-gray-light;
                display: inline;
                float: left;
                left: rem(42px);
            }
        }
    }
}
