.search-header {
    @import "mixins/fullSectionWrap";
    @include fullSectionWrap(0, 0);
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include align-items(center);
    @include align-self(stretch);
    @include flex-flow(row wrap);
    min-height: rem(102);
}

.search-title {
    flex: 1 100%;
    & h1 {
        text-align: center;
    }
    @include media($tablet-screen) {
        flex: 1;
        & h1 {
            margin: rem(20) 0;
            text-align: left;
        }
    }
}

.search-options {
    flex: 1 100%;
    margin: 0 0 20px;
    @include media($tablet-screen) {
        flex: 1;
        margin: 0;
        & ul.search-formats {
            text-align: right;
            float: right;
        }
    }
}