@mixin searchHeaderTitle {
    h1 {
        font-size: 2.5em;
        line-height: 5rem;
        font-weight: 200;
        margin: 0 0 2.0rem 0;
        @include media($medium-screen) {
            margin: 0;
        }
    }
}
