.search-title {
    h1 {
        font-size: rem(30);
        line-height: rem(38);
        font-weight: 200;
        @include media($tablet-screen) {
            font-size: rem(47);
            line-height: rem(50);
        }
    }
}
