.search-header-wrapper {
    @import "./_positioning";
    @import "./_title";
    @import "./_options";

    background-color: $color-gray;
    color: $color-white;
    will-change: transform;

    &.sticky {
        // don't be sticky on mobile
        @include media($medium-screen) {
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: $z-header;
        }
    }
}

.search-header-placeholder {
    visibility: hidden;
    width: 100%;
    height: 0;
}