.usa-dt-modal {
    &.download-message-modal {
        max-width: rem(800);
        .usa-dt-modal__header {
            background-color: $color-gold-lightest;
            color: $color-base;
            .database-download-message__icon {
                color: $color-gold;
                margin-right: rem(8);
            }
            .usa-dt-modal__close-button {
                color: $color-base;
            }
        }
        .usa-dt-modal__body {
            text-align: left;
        }
    }
}
