.state-footer {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: $color-primary-darkest;
    color: $color-white;
    padding: ($global-padding * 8) 0;
    position: relative;
    width: 100%;
    .footer-content {
        @include flex(1 1 auto);
        margin: 0 pxToRem(20);
        h4,
        p {
            text-align: center;
        }
        h4 {
            font-size: pxToRem(38);
            line-height: pxToRem(47);
            margin: pxToRem(5) 0;
        }
        p {
            font-size: pxToRem(18);
            font-weight: $font-light;
            & strong {
                font-weight: $font-semibold;
            }
        }
        .state-search-button {
            display: block;
            margin: pxToRem(30) auto 0 auto;
            width: pxToRem(180);
            height: pxToRem(50);
            text-align: center;
            font-size: pxToRem(24);
            padding: pxToRem(10) pxToRem(20);
            background-color: $color-primary;
            color: $color-white;
            font-weight: $font-bold;
            &:hover, &:active {
                background-color: $color-primary-darker;
                text-decoration: none;
            }
        }
    }
}
