.heading-container {
    .header {
        margin-top: rem(30);
        font-size: rem(24);
    }
    .sub-header {
        color: $color-base;
        font-size: rem(16);
        font-weight: 300;
        letter-spacing: 0;
        line-height: rem(24);
        margin-top: 0;
        margin-bottom: rem(30);
        max-width: rem(769);
    }
}
@import './tableControls';
.table-container.table-container_submissions .usda-table {
    // Styles specific to the "Statistics by Reporting Period" tab

    // this was added after the dtui table styles were changed for the new search page
    th, td {
        // we need to get rid of the black borders that will appear
        border: 0;
        // and replace them with this gray border
        // it now appears to be 2px rather than 1, but this is how it has always been
        border: solid 1px $color-gray-border;
    }

    thead {
        th {
            &:last-of-type {
                // Hide sorting for the Agency Comments column
                .table-header__sort {
                    display: none;
                }
            }
        }
    }
}

