.heading-container {
    .header {
        margin-top: rem(10);
        font-size: rem(32);
    }
    .back-link {
        margin-top: rem(20);
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: 400;
        letter-spacing: 0;
        line-height: rem(23);
        a {
            text-decoration: none;
        }
    }
    .agency-info {
        width: 100%;
        @include display(inline-flex);
        @include flex-wrap(wrap);
        margin-bottom: rem(30);
        @media (max-width: $tablet-screen) {
            margin-top: rem(10);
        }
        .more-info-note {
            margin: 0;
            padding: 0;
            letter-spacing: 0;
            font-size: rem(14);
            line-height: rem(18);
        }

        .agency-info__group {
            &:first-of-type {
                padding-right: rem(60);
            }
            h5 {
                @include flex-wrap(wrap);
                font-size: rem(16);
                font-weight: 600;
                line-height: rem(20);
                margin: rem(5) 0;
            }

            .agency-info__website {
                font-size: rem(14);
                line-height: rem(20);
                margin: rem(14) 0;
                @import 'components/externalLink';
            }
        }
    }
}

.table-container .usda-table {
  thead th:last-of-type {
      // Hide sorting for the Agency Comments column
      .table-header__sort {
          display: none;
      }
  }
}
