.drilldown-cell {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: 4.8rem;
    color: $color-base;
    border: solid 3px transparent;
    padding: 1.2rem;
    .drilldown-cell__text {
        padding-right: .8rem;
    }
    .drilldown-cell__icon {
        @include align-self(center);
        color: $color-primary;
        width: 1.4rem; // ensures the width of the text doesn't change on hover
        svg {
            display: none;
        }
    }
    &:hover {
        text-decoration: none;
        border-color: $color-primary;
        .drilldown-cell__icon {
            svg {
                @include display(flex);
            }
        }
    }
}
