.usa-da-about-the-data_agency-details-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";
    .main-content {
      @import "../../mixins/fullSectionWrap";
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      margin: rem(40) auto;
      background: $color-white;
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 0 rem(20);
      width: 100%;
      max-width: 160rem;
      .usda-message {
        background-color: $color-white;
        width: 100vw;
      }
      .table-container,
        .table-controls {
          width: 100%;
        }
        .table-controls {
          .table-type-toggle:focus {
            outline: none;
          }
          .table-tab-label {
            @include display(flex);
          }
          .tooltip-wrapper {
            display: none;
            @media (min-width: $tablet-screen) {
              @include display(flex);
            }
          }
        }

        @import 'components/stickyTable';

        .table-container .usda-table.usda-table-w-grid {
          thead th:last-of-type {
            // Hide sorting for the Agency Comments column
            .table-header__sort {
              display: none;
            }
          }
          tbody .usda-table__row .usda-table__cell:nth-of-type(2) {
            // center-align the percentage column
            padding: 0; // to allow entire cell to be hoverable
            text-align: center;
          }
        }

      .agency-table-download {
        svg {
          margin-right: rem(5);
        }
      }

      .heading-container {
          .header {
            margin-top: rem(10);
            margin-bottom: 0;
            font-weight: $font-semibold;
            font-size: rem(32);
            letter-spacing: 0;
            line-height: rem(59);
          }
          .back-link {
            margin-top: rem(20);
            margin-bottom: rem(20);
            font-size: rem(18);
            font-weight: 400;
            letter-spacing: 0;
            line-height: rem(23);
            a {
              text-decoration: none;
            }
          }
          .sub-header {
            margin-top: 0;
            margin-bottom: rem(30);
            font-size: rem(47);
            font-weight: 300;
            letter-spacing: 0;
            line-height: rem(59);
          }
          .agency-info {
            width: 100%;
            @include display(inline-flex);
            @include flex-wrap(wrap);
            margin-bottom: rem(30);
            @media (max-width: $tablet-screen) {
                margin-top: rem(10);
            }
            .more-info-note {
              margin: 0;
              padding: 0;
              letter-spacing: 0;
              font-size: rem(14);
              line-height: rem(18);
            }

            .agency-info__group {
                &:first-of-type {
                  padding-right: rem(60);
                }
                h5 {
                    @include flex-wrap(wrap);
                    font-size: rem(16);
                    font-weight: 600;
                    line-height: rem(20);
                    margin: rem(5) 0;
                }

                .agency-info__website {
                    font-size: rem(14);
                    line-height: rem(20);
                    margin: rem(14) 0;
                    @import 'components/externalLink';
                }
            }
          }
      }
      @import 'components/Note';
        .default-note {
          font-style: italic;
          margin: 0;
          padding: rem(30) rem(15);
          letter-spacing: 0;
          line-height: rem(22);
          max-width: rem(873);
        }
    }
  }
