.usa-da__about-the-data__agencies-page {
    @import "all";
    @import "layouts/default/default";
    @import "layouts/default/stickyHeader/header";
    .main-content {
      @import "../../mixins/fullSectionWrap";
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      margin: rem(40) rem(20);
      background: $color-white;
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 0 rem(20);
      width: 100%;
      max-width: 160rem;
      margin: auto;
      .table-container,
        .table-controls {
          width: 100%;
        }
        .table-controls {
          .table-type-toggle:focus {
            outline: none;
          }
          .table-tab-label {
            @include display(flex);
          }
          .tooltip-wrapper {
            display: none;
            @media (min-width: $tablet-screen) {
              @include display(flex);
            }
          }
          .usa-dt-picker__list {
            max-width: rem(500);
          }
        }
        .table-container  {
          height: rem(500);
          overflow: scroll;
          margin: 0;
          border: rem(1) solid $color-gray-border;
          .usda-table.usda-table-w-grid {
            border-collapse: separate;
            margin-top:0;
            thead {
              tr th {
                min-width: rem(300);
              }
              .nested-header {
                .table-header__content {
                  padding: 1rem 0;
                }
              }
            }
            &.sticky-y-table {
              @media(min-width: $medium-screen) {
                thead {
                  th {
                    position: sticky;
                    position: -webkit-sticky;
                    top: 0;
                    border: rem(1) solid $color-gray-lighter;
                  }
                }
              }
            }
            &.sticky-x-table {
              @media(min-width: $medium-screen) {
                thead {
                  tr:first-of-type {
                    .table-header:first-of-type {
                      position: sticky;
                      position: -webkit-sticky;
                      left: 0px;
                      z-index: 10;
                      box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                      border-right: 1px solid $color-gray-lightest;
                    }
                  }
                }
                tbody {
                  .usda-table__row .usda-table__cell {
                    &:first-of-type {
                      position: sticky;
                      left: 0px;
                      box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                      border-right: rem(1) solid $color-gray-lightest;
                    }
                  }
                }
              }
            }
          }
        }

      .agency-table-download {
        a {
          color: $color-primary;
          text-decoration: underline;
        }
        .usa-button-link__download-icon {
          padding-right: rem(10);
        }
      }
  
      .heading-container {
          padding-left: rem(20);
          .header {
            margin-top: rem(10);
            margin-bottom: 0;
            font-weight: $font-semibold;
            font-size: rem(32);
            letter-spacing: 0;
            line-height: rem(59);
          }
          .back-link {
            margin-top: rem(20);
            margin-bottom: rem(20);
            font-size: rem(18);
            font-weight: 400;
            letter-spacing: 0;
            line-height: rem(23);
            a {
              text-decoration: none;
            }
          }
          .sub-header {
            margin-top: 0;
            margin-bottom: rem(30);
            font-size: rem(47);
            font-weight: 300;
            letter-spacing: 0;
            line-height: rem(59);
          }
          .lower-details {
            width: 100%;
            @include display(inline-flex);
            @include flex-wrap(wrap);
            margin-top: rem(0);
            @media (max-width: $tablet-screen) {
                margin-top: rem(10);
                margin-bottom: rem(30);
            }
            .usa-button-link {
              text-decoration: underline;   
            }
            .more-info-note {
              margin: 0;
              padding: 0;
              letter-spacing: 0;
              font-size: rem(14);
              line-height: rem(18);
            }

            .agency-info-group {
                &:first-of-type {
                  padding-right: rem(60);
                }
                h5 {
                    @include flex-wrap(wrap);
                    font-size: rem(16);
                    font-weight: 600;
                    line-height: rem(20);
                    margin: rem(5) 0;
                }

                .agency-website {
                    font-size: rem(14);
                    line-height: rem(20);
                    margin: rem(14) 0;
                    a {
                      text-decoration: underline;
                    }
                    a:visited {
                      color: $color-primary;
                    }
                    svg.svg-inline--fa {
                      font-size: rem(14);
                      width: 0.8em;
                    }
                }

            }
          }
      }
      @import 'components/Note';
        .default-note {
          font-style: italic;
          margin: 0;
          padding-top: rem(30);
          letter-spacing: 0;
          line-height: rem(22);
        }
    }
  }
  