.usa-da__about-the-data__agencies-page {
  @import "all";
  @import "layouts/default/default";
  @import "layouts/default/stickyHeader/header";
  .main-content {
    @include display(flex);
    margin: rem(40) rem(20);
    background: $color-white;
    @include flex-wrap(wrap);
    border-radius: 0.5rem 0.5rem 0 0;
    .heading-container {
        width: 100%;
        padding-left: rem(20);
        .header {
          margin-top: rem(30);
          margin-bottom: 0;
          font-weight: $font-semibold;
          font-size: rem(32);
          letter-spacing: 0;
          line-height: rem(59);
        }
        .sub-header {
          margin-top: 0;
          margin-bottom: rem(30);
          font-size: rem(47);
          font-weight: 300;
          letter-spacing: 0;
          line-height: rem(59);
        }
    }
    .table-container  {
      width: rem(1400);
      height: rem(500);
      overflow: scroll;
      margin: 0 auto;
      .usda-table.usda-table-w-grid {
        border-collapse: separate;
        thead {
          tr th {
            min-width: rem(300);
          }
        }
        &.sticky-y-table {
          @media(min-width: $medium-screen) {
            thead {
              th {
                position: sticky;
                position: -webkit-sticky;
                top: -3px;
                border-top: 1px solid $color-gray-lightest;
              }
            }
          }
        }
        &.sticky-x-table {
          @media(min-width: $medium-screen) {
            thead {
              .table-header:first-of-type {
                position: sticky;
                position: -webkit-sticky;
                left: -2px;
                z-index: 10;
                box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                border-right: 1px solid $color-gray-lightest;
              }
            }
            tbody {
              .usda-table__row .usda-table__cell {
                &:first-of-type {
                  position: sticky;
                  left: -2px;
                  box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                  border-right: 1px solid $color-gray-lightest;
                }
              }
            }
          }
        }
      }
    }
    @import 'components/Note';
    .default-note {
      font-style: italic;
      margin: 0;
      padding: 0;
      letter-spacing: 0;
      line-height: rem(22);
      margin-top: $global-pad * 3;
    }
  }
}
