.usa-da__about-the-data__agencies-page {
  @import "all";
  @import "layouts/default/default";
  @import "layouts/default/stickyHeader/header";
  .main-content {
    @import "../../mixins/fullSectionWrap";
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    margin: rem(40) rem(20);
    background: $color-white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-left: rem(20);
    width: 100%;
    max-width: 160rem;
    margin: auto;
    .heading-container {
        width: 100%;
        .header {
          margin-top: rem(30);
          margin-bottom: 0;
          font-weight: $font-semibold;
          font-size: rem(24);
          letter-spacing: 0;
          line-height: rem(59);
        }
        .sub-header {
          color: $color-base;
          font-size: rem(16);
          font-weight: 300;
          letter-spacing: 0;
          line-height: rem(24);
          margin-top: 0;
          margin-bottom: rem(30);
          max-width: rem(769);
        }
    }
    .table-container,
    .table-controls {
      width: rem(1560);
    }
    .table-controls {
      .table-controls__time-and-search {
        padding-left: rem(25);
        margin-top: rem(25);
        .usa-dt-picker__button-icon svg {
          color:  #0074BE;
        }
        .fy-loading {
          svg {
            margin-left: rem(10);
          }
        }
        .usa-dt-picker__list {
          z-index: 1;
        }
        .usa-dt-picker__button {
          border-bottom: rem(2) solid #0074BE;
          margin-bottom: rem(20);
          padding-bottom: rem(2);
          .usa-dt-picker__button-text {
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(23);
            color: $color-base;
          }
        }
        .fy-picker-title {
          font-size: rem(14);
          margin-left: rem(15);
          color: #8C8C8C;
        }
      }
      .table-type-toggle:focus {
        outline: none;
      } 
      .table-tab-label {
        @include display(flex);
      }
      .tooltip-wrapper {
        display: none;
        @media (min-width: $tablet-screen) {
          @include display(flex);
        }
      }
      .usa-dt-picker__list {
        max-width: rem(500);
      }
    }
    .table-container  {
      height: rem(500);
      overflow: scroll;
      margin: 0;
      border: rem(1) solid $color-gray-border;
      .usda-table.usda-table-w-grid {
        border-collapse: separate;
        margin-top:0;
        thead {
          tr th {
            min-width: rem(300);
          }
        }
        &.sticky-y-table {
          @media(min-width: $medium-screen) {
            thead {
              th {
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                border: rem(1) solid $color-gray-lighter;
              }
            }
          }
        }
        &.sticky-x-table {
          @media(min-width: $medium-screen) {
            thead {
              tr:first-of-type {
                .table-header:first-of-type {
                  position: sticky;
                  position: -webkit-sticky;
                  left: 0px;
                  z-index: 10;
                  box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                  border-right: 1px solid $color-gray-lightest;
                }
              }
            }
            tbody {
              .usda-table__row .usda-table__cell {
                &:first-of-type {
                  position: sticky;
                  left: 0px;
                  box-shadow: 2px 1px 4px rgba(0,0,0,.20);
                  border-right: rem(1) solid $color-gray-lightest;
                }
              }
            }
          }
        }
      }
    }
    @import 'components/Note';
    .default-note {
      font-style: italic;
      margin: 0;
      padding: 0;
      letter-spacing: 0;
      max-width: rem(873);
      line-height: rem(22);
      margin: $global-pad * 3 0;
      font-size: rem(14);
    }
  }
}
