.usa-da__about-the-data__agencies-page {
  @import "all";
  @import "layouts/default/default";
  @import "layouts/default/stickyHeader/header";
  .main-content {
    @include display(flex);
    margin: rem(40) rem(20);
    background: $color-white;
    border-radius: 0.5rem 0.5rem 0 0;
    .heading-container {
        padding-left: rem(20);
        .header {
          margin-top: rem(30);
          margin-bottom: 0;
          font-weight: $font-semibold;
          font-size: rem(32);
          letter-spacing: 0;
          line-height: 59px;
        }
        .sub-header {
          margin-top: 0;
          margin-bottom: rem(30);
          font-size: rem(47);
          font-weight: 300;
          letter-spacing: 0;
          line-height: rem(59);
        }
        @import 'components/Note';
        .default-note {
          font-style: italic;
          margin: 0;
          padding: 0;
          letter-spacing: 0;
          line-height: rem(22);
        }
    }
  }
}
