.visualization-no-filters-screen {
    .icon {
        height: pxToRem(70);
        width: pxToRem(70);
        margin-left: auto;
        margin-right: auto;

        svg {
            fill: $color-gray-light;
            height: pxToRem(70);
            width: pxToRem(70);

            transform: rotate(90deg);
            @include media($medium-screen) {
                transform: none;
            }
        }
    }
    .message {
        font-size: pxToRem(36);
        line-height: pxToRem(45);
        color: $color-gray-light;
        text-align: center;

        margin-top: pxToRem(10);

        max-width: pxToRem(450);
        padding-left: pxToRem(10);
        padding-right: pxToRem(10);
        margin-left: auto;
        margin-right: auto;
    }

}