.award-description-filter {
  &__form {
    display: flex;
    justify-content: center;

    .award-description-filter__text-field {
      max-height: rem(32);
      font-size: $smallest-font-size;
      line-height: 1.5;
      color: $gray-60;
      padding: $global-padding;
      border-radius: 3px;
      border: solid 1px $gray-cool-10;
      margin: 0;
      width: 100%
    }

    .award-desscription-filter__add-button {
      margin: 0 0 0 rem(4);
    }
  }
}
